@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.solutions {
  padding-bottom: 40px;

  &__title {
    padding: 40px 25px;
    padding-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

}