.input {
  width: 100%;
  min-width: 170px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 17px; }
  .input--big {
    height: 141px; }
  .input:focus {
    border-color: #999999;
    color: #000; }
  .input:active, .input:focus {
    outline: none; }
  .input.error {
    border-color: #b61325; }
