@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.sixth {
  &__title {
    text-align: center;
    width: 90%;
    @include margin-auto;
  }
  &__text {
    font-size: 20px !important;
  }

  &__list {
  }
  &__list-title {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;

  }
  &__list-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

    @media #{$mobile-big-screen} {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  &__list-item {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    @include flex-column-center;
    justify-content: flex-start;

    @media #{$mobile-big-screen} {
      display: grid;
      grid-template-columns: 80px 1fr;
      align-items: center;
      text-align: left;
    }
  }

  &__list-item-icon {
    margin-bottom: 30px;

    @media #{$mobile-big-screen} {
      margin-bottom: 0;
    }
  }

}