@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.modal {

  &__background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }

  }

  &__block {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: auto;
    top: calc(50vh - 100px);
    background: $white;
    z-index: 1000;
    width: 400px;
    left: calc(50% - 200px);

    &--video {
      width: 60vw;
      top: calc(50vh - 19vw);
      left: calc(50% - 30vw);

      @media #{$mobile-big-screen} {
        top: calc(50vh - 50vw);
      }
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }

    @media #{$mobile-big-screen} {
      width: calc(100% - 30px);
      left: calc(50% - ((100% - 30px) / 2));
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: -10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transform: translate(100%,0);

    &:before {
      @include after-absolute;
      @include absolute-center;
      width: 20px;
      height: 20px;
      background: $white;
      mask: url(../../../img/close.svg);
      -webkit-mask: url(../../../img/close.svg);
      @include mask-contain-center;
    }

    &:hover:before {
      background: $green;
    }

    @media #{$mobile-big-screen} {
      top: -10px;
      right: 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
      transform: translate(0,-100%);
    }
  }

  &__content {
    padding: 30px;
    position: relative;
  }

  &__content-video {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: black;

    & iframe {
      position: absolute;
      @include absolute-fill;
      width: 100%!important;
      height: 100%!important;
    }
  }

  &__content-logo {

  }

  &__header {
    background: $black;
    padding: 20px;
    @include flex-row;
    align-items: center;
  }

  &__logo {
    width: 100px;
    height: 38px;
    background: url(../../../img/logo.svg);
    @include background-contain-center;
  }

  &__title {
    color: $white;
    font-size: 20px;
    padding-left: 20px;
  }

  &__content-text {
    text-align: center;
  }
}