.feedback {
  background: #3c3c3c;
  color: #ffffff;
  padding: 100px 0;
  width: 100%;
  margin-top: 50px; }
  .feedback--no-margin {
    margin-top: 0; }
  @media (max-width: 767px) {
    .feedback {
      padding: 50px 0; } }
  .feedback__title {
    font-size: 30px;
    text-align: center; }
    @media (max-width: 767px) {
      .feedback__title {
        font-family: Montserrat-bold, sans-serif;
        font-size: 24px; } }
  .feedback__subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-family: Montserrat-regular, sans-serif;
    margin-top: 10px; }
    @media (max-width: 767px) {
      .feedback__subtitle {
        font-size: 16px;
        margin-bottom: 30px; } }
  .feedback__form {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 767px) {
      .feedback__form {
        padding: 0; } }
  .feedback__form-title {
    width: 100%;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .feedback__form-title {
        font-size: 22px; } }
  .feedback__form-subtitle {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-family: Montserrat-regular, sans-serif;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .feedback__form-subtitle {
        font-size: 16px; } }
  .feedback__form-services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .feedback__form-services-item {
    margin: 10px;
    border: 1px solid #ffffff;
    opacity: .5;
    cursor: pointer;
    font-family: Montserrat-regular, sans-serif;
    font-size: 13px;
    padding: 10px 30px; }
    .feedback__form-services-item:hover, .feedback__form-services-item.active {
      opacity: 1; }
  .feedback__inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between; }
  .feedback__input-block {
    position: relative;
    width: 31%;
    margin-bottom: 20px; }
    .feedback__input-block--fill {
      width: 100%; }
    .feedback__input-block:after {
      content: '';
      position: absolute;
      display: block;
      bottom: -2px;
      height: 2px;
      background: #ffffff;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: all .4s ease-in; }
    @media (max-width: 767px) {
      .feedback__input-block {
        width: 100%; } }
  .feedback__inputs.ready .feedback__input-block:after {
    transform: scaleX(1); }
  .feedback__input {
    font-size: 20px;
    border: none;
    background: none;
    width: 100%;
    padding: 10px 0;
    font-family: Montserrat-regular, sans-serif;
    color: #ffffff; }
  .feedback__button {
    font-size: 16px;
    padding: 10px 30px;
    font-family: Montserrat-regular, sans-serif;
    margin-top: 20px; }
  .feedback__agree {
    font-size: 13px;
    font-family: Montserrat-regular, sans-serif;
    margin-top: 10px;
    opacity: .3; }
    @media (max-width: 767px) {
      .feedback__agree {
        text-align: center; } }
  .feedback__agree-link {
    color: #fff;
    cursor: pointer; }
    .feedback__agree-link:hover {
      text-decoration: underline;
      color: #fff; }
    .feedback__agree-link:visited {
      color: #fff; }
