@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.footer {

  &__top {
    padding-top: 50px;
    border-top: 1px solid #e5e5e5;
  }

  &__item {
    margin-bottom: 20px;
    @include flex-column;
  }
  &__logo {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;

    @media #{$mobile-big-screen} {
      font-size: 16px;
    }
  }
  &__link {
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #dbdbdb;
    padding-bottom: 3px;
    display: inline-block;
    margin-bottom: 12px;
    color: $gray;

    @media #{$mobile-big-screen} {
      margin-bottom: 10px;
    }

    &:hover {
      color: $red;
    }
  }

  &__social {
    @include flex-row;
    margin-top: 30px;
  }
  &__social-item {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:after {
      @include after-absolute;
      @include absolute-center;
      width: 50%;
      height: 50%;
    }

    &--vk {
      border-color: #4c75a3;
    }
    &--facebook {
      border-color: #3b5999;
    }
    &--ok {
      border-color: #ee8208;
    }
    &--vk:after {
      background: #4c75a3;
      -webkit-mask-image: url(../../img/icon-vk.svg);
      mask-image: url(../../img/icon-vk.svg);
      @include mask-contain-center;
    }
    &--facebook:after {
      background: #3b5999;
      -webkit-mask-image: url(../../img/icon-facebook.svg);
      mask-image: url(../../img/icon-facebook.svg);
      @include mask-contain-center;
    }
    &--ok:after {
      background: #ee8208;
      -webkit-mask-image: url(../../img/icon-odnoklassniki.svg);
      mask-image: url(../../img/icon-odnoklassniki.svg);
      @include mask-contain-center;
    }
  }

  &__copyright {
    font-size: 13px;
    font-weight: 300;
    color: #808080;
  }

}