.select__button {
  min-width: 145px !important;
  width: 100% !important;
  height: 39px !important;
  border-radius: 5px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex !important;
  padding: 0 !important;
  position: relative !important;
  border: none !important;
  background: #303741 !important;
  padding-right: 35px !important;
  padding-left: 14px !important;
  padding-top: 3px !important; }
  .select__button--blue {
    background: linear-gradient(to right, #2c4182, #1e7e8d) !important; }
  .select__button--small {
    background: #24292d !important;
    height: 32px !important;
    min-width: 105px !important; }
  .select__button:focus, .select__button:active {
    outline: none !important; }
  @media (max-width: 767px) {
    .select__button--no-text-mobile {
      width: 40px !important;
      min-width: 20px !important;
      padding: 0 !important;
      border-bottom: 0 !important; } }

.select__text {
  float: none !important;
  font-family: "MarkPro", sans-serif !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #cddaec !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  padding-top: 8px; }
  .select__text--small {
    font-size: 13px !important;
    font-weight: 300 !important;
    padding-top: 7px;
    text-transform: none !important; }
  @media (max-width: 767px) {
    .select__text--no-text-mobile {
      width: 0px;
      opacity: 0;
      overflow: hidden; } }

.select__icon {
  width: 11px !important;
  height: 7px !important;
  background: #fff !important;
  mask: url(../../img/down-arrow.svg) !important;
  -webkit-mask: url(../../img/down-arrow.svg) !important;
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-position: center center !important;
  -webkit-mask-position: center center !important;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
  position: absolute !important;
  top: 49% !important;
  transform: translateY(-50%) !important;
  right: 12px !important; }

.select__button--open .select__icon {
  transform: translateY(-50%) rotate(180deg) !important; }

@media (max-width: 767px) {
  .select__menu {
    z-index: 301 !important; }
    .select__menu--no-text-mobile {
      left: auto !important;
      right: 15px; } }

.select__menu * {
  font-family: "MarkPro", sans-serif !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #cddaec !important;
  text-align: left !important;
  box-sizing: border-box !important; }

.select__menu .ui-menu {
  border: none !important;
  background: none !important; }

.select__menu .ui-menu-item-wrapper {
  min-width: 145px !important;
  width: 100% !important;
  height: 39px !important;
  border-radius: 4px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  display: flex !important;
  padding: 0 !important;
  padding-left: 16px !important;
  position: relative !important;
  border: none !important;
  background: #303741 !important;
  border-bottom: 3px solid #303741 !important; }
  .select__menu .ui-menu-item-wrapper:hover, .select__menu .ui-menu-item-wrapper.ui-state-active, .select__menu .ui-menu-item-wrapper.active {
    padding: 0 !important;
    padding-left: 16px !important;
    color: #616f83 !important;
    border: none !important;
    border-bottom: 3px solid #303741 !important;
    margin: 0 !important; }

.select__menu--small * {
  font-size: 13px !important;
  font-weight: 300 !important; }

.select__menu--small .ui-menu-item-wrapper {
  min-width: 105px !important;
  height: 32px !important;
  background: #24292d !important;
  border-bottom: 3px solid #24292d !important; }
  .select__menu--small .ui-menu-item-wrapper:hover, .select__menu--small .ui-menu-item-wrapper.ui-state-active, .select__menu--small .ui-menu-item-wrapper.active {
    padding: 0 !important;
    padding-left: 16px !important;
    color: #616f83 !important;
    border: none !important;
    border-bottom: 3px solid #24292d !important;
    margin: 0 !important; }
