.instagram {
  position: relative; }
  .instagram__title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5; }
  .instagram__title-item {
    font-size: 30px;
    text-align: center;
    padding: 20px; }
    .blue-theme .instagram__title-item {
      background: #f8e71c !important; }
    @media (max-width: 1023px) {
      .instagram__title-item {
        font-size: 26px; } }
  .instagram__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
  .instagram__item-wrapper {
    position: relative;
    width: calc(14.25% - 8px);
    margin-bottom: 10px;
    overflow: hidden; }
    .instagram__item-wrapper:nth-of-type(1n + 22) {
      display: none; }
    @media (max-width: 1023px) {
      .instagram__item-wrapper {
        width: calc(20% - 8px); }
        .instagram__item-wrapper:nth-of-type(1n + 21) {
          display: none; } }
    @media (max-width: 767px) {
      .instagram__item-wrapper {
        width: calc(33% - 4px); }
        .instagram__item-wrapper:nth-of-type(1n + 13) {
          display: none; } }
  .instagram__item-block {
    width: 100%;
    padding-bottom: 100%;
    position: relative; }
  .instagram__item {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url(/img/insta-sprite.jpg);
    background-size: 2200% 100%; }
    .instagram__item:hover {
      transform: scale(1.05); }
  .instagram__item-wrapper:nth-of-type(1) .instagram__item {
    background-position-x: 100%; }
  .instagram__item-wrapper:nth-of-type(2) .instagram__item {
    background-position-x: 200%; }
  .instagram__item-wrapper:nth-of-type(3) .instagram__item {
    background-position-x: 300%; }
  .instagram__item-wrapper:nth-of-type(4) .instagram__item {
    background-position-x: 400%; }
  .instagram__item-wrapper:nth-of-type(5) .instagram__item {
    background-position-x: 500%; }
  .instagram__item-wrapper:nth-of-type(6) .instagram__item {
    background-position-x: 600%; }
  .instagram__item-wrapper:nth-of-type(7) .instagram__item {
    background-position-x: 700%; }
  .instagram__item-wrapper:nth-of-type(8) .instagram__item {
    background-position-x: 800%; }
  .instagram__item-wrapper:nth-of-type(9) .instagram__item {
    background-position-x: 900%; }
  .instagram__item-wrapper:nth-of-type(10) .instagram__item {
    background-position-x: 1000%; }
  .instagram__item-wrapper:nth-of-type(11) .instagram__item {
    background-position-x: 1100%; }
  .instagram__item-wrapper:nth-of-type(12) .instagram__item {
    background-position-x: 1200%; }
  .instagram__item-wrapper:nth-of-type(13) .instagram__item {
    background-position-x: 1400%; }
  .instagram__item-wrapper:nth-of-type(14) .instagram__item {
    background-position-x: 1300%; }
  .instagram__item-wrapper:nth-of-type(15) .instagram__item {
    background-position-x: 1500%; }
  .instagram__item-wrapper:nth-of-type(16) .instagram__item {
    background-position-x: 1600%; }
  .instagram__item-wrapper:nth-of-type(17) .instagram__item {
    background-position-x: 1700%; }
  .instagram__item-wrapper:nth-of-type(18) .instagram__item {
    background-position-x: 1800%; }
  .instagram__item-wrapper:nth-of-type(19) .instagram__item {
    background-position-x: 1900%; }
  .instagram__item-wrapper:nth-of-type(20) .instagram__item {
    background-position-x: 2000%; }
  .instagram__item-wrapper:nth-of-type(21) .instagram__item {
    background-position-x: 2100%; }
  .instagram__item-wrapper:nth-of-type(22) .instagram__item {
    background-position-x: 2200%; }
