<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles_to_head.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
    <script src="../../Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
<header class="header">
    <div class="layout">
        <form class="header__block" id="logoutForm" method="post">
            <div class="header__logo">
                <a href="/" title="Home Page" class="header__logo__link">
                    <img src="../../Content/img/TuSerwis_logo.svg">
                </a>
            </div>

            <div class="header__profile">
                <div class="header__profile-close"></div>
                <div class="header__balance">
                    <div class="header__balance-number">862</div>
                    <div class="header__balance-icon">zł</div>
                    <div class="button-circle"></div>
                </div>
                <div class="header__notifications header__notifications--has-unread">
                    <div class="header__notifications-icon"></div>
                    <div class="header__notifications-text">Notifications</div>
                </div>

                <div class="header__profile-menu">
                    <a class="header__profile-menu-link" href="#">Account</a>
                    <a class="header__profile-menu-link" href="#">Wyloguj</a>
                </div>
            </div>
            <div class="header__profile-button" style="background: url(../../Content/img/workshop_logo.png)"></div>
        </form>
    </div>
</header>

<div class="wrapper wrapper--background">
    <div class="layout">

        <div class="workshop-profile">
            <div class="workshop-profile__edit-buttons">
                <div class="workshop-profile__edit-button">Edit</div>
            </div>
            <div class="workshop-profile__main">
                <div class="workshop-profile__main-img"
                     style="background: url(../../Content/img/workshop_logo.png)"></div>
                <div class="workshop-profile__main-name">Real-Auto Service Studio</div>
                <div class="workshop-profile__main-current-rating">
                    <div class="workshop-profile__main-current-rating-number">4.2</div>
                    <div class="workshop-profile__main-current-rating-link animation-scroll"
                         data-scroll-goal="#reviews">3 reviews
                    </div>
                </div>
            </div>
        </div>

        <div class="workshop-profile shadow-box">
            <div class="workshop-profile__section">
                <div class="workshop-profile__section-title">O nas</div>
                <div class="workshop-profile__section-inner">
                    <div class="workshop-profile__section-about">
                        <div class="workshop-profile__section-about-desc">
                            Zapewniamy pelna game system&#243;w do naprawy i naprawy samochod&#243;w. alternatory).
                            Wymiana pas&#243;w i lancuch&#243;w rozrzadu; CO%. Sprzetowa automatyczna skrzynia bieg&#243;w.
                            Plukanie wtryskiwacza, regulacja zaworu. Wyr&#243;wnanie k&#243;l, naprawa nadwozi, naprawa
                            samochod&#243;w, naprawa tlumik&#243;w, wymiana fald, usuwanie katalizator&#243;w. Jesli
                            masz ograniczony czas, mozemy zaoferowac co najmniej 15% naprawy. Gotowy do wsp&#243;lpracy
                            z organizacjami, kt&#243;re maja wlasna flote. Do naprawy Swiadczymy inne uslugi: Nie jest
                            konieczne uzgodnienie klienta. Dlaczego my? Wykonujemy prace sprawnie i terminowo. Dajemy
                            gwarancje pracy. Wszystkie wnioski o naprawy sa przyjmowane do godziny 20:00, przepraszam,
                            ze jestesmy ludzmi! Nowa usluga! Czyszczenie chemiczne samochod&#243;w w salonie, po
                            wczesniejszym um&#243;wieniu.
                        </div>
                        <div class="workshop-profile__section-about-contacts">
                            <div class="workshop-profile__section-about-contacts-item workshop-profile__section-about-contacts-item--map open-modal-map"
                                 data-address="Aleja Krakowska 7, 02-001 Warszawa">
                                Aleja Krakowska 7, 02-001 Warszawa
                            </div>
                            <a href="#"
                               class="workshop-profile__section-about-contacts-item workshop-profile__section-about-contacts-item--link">
                                real-autoservice.com/home
                            </a>

                            <div class="workshop-profile__section-about-contacts-item workshop-profile__section-about-contacts-item--time">
                                <div class="workshop-profile__worktime-wrapper">
                                    <div class="workshop-profile__worktime">
                                        <div class="workshop-profile__worktime-day">Poniedziałek</div>
                                        <div class="workshop-profile__worktime-item">
                                            6:30 - 18:00
                                        </div>
                                    </div>
                                    <div class="workshop-profile__worktime">
                                        <div class="workshop-profile__worktime-day">Wtorek</div>
                                        <div class="workshop-profile__worktime-item">
                                            6:00 - 6:00
                                        </div>
                                    </div>
                                    <div class="workshop-profile__worktime">
                                        <div class="workshop-profile__worktime-day">Środa</div>
                                        <div class="workshop-profile__worktime-item">

                                            8:00 - 16:00
                                        </div>
                                    </div>
                                    <div class="workshop-profile__worktime">
                                        <div class="workshop-profile__worktime-day">Czwartek</div>
                                        <div class="workshop-profile__worktime-item">
                                            Nieczynne
                                        </div>
                                    </div>
                                    <div class="workshop-profile__worktime">
                                        <div class="workshop-profile__worktime-day">Piątek</div>
                                        <div class="workshop-profile__worktime-item">
                                            Nieczynne
                                        </div>
                                    </div>
                                    <div class="workshop-profile__worktime">
                                        <div class="workshop-profile__worktime-day">Sobota</div>
                                        <div class="workshop-profile__worktime-item">
                                            Nieczynne
                                        </div>
                                    </div>
                                    <div class="workshop-profile__worktime">
                                        <div class="workshop-profile__worktime-day">Niedziela</div>
                                        <div class="workshop-profile__worktime-item">
                                            Nieczynne
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="workshop-profile__section" id="carServicesBox">
                <div class="workshop-profile__section-title">Specjalizacja</div>
                <div class="workshop-profile__section-inner">
                    <div class="workshop-profile__cart-items">
                        <div class="workshop-profile__cart-item">
                            Acura
                        </div>
                        <div class="workshop-profile__cart-item">
                            Alfa Romeo
                        </div>
                        <div class="workshop-profile__cart-item">
                            Aston Martin
                        </div>
                        <div class="workshop-profile__cart-item">
                            Audi
                        </div>
                        <div class="workshop-profile__cart-item">
                            BMW
                        </div>
                        <div class="workshop-profile__cart-item">
                            Bentley
                        </div>
                        <div class="workshop-profile__cart-item">
                            Buick
                        </div>
                        <div class="workshop-profile__cart-item">
                            BYD
                        </div>
                        <div class="workshop-profile__cart-item">
                            Changan
                        </div>
                        <div class="workshop-profile__cart-item">
                            Chery
                        </div>
                        <div class="workshop-profile__cart-item">
                            Cadillac
                        </div>

                    </div>
                </div>
            </div>
            <div class="workshop-profile__section" id="facilityBox">
                <div class="workshop-profile__section-title">Usługi</div>
                <div class="workshop-profile__section-inner">
                    <div class="workshop-profile__cart-items">
                        <div class="workshop-profile__cart-item">
                            Wymiana turbiny
                        </div>
                    </div>
                </div>
            </div>
            <div class="workshop-profile__section" id="imgBox">
                <div class="workshop-profile__section-inner">
                    <div class="workshop-profile__img-slider owl-carousel">
                        <a href="#" class="workshop-profile__img-slider-item" style="background: url(../../Content/img/workshop2_logo.jpg)" data-lightbox="workshop-profile_2"></a>
                        <a href="#" class="workshop-profile__img-slider-item" style="background: url(../../Content/img/workshop2_logo.jpg)" data-lightbox="workshop-profile_2"></a>
                        <a href="#" class="workshop-profile__img-slider-item" style="background: url(../../Content/img/workshop2_logo.jpg)" data-lightbox="workshop-profile_2"></a>
                        <a href="#" class="workshop-profile__img-slider-item" style="background: url(../../Content/img/workshop2_logo.jpg)" data-lightbox="workshop-profile_2"></a>
                        <a href="#" class="workshop-profile__img-slider-item" style="background: url(../../Content/img/workshop2_logo.jpg)" data-lightbox="workshop-profile_2"></a>
                        <a href="#" class="workshop-profile__img-slider-item" style="background: url(../../Content/img/workshop2_logo.jpg)" data-lightbox="workshop-profile_2"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews-list shadow-box" id="reviews">
            <div class="reviews-list__item">
                <div class="reviews-list__item-inner">
                    <div class="reviews-list__item-photo" style="background: url(../../Content/img/profile.jpg)"></div>
                    <div class="reviews-list__item-desc">
                        <div class="reviews-list__item-desc-header">
                            <div class="reviews-list__item-desc-header-name">Hubert Kołodziejczyk</div>
                            <div class="reviews-list__item-desc-header-car">Audi A4 2012</div>
                        </div>
                        <div class="reviews-list__item-desc-text">
                            Profesjonalnie i miło. Wszystkie znalezione usterki są konsultowane . Panowie podają
                            przewidywane koszty i termin naprawy. Wszystko opisane na fakturze więc dokładnie wiem za co
                            zapłaciłam. Auto naprawione terminowo a koszty nie przekroczyły przewidywanych. Polecam.
                        </div>
                        <div class="reviews-list__item-desc-footer">
                            <div class="reviews-list__item-desc-rating">4.5</div>
                            <div class="reviews-list__item-desc-date">4 days ago</div>
                            <div class="rating rating--text">
                                <div class="rating__inner">
                                    <div class="rating__row">
                                        <div class="rating__row-name">Something</div>
                                        <div class="rating rating--4-5"></div>
                                    </div>
                                    <div class="rating__row">
                                        <div class="rating__row-name">Something</div>
                                        <div class="rating rating--4-5"></div>
                                    </div>
                                    <div class="rating__row">
                                        <div class="rating__row-name">Something</div>
                                        <div class="rating rating--4-5"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="reviews-list__item-inner reviews-list__item-inner--natural">
                    <div class="reviews-list__item-photo" style="background: url(../../Content/img/workshop_logo.png)"></div>
                    <div class="reviews-list__item-desc">
                        <div class="reviews-list__item-desc-header">
                            <a href="#" class="reviews-list__item-desc-header-name reviews-list__item-desc-header-name--workshop">Real-Auto Service Studio</a>
                        </div>
                        <div class="reviews-list__item-desc-text">Dziękujemy za pozytywne opinie :)</div>
                    </div>
                </div>
            </div>
            <div class="reviews-list__item">
                <div class="reviews-list__item-inner">
                    <div class="reviews-list__item-photo" style="background: url(../../Content/img/profile.jpg)"></div>
                    <div class="reviews-list__item-desc">
                        <div class="reviews-list__item-desc-header">
                            <div class="reviews-list__item-desc-header-name">Hubert Kołodziejczyk</div>
                            <div class="reviews-list__item-desc-header-car">Audi A4 2012</div>
                        </div>
                        <div class="reviews-list__item-desc-text">
                            Profesjonalnie i miło. Wszystkie znalezione usterki są konsultowane . Panowie podają
                            przewidywane koszty i termin naprawy. Wszystko opisane na fakturze więc dokładnie wiem za co
                            zapłaciłam. Auto naprawione terminowo a koszty nie przekroczyły przewidywanych. Polecam.
                        </div>
                        <div class="reviews-list__item-desc-footer">
                            <div class="reviews-list__item-desc-rating">4.5</div>
                            <div class="reviews-list__item-desc-date">4 days ago</div>
                        </div>
                    </div>
                </div>
                <div class="reviews-list__item-form">
                    <div class="reviews-list__item-form-icon" style="background: url(../../Content/img/workshop_logo.png)"></div>
                    <input class="reviews-list__item-form-input" placeholder="Twój komentarz">
                    <div class="reviews-list__item-form-button">zostaw komentarz</div>
                </div>

            </div>
            <div class="reviews-list__more-button">view more</div>
        </div>
    </div>
</div>


<div class="modal__background close-modal"></div>

<div class="notification">
    <div class="notification__inner layout">
        <div class="notification__text">Some text some text some text some text some text some text some text some text
            some text some text some text
        </div>
        <div class="notification__button link link--small link--white close-notification">Don`t show me again</div>
    </div>
    <div class="notification__close close-notification"></div>
</div>

<div class="modal__block layout" data-modal-name="modal_map">
    <div class="modal__content shadow-box">
        <div class="modal__map" id="map"></div>
    </div>
</div>

<div class="animation-scroll scroll-top"></div>

<footer class="footer">
    <div class="layout">
        <div class="footer__top">
            <div class="footer__links">
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Privacy Policy</a>
                    <div class="footer__links-item">© 2019 TuSerwis Inc.</div>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Contact Us</a>
                    <a href="#" class="footer__links-item">Ordering & Payment</a>
                    <a href="#" class="footer__links-item">FAQ</a>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Pracyj z nami</a>
                    <a href="#" class="footer__links-item">Regulamin</a>
                </div>
            </div>


            <div class="footer__form">
                <div class="footer__form-contacts">
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">info@tuserwis.com</a>
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">+1 800 123-1001</a>
                </div>

                <div class="footer__bottom-social">
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../../Content/img/instagram.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../../Content/img/twitter.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../../Content/img/facebook.svg" class="footer__bottom-social-link-icon">
                    </a>
                </div>
            </div>

        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-logo">TuSerwis</div>

        </div>
    </div>
</footer>

<link href="../../Scripts/timedropper/timedropper.min.css" rel="stylesheet" defer>
<script src="../../Scripts/timedropper/timedropper.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../Scripts/jquery.maskedinput.min.js" defer></script>
<script src="../../Scripts/lightbox2/js/lightbox.min.js"></script>
<script src="../../Scripts/owlcarousel2/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/lightbox2/css/lightbox.min.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/owlcarousel2/assets/owl.carousel.min.css">
<script src="../../Content/js/main.js"></script>
<script src="../../Content/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwl91tizjVH8SJLr3XnJWckLCog_TTHgQ&callback=initMap&libraries=places"
        type="text/javascript"></script>
</body>
</html>