<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles_to_head.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
    <script src="../../Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
<header class="header">
    <div class="layout">
        <form class="header__block" id="logoutForm" method="post">
            <div class="header__logo">
                <a href="/" title="Home Page" class="header__logo__link">
                    <img src="../..../../../img/TuSerwis_logo.svg">
                </a>
            </div>

            <div class="header__profile">
                <div class="header__profile-close"></div>
                <div class="header__balance">
                    <div class="header__balance-number">862</div>
                    <div class="header__balance-icon">zł</div>
                    <div class="button-circle"></div>
                </div>
                <div class="header__notifications header__notifications--has-unread">
                    <div class="header__notifications-icon"></div>
                    <div class="header__notifications-text">Notifications</div>
                </div>

                <div class="header__profile-menu">
                    <a class="header__profile-menu-link" href="#">Account</a>
                    <a class="header__profile-menu-link" href="#">Wyloguj</a>
                </div>
            </div>

            <div class="header__profile-button" style="background: url(../..../../../img/workshop_logo.png)"></div>
        </form>
    </div>
</header>

<div class="wrapper wrapper--background">
    <div class="layout">


        <div class="settings">
            <div class="settings__header">
                <div class="settings__name">
                    Settings ogylne
                </div>
                <div class="settings__control">
                    <div class="settings__button settings__button--invert">Cancel</div>
                    <div class="settings__button">Save</div>
                </div>
            </div>
            <div class="settings__item">
                <div class="settings__item-inner">
                    <div class="settings__subname">zmień e-mail</div>
                    <div class="settings__item-row">
                        <input class="settings__input" placeholder="E-mail">
                        <div class="settings__input-desc">Some text on the protection of contact data. Some text on the
                            protection of contact data.
                        </div>
                    </div>
                </div>
                <div class="settings__item-inner">
                    <div class="settings__subname">Notification</div>
                    <div class="settings__item-row">
                        <input class="settings__item-check-input" id="check_1" value="checkbox_1" type="checkbox"/>
                        <label class="settings__item-check settings__item-check--label" for="check_1">I agree to receive
                            notifications</label>
                    </div>
                    <div class="settings__item-row">
                        <input class="settings__item-check-input" id="check_2" value="checkbox_1" type="checkbox"/>
                        <label class="settings__item-check settings__item-check--label" for="check_2">I agree to receive
                            notifications</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="settings">
            <div class="settings__header">
                <div class="settings__name">
                    Settings zaawansowany
                </div>
                <div class="settings__control">
                    <div class="settings__button">wysłać zapytanie</div>
                </div>
            </div>
            <div class="settings__item">
                <div class="settings__item-inner">
                    <div class="settings__subname">zmień nazwę warsztatu</div>
                    <div class="settings__item-row">
                        <input class="settings__input" placeholder="Name">
                    </div>
                    <div class="settings__subname">zmień adres</div>
                    <div class="settings__item-row">
                        <input class="settings__input" placeholder="Address">
                        <div class="settings__input-desc">
                            Some text on the protection of contact data. Some text on the protection of contact data.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="modal__background close-modal"></div>

<div class="notification">
    <div class="notification__inner layout">
        <div class="notification__text">Some text some text some text some text some text some text some text some text
            some text some text some text
        </div>
        <div class="notification__button link link--small link--white close-notification">Don`t show me again</div>
    </div>
    <div class="notification__close close-notification"></div>
</div>

<div class="modal__block layout" data-modal-name="modal_map">
    <div class="modal__content shadow-box">
        <div class="modal__map" id="map"></div>
    </div>
</div>

<div class="animation-scroll scroll-top"></div>

<footer class="footer">
    <div class="layout">
        <div class="footer__top">
            <div class="footer__links">
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Privacy Policy</a>
                    <div class="footer__links-item">© 2019 TuSerwis Inc.</div>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Contact Us</a>
                    <a href="#" class="footer__links-item">Ordering & Payment</a>
                    <a href="#" class="footer__links-item">FAQ</a>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Pracyj z nami</a>
                    <a href="#" class="footer__links-item">Regulamin</a>
                </div>
            </div>


            <div class="footer__form">
                <div class="footer__form-contacts">
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">info@tuserwis.com</a>
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">+1 800
                        123-1001</a>
                </div>

                <div class="footer__bottom-social">
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/instagram.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/twitter.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/facebook.svg" class="footer__bottom-social-link-icon">
                    </a>
                </div>
            </div>

        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-logo">TuSerwis</div>

        </div>
    </div>
</footer>

<link href="../../Scripts/timedropper/timedropper.min.css" rel="stylesheet" defer>
<script src="../../Scripts/timedropper/timedropper.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../Scripts/jquery.maskedinput.min.js" defer></script>
<script src="../../Scripts/lightbox2/js/lightbox.min.js"></script>
<script src="../../Scripts/owlcarousel2/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/lightbox2/css/lightbox.min.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/owlcarousel2/assets/owl.carousel.min.css">
<script src="../../Content/js/main.js"></script>
<script src="../../Content/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwl91tizjVH8SJLr3XnJWckLCog_TTHgQ&callback=initMap&libraries=places"
        type="text/javascript"></script>
</body>
</html>