<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ticket</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles_to_head.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
    <script src="../../Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
<header class="header">
    <div class="layout">
        <form class="header__block" id="logoutForm" method="post">
            <div class="header__logo">
                <a href="/" title="Home Page" class="header__logo__link">
                    <img src="../..../../../img/TuSerwis_logo.svg">
                </a>
            </div>

            <div class="header__profile">
                <div class="header__profile-close"></div>
                <div class="header__balance">
                    <div class="header__balance-number">862</div>
                    <div class="header__balance-icon">zł</div>
                    <div class="button-circle"></div>
                </div>
                <div class="header__notifications header__notifications--has-unread">
                    <div class="header__notifications-icon"></div>
                    <div class="header__notifications-text">Notifications</div>
                </div>

                <div class="header__profile-menu">
                    <a class="header__profile-menu-link" href="#">Account</a>
                    <a class="header__profile-menu-link" href="#">Wyloguj</a>
                </div>
            </div>

            <div class="header__profile-button" style="background: url(../..../../../img/workshop_logo.png)"></div>
        </form>
    </div>
</header>

<div class="wrapper">
    <div class="subscription user-content">
        <div class="subscription__background"></div>


        <div class="subscription__block">
            <div class="subscription__title">Wybierz plan cenowy</div>
            <div class="subscription__subtitle">At first, for some time, I was not able to answer him one word; but as
                he had taken me in his arms I held fast by him, or I should have fallen to the ground.
            </div>
            <div class="subscription__items">
                <div class="subscription__item-block">
                    <div class="subscription__item">
                        <div class="subscription__item-name">Beginner</div>
                        <div class="subscription__item-icon"
                             style="background: url(../..../../../img/subscription-free.svg)"></div>
                        <div class="subscription__item-title">
                            <div class="subscription__item-title-big">Darmowy</div>
                        </div>

                        <ul>
                            <li><span>Rejestracja warsztatu</span></li>
                            <li><span>Spersonalizowanie profilu warsztatu</span></li>
                            <li><span>Pozycjonowanie na liście warsztatów</span></li>
                            <li><span>Wyświetlanie zgłoszeń użytkowników</span></li>
                        </ul>

                        <div class="subscription__item-subtitle">Co Państwo zyskują?</div>

                        <ul>
                            <li><span>Darmowa reklama warsztatu na naszej stronie</span></li>
                        </ul>

                        <a href="#" class="subscription__item-button ">Obecny plan</a>

                    </div>
                </div>
                <div class="subscription__item-block">
                    <div class="subscription__item subscription__item--blue">
                        <div class="subscription__item-name">Professional</div>
                        <div class="subscription__item-icon"
                             style="background: url(../..../../../img/subscription-not-free.svg)"></div>
                        <div class="subscription__item-title">
                            <div class="subscription__item-title-big">300zł</div>
                            <div class="subscription__item-title-small">netto</div>
                            <div class="subscription__item-title-desc">/ miesięcznie</div>
                        </div>
                        <ul>
                            <li><span>Dostęp do zapisów internetowych</span></li>
                            <li><span>Nieograniczona możliwość odpowiadania na zgłoszenia</span></li>
                            <li><span>Opiniowanie warsztatu</span></li>
                            <li><span>Kontakt z klientem przez komunikator</span></li>
                        </ul>

                        <div class="subscription__item-subtitle">Co Państwo zyskują?</div>

                        <ul>
                            <li><span>Bezpośredni wpływ na ilość i jakość przyjętych zgłoszeń</span></li>
                            <li><span>Przypływ nowych klientów</span></li>
                            <li><span>Budowanie wizerunku warsztatu</span></li>
                            <li><span>Zapisywanie historii napraw</span></li>
                            <li><span>Profesjonalne i kompleksowe podejście do obsługi klienta</span></li>
                        </ul>

                        <a href="#" class="subscription__item-button subscription__item-button--payu">Kup PRO</a>
                    </div>

                    <p>
                    Aktywuj promokod i dostań rabat
                    na&nbsp;abonement
                    </p>
                    <div class="subscribe">
                        <input class="subscribe__input" placeholder="AN43RT234T1GB">
                        <div class="subscribe__button">aktywuj</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="animation-scroll scroll-top"></div>

<footer class="footer">
    <div class="layout">
        <div class="footer__top">
            <div class="footer__links">
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Privacy Policy</a>
                    <div class="footer__links-item">© 2019 TuSerwis Inc.</div>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Contact Us</a>
                    <a href="#" class="footer__links-item">Ordering & Payment</a>
                    <a href="#" class="footer__links-item">FAQ</a>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Pracyj z nami</a>
                    <a href="#" class="footer__links-item">Regulamin</a>
                </div>
            </div>


            <div class="footer__form">
                <div class="footer__form-contacts">
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">info@tuserwis.com</a>
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">+1 800
                        123-1001</a>
                </div>

                <div class="footer__bottom-social">
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/instagram.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/twitter.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/facebook.svg" class="footer__bottom-social-link-icon">
                    </a>
                </div>
            </div>

        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-logo">TuSerwis</div>

        </div>
    </div>
</footer>

<link href="../../Scripts/timedropper/timedropper.min.css" rel="stylesheet" defer>
<script src="../../Scripts/timedropper/timedropper.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../Scripts/jquery.maskedinput.min.js" defer></script>
<script src="../../Scripts/lightbox2/js/lightbox.min.js"></script>
<script src="../../Scripts/owlcarousel2/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/lightbox2/css/lightbox.min.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/owlcarousel2/assets/owl.carousel.min.css">
<script src="../../Content/js/main.js"></script>
<script src="../../Content/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwl91tizjVH8SJLr3XnJWckLCog_TTHgQ&callback=initMap&libraries=places"
        type="text/javascript"></script>
</body>
</html>