@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.logo {
  background: url(/img/logo.svg) no-repeat center center;
  background-size: contain;
  width: 350px;
  height: 70px;

  @media #{$desktop-small-screen} {
    width: 200px;
    height: 46px;
  }

  @media #{$tablet-big-screen} {
    width: 150px;
    height: 34px;
  }

  &--white {
    background: url(/img/logo-white.svg) no-repeat center center;
    background-size: contain;
  }
}