//Размеры
$control-height: 40;
$control-small-height: 30;
$control-big-height: 50;

//Цвета
$black: #000000!default;
$white: #ffffff;

$gray: #6b6b6b;
$gray-dark: #5c5c5c;
$gray-light: #aeb8c0;
$blue: #4050f5;
$yellow:#ffdf39;

