.video-section {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  .video-section__background-video-img {
    background-color: #343853;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-position: left center !important;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%; }
    @media (max-width: 1279px) {
      .video-section__background-video-img {
        background-position: center center !important; } }
  .video-section__background-video {
    position: absolute;
    height: auto;
    z-index: 2; }
  .video-section__desc {
    width: 387px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
    z-index: 3;
    position: relative; }
    @media (max-width: 1279px) {
      .video-section__desc {
        width: 100%; } }
  .video-section__logo {
    width: 100%;
    height: 54px;
    background: url(../../../../img/logo.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-bottom: 20px; }
    @media (max-width: 1279px) {
      .video-section__logo {
        height: 35px; } }
  .video-section__title {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 300;
    padding-left: 12px; }
    @media (max-width: 1279px) {
      .video-section__title {
        font-size: 27px;
        padding: 0 15px;
        text-align: center; } }
  .video-section__button {
    margin-left: auto; }
    @media (max-width: 1279px) {
      .video-section__button {
        margin-left: auto;
        margin-right: auto; } }
