div.product-thumb.my_newly_added_products.transition
    div.image
        a(href="https://www.phonebot.com.au/nokia-7.2-64gb-refurbished")
            img.img-responsive(alt="Nokia 7.2 (64GB) [Grade A]" title="Nokia 7.2 (64GB) [Grade A]" src="https://www.phonebot.com.au/image/cache/catalog/refurbished/nokia/nokia-7-2-charcoal-200x170.jpg")
    div.caption
        p.stockLimit &nbsp
        div.name
            h2(style="margin-top: 0px !important;font-size:12px !important;")
                a(href="https://www.phonebot.com.au/nokia-7.2-64gb-refurbished") Nokia 7.2 (64GB) [Grade A]
        div.price.category-color-133 $309.00