//Размеры
$control-height: 40;
$control-small-height: 30;
$control-big-height: 50;

//Цвета
$black: #010001 !default;
$white: #ffffff;
$gray: #555555;
$gray-light: #e3e3e3;
$green-dark: #485455;
$orange: #ff4903;





