@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 23px 0;
  z-index: 10;
  transition: all .1s linear;

  &.scroll {
    background: $white;
    padding: 10px 0;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .34);
  }

  @media #{$tablet-big-screen} {
    background: $white;
    padding: 10px 0;
    padding-bottom: 20px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .34);
    max-height: 100vh;
  }

  $scroll: '.header.scroll';
  $active: '.header.active';

  &__block {
    @include flex-row;
    align-items: center;
    flex-wrap: wrap;
    background: $white;
    position: relative;

    &:after {
      @include after-absolute;
      width: 100%;
      height: 23px;
      background: $white;
      left: 0;
      top: 0;
      transform: translateY(-100%);
    }

    @media #{$tablet-big-screen} {
      @include flex-row;
      flex-wrap: wrap;
    }
  }

  &__item-logo {
    width: 169px;
    height: 68px;
    background: url(../../../img/logo/logo.png);
    @include background-contain-center;

    @media #{$tablet-big-screen} {
      width: 99px;
      height: 55px;
      order: 1;
    }
  }

  &__youtube-block {
    display: grid;
    grid-template-columns: 130px 130px;
    grid-gap: 9px;
    margin-left: 88px;

    @media #{$tablet-big-screen} {
      order: 5;
      @include flex-row-center;
      justify-content: flex-start;
      margin-left: 0;
      width: calc(50% - 20px);
      display: none;

      #{$active} & {
        display: flex;
      }
    }
  }

  &__youtube {
    background: url(../../../img/youtube.jpg);
    @include background-contain-center;
    height: 65px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);

    @media #{$tablet-big-screen} {
      width: 100px;
      height: 30px;
      margin-right: 5px;
    }
  }

  &__form {
    width: 226px;
    margin-left: auto;

    @media #{$tablet-big-screen} {
      order: 10;
      width: 100%;
      margin-top: 10px;
      display: none;

      #{$active} & {
        display: block;
      }

    }
  }

  &__form-tel {
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #514387;
    background-color: #ffffff;
    padding-left: 15px;
    font-size: 10px;
  }

  &__form-button {
    color: $white;
    @include flex-row-center;
    text-align: center;
    width: 100%;
    height: 41px;
    box-shadow: 0 6px 7px rgba(57, 46, 105, 0.25);
    border-radius: 3px;
    background: #877abb;
    cursor: pointer;

    &:hover {
      background: $magenta;
    }
  }

  &__contacts {
    margin-left: 31px;
    height: 72px;
    color: $gray;
    @include flex-column;
    justify-content: space-between;
    font-size: 16px;

    @media #{$tablet-big-screen} {
      order: 2;
      height: 55px;
      font-size: 14px;
      align-items: flex-end;
      margin-left: auto;
    }
  }

  &__contacts-phone {
    white-space: nowrap;
    text-align: right;
  }

  &__contacts-mail {
    white-space: nowrap;
  }

  &__contacts-address {
    white-space: nowrap;
  }

  &__social {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    margin-left: 48px;

    @media #{$tablet-big-screen} {
      order: 6;
      margin-left: auto;
      width: calc(50% - 20px);
      @include flex-row-center;
      justify-content: flex-end;
      display: none;

      #{$active} & {
        display: flex;
      }
    }
  }

  &__social-item {
    @media #{$tablet-big-screen} {
      margin-left: 10px;
    }
  }

  &__toggle-button {
    display: none;

    @media #{$tablet-big-screen} {
      display: block;
      order: 3;
      width: 30px;
      height: 55px;
      margin-left: 10px;
      position: relative;
      cursor: pointer;

      &:before,
      &:after {
        @include after-absolute;
        @include absolute-center;
        background: $magenta;
      }

      &:before {
        width: 30px;
        height: 30px;
        mask: url(../../../img/icons/open-menu.svg);
        -webkit-mask: url(../../../img/icons/open-menu.svg);
        @include mask-contain-center;

        #{$active} & {
          opacity: 0;
        }
      }
      &:after {
        width: 20px;
        height: 20px;
        mask: url(../../../img/icons/close.svg);
        -webkit-mask: url(../../../img/icons/close.svg);
        opacity: 0;
        @include mask-contain-center;

        #{$active} & {
          opacity: 1;
        }
      }
    }
  }

  &__menu {
    padding: 35px 0;
    @include flex-row;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;

    #{$scroll} & {
      padding: 15px 0;
      padding-bottom: 7px;
    }

    @media #{$tablet-big-screen} {
      padding: 20px 0;
      @include flex-column-center;
      order: 4;
      display: none;

      #{$active} & {
        display: flex;
      }
    }
  }


  &__menu-item {
    text-transform: uppercase;
    cursor: pointer;
    color: $gray;
    position: relative;
    font-weight: bold;

    &:after {
      @include after-absolute;
      width: 100%;
      height: 1px;
      background: $magenta;
      left: 0;
      bottom: -2px;
      opacity: 0;
      transform: scaleX(0);
    }

    &:hover {
      color: $magenta;
    }

    &:hover:after {
      opacity: 1;
      transform: scaleX(1);
    }

    @media #{$tablet-big-screen} {
      margin: 5px 0;
    }
  }

}