@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

html {
  overflow-x: hidden;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNovaT-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-ThinIt.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-Light.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-LightIt.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-RegularIt.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-Semibold.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-SemiboldIt.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-BoldIt.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-Extrabld.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-ExtrabldIt.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-BlackIt.ttf);
  font-weight: 900;
  font-style: italic;
}


* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  @include font-default('');
  margin: 0;
  padding: 0;
  font-weight: 300;
}

select {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button, input, textarea {
  border: none;
  background: none;
}

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none;
}