.eleventh {
  padding-top: 26px;
  padding-bottom: 270px; }
  @media (max-width: 1279px) {
    .eleventh {
      padding-top: 280px;
      padding-bottom: 150px; } }
  .eleventh__rules {
    position: absolute;
    right: 0;
    top: 34px; }
    @media (max-width: 1279px) {
      .eleventh__rules {
        top: 25px;
        left: 50%;
        transform: translateX(-50%); } }
  .eleventh__title {
    text-align: left !important;
    padding-left: 100px; }
    @media (max-width: 1279px) {
      .eleventh__title {
        padding-left: 0;
        text-align: center !important; } }
  .eleventh__subtitle {
    font-size: 50px;
    margin-top: 151px;
    margin-left: 378px;
    line-height: 55px;
    margin-bottom: 93px;
    font-family: 'intro-reg', sans-serif !important; }
    @media (max-width: 1279px) {
      .eleventh__subtitle {
        font-size: 36px;
        line-height: 40px;
        margin: 20px 0;
        text-align: center; } }
  .eleventh__img {
    width: 266px;
    height: 297px;
    left: 40px;
    top: 217px;
    position: absolute;
    background: url(../../../img/eleventh-img.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1279px) {
      .eleventh__img {
        position: relative;
        left: auto;
        top: auto;
        margin: 20px auto; } }
  .eleventh__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px; }
    @media (max-width: 1279px) {
      .eleventh__grid {
        grid-template-columns: 1fr; } }
  .eleventh__grid-item {
    height: 173px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 30px;
    background: #ffd34c;
    text-align: center;
    align-items: center; }
  .eleventh__grid-item-number {
    color: #ffffff;
    font-size: 60px;
    font-family: 'intro-bold', sans-serif !important;
    margin-bottom: 5px; }
  .eleventh__grid-item-text {
    font-size: 18px; }
