.contents__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  width: 100%; }
  @media (max-width: 700px) {
    .contents__title {
      font-size: 20px; } }

.contents__item {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 11px;
  width: 100%; }
  @media (max-width: 700px) {
    .contents__item {
      font-size: 17px; } }
