<div class="popup popup_add-cart popup_with-fade">
  <div class="popup__block popup__block_medium popup__block_center-align">
    <div class="popup__close-button js-close-popup"></div>
    <div class="cart-alert">
      <div class="cart-alert__img">
        <img src="../../../img/samples/cart/cart1.jpg" alt="">
      </div>
      <div class="cart-alert__info">
        <div class="cart-alert__title">
            Смартфон Apple iPhone 7 32Gb Black (MN8X2RU/A)
        </div>
        <div class="price-row">
          <span class="price-row__old-price">204 000 руб.</span>
          <span class="price-row__current-price">190 990 руб.</span>
          <span class="price-row__saving-diff">Экономия: 10 000 руб.</span>
        </div>
        <div class="single-text">Количество: 1 шт.</div>
        <div class="cart-alert__button-row">
          <a href="#" class="button">Оформить заказ</a>
          <div class="button button_grey js-close-popup">Продолжить покупки</div>
        </div>
      </div>
    </div>
  </div>
</div>