<aside class="category-menu side-menu">
	<div class="menu-row menu-row_title">
		<div class="menu-row__inner">Каталог товаров</div>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Компьютеры
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Ноутбуки
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Планшеты
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Apple
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Телевизоры
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Мультимедиа
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Смартфоны
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Гаджеты
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Фото
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Видео
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Безопасноть
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Бытовая техника
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Автомобильная техника
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Отдых и развлечения
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Строительство, ремонт
		</a>
	</div>
	<div class="menu-row">
		<a href="#" class="menu-row__inner">
			Аксессуары
		</a>
	</div>
</aside>