<aside class="menu-mobile side-menu">
	<div class="menu-mobile__wrapper">
		<div class="menu-mobile__area">
			<div class="menu-section">
				<div class="menu-row">
					<div class="menu-row__inner">
						<a href="#" class="underline-button log-reg-button">Регистрация</a>
						<a href="#" class="underline-button log-reg-button">Войти</a>
					</div>
				</div>
				<div class="menu-row menu-row_has-drop">
					<div class="menu-row__inner menu-row__inner_font-colr ">
						<div class="user-icon user-icon_small">В</div>
						<span class="menu-row__user-name">Владислав</span>
					</div>
					<div class="menu-section">
						<div class="menu-row">
							<div class="menu-row__inner menu-row__inner_go-back">
								<span class="underline-button">назад</span>
							</div>
						</div>
						<div class="menu-row menu-row_title">
							<div class="menu-row__inner">Тест заголовок</div>
						</div>
						<div class="menu-row">
							<div class="menu-row__inner">
								Бонусных рублей: 2400
							</div>
						</div>
						<div class="menu-row">
							<a href="#" class="menu-row__inner">
								История заказов
							</a>
						</div>
						<div class="menu-row">
							<a href="#" class="menu-row__inner">
								Личный кабинет
							</a>
						</div>
						<div class="menu-row">
							<a href="#" class="menu-row__inner">
								Выход
							</a>
						</div>
					</div>
				</div>
				<div class="menu-row menu-row_has-drop">
					<div class="menu-row__inner menu-row__inner_font-colr">
						<i class="icon-location"></i>
						<span>
							<span class="font-reg">Мой город: </span>
							<span class="city-name">г. Москва</span>
						</span>
					</div>
					<div class="menu-section">
						<div class="menu-row">
							<div class="menu-row__inner menu-row__inner_go-back">
								<span class="underline-button">назад</span>
							</div>
						</div>
						<div class="menu-row menu-row_search-wrap">
							<div class="menu-row__inner">
								<form class="search-line">
									<input type="text" name="" class="search-line__input" placeholder="Другой город">
									<button class="search-line__submit"></button>
								</form>
							</div>
						</div>
						<div class="menu-row">
							<div class="menu-row__inner">
								Москва
							</div>
						</div>
						<div class="menu-row">
							<div class="menu-row__inner">
								Санкт-петербург
							</div>
						</div>
						<div class="menu-row">
							<div class="menu-row__inner">
								Краснодар
							</div>
						</div>
						<div class="menu-row">
							<div class="menu-row__inner">
								Ростов-на-Дону
							</div>
						</div>
						<div class="menu-row">
							<div class="menu-row__inner">
								Новосибирск
							</div>
						</div>
						<div class="menu-row">
							<div class="menu-row__inner">
								Казань
							</div>
						</div>
						<div class="menu-row">
							<div class="menu-row__inner">
								Сочи
							</div>
						</div>
					</div>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner menu-row__inner_font-colr">
						<i class="icon-compare"></i>
						<span>
							Сравнение 
							<span class="font-reg">(3)</span>
						</span>
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner menu-row__inner_font-colr">
						<i class="icon-heart"></i>
						<span>
							Избранное 
							<span class="font-reg">(3)</span>
						</span>
					</a>
				</div>
				<div class="menu-row menu-row_title">
					<div class="menu-row__inner">Каталог товаров</div>
				</div>
				<div class="menu-row menu-row_has-drop">
					<div class="menu-row__inner">
						Apple
					</div>
					<div class="menu-section">
						<div class="menu-row">
							<div class="menu-row__inner menu-row__inner_go-back">
								<span class="underline-button">назад</span>
							</div>
						</div>
						<div class="menu-row">
							<a href="#" class="menu-row__inner">
								тест
							</a>
						</div>
						<div class="menu-row menu-row_has-drop">
							<div class="menu-row__inner">
								тест далее 
							</div>
							<div class="menu-section">
								<div class="menu-row">
									<div class="menu-row__inner menu-row__inner_go-back">
										<span class="underline-button">назад</span>
									</div>
								</div>
								<div class="menu-row menu-row_title">
									<div class="menu-row__inner">Тест заголовок</div>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row menu-row_has-drop">
									<div class="menu-row__inner">
										тест далее 
									</div>
									<div class="menu-section">
										<div class="menu-row">
											<div class="menu-row__inner menu-row__inner_go-back">
												<span class="underline-button">назад</span>
											</div>
										</div>
										<div class="menu-row menu-row_title">
											<div class="menu-row__inner">Тест заголовок</div>
										</div>
										<div class="menu-row">
											<a href="#" class="menu-row__inner">
												тест
											</a>
										</div>
										<div class="menu-row">
											<a href="#" class="menu-row__inner">
												тест
											</a>
										</div>
										<div class="menu-row">
											<a href="#" class="menu-row__inner">
												тест
											</a>
										</div>
										<div class="menu-row">
											<a href="#" class="menu-row__inner">
												тест
											</a>
										</div>
										<div class="menu-row">
											<a href="#" class="menu-row__inner">
												тест
											</a>
										</div>
									</div>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
								<div class="menu-row">
									<a href="#" class="menu-row__inner">
										тест
									</a>
								</div>
							</div>
						</div>
						<div class="menu-row">
							<a href="#" class="menu-row__inner">
								тест
							</a>
						</div>
						<div class="menu-row">
							<a href="#" class="menu-row__inner">
								тест
							</a>
						</div>
						<div class="menu-row">
							<a href="#" class="menu-row__inner">
								тест
							</a>
						</div>
						<div class="menu-row">
							<a href="#" class="menu-row__inner">
								тест
							</a>
						</div>
					</div>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Компьютеры, ноутбуки и планшеты
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Телевизоры и мультимедиа
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Смартфоны, телефоны и гаджеты
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Фото и видео
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Безопасность и видеонаблюдение
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Сетевое оборудование
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Бытовая техника
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Автомобильная техника
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Отдых, спорт, развлечения
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Инструменты и оборудование
					</a>
				</div>
				<div class="menu-row">
					<a href="#" class="menu-row__inner">
						Аксессуары
					</a>
				</div>
			</div>
		</div>
	</div>
</aside>