@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.review {
  background: $green;
  padding: 60px 0;
  padding-bottom: 0;

  @media #{$tablet-big-screen} {
    padding: 30px 0;
  }

  &__block {
    width: 1190px;
    @include margin-auto;

    @media #{$tablet-big-screen} {
      width: calc(100% - 30px);
    }
  }

  &__subtitle {

    &:after {
      background: $black!important;
    }
  }

  &__title {
    width: 100%!important;
  }

  &__form-item-title {
    text-align: center;
  }

  &__items {
    @include flex-row-center;
    justify-content: space-between;
    padding: 100px 50px;
    padding-bottom: 50px;

    @media #{$tablet-big-screen} {
     @include flex-column-center;
      padding: 20px;
    }
  }

  &__item {
    @media #{$tablet-big-screen} {
      margin-bottom: 20px;
    }
  }

  &__item-img {
  }

  &__form-title {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
  }

  &__form {
    @include flex-row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 55px 120px;

    @media #{$tablet-big-screen} {
      @include flex-column;
      padding: 20px 0;
    }
  }

  &__form-item {
    width: 49%;
    margin-bottom: 45px;

    @media #{$tablet-big-screen} {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__form-item-title {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
    color: $white;
  }

  &__form-item-input-block {
  }

  &__form-button {
    @include margin-auto;
    background: $black;
    height: 56px;
    color: $white;
    width: 272px;
    @include flex-row-center;
    white-space: nowrap;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 2px;
    cursor: pointer;
    border-radius: 30px;

    @media #{$tablet-big-screen} {
      border-radius: 10px;
      width: 100%;
    }

    &:hover {
      background: $white;
      color: $black;
    }
  }
}