.third {
  background: url(../../../img/third.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-position: top center !important; }
  @media (max-width: 767px) {
    .third {
      padding-bottom: 700px !important;
      background: url(../../../img/first_mobile.jpg);
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      background-position: bottom center !important; } }
  .third__block {
    margin-left: auto;
    width: 60%; }
    @media (max-width: 767px) {
      .third__block {
        width: 100%; } }
  .third__title {
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 38px; }
    @media (max-width: 767px) {
      .third__title {
        font-size: 25px;
        line-height: 25px; } }
  .third__title-inner {
    font-size: 28px;
    line-height: 38px; }
    @media (max-width: 767px) {
      .third__title-inner {
        display: block;
        font-size: 19px; } }
  .third__text {
    font-size: 15px !important;
    line-height: 27px !important; }
  .third__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px; }
  .third__list-item {
    width: 210px;
    height: 150px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 767px) {
      .third__list-item {
        width: calc(33% - 5px);
        height: 90px; } }
