@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
html {
  transition: none !important;
  background: #142024; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: 'WWF';
  font-display: swap;
  src: url(../../../fonts/wwf.ttf);
  font-style: normal;
  font-weight: 400; }

body {
  font-family: "WWF", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  transition: none !important; }

select {
  display: none; }

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

button, input, textarea {
  border: none;
  background: none; }

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none; }
