.title {
  font-size: 48px;
  font-weight: 700;
  width: 65%;
  letter-spacing: 1px; }
  @media (max-width: 1279px) {
    .title {
      font-size: 24px;
      width: 100%;
      letter-spacing: normal; } }
  .title--white {
    color: #ffffff; }
  .title--center {
    text-align: center;
    width: 100%; }
  .title--small {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    z-index: 1; }
    .title--small:after {
      content: '';
      position: absolute;
      display: block;
      width: 100px;
      height: 30px;
      background: #5ae596;
      left: -30px;
      transform: translateX(-100%) translateY(-50%);
      top: 50%; }
      @media (max-width: 1279px) {
        .title--small:after {
          left: 0;
          top: 2px;
          transform: none;
          width: 70px;
          height: 20px; } }
    @media (max-width: 1279px) {
      .title--small {
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 16px; }
        .title--small:before {
          content: '';
          display: inline-block;
          width: 80px; } }
