.scroll-screen
    .scroll-screen__item(data-order='0').scroll-screen__item--1
        include ../main-screen/main-screen
        //include ../last-screen/last-screen
    .scroll-screen__item(data-order='1').scroll-screen__item--2
        include ../product-screen/product-screen-1
    .scroll-screen__item(data-order='2').scroll-screen__item--3
        include ../product-screen/product-screen-2
    .scroll-screen__item(data-order='3').scroll-screen__item--4
        include ../product-screen/product-screen-3
    .scroll-screen__item(data-order='4').scroll-screen__item--5
        include ../last-screen/last-screen