.title {
  text-align: center;
  margin-bottom: 50px;
  position: relative; }
  @media (max-width: 1023px) {
    .title {
      margin-bottom: 10px; } }
  .title--no-margin {
    margin-bottom: 0; }
    @media (max-width: 1023px) {
      .title--no-margin {
        margin-bottom: 0; } }
  .title--no-wrap {
    white-space: nowrap; }
  .title--left {
    text-align: left; }
    @media (max-width: 1279px) {
      .title--left {
        text-align: center; } }
  .title__item {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 20px 80px; }
    @media (max-width: 1599px) {
      .title__item {
        padding: 20px 20px; } }
    @media (max-width: 1023px) {
      .title__item {
        padding: 10px 10px; } }
    .title__item--top {
      background: #1d1f21;
      padding: 10px 80px;
      height: 50px; }
      @media (max-width: 1023px) {
        .title__item--top {
          background: none;
          padding: 10px 20px;
          height: auto; } }
      .title__item--top:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 50px solid #1d1f21;
        border-right: 50px solid transparent;
        transform: translateX(100%); }
        @media (max-width: 1023px) {
          .title__item--top:before {
            display: none; } }
      .title__item--top:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 50px solid #1d1f21;
        border-left: 50px solid transparent;
        transform: translateX(-100%); }
        @media (max-width: 1023px) {
          .title__item--top:after {
            display: none; } }
    .title__item--small {
      padding: 10px 10px; }
    .title__item--left {
      text-align: left;
      padding-left: 0; }
      @media (max-width: 1599px) {
        .title__item--left {
          padding-left: 0; } }
      @media (max-width: 1279px) {
        .title__item--left {
          padding-left: 0;
          text-align: center;
          padding-right: 0; } }
  .title__text {
    display: inline;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    background: #fff;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    z-index: 1; }
    .title__text--yellow {
      background: linear-gradient(to bottom, #f19e00, #dba500);
      color: transparent;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text; }
      .pattern--3 .title__text--yellow {
        background: linear-gradient(to bottom, #ff0000, #a00000);
        color: transparent;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text; }
    @media (max-width: 1023px) {
      .title__text {
        font-size: 17px; } }
  .title__icon--exit {
    margin-left: 4px;
    margin-bottom: -3px; }
  .title__desc {
    background: #ababab;
    font-size: 15px;
    font-weight: 400;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
  .title__natural-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: underline;
    color: #54565a;
    font-size: 13px;
    cursor: pointer; }
    @media (max-width: 767px) {
      .title__natural-button {
        position: relative;
        right: auto;
        top: auto;
        transform: none; } }
