.section-6 {
  height: 100%;
  width: 1400px;
  position: relative;
  background: url(../../../img/section-6/background.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-position: right top !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding-left: 80px; }
  @media (max-width: 1279px) {
    .section-6 {
      width: 100%;
      order: 4;
      padding: 40px; } }
  .section-6__title {
    color: #ffffff;
    position: relative;
    margin-bottom: 15vh; }
    @media (max-height: 820px) {
      .section-6__title {
        margin-bottom: 5vh; } }
    @media (max-width: 1279px) {
      .section-6__title {
        margin-bottom: 70px; } }
  .section-6__title-inner {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    font-display: auto;
    font-family: "Noto Serif", serif; }
    @media (max-height: 820px) {
      .section-6__title-inner {
        font-size: 30px;
        line-height: 35px; } }
  .section-6__title-small {
    position: absolute;
    right: -90px;
    top: 20px;
    transform: translateX(100%);
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    padding-left: 10px;
    border-left: 5px solid #ff3636; }
    @media (max-height: 820px) {
      .section-6__title-small {
        right: -20px;
        top: 13px; } }
    @media (max-width: 1279px) {
      .section-6__title-small {
        display: none; } }
  @media (max-height: 820px) {
    .section-6__title-small-inner {
      white-space: nowrap; } }
  .section-6__items {
    display: grid;
    grid-template-columns: 380px 500px;
    grid-gap: 240px;
    margin-bottom: 5vh; }
    @media (max-width: 1279px) {
      .section-6__items {
        grid-template-columns: 1fr;
        width: 100%;
        grid-gap: 70px; } }
  .section-6__item {
    font-size: 18px;
    position: relative;
    color: #ffffff; }
  .section-6__item-icon {
    position: absolute;
    width: 84px;
    height: 95px;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: .5; }
    .section-6__item-icon--1 {
      background: url(../../../img/section-6/icon-1.png);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
    .section-6__item-icon--2 {
      background: url(../../../img/section-6/icon-2.png);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
    @media (max-width: 1279px) {
      .section-6__item-icon {
        left: 20px;
        opacity: 1; } }
  .section-6__item-title {
    font-size: 26px;
    line-height: 35px;
    font-display: auto;
    font-family: "Noto Serif", serif;
    margin-bottom: 30px;
    width: 360px;
    position: relative;
    z-index: 1; }
    @media (max-height: 820px) {
      .section-6__item-title {
        font-size: 24px;
        line-height: 30px; } }
    @media (max-width: 1279px) {
      .section-6__item-title {
        width: 100%; } }
  .section-6__item-list {
    margin-bottom: 50px; }
    @media (max-width: 1279px) {
      .section-6__item-list {
        margin-bottom: 20px;
        font-size: 16px; } }
  .section-6__item-list-item {
    padding-left: 10px;
    position: relative;
    margin-bottom: 5px; }
    .section-6__item-list-item:after {
      content: '';
      position: absolute;
      display: block;
      width: 3px;
      height: 3px;
      background: #ffffff;
      border-radius: 50%;
      left: 0;
      top: 10px; }
  .section-6__item-button {
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    margin-bottom: 25px; }
    @media (max-width: 1279px) {
      .section-6__item-button {
        width: 100%; } }
  @media (max-width: 1279px) {
    .section-6__item-desc {
      font-size: 16px; } }
