.fourth {
  background: #3200dd;
  color: #ffffff; }
  .fourth__block {
    padding-top: 160px; }
    @media (max-width: 1023px) {
      .fourth__block {
        padding-top: 60px; } }
  .fourth__title {
    font-size: 63px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 57px;
    padding-left: 290px;
    margin-bottom: 100px; }
    @media (max-width: 1023px) {
      .fourth__title {
        padding-left: 0;
        font-size: 43px;
        line-height: 47px;
        margin-bottom: 60px; } }
  .fourth__item {
    display: grid;
    grid-template-columns: 310px 1fr;
    padding-bottom: 125px; }
    @media (max-width: 1023px) {
      .fourth__item {
        grid-template-columns: 1fr;
        padding-bottom: 70px; } }
    .fourth__item:nth-last-of-type(1) {
      padding-bottom: 0; }
      @media (max-width: 1023px) {
        .fourth__item:nth-last-of-type(1) {
          padding-bottom: 0; } }
  .fourth__item-number {
    position: relative;
    padding-left: 70px; }
    @media (max-width: 1023px) {
      .fourth__item-number {
        padding-left: 35px;
        margin-bottom: 15px; } }
  .fourth__item-number-name {
    position: absolute;
    font-display: auto;
    font-family: 'din-alternate', sans-serif !important;
    left: -48px;
    top: 44px;
    transform: rotate(-90deg);
    font-size: 60px; }
    @media (max-width: 1023px) {
      .fourth__item-number-name {
        left: -24px;
        top: 29px;
        transform: rotate(-90deg);
        font-size: 29px; } }
  .fourth__item-number-value {
    font-size: 171px;
    line-height: 188px;
    font-display: auto;
    font-family: 'din-condensed', sans-serif !important; }
    @media (max-width: 1023px) {
      .fourth__item-number-value {
        font-size: 91px;
        line-height: 1em; } }
  .fourth__item-text {
    padding-right: 50px; }
  .fourth__item-text-line {
    font-size: 29px;
    font-display: auto;
    font-family: 'rubik', sans-serif !important;
    margin-bottom: 36px; }
    @media (max-width: 1023px) {
      .fourth__item-text-line {
        font-size: 20px;
        margin-bottom: 20px; } }
  .fourth__el-1 {
    width: 818px;
    height: 818px;
    position: absolute;
    background: url(../../../img/fourth-el-1.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    top: 81px;
    right: -500px;
    mix-blend-mode: luminosity; }
    @media (max-width: 1023px) {
      .fourth__el-1 {
        display: none; } }
  .fourth__el-2 {
    width: 500px;
    height: 496px;
    opacity: 0.75;
    position: absolute;
    background: url(../../../img/fourth-el-2.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    bottom: -90px;
    right: -472px;
    mix-blend-mode: luminosity;
    z-index: 2; }
    @media (max-width: 1023px) {
      .fourth__el-2 {
        display: none; } }
