.button-color {
  font-size: 12px;
  font-weight: 700;
  z-index: 1;
  position: relative;
  display: inline-block;
  min-width: 150px;
  padding: 10px 10px 8px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #cddaec;
  background: linear-gradient(to right, #264de4, #02ecff);
  border-radius: 5px; }
  .button-color--big {
    font-size: 16px;
    font-weight: 900;
    padding: 14px 10px 11px; }
  .button-color--small {
    padding: 10px 10px 8px;
    min-width: 120px;
    font-size: 15px; }
    @media (max-width: 1023px) {
      .button-color--small {
        padding: 6px 10px 4px; } }
  .button-color--gray {
    background: #46505e; }
  .button-color--magenta {
    background: linear-gradient(to right, #824cfd, #4946f4); }
  .button-color--green {
    background: linear-gradient(to right, #90c857, #6b9e85); }
  .button-color--red {
    background: linear-gradient(to right, #823a5b, #827945); }
  .button-color--cancel {
    background: linear-gradient(to right, #e1293a, #e1293a); }
  .button-color--tweet:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 17px;
    margin-bottom: -3px;
    margin-right: 7px;
    background: #cddaec;
    mask: url(../../img/social-twitter.svg);
    -webkit-mask: url(../../img/social-twitter.svg);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }
  .button-color:hover {
    opacity: .5; }
  .button-color--disable {
    background: #293035;
    cursor: default; }
    .button-color--disable:hover {
      opacity: 1; }
