.goods {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px; }
  .goods__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(50% - 25px);
    margin-bottom: 50px;
    background: #ffffff;
    border-radius: 20px;
    position: relative; }
    .goods__item.hide {
      display: none; }
    @media (max-width: 1279px) {
      .goods__item {
        width: calc(50% - 10px);
        margin-bottom: 20px; } }
    @media (max-width: 1023px) {
      .goods__item {
        width: 100%;
        margin-right: 0; } }
    @media (max-width: 767px) {
      .goods__item {
        flex-direction: column;
        margin-bottom: 40px; } }
  .goods__item-desc {
    width: 50%;
    height: 100%;
    padding: 15px; }
    @media (max-width: 767px) {
      .goods__item-desc {
        width: 100%;
        height: 165px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap; } }
  .goods__item-desc-name {
    font-size: 20px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center; }
    .goods__item-desc-name:hover {
      text-decoration: underline; }
    @media (max-width: 1365px) {
      .goods__item-desc-name {
        font-size: 18px; } }
    @media (max-width: 1279px) {
      .goods__item-desc-name {
        font-size: 17px;
        line-height: 20px;
        height: 60px; } }
    @media (max-width: 767px) {
      .goods__item-desc-name {
        width: 60%; } }
    @media (max-width: 374px) {
      .goods__item-desc-name {
        font-size: 14px; } }
  .goods__item-desc-price {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: baseline; }
    @media (max-width: 767px) {
      .goods__item-desc-price {
        width: 60%; } }
  .goods__item-desc-price-item {
    font-size: 30px;
    font-weight: 700; }
  .goods__item-desc-price-current {
    margin-left: 5px; }
  .goods__item-desc-availability {
    font-size: 13px;
    margin-top: 10px;
    color: #cccccc; }
    @media (max-width: 767px) {
      .goods__item-desc-availability {
        width: 60%; } }
  .goods__item-desc-photo {
    width: 100%;
    height: 135px;
    opacity: 0;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1279px) {
      .goods__item-desc-photo {
        height: 120px; } }
    @media (max-width: 767px) {
      .goods__item-desc-photo {
        width: 40%;
        height: 165px; } }
  .goods__item-photo-block {
    width: 50%;
    height: 290px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden; }
    @media (max-width: 767px) {
      .goods__item-photo-block {
        width: 100%;
        height: 300px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px; } }
  .goods__item-photo {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
  .goods__item-button {
    position: absolute;
    color: #000000;
    right: 15px;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .1s ease-in;
    bottom: 10px;
    width: calc(50% - 40px);
    text-align: center; }
    .blue-theme .goods__item-button {
      background: #f8e71c !important; }
    .goods__item-button:hover {
      text-decoration: underline; }
    @media (max-width: 767px) {
      .goods__item-button {
        bottom: 25px;
        width: calc(100% + 20px);
        left: -10px;
        right: auto;
        border-radius: 0; } }
  .goods__item-sale {
    position: absolute;
    color: #ffffff;
    bottom: 70px;
    padding: 5px 10px;
    left: -10px;
    font-size: 14px; }
    .blue-theme .goods__item-sale {
      background: #3598db !important; }
    @media (max-width: 767px) {
      .goods__item-sale {
        bottom: auto;
        left: auto;
        right: -10px;
        top: 30px; } }
  .goods__button-more-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .blue-theme .goods__button-more {
    color: #3598db !important; }
  .goods__button-more:hover {
    text-decoration: underline; }
