@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.advantages {
  @include flex-row;
  border: 3px solid #339abd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;

  $item: '.advantages__item';

  @media #{$mobile-big-screen} {
    flex-wrap: wrap;
    border: none;
  }

  &__item {
    width: 25%;

    @media #{$mobile-big-screen} {
      width: 100%;
      @include flex-row;
      position: relative;
    }
  }

  &__item-title {
    background: #339bbe;
    height: 36px;
    width: 100%;
    border-right: 1px solid #2786a6;
    @include flex-row-center;
    color: $white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;

    #{$item}:nth-last-of-type(1) & {
      border-right: none;
    }

    @media #{$mobile-big-screen} {
      width: calc(100% - 110px);
      font-weight: 700;
      top: 25px;
      right: 0;
      background: none;
      color: #333;
      border: none;
      @include flex-row;
      position: absolute;
    }
  }

  &__item-content {
    border-right: 1px solid #d4d4d4;
    @include flex-column-center;
    background: #f1f1f1;
    padding: 20px;

    #{$item}:nth-last-of-type(1) & {
      border-right: none;
    }

    @media #{$mobile-big-screen} {
      width: 100%;
      @include flex-row;
      align-items: flex-start;
      padding: 0 5px;
      background: none;
      border: none;
    }
  }

  &__item-icon {
    width: 85px;
    height: 85px;
    background: url(../../img/advantages_sprite.png);
    background-size: 400% 100%;
    margin-bottom: 10px;

    &--price {

    }

    &--delivery {
      background-position-x: -100%;
    }

    &--payment {
      background-position-x: -200%;
    }

    &--original {
      background-position-x: -300%;
    }
  }

  &__item-text {
    text-align: center;
    font-size: 13px;
    font-weight: 500;

    @media #{$mobile-big-screen} {
      width: calc(100% - 85px);
      text-align: left;
      padding-left: 20px;
      margin-top: 45px;
    }
  }

}