.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0; }
  .pagination__item {
    font-size: 30px;
    padding: 10px; }
    @media (max-width: 767px) {
      .pagination__item {
        font-size: 13px;
        padding: 5px; } }
    .pagination__item:hover, .pagination__item.active {
      background: #ffb037;
      color: #ffffff; }
