.about-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0; }
  @media (max-width: 1599px) {
    .about-icons {
      padding-bottom: 10px; } }
  .about-icons__item {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1599px) {
      .about-icons__item {
        margin-bottom: 40px;
        width: 19%;
        margin-left: 3%;
        margin-right: 3%; } }
    @media (max-width: 1279px) {
      .about-icons__item {
        width: 22%; } }
    @media (max-width: 767px) {
      .about-icons__item {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px; } }
  .about-icons__item-icon {
    width: 55px;
    height: 54px;
    background: url(../../img/main-icon-sprite.png);
    background-size: 700% 100%;
    margin-bottom: 20px; }
    .about-icons__item-icon--materials {
      background-position-x: -100%; }
    .about-icons__item-icon--customers {
      background-position-x: -200%; }
    .about-icons__item-icon--recommendations {
      background-position-x: -300%; }
    .about-icons__item-icon--prices {
      background-position-x: -400%; }
    .about-icons__item-icon--demo {
      background-position-x: -500%; }
    .about-icons__item-icon--visit {
      background-position-x: -600%; }
  .about-icons__item-text {
    line-height: 23px;
    height: 69px;
    font-weight: 500;
    font-size: 16px;
    text-align: center; }
