.text {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-size: 23px;
  line-height: 23px;
  margin-bottom: 25px; }
  .text--white {
    color: #ffffff; }
  @media (max-width: 767px) {
    .text {
      font-size: 17px;
      line-height: 17px; } }
