.button {
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  padding: 0 40px;
  font-size: 17px;
  line-height: 50px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer; }
  @media (max-width: 1279px) {
    .button {
      height: 40px;
      padding: 0 30px;
      line-height: 40px; } }
  .button:before {
    z-index: -2;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(48deg, #ff4903 0%, #ffd800 100%);
    top: 0;
    left: 0;
    transition: inherit; }
  .button:hover:before {
    transform: scale(3) rotate(20deg); }
  .button:after {
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    background: #fda36c;
    top: 0;
    left: 0;
    opacity: .3;
    transition: inherit; }
  .button:hover:after {
    transform: rotate(30deg) scale(1.3);
    background: #ffffff;
    filter: blur(10px); }
