.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-size: 14px; }
  @media (max-width: 767px) {
    .footer {
      font-size: 17px;
      padding: 25px 10px;
      text-align: center; } }
