.share {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 13px;
  font-weight: 300;
  color: #808080;
  flex-wrap: wrap; }
  .share--white {
    color: #ffffff; }
  .share__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 12px; }
    .share__item:before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      background: #808080;
      margin-right: 5px; }
      .share--white .share__item:before {
        background: #ffffff; }
    .share__item--date:before {
      display: none; }
    .share__item--like:before {
      width: 12px;
      height: 13px;
      -webkit-mask-image: url(../../img/icon-like.png);
      mask-image: url(../../img/icon-like.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .share__item--view:before {
      width: 14px;
      margin-top: 2px;
      height: 10px;
      -webkit-mask-image: url(../../img/icon-view.png);
      mask-image: url(../../img/icon-view.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .share__item--comment:before {
      width: 14px;
      height: 12px;
      -webkit-mask-image: url(../../img/icon-comment.png);
      mask-image: url(../../img/icon-comment.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .share__item--tags:before {
      display: none; }
    .share__item--vk:before {
      content: 'vk';
      color: #808080;
      font-weight: 700;
      background: none;
      margin-right: 7px; }
    .share__item--ok:before {
      content: 'ok';
      font-weight: 700;
      color: #808080;
      background: none;
      margin-right: 7px; }
  .share__item-tag-title {
    margin-right: 5px; }
  .share__item-tag-link {
    margin-right: 5px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 2px;
    cursor: pointer; }
    .share__item-tag-link:after {
      content: ','; }
    .share__item-tag-link:nth-last-of-type(1):after {
      display: none; }
    .share__item-tag-link:hover {
      color: #bd1d00; }
