.footer {
  background: #292c31;
  color: #ffffff;
  padding: 30px 0; }
  .footer__top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; }
    @media (max-width: 1279px) {
      .footer__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer__logo {
    width: 154px;
    height: 50px;
    background: url(../../../img/logo-white.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1279px) {
      .footer__logo {
        margin-bottom: 15px; } }
  .footer__social-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 100%;
    text-align: center; }
  .footer__social-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer__social-item {
    width: 34px;
    height: 34px;
    background: #ffffff;
    margin-left: 30px; }
    .footer__social-item:nth-of-type(1) {
      margin-left: 0; }
    .footer__social-item--tw {
      mask: url(../../../img/tw.png);
      -webkit-mask: url(../../../img/tw.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .footer__social-item--fb {
      mask: url(../../../img/fb.png);
      -webkit-mask: url(../../../img/fb.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .footer__social-item--yt {
      mask: url(../../../img/yt.png);
      -webkit-mask: url(../../../img/yt.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
  .footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
