.reviews__slide
    .reviews__slide-photo-block
        .reviews__slide-photo(style='background:url(src/images/uploads/review.jpg)')
    .reviews__slide-item
        .reviews__slide-text Короткий текст отзыва. Короткий текст отзыва. Короткий текст отзыва. Короткий текст отзыва. Короткий текст отзыва.
            .reviews__slide-footer
                .reviews__slide-footer-name Елена Константнова
                .reviews__slide-footer-date 24.05.2020
