.reviews
    .reviews__block.layout
        .reviews__planet
        .reviews__header
            .reviews__header-title-block
                .reviews__header-title.title Что
                .reviews__header-title-counter
                    .reviews__header-title-counter-text.title &nbsp;говорят
                    .reviews__header-title-counter-count 43
                .reviews__header-title.title наши клиенты
            .title
            .reviews__header-feedback
                .reviews__header-feedback-title Посмотрите наше портфолио, собранное за 8 лет продуктивной работы
                .reviews__header-feedback-button Запросить портфолио
    .reviews__slider-block
        .reviews__slider-wrapper
            .reviews__slider.owl-carousel
                include reviews__slide
                //include reviews__slide-2
                include reviews__slide
                include reviews__slide
                include reviews__slide
                //include reviews__slide-2
