.reviews__slide
    .reviews__slide-photo-block
        .reviews__slide-photo(style='background:url(src/images/uploads/review.jpg)')
    .reviews__slide-item
        .reviews__slide-text Учитывая ключевые сценарии поведения, базовый вектор развития говорит о возможностях прогресса профессионального сообщества. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации кластеризации усилий. В своём стремлении повысить качество жизни, они забывают, что убеждённость некоторых оппонентов однозначно фиксирует необходимость кластеризации усилий.
            .reviews__slide-footer
                .reviews__slide-footer-name Елена Константнова
                .reviews__slide-footer-date 24.05.2020
