.list-menu__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 15px; }

.list-menu__title-lines {
  height: 18px;
  overflow: hidden;
  margin-right: 10px;
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .list-menu__title-lines:before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    transform: rotate(26deg);
    background: #000000; }
  .list-menu__title-lines:after {
    content: '';
    display: block;
    margin-left: 4px;
    width: 2px;
    height: 100%;
    transform: rotate(26deg);
    background: #87674f; }

.list-menu__item {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  position: relative; }

.list-menu__item-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 43px;
  z-index: -1;
  overflow: hidden; }

.list-menu__item-background-inner {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: none;
  transform: scale(1.3);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.list-menu__item:hover .list-menu__item-background-inner {
  filter: blur(3px); }

.list-menu__item-title {
  color: #ffffff;
  width: 100%;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  padding-left: 25px; }
  .list-menu__item-title:focus, .list-menu__item-title:hover {
    color: #ffffff; }

.list-menu__item-title-link {
  color: #ffffff; }
  .list-menu__item-title-link:focus, .list-menu__item-title-link:hover {
    color: #ffffff;
    text-decoration: underline; }
  .list-menu__item-title-link:focus, .list-menu__item-title-link:visited, .list-menu__item-title-link:active {
    color: #ffffff; }

.list-menu__item-inner {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #3b3b3b;
  visibility: hidden; }
  @media (max-width: 1279px) {
    .list-menu__item-inner {
      padding: 12px;
      padding-bottom: 0;
      visibility: visible; } }

.list-menu__item-inner:hover,
.list-menu__item-title:hover + .list-menu__item-inner {
  padding: 12px;
  padding-bottom: 0;
  visibility: visible; }

.list-menu__item-inner-link {
  width: calc(50% - 6px);
  font-size: 12px;
  background: #ffffff;
  margin-bottom: 0;
  visibility: hidden;
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000000; }
  .list-menu__item-inner-link:hover {
    text-decoration: underline;
    color: #000000; }
  .list-menu__item-inner-link--vk {
    background: #45668e;
    color: #ffffff; }
    .list-menu__item-inner-link--vk:hover {
      color: #ffffff; }
  .list-menu__item-inner-link--fb {
    background: #3b5998;
    color: #ffffff; }
    .list-menu__item-inner-link--fb:hover {
      color: #ffffff; }
  .list-menu__item-inner-link--inst {
    background: #c13584;
    color: #ffffff; }
    .list-menu__item-inner-link--inst:hover {
      color: #ffffff; }
  @media (max-width: 1279px) {
    .list-menu__item-inner-link {
      height: 42px;
      text-align: center;
      margin-bottom: 12px;
      visibility: visible; } }

.list-menu__item-inner:hover .list-menu__item-inner-link,
.list-menu__item-title:hover + .list-menu__item-inner .list-menu__item-inner-link {
  height: 42px;
  text-align: center;
  margin-bottom: 12px;
  visibility: visible; }
