@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.main-banner {
  background: url(../../../img/main-banner.jpg);
  @include background-cover-center;
  padding: 60px 0;

  @media #{$tablet-big-screen} {
    padding: 30px 0;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;

    @media #{$tablet-big-screen} {
      grid-template-columns: 1fr;
    }
  }

  &__desc {
  }

  &__desc-title {
    font-size: 41px;
    font-weight: 300;
    margin-bottom: 30px;

    @media #{$tablet-big-screen} {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

  &__desc-text {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;

    @media #{$tablet-big-screen} {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__desc-count {
  }

  &__desc-count-number {
    color: #2b97df;
    font-size: 41px;
    font-weight: 700;
    line-height: 50px;
  }

  &__desc-count-text {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 26px;
    font-weight: 300;

    @media #{$tablet-big-screen} {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__desc-buttons {
    @include flex-row;

    @media #{$tablet-big-screen} {
      @include flex-column-center;
    }
  }

  &__desc-button {
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid $blue;
    background: $blue;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 300;
    color: $white;
    padding: 10px 30px;
    @include flex-row-center;

    @media #{$tablet-big-screen} {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5px;
    }

    &--invert {
      background: transparent;
      color: $blue;
    }
  }

  &__video {
  }

  &__video-inner {
    position: relative;
    padding-bottom: 56.25%;

    & iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}