.magazine {
  margin: 40px 0; }
  .magazine__slider-wrapper {
    margin-bottom: 40px;
    position: relative; }
  .magazine .owl-prev,
  .magazine .owl-next {
    position: absolute;
    width: 40px !important;
    height: 120px !important;
    background: url(../../img/arrow-gray.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    top: 50%;
    left: 15px;
    transform: translateY(-50%) scaleX(-1); }
  .magazine .owl-next {
    left: auto;
    right: 15px;
    transform: translateY(-50%); }
  .magazine .owl-prev span,
  .magazine .owl-next span {
    display: none; }
  .magazine__slider-item {
    height: 700px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 767px) {
      .magazine__slider-item {
        height: 350px; } }
  .magazine__slider-banner {
    position: relative;
    width: 100%;
    padding-bottom: 11.42%;
    margin-bottom: 40px; }
  .magazine__slider-banner-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
  .magazine__authors-title {
    font-size: 18px;
    margin: 30px 0; }
  .magazine__authors-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
  .magazine__authors-item {
    width: calc(16.66% - 17px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: 300;
    background: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 400px;
    overflow: hidden; }
    .magazine__authors-item:nth-of-type(6n) {
      margin-right: 0; }
    @media (max-width: 1279px) {
      .magazine__authors-item {
        width: calc(25% - 8px);
        margin-right: 10px; }
        .magazine__authors-item:nth-of-type(6n) {
          margin-right: 10px; }
        .magazine__authors-item:nth-of-type(4n) {
          margin-right: 0; } }
    @media (max-width: 767px) {
      .magazine__authors-item {
        width: 100%;
        height: auto;
        margin-right: 0; }
        .magazine__authors-item:nth-of-type(6n) {
          margin-right: 0; } }
  .magazine__authors-item-photo {
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
    border: 5px solid #ffffff;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 767px) {
      .magazine__authors-item-photo {
        height: 270px; } }
  .magazine__authors-item-desc {
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .magazine__authors-item-desc {
        height: auto; } }
  .magazine__authors-item-title {
    font-size: 14px;
    font-weight: 100; }
  .magazine__authors-item-name {
    font-size: 16px;
    font-weight: 500; }
  .magazine__authors-item-skills {
    padding-left: 16px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
    height: 0;
    flex-grow: 1; }
    @media (max-width: 767px) {
      .magazine__authors-item-skills {
        height: auto; } }
  .magazine__authors-item-skill {
    font-size: 14px;
    margin-bottom: 5px; }
  .magazine__authors-item-link {
    font-weight: 500;
    color: #0da088;
    text-decoration: underline;
    cursor: pointer; }
  .magazine__partners-title {
    font-size: 18px;
    margin: 30px 0; }
  .magazine__partners-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
  .magazine__partners-item {
    width: calc(16.66% - 17px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: 300;
    background: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 400px;
    overflow: hidden; }
    .magazine__partners-item:nth-of-type(6n) {
      margin-right: 0; }
    @media (max-width: 1279px) {
      .magazine__partners-item {
        width: calc(25% - 8px);
        margin-right: 10px; }
        .magazine__partners-item:nth-of-type(6n) {
          margin-right: 10px; }
        .magazine__partners-item:nth-of-type(4n) {
          margin-right: 0; } }
    @media (max-width: 767px) {
      .magazine__partners-item {
        width: 100%;
        margin-right: 0;
        height: auto; }
        .magazine__partners-item:nth-of-type(6n) {
          margin-right: 0; } }
  .magazine__partners-item-photo {
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
    border: 5px solid #ffffff;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 767px) {
      .magazine__partners-item-photo {
        height: 270px; } }
  .magazine__partners-item-desc {
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .magazine__partners-item-desc {
        height: auto; } }
  .magazine__partners-item-title {
    font-size: 16px;
    font-weight: 500; }
  .magazine__partners-item-text {
    font-size: 14px;
    font-weight: 500;
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: center; }
    @media (max-width: 767px) {
      .magazine__partners-item-text {
        height: auto; } }
  .magazine__partners-item-link {
    font-weight: 500;
    color: #0da088;
    text-decoration: underline;
    cursor: pointer; }
    .magazine__partners-item-link:hover {
      text-decoration: none; }
