//-------------------
//Цвета
$black: #000000 !default;
$white: #ffffff;
$gray-light: #f2f1ef;
$gray: #dbdbdb;
$gray-middle: #8c8c8c;
$red: #ec4840;
$red-dark: #ca1e16;

$main-transition: all .2s ease-out;

//-------------------
//Переменные селекта
//Параметры кнопки
$select-button-height: 37;
$select-button-width: 100%;
$select-button-min-width: 58;
$select-button-border-radius: 3;
$select-button-padding-left: 12;
$select-button-padding-right: 12;
$select-button-border-width: 1;
$select-button-border-color: $gray-middle;
$select-button-background: #fff;

//Параметры текста
$select-font-size: 16;
$select-font-weight: 400;
$select-font-color: #000;
$select-font-placeholder-color: #dedede;
$select-font-placeholder-active-color: #000;

//Параметры иконки
$select-icon-image-url: '(../../../img/arrow.svg)';
$select-icon-image-width: 18;
$select-icon-image-height: 17;
$select-icon-right: 10;

//Параметры враппера меню
$select-menu-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
$select-menu-max-height: 200;

//Параметры пунктов меню
$select-inner-button-background: #eaeaea;
$select-inner-button-color: #000000;

@mixin select-button-active {
  background: #fff !important;
  color: #000 !important;
}