.about-education {
  padding-top: 100px;
  padding-bottom: 100px; }
  .about-education__items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 20px; }
    @media (max-width: 1279px) {
      .about-education__items {
        grid-template-columns: 1fr;
        grid-gap: 40px; } }
  .about-education__item {
    display: grid;
    grid-template-columns: 65px 1fr;
    align-items: center;
    grid-gap: 20px; }
  .about-education__item-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end; }
  .about-education__item-img-inner {
    width: auto;
    height: auto; }
  .about-education__item-text {
    color: #1b1b1b;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px; }
