.hide-block__button {
  background: url(../../img/title-arrow.png);
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin: 10px auto;
  width: 35px;
  height: 35px;
  cursor: pointer; }
  .hide-block__button.active {
    transform: rotate(180deg); }
  .hide-block__button:hover {
    filter: brightness(1.5) saturate(2); }
