.fran-tenth {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 1279px) {
    .fran-tenth {
      padding-bottom: 50px; } }
  .fran-tenth__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 60px 50px; }
    @media (max-width: 1279px) {
      .fran-tenth__block {
        grid-template-columns: 1fr;
        align-items: center;
        padding: 20px; } }
  .fran-tenth__numbers-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
    align-items: center;
    font-size: 38px;
    line-height: 40px; }
    @media (max-width: 1279px) {
      .fran-tenth__numbers-item {
        font-size: 30px;
        margin-bottom: 30px; } }
    .fran-tenth__numbers-item:nth-last-of-type(1) {
      margin-bottom: 0; }
  .fran-tenth__numbers-item-number {
    width: 67px;
    height: 67px;
    background-color: #f8f7f7;
    border-radius: 50%;
    font-family: 'intro-mid', sans-serif !important;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .fran-tenth__numbers-item-text {
    font-family: 'intro-mid', sans-serif !important;
    width: 0;
    flex-grow: 1; }
  .fran-tenth__list {
    padding-left: 20px; }
    @media (max-width: 1279px) {
      .fran-tenth__list {
        margin-top: 50px;
        padding-left: 0; } }
  .fran-tenth__list-item {
    margin-bottom: 15px;
    position: relative;
    padding-left: 15px;
    font-size: 18px; }
    .fran-tenth__list-item:after {
      content: '';
      position: absolute;
      display: block;
      background: #1b1b1b;
      top: 13px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      left: 0; }
