//Размеры
$control-height: 40;
$control-small-height: 30;
$control-big-height: 50;

//Цвета
$yellow:#f8e71c;
$blue: #3598db;
$light-blue: #f0f5fa;


$black: #000000 !default;
$white: #ffffff;
$gray: #666666;
$gray-light: #cccccc;
$orange: #ffb037;



