.footer
    .footer__block.layout
        .footer__copyright
            .footer__copyright-item © 2020 Golden Marrow
            a(href='#').footer__copyright-item Политика конфиденциальности
            a(href='#').footer__copyright-item Соглашение об использовании
        .footer__links
            .footer__links-col
                a.footer__link GOLDEN MARROW INNOVATION
                a.footer__link GOLDEN MARROW SMM
                a.footer__link GOLDEN MARROW BRANDING
                a.footer__link GOLDEN MARROW WEB
                a.footer__link GOLDEN MARROW MAGAZINE
            .footer__links-col
                a.footer__link Новости
                a.footer__link кейсы клиентов
                a.footer__link отзывы
                a.footer__link услуги
                a.footer__link помощь
        .footer__contacts
            a(href='tel:+74959835905').footer__contacts-phone +7 (495) 983-59-05
            .footer__contacts-logo
                include ../logo/logo
            .footer__contacts-social
                include ../social/social