@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.table {
  width: calc(100% + 160px);
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 0 -80px;
  margin-bottom: 20px;

  @media #{$desktop-big-screen} {
    width: 100%;
    margin: 0;
  }

  @media #{$tablet-big-screen} {
    font-size: 12px;
  }

  @media #{$mobile-big-screen} {
    font-size: 9px;
    width: calc(100% + 40px);
    margin: 0 -20px;
  }


  &__row {
    width: 100%;
    @include flex-row;
    justify-content: space-between;
    height: 80px;
    background: rgba(7, 7, 7, 0.27);
    border-bottom: 1px solid #24272a;

    &--header {
      height: 60px;
      background: #282b2e;
      border-bottom: none;
    }
  }

  $header: '.table__row--header';

  &__cell {
    height: 100%;
    @include flex-row-center;
    text-align: center;
    width: 20%;

    &--short {
      width: 5%;
    }

    #{$header} & {
      font-weight: 700;
    }

    &--green {
      color: #6e9f2f;
      text-decoration: underline;
    }

    &--yellow {
      color: #e2b416;
    }
  }
}
