.third {
  padding-top: 137px;
  padding-bottom: 126px; }
  @media (max-width: 1279px) {
    .third {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .third__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 58px; }
    @media (max-width: 1279px) {
      .third__items {
        padding-top: 25px; } }
  .third__item {
    position: relative;
    width: 646px;
    margin-bottom: 20px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    height: 317px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1279px) {
      .third__item {
        width: 100%; } }
    .third__item--small {
      width: 455px;
      background: #ffd34c; }
      @media (max-width: 1279px) {
        .third__item--small {
          width: 100%; } }
  .third__item-number {
    font-family: 'intro-bold', sans-serif !important;
    position: absolute;
    color: #ffd34c;
    right: 0px;
    top: 0;
    font-size: 111px;
    line-height: 93px; }
    .third__item--small .third__item-number {
      color: #ffffff; }
  .third__item-age {
    font-family: 'intro-reg', sans-serif !important;
    font-size: 26px;
    background: #ffd34c;
    padding: 5px 15px; }
    .third__item--small .third__item-age {
      background: #ffffff; }
  .third__item-title {
    font-family: 'intro-reg', sans-serif !important;
    font-size: 48px;
    text-transform: uppercase;
    background: #ffd34c;
    padding: 5px 15px;
    margin-top: -10px; }
    .third__item--small .third__item-title {
      background: #ffffff; }
    @media (max-width: 1279px) {
      .third__item-title {
        font-size: 36px; } }
  .third__item-text {
    font-family: 'intro-reg', sans-serif !important;
    font-size: 24px;
    line-height: 32px;
    background: #ffd34c;
    padding: 5px 15px;
    margin-top: -15px; }
    .third__item--small .third__item-text {
      background: #ffffff; }
    @media (max-width: 1279px) {
      .third__item-text {
        font-size: 15px;
        line-height: 25px; } }
  .third__button {
    margin: 0 auto;
    margin-top: 34px; }
    @media (max-width: 1279px) {
      .third__button {
        margin-top: 10px; } }
