@import "../../to_head/base/variables";
@import "../../to_head/base/media-queries";
@import "../../to_head/base/mixins";

.eleventh {
  @include flex-column-center;
  padding-bottom: 100px;


  @media #{$tablet-small-screen} {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    display: inline-block;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: $red-dark;
    padding: 5px 30px;
    @include margin-auto;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__item {
    box-shadow: 4px 4px 28px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    @include flex-row;
    align-items: center;
    margin-bottom: 50px;

    @media #{$tablet-small-screen} {
      @include flex-column-center;
      padding: 20px;
      padding-top: 10px;
    }
  }

  $invert: '.eleventh__item--invert';

  &__item-img {
    width: 148px;
    height: 148px;
    position: relative;
    border-radius: 50%;
    margin: -10px 0;
    margin-left: 50px;
    margin-right: 30px;

    @media #{$tablet-small-screen} {
      margin: 30px 0;
    }

    #{$invert} & {
      order: 2;
      margin-left: 30px;
      margin-right: 50px;

      @media #{$tablet-small-screen} {
        order: 1;
        margin: 30px 0;
      }
    }

    &:after {
      @include after-absolute;
      @include absolute-center;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      border: 1px solid #a92e2f;
      opacity: 0.25;
      border-radius: 50%;
    }

  }
  &__item-desc {
    padding-right: 140px;
    padding-left: 0;
    width: calc(100% - 228px);

    @media #{$tablet-small-screen} {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }

    #{$invert} & {
      order: 1;
      padding-right: 0;
      padding-left: 140px;
      text-align: right;

      @media #{$tablet-small-screen} {
        order: 2;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
      }
    }
  }
  &__item-desc-title {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  &__item-desc-item {
    font-size: 17px;
  }
  &__item-desc-subtitle {
    color: $red-dark;

    @media #{$tablet-small-screen} {
      display: inline;
      font-weight: 700;
    }
  }
  &__item-desc-text {

    @media #{$tablet-small-screen} {
      display: inline;
      font-weight: 700;
    }
  }
}