@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.slider {
  padding-top: 30px;

  &__title {
    @include flex-row-center;
    justify-content: space-between;
  }

  &__title-item {
    font-size: 27px;
    font-weight: 700;
  }

  &__title-link {
  }
  &__wrapper {
    position: relative;
  }
  &__item {
    padding: 25px 0;
  }

  & .owl-prev,
  & .owl-next {
    display: block !important;
    position: absolute !important;
    left: -30px !important;
    top: 0 !important;
    height: 100% !important;
    width: 60px !important;
    transform: rotate(180deg);

    @media #{$desktop-small-screen} {
      left: -20px !important;
      width: 40px !important;
    }

    @media #{$mobile-big-screen} {
      display: none !important;
    }

  }

  & .owl-next {
    left: auto !important;
    right: -30px !important;
    transform: rotate(0);

    @media #{$desktop-small-screen} {
      right: -20px !important;
    }

  }

  & .owl-prev.disabled,
  & .owl-next.disabled {
    visibility: hidden !important;
    opacity: 0 !important;
  }

  &__nav-button {
    position: absolute;
    @include absolute-fill;
  }

  &__nav-button-shadow {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 200%;
      height: calc(100% - 10px);
      top: 5px;
      left: 50%;
      background: rgba(0, 0, 0, .1);
      border-radius: 50%;
      filter: blur(5px);
    }
  }

  &__nav-button-arrow {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;

    &:after {
      @include after-absolute;
      @include absolute-center;
      width: 13px;
      height: 41px;
      -webkit-mask-image: url(../../img/icon-angle-height.png);
      mask-image: url(../../img/icon-angle-height.png);
      @include mask-contain-center;
      background: $black;
    }

    &:hover:after {
      background: $red;
    }
  }

}