.header {
  padding: 40px 0;
  position: relative;
  z-index: 2; }
  @media (max-width: 767px) {
    .header {
      padding: 10px 0; } }
  .header__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    width: 169px;
    height: 42px;
    background: url(../../../img/logo.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 767px) {
      .header__logo {
        width: 105px; } }
