.main-form {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 1279px) {
    .main-form {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .main-form__title {
    margin-bottom: 68px; }
    @media (max-width: 1279px) {
      .main-form__title {
        margin-bottom: 30px; } }
  .main-form__items {
    width: 750px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1279px) {
      .main-form__items {
        width: 100%; } }
