.layout-half {
  width: 48%; }
  @media (max-width: 1023px) {
    .layout-half {
      width: 100%; } }

.layout--main {
  padding-left: 70px;
  padding-right: 70px; }
  @media (max-width: 1439px) {
    .layout--main {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 1023px) {
    .layout--main {
      padding-left: 20px;
      padding-right: 20px; } }

.layout--content {
  padding-left: 130px;
  padding-right: 130px; }
  @media (max-width: 1439px) {
    .layout--content {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 1023px) {
    .layout--content {
      padding-left: 20px;
      padding-right: 20px; } }

.layout--short {
  width: 570px; }
  @media (max-width: 1023px) {
    .layout--short {
      width: 100%; } }

.layout--flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start; }

.layout--with-menu {
  width: calc(100% - 350px); }
  @media (max-width: 1365px) {
    .layout--with-menu {
      width: calc(100% - 280px); } }
  @media (max-width: 1023px) {
    .layout--with-menu {
      width: 100%; } }
