.create-form {
  margin-top: 150px;
  position: relative; }
  @media (max-width: 767px) {
    .create-form {
      margin-top: 40px; } }
  .create-form__title {
    font-display: auto;
    font-family: 'Proza libre', 'Open Sans', sans-serif !important;
    width: 750px;
    font-weight: 500; }
    .create-form__title h1 {
      font-size: 35px;
      margin-bottom: 20px; }
      @media (max-width: 1023px) {
        .create-form__title h1 {
          font-size: 30px; } }
      @media (max-width: 425px) {
        .create-form__title h1 {
          font-size: 25px; } }
    .create-form__title p {
      color: #202427;
      font-size: 20px; }
      @media (max-width: 1023px) {
        .create-form__title p {
          font-size: 18px; } }
    @media (max-width: 425px) {
      .create-form__title p br {
        display: none; } }
    @media (max-width: 1023px) {
      .create-form__title {
        width: 640px; } }
    @media (max-width: 425px) {
      .create-form__title {
        width: 100%;
        text-align: center; } }
  .create-form__form {
    margin-top: 40px;
    width: 650px;
    display: flex; }
    @media (max-width: 1023px) {
      .create-form__form {
        margin-top: 35px; } }
    @media (max-width: 425px) {
      .create-form__form {
        width: 100%;
        justify-content: center; } }
  .create-form__how-it-work {
    margin-top: 350px; }
    @media (max-width: 1023px) {
      .create-form__how-it-work {
        margin-top: 250px; } }
    @media (max-width: 767px) {
      .create-form__how-it-work {
        margin-top: 200px; } }
    @media (max-width: 767px) {
      .create-form__how-it-work {
        margin-top: 100px; } }
  .create-form__el-top {
    top: -477px;
    left: -210px;
    z-index: -1;
    width: 477px;
    height: 477px;
    position: absolute;
    background: url("../../../img/gear-gray.svg");
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 767px) {
      .create-form__el-top {
        width: 277px;
        height: 277px;
        top: -310px;
        left: -150px; } }
  .create-form__el-right {
    top: 282px;
    right: -21px;
    z-index: -1;
    width: 0;
    height: 0;
    position: absolute; }
    @media (max-width: 1023px) {
      .create-form__el-right {
        top: 232px; } }
    @media (max-width: 767px) {
      .create-form__el-right {
        top: 332px; } }
  .create-form__el-right-inner-1 {
    position: absolute;
    width: 1040px;
    height: 1040px;
    transform: translate(-50%, -54%) rotate(61deg);
    background: url("../../../img/gear-gray.svg");
    z-index: -1;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1023px) {
      .create-form__el-right-inner-1 {
        width: 925px;
        height: 925px; } }
    @media (max-width: 767px) {
      .create-form__el-right-inner-1 {
        width: 825px;
        height: 825px; } }
    @media (max-width: 425px) {
      .create-form__el-right-inner-1 {
        width: 625px;
        height: 625px;
        top: 90px; } }
  .create-form__el-right-inner-2 {
    position: absolute;
    width: 825px;
    height: 825px;
    transform: translate(-50%, -54%) rotate(61deg);
    background: url("../../../img/gear-blue.svg");
    z-index: 1;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    animation: el-right-rotate 300s linear infinite; }
    @media (max-width: 1279px) {
      .create-form__el-right-inner-2 {
        width: 670px;
        height: 670px; } }
    @media (max-width: 1023px) {
      .create-form__el-right-inner-2 {
        width: 420px;
        height: 420px; } }
    @media (max-width: 767px) {
      .create-form__el-right-inner-2 {
        display: none; } }

@keyframes el-right-rotate {
  0% {
    transform: translate(-50%, -54%) rotate(61deg); }
  50% {
    transform: translate(-50%, -54%) rotate(241deg); }
  100% {
    transform: translate(-50%, -54%) rotate(421deg); } }
