.portfolio {
  position: relative;
  margin-top: -275px;
  overflow: hidden; }
  .portfolio:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 200px;
    top: 75px;
    left: 0;
    background: url(../../img/portfolio_scew.svg) no-repeat center center;
    background-size: 100% 100%; }
  .portfolio__block {
    position: relative;
    z-index: 1; }
  .portfolio__header {
    margin-left: auto;
    margin-right: auto;
    background: url(../../img/portfolio_header.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding: 10px; }
  .portfolio__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
  .portfolio__item {
    width: calc(100% / 3); }
    @media (max-width: 767px) {
      .portfolio__item {
        width: 100%; } }
  .portfolio__img-block {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .portfolio__img {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
  .portfolio__item:hover .portfolio__img {
    transform: scale(1.1); }
  .portfolio__desc {
    background: url(../../img/portfolio_desc.svg) no-repeat center center;
    background-size: 100% 100%;
    height: 145px;
    margin-top: -25px;
    padding: 20px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; }
  .portfolio__type {
    color: #a4a4a4;
    font-size: 13px;
    font-weight: 700;
    text-align: center; }
  .portfolio__name {
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    color: #141414; }
  .portfolio__button-block {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
