.preview {
  cursor: pointer;
  margin-bottom: 25px; }
  .preview__background {
    height: 390px;
    width: 100%;
    position: relative;
    padding: 20px;
    cursor: pointer;
    color: #ffffff; }
    .preview__background:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #121212;
      opacity: .5;
      z-index: -1; }
    .preview:hover .preview__background:after {
      opacity: .3; }
  .preview__background-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    z-index: -2; }
  .preview__background-inner {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between; }
  .preview__background-topic {
    font-size: 13px;
    font-weight: 500;
    color: inherit; }
  .preview__background-title {
    font-size: 20px;
    font-weight: 700;
    color: inherit; }
  .preview__img {
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-bottom: 15px; }
    .preview__img--square {
      padding-bottom: 95%; }
    .preview__img--rectangle {
      padding-bottom: 80%; }
  .preview__title {
    font-size: 20px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 15px; }
    .preview__title--small {
      font-size: 16px; }
    .preview:hover .preview__title {
      color: #bd1d00; }
