.layout-main {
  width: 1530px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1599px) {
    .layout-main {
      width: 1300px; } }
  @media (max-width: 1365px) {
    .layout-main {
      width: calc(100% - 20px); } }

.layout-half {
  width: 48%; }
  @media (max-width: 1023px) {
    .layout-half {
      width: 100%; } }

.layout-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start; }

.layout-left-with-right {
  width: calc(100% - 400px); }
  @media (max-width: 1279px) {
    .layout-left-with-right {
      width: 100%; } }

.layout-right-with-left {
  width: 370px; }
  @media (max-width: 1279px) {
    .layout-right-with-left {
      width: 100%; } }
