.main-screen
    .main-screen__labels
        include ../labels/labels
    .main-screen__icons
        .main-screen__icon.main-screen__icon--1
        .main-screen__icon.main-screen__icon--2
        .main-screen__icon.main-screen__icon--3
        .main-screen__icon.main-screen__icon--4
        .main-screen__icon.main-screen__icon--5
    .main-screen__logo-mobile
        .main-screen__logo-mobile-img
        .main-screen__logo-mobile-text Попробуй Италию&nbsp;на&nbsp;вкус
        .main-screen__logo-mobile-sign