.for {
  padding: 70px 0;
  position: relative; }
  @media (max-width: 1279px) {
    .for {
      padding: 30px 0; } }
  .for:before, .for:after {
    content: '';
    position: absolute;
    display: block;
    z-index: -1; }
  .for:before {
    width: 614px;
    height: 504px;
    background: url(../../../img/for-elem-1.jpg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    left: 30px;
    top: 340px;
    transform: translateX(-100%); }
  .for:after {
    width: 527px;
    height: 623px;
    background: url(../../../img/for-elem-2.jpg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    right: 70px;
    top: 280px;
    transform: translateX(100%); }
  .for__title {
    text-transform: none !important; }
    @media (max-width: 1279px) {
      .for__title {
        display: none; } }
  .for__header {
    position: relative;
    padding-bottom: 57px; }
    @media (max-width: 1279px) {
      .for__header {
        display: none; } }
  .for__header-desc {
    font-size: 20px;
    margin-top: 80px;
    position: relative; }
    .for__header-desc:after {
      content: '';
      position: absolute;
      display: block;
      width: 250px;
      height: 1px;
      background: #3a2f6a;
      left: 0;
      bottom: -15px; }
  .for__pharmacy {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    right: 0;
    top: -40px; }
  .for__pharmacy-item-1 {
    color: #3a2f6a;
    font-size: 20px;
    text-align: center;
    margin-right: 84px;
    position: relative; }
    .for__pharmacy-item-1:after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 130px;
      height: 136px;
      background: url(../../../img/for-1.jpg);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      z-index: -1; }
  .for__pharmacy-item-2 {
    color: #3a2f6a;
    font-size: 20px;
    text-align: center;
    margin-right: 77px;
    position: relative; }
    .for__pharmacy-item-2:after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 169px;
      height: 178px;
      background: url(../../../img/for-2.jpg);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      z-index: -1; }
  .for__pharmacy-item-3 {
    color: #3a2f6a;
    font-size: 22px;
    text-align: center;
    margin-right: 105px;
    position: relative; }
    .for__pharmacy-item-3:after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 201px;
      height: 209px;
      background: url(../../../img/for-3.jpg);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      z-index: -1; }
  .for__pharmacy-item-4 {
    color: #3a2f6a;
    font-size: 24px;
    text-align: center;
    position: relative; }
    .for__pharmacy-item-4:after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 232px;
      height: 242px;
      background: url(../../../img/for-4.jpg);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      z-index: -1; }
  .for__subtitle {
    color: #444444;
    font-size: 22px;
    font-weight: bold; }
    .for__subtitle--bottom {
      padding-right: 200px;
      color: #3a2f6a; }
    @media (max-width: 1279px) {
      .for__subtitle {
        padding-right: 0;
        font-size: 20px; } }
  .for__items {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 250px;
    padding-bottom: 30px; }
    @media (max-width: 1279px) {
      .for__items {
        padding: 30px; } }
  .for__item {
    font-size: 17px;
    display: grid;
    grid-template-columns: 45px 1fr;
    height: 56px;
    margin-bottom: -1px;
    align-items: center; }
    @media (max-width: 1279px) {
      .for__item {
        margin-bottom: 15px;
        height: auto; } }
  .for__item-number {
    font-size: 27px;
    font-weight: bold;
    position: relative; }
    .for__item-number:after {
      content: '';
      position: absolute;
      display: block;
      width: 45px;
      height: 60px;
      background: url(../../../img/icons/square.png);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      left: -15px;
      top: -19px; }
