@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.category-list {

  margin-bottom: 20px;


  &__item {
    margin-bottom: 20px;
    color: $gray;

    &:hover {
      color: $black;
      text-decoration: underline;
    }


  }

}