.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 26px;
  width: 328px;
  height: 54px;
  background-color: #93b7d1;
  cursor: pointer; }
  @media (max-width: 1365px) {
    .button {
      font-size: 18px;
      width: fit-content;
      padding: 0 15px; } }
  .button--fill {
    width: 100%; }
  .button--dark {
    background-color: #4291ca; }
  .button:hover {
    background-color: #4291ca; }
