.chat__messages {
  display: grid;
  grid-template-columns: 1fr 300px; }

.chat__item {
  background-image: linear-gradient(to right, #f6f8ff 0%, #ffffff 70%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px; }

.chat__item-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #6b6b6b;
  position: relative; }

.chat__item-inner {
  padding: 0 30px;
  width: 100%;
  height: 0;
  flex-grow: 1;
  padding-bottom: 100px;
  padding-right: 13px;
  overflow-y: auto; }
  .chat__item-inner::-webkit-scrollbar-button {
    background-image: none;
    background-repeat: no-repeat;
    width: 2px;
    height: 0; }
  .chat__item-inner::-webkit-scrollbar-track {
    background-color: #e6e6e6; }
  .chat__item-inner::-webkit-scrollbar-thumb {
    background-color: #4050f5;
    cursor: pointer; }
  .chat__item-inner::-webkit-scrollbar-thumb:hover {
    background-color: #000; }
  .chat__item-inner::-webkit-resizer {
    background-image: none;
    background-repeat: no-repeat;
    width: 2px;
    height: 0; }
  .chat__item-inner::-webkit-scrollbar {
    width: 2px; }

.chat__message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 35px; }

.chat__message-time {
  color: #aeb8c0;
  font-size: 13px;
  margin-top: auto;
  width: 130px;
  padding-left: 10px; }
  .chat__message--invert .chat__message-time {
    order: 1;
    padding-left: 0;
    padding-right: 10px; }

.chat__message-read-mark {
  width: 22px;
  height: 22px;
  opacity: 0;
  background-color: #ffdf39;
  border-radius: 50%; }
  .chat__message--unread .chat__message-read-mark {
    opacity: 1; }
  .chat__message--invert .chat__message-read-mark {
    background-color: #4050f5;
    order: 3; }

.chat__message-text {
  width: calc(100% - 130px - 22px - 10px);
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(210, 210, 210, 0.5);
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px 40px;
  color: #5c5c5c;
  line-height: 25px; }
  .chat__message--invert .chat__message-text {
    margin-left: 0;
    margin-right: 10px;
    order: 2; }
  .chat__message--invert.chat__message--unread .chat__message-text {
    background-color: #4050f5;
    color: #ffffff; }

.chat__item-inputs {
  margin: 0 50px;
  width: calc(100% - 100px);
  position: relative; }

.chat__item-input-hidden, .chat__item-input {
  border: none;
  border-top: 2px solid #d5dbe3;
  padding: 10px;
  resize: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: #5c5c5c;
  padding-right: 45px;
  line-height: 23px;
  min-height: 60px;
  height: 60px; }

.chat__item-input {
  overflow: hidden; }

.chat__item-input-hidden {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word; }

.chat__item-button {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 0;
  bottom: 7px;
  background: #0b9af5;
  mask: url(../../img/send_button.svg);
  -webkit-mask: url(../../img/send_button.svg);
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-position: center center !important;
  -webkit-mask-position: center center !important;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
  cursor: pointer;
  visibility: hidden;
  opacity: 0; }
  .chat__item-button:hover {
    background: #ffdf39; }
  .chat__item-button.active {
    visibility: visible;
    opacity: 1; }

.chat__info {
  background: #f8f8fb;
  padding: 35px 50px; }

.chat__info-user {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px; }

.chat__info-item {
  margin-top: 25px; }

.chat__info-item-title {
  font-size: 10px;
  font-weight: 300;
  color: #6b6b6b; }

.chat__info-item-value {
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 500; }

.chat__list-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  height: 61px;
  min-height: 61px; }

.chat__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }

.chat__search-button {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #808fa3;
  mask: url(../../img/search.svg);
  -webkit-mask: url(../../img/search.svg);
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-position: center center !important;
  -webkit-mask-position: center center !important;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
  cursor: pointer; }
  .chat__search-button:hover {
    background: #5c5c5c; }

.chat__search-input {
  font-size: 18px;
  color: #5c5c5c;
  width: calc(100% - 26px); }
  .chat__search-input::-webkit-input-placeholder {
    color: #808fa3; }
  .chat__search-input::-moz-placeholder {
    color: #808fa3; }
  .chat__search-input:-moz-placeholder {
    color: #808fa3; }
  .chat__search-input:-ms-input-placeholder {
    color: #808fa3; }

.chat__bookmarks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 15px;
  color: #aeb8c0;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #ebebeb;
  background-color: #f9fafb;
  margin-left: 20px;
  cursor: pointer; }
  .chat__bookmarks:after {
    display: block;
    content: '';
    width: 13px;
    height: 19px;
    background: #aeb8c0;
    margin-left: 10px;
    mask: url(../../img/bookmark.svg);
    -webkit-mask: url(../../img/bookmark.svg);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }
  .chat__bookmarks:hover {
    color: #6b6b6b; }
  .chat__bookmarks:hover:after {
    background: #6b6b6b; }

.chat__list-item {
  padding-top: 18px;
  padding-bottom: 40px;
  padding-left: 17px;
  padding-right: 37px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer; }
  .chat__list-item--active {
    box-shadow: 0 5px 18px rgba(64, 80, 245, 0.49);
    background-color: #4050f5; }

.chat__list-item-mark {
  width: 22px;
  height: 22px;
  margin-right: 18px;
  border-radius: 50%; }
  .chat__list-item--unread .chat__list-item-mark {
    background-color: #ffdf39; }

.chat__list-item-desc {
  width: calc(100% - 22px - 18px - 65px); }

.chat__list-item-desc-name {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px; }
  .chat__list-item--active .chat__list-item-desc-name {
    color: #fff; }

.chat__list-item-desc-text {
  color: #8b8b8b;
  font-size: 15px;
  line-height: 22px; }
  .chat__list-item--active .chat__list-item-desc-text {
    color: #fff; }

.chat__list-item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65px; }

.chat__list-item-info-bookmark {
  width: 19px;
  height: 29px;
  margin-left: auto;
  position: relative; }
  .chat__list-item-info-bookmark:before, .chat__list-item-info-bookmark:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e2e0e0; }
  .chat__list-item-info-bookmark:before {
    background: #e2e0e0;
    mask: url(../../img/bookmark-border.svg);
    -webkit-mask: url(../../img/bookmark-border.svg);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important;
    cursor: pointer;
    opacity: 1; }
  .chat__list-item-info-bookmark:after {
    background: #e2e0e0;
    mask: url(../../img/bookmark-fill.svg);
    -webkit-mask: url(../../img/bookmark-fill.svg);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important;
    opacity: 0; }
  .chat__list-item--active .chat__list-item-info-bookmark:before, .chat__list-item--active .chat__list-item-info-bookmark:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff; }
  .chat__list-item--bookmark .chat__list-item-info-bookmark:before {
    opacity: 0; }
  .chat__list-item--bookmark .chat__list-item-info-bookmark:after {
    opacity: 1; }

.chat__list-item-info-time {
  text-align: right;
  color: #8b8b8b;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
  align-items: flex-end; }
  .chat__list-item--active .chat__list-item-info-time {
    color: #fff;
    font-size: 13px; }

.chat__list-item-info-time-date {
  white-space: nowrap;
  font-size: 11px;
  margin-top: 2px; }
