@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.input {
  width: 100%;
  min-width: 170px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  color: #666666;
  @include font-roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 17px;

  &--big {
    height: 141px;
  }

  &:focus {
    border-color: #999999;
    color: #000;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.error {
    border-color: $red;
  }
}