.layout-main {
  width: 1220px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1279px) {
    .layout-main {
      width: calc(100% - 60px); } }
  @media (max-width: 767px) {
    .layout-main {
      width: calc(100% - 20px); } }

.layout-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start; }

.layout-wrapper {
  overflow: hidden; }

.layout-title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 30px; }
  .layout-title--link {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.3); }
    .layout-title--link:hover {
      color: #bd1d00; }

.layout-container {
  width: calc(100% + 25px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  .layout-container--margin-20 {
    width: calc(100% + 20px); }

.layout-1of4 {
  width: calc(25% - 25px);
  margin-right: 25px; }
  @media (max-width: 1023px) {
    .layout-1of4 {
      width: calc(100% - 25px); } }
  .layout-container--margin-20 .layout-1of4 {
    width: calc(25% - 20px);
    margin-right: 20px; }
    @media (max-width: 1023px) {
      .layout-container--margin-20 .layout-1of4 {
        width: calc(100% - 20px); } }

.layout-3of4 {
  width: calc(75% - 25px);
  margin-right: 25px; }
  @media (max-width: 1023px) {
    .layout-3of4 {
      width: calc(100% - 25px); } }
  .layout-container--margin-20 .layout-3of4 {
    width: calc(75% - 20px);
    margin-right: 20px; }
    @media (max-width: 1023px) {
      .layout-container--margin-20 .layout-3of4 {
        width: calc(100% - 20px); } }

.layout-1of5 {
  width: calc(20% - 25px);
  margin-right: 25px; }
  @media (max-width: 1023px) {
    .layout-1of5 {
      width: calc(100% - 25px); } }
  .layout-container--margin-20 .layout-1of5 {
    width: calc(20% - 20px);
    margin-right: 20px; }
    @media (max-width: 1023px) {
      .layout-container--margin-20 .layout-1of5 {
        width: calc(100% - 20px); } }

.layout-1of3 {
  width: calc(33.33% - 25px);
  margin-right: 25px; }
  @media (max-width: 1023px) {
    .layout-1of3 {
      width: calc(100% - 25px); } }
  .layout-container--margin-20 .layout-1of3 {
    width: calc(33.33% - 20px);
    margin-right: 20px; }
    @media (max-width: 1023px) {
      .layout-container--margin-20 .layout-1of3 {
        width: calc(100% - 20px); } }

.layout-1of2 {
  width: calc(50% - 25px);
  margin-right: 25px; }
  @media (max-width: 1023px) {
    .layout-1of2 {
      width: calc(100% - 25px); } }
  .layout-container--margin-20 .layout-1of2 {
    width: calc(50% - 20px);
    margin-right: 20px; }
    @media (max-width: 1023px) {
      .layout-container--margin-20 .layout-1of2 {
        width: calc(100% - 20px); } }

.layout-1of6 {
  width: calc(16.66% - 25px);
  margin-right: 25px; }
  @media (max-width: 1023px) {
    .layout-1of6 {
      width: calc(100% - 25px); } }
  .layout-container--margin-20 .layout-1of6 {
    width: calc(16.66% - 20px);
    margin-right: 20px; }
    @media (max-width: 1023px) {
      .layout-container--margin-20 .layout-1of6 {
        width: calc(100% - 20px); } }
