.title {
  color: #0092E8;
  font-display: auto;
  font-family: 'Proza libre', 'Open Sans', sans-serif !important;
  font-size: 35px; }
  @media (max-width: 1023px) {
    .title {
      font-size: 30px; } }
  @media (max-width: 425px) {
    .title {
      font-size: 20px; } }
