@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.header {
  margin-bottom: 30px;

  @media #{$mobile-big-screen} {
    margin-bottom: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 25px;
  }

  &__logo {
    width: 300px;
    height: 80px;
    background: url(../../../img/logo-text.png);
    @include background-contain-center;
    @include margin-auto;
    margin-bottom: 30px;

    @media #{$mobile-big-screen} {
      width: 40px;
      height: 40px;
      background: url(../../../img/logo.png);
      margin-bottom: 0;
      margin-left: 15px;
    }
  }

}