.news-preview__img {
  height: 258px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.news-preview__desc-date {
  font-size: 15px;
  margin: 20px 0; }

.news-preview__desc-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer; }
  .news-preview__desc-name:hover {
    color: #ca2d0e; }
