.new-main-review {
  padding: 137px 0;
  position: relative;
  padding-bottom: 40px; }
  @media (max-width: 1023px) {
    .new-main-review {
      padding: 40px 0;
      padding-bottom: 0; } }
  .new-main-review__title {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #0092E8;
    font-weight: 700;
    margin-bottom: 80px; }
    @media (max-width: 1023px) {
      .new-main-review__title {
        margin-bottom: 40px; } }
  .new-main-review__items-slider .owl-prev,
  .new-main-review__items-slider .owl-next {
    position: absolute;
    width: 22px !important;
    height: 6px !important;
    background: #0f4c81 !important;
    mask: url(../../../img/new-main/small-arrow.svg) !important;
    -webkit-mask: url(../../../img/new-main/small-arrow.svg) !important;
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important;
    bottom: -20px; }
    .new-main-review__items-slider .owl-prev:focus, .new-main-review__items-slider .owl-prev:active,
    .new-main-review__items-slider .owl-next:focus,
    .new-main-review__items-slider .owl-next:active {
      outline: none !important; }
  .new-main-review__items-slider .owl-next {
    left: auto;
    right: 10px; }
  .new-main-review__items-slider .owl-prev {
    left: auto;
    right: 50px;
    transform: scaleX(-1); }
  .new-main-review__items-slider .owl-prev span,
  .new-main-review__items-slider .owl-next span {
    display: none; }
  .new-main-review__items-slider-item-wrapper {
    padding: 10px; }
  .new-main-review__items-slider-item {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 146, 232, 0.23);
    height: 270px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .new-main-review__items-slider-item-header {
    display: grid;
    grid-template-columns: 40px 1fr min-content;
    grid-gap: 15px;
    margin-bottom: 15px;
    width: 100%; }
  .new-main-review__items-slider-item-header-img {
    width: 40px;
    height: 40px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-radius: 50%; }
  .new-main-review__items-slider-item-header-name {
    font-size: 16px;
    line-height: 20px; }
  .new-main-review__items-slider-item-header-name-car {
    color: #0f4c81; }
  .new-main-review__items-slider-item-header-star {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .new-main-review__items-slider-item-header-star-img {
    width: 18px;
    height: 18px;
    background: #0f4c81;
    margin-right: 5px;
    mask: url(../../../img/new-main/star.svg);
    -webkit-mask: url(../../../img/new-main/star.svg);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important;
    margin-top: -4px; }
  .new-main-review__items-slider-item-desc {
    font-size: 16px;
    line-height: 26px;
    width: 100%; }
  .new-main-review__items-slider-item-desc-name {
    font-weight: 500;
    padding-left: 25px;
    position: relative; }
    .new-main-review__items-slider-item-desc-name:after {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: #0f4c81;
      margin-right: 5px;
      mask: url(../../../img/new-main/link-arrow.svg);
      -webkit-mask: url(../../../img/new-main/link-arrow.svg);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important;
      left: 0;
      top: 7px; }
  .new-main-review__items-slider-item-desc-text {
    color: #7D9DAF; }
  .new-main-review__items-slider-item-date {
    width: 100%;
    margin-top: auto;
    text-align: right;
    color: #7D9DAF; }
