.first {
  position: relative;
  width: 100%;
  background: url(../../../img/first_background.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-position: center top !important;
  padding-top: 200px; }
  @media (max-width: 1023px) {
    .first {
      padding-top: 100px; } }
  .first__block {
    border: 20px solid rgba(255, 255, 255, 0.4);
    padding: 40px 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 0;
    border-bottom: none; }
    @media (max-width: 1023px) {
      .first__block {
        border: 5px solid rgba(255, 255, 255, 0.4);
        padding: 20px;
        padding-bottom: 0;
        border-bottom: none; } }
  .first__title {
    background: url(../../../img/pattern.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000000;
    font-size: 161px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 900; }
    @media (max-width: 1365px) {
      .first__title {
        font-size: 116px;
        margin-left: auto; } }
    @media (max-width: 1023px) {
      .first__title {
        font-size: 44px;
        margin-left: auto;
        margin-right: auto; } }
  .first__subtitle {
    background: url(../../../img/pattern.jpg);
    background-position: left center;
    color: #f7c520;
    margin-left: auto;
    font-size: 81px;
    padding: 0 57px;
    line-height: 81px;
    padding-top: 14px;
    text-transform: uppercase;
    margin-top: -33px; }
    @media (max-width: 1365px) {
      .first__subtitle {
        line-height: 54px;
        margin-top: -21px;
        font-size: 59px; } }
    @media (max-width: 1023px) {
      .first__subtitle {
        font-size: 33px;
        margin-left: auto;
        margin-right: auto;
        line-height: 35px;
        margin-top: 2px; } }
  .first__icon {
    position: relative;
    padding-left: 57px;
    margin-top: 10px;
    margin-right: auto; }
    @media (max-width: 1365px) {
      .first__icon {
        padding-left: 0; } }
    @media (max-width: 1023px) {
      .first__icon {
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto; } }
  .first__icon-img {
    width: 150px;
    height: 0;
    position: absolute;
    top: -90px;
    left: 16px; }
    .first__icon-img:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-bottom: 72.66%;
      background: url(../../../img/first_icon.png);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
    @media (max-width: 1365px) {
      .first__icon-img {
        width: 130px;
        top: -81px;
        left: -27px; } }
    @media (max-width: 1023px) {
      .first__icon-img {
        width: 70px;
        top: -41px; } }
  .first__icon-text {
    background: url(../../../img/pattern.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000000;
    font-size: 79px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700; }
    @media (max-width: 1365px) {
      .first__icon-text {
        font-size: 59px; } }
  .first__img {
    width: 90vw;
    margin: 0 -19vw;
    margin-top: -163px;
    position: relative; }
    .first__img:after {
      content: '';
      position: absolute;
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-bottom: 33.181%;
      background: url(../../../img/car.png);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
    @media (max-width: 1610px) {
      .first__img {
        width: 120%;
        margin: 0 -10%;
        margin-top: -147px; } }
    @media (max-width: 1365px) {
      .first__img {
        margin-top: -121px; } }
    @media (max-width: 1023px) {
      .first__img {
        margin-top: 25px; } }
  .first__arrow {
    width: 93px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background: url(../../../img/first_arrow.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    cursor: pointer;
    margin-top: 20px; }
    .first__arrow:hover {
      opacity: .8;
      transform: scale(1.05); }
