.quotes {
  background: #232324;
  padding: 70px 0; }
  .quotes__item {
    color: #ffffff;
    font-weight: 300;
    font-size: 24px;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; }
    @media (max-width: 767px) {
      .quotes__item {
        font-size: 22px; } }
  .quotes .owl-dots {
    text-align: center; }
  .quotes .owl-dot {
    width: 7px;
    height: 7px;
    margin: 10px;
    border-radius: 50%;
    background: #666 !important; }
    .quotes .owl-dot:hover, .quotes .owl-dot.active {
      background: #fff !important; }
