.recipe {
  display: grid;
  grid-template-columns: 1fr 350px;
  font-size: 14px;
  font-weight: 500; }
  .recipe__form {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 550px; }
  .recipe__input-block {
    width: 100%;
    margin-bottom: 20px; }
    .recipe__input-block--two-input {
      display: grid;
      grid-template-columns: 150px 150px;
      grid-gap: 40px; }
    .recipe__input-block--three-input {
      display: grid;
      grid-template-columns: 150px 150px 150px;
      grid-gap: 40px; }
    .recipe__input-block--no-margin {
      margin-bottom: 0; }
    .recipe__input-block--desc {
      position: relative; }
  .recipe__input-title {
    width: 100%;
    margin-bottom: 5px; }
  .recipe__input-item {
    width: 100%;
    position: relative; }
  .recipe__input-file {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 35px;
    cursor: pointer; }
    .recipe__input-file input[type="file"] {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer; }
    .recipe__input-file label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer; }
    .recipe__input-file span {
      border-radius: 17px;
      border: 1px solid #e4e6f0;
      background-color: #f0f0f7;
      padding: 5px 15px;
      display: inline-block;
      cursor: pointer; }
    .recipe__input-file input[type="file"]:hover + span,
    .recipe__input-file input[type="file"]:focus + span {
      background: #fffae1; }
  .recipe__input-file-name {
    border-radius: 17px;
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    color: #428bca;
    margin-left: 20px;
    opacity: 0; }
    .recipe__input-file-name.active {
      opacity: 1; }
  .recipe__input {
    height: 30px;
    width: 100%;
    border-bottom: 2px solid #0b9af5;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding-right: 20px; }
    .recipe__input::-webkit-input-placeholder {
      color: #aeb8c0;
      font-style: italic;
      font-weight: 300; }
    .recipe__input::-moz-placeholder {
      color: #aeb8c0;
      font-style: italic;
      font-weight: 300; }
    .recipe__input:-moz-placeholder {
      color: #aeb8c0;
      font-style: italic;
      font-weight: 300; }
    .recipe__input:-ms-input-placeholder {
      color: #aeb8c0;
      font-style: italic;
      font-weight: 300; }
    .recipe__input:focus {
      background: #fffae1; }
    .recipe__input.error {
      border-color: red;
      background: rgba(255, 0, 0, 0.05);
      z-index: 1; }
  .recipe__item-input-area, .recipe__item-input-area-hidden {
    border: none;
    border-bottom: 2px solid #d5dbe3;
    resize: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    min-height: 60px;
    height: 60px; }
  .recipe__item-input-area {
    overflow: hidden; }
  .recipe__item-input-area-hidden {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word; }
  .recipe__input-radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
  .recipe__input-radio-item {
    position: relative; }
  .recipe__input-radio-item-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1; }
  .recipe__input-radio-item-label {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #cccccc;
    border-right: none;
    cursor: pointer; }
  .recipe__input-radio-item:nth-of-type(1) .recipe__input-radio-item-label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .recipe__input-radio-item:nth-last-of-type(1) .recipe__input-radio-item-label {
    border-right: 1px solid #cccccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .recipe__input-radio-item-input:checked + .recipe__input-radio-item-label {
    background-color: #f0f0f7;
    color: #3c4bf5; }
  .recipe__input-radio-item-input:focus + .recipe__input-radio-item-label {
    background: #fffae1;
    color: #3c4bf5; }
  .recipe__row {
    display: grid;
    grid-template-columns: 45px 1fr 130px 130px;
    grid-auto-rows: 30px; }
  .recipe__rows {
    margin-bottom: 25px; }
  .recipe__cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; }
  .recipe__row-header {
    border: 2px solid #aeb8c0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 0;
    left: 0; }
  .recipe__row-number {
    border: 2px solid #aeb8c0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 0;
    left: 0; }
  .recipe__row-input {
    border: 2px solid #aeb8c0;
    padding-left: 10px;
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 0;
    left: 0;
    color: #000;
    font-size: 16px;
    font-weight: 500; }
    .recipe__row-input::-webkit-input-placeholder {
      color: #aeb8c0;
      font-style: italic;
      font-weight: 300; }
    .recipe__row-input::-moz-placeholder {
      color: #aeb8c0;
      font-style: italic;
      font-weight: 300; }
    .recipe__row-input:-moz-placeholder {
      color: #aeb8c0;
      font-style: italic;
      font-weight: 300; }
    .recipe__row-input:-ms-input-placeholder {
      color: #aeb8c0;
      font-style: italic;
      font-weight: 300; }
    .recipe__row-input.error {
      border-color: red;
      background: rgba(255, 0, 0, 0.05);
      z-index: 1; }
    .recipe__row-input:focus {
      background: #fffae1;
      z-index: 1; }
  .recipe__autocomplete {
    font-size: 15px;
    border: 2px solid #aeb8c0 !important;
    border-top: none !important;
    background: #fffae1 !important; }
  .recipe__add-button {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 164px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #e4e6f0;
    background-color: #f0f0f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #4050f5;
    font-size: 16px;
    font-weight: 500; }
    .recipe__add-button:focus {
      background: rgba(255, 223, 57, 0.15);
      border-color: #ffdf39; }
  .recipe__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end; }
  .recipe__button {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 23px;
    border: 1px solid #e4e6f0;
    background-color: #f0f0f7;
    color: #3c4bf5;
    font-size: 16px;
    font-weight: 500; }
    .recipe__button:focus {
      background: rgba(255, 223, 57, 0.15);
      border-color: #ffdf39; }
