@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.projects {
  padding-top: 70px;
  padding-bottom: 45px;

  &__title {
padding: 0 25px;
    margin-bottom: 10px;
  }

  &__text {
    padding: 0 25px;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
  }
}