.fran-sixth {
  padding-top: 150px; }
  .fran-sixth--2 {
    padding-bottom: 310px; }
    @media (max-width: 1279px) {
      .fran-sixth--2 {
        padding-bottom: 150px; } }
  @media (max-width: 1279px) {
    .fran-sixth {
      padding-top: 50px; } }
  .fran-sixth__title {
    text-align: center;
    font-family: 'intro-mid', sans-serif !important;
    font-size: 36px;
    margin-bottom: 77px;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1279px) {
      .fran-sixth__title {
        width: 100%; } }
  .fran-sixth__map {
    position: relative;
    height: 562px; }
    .fran-sixth__map iframe {
      position: absolute;
      width: 100% !important;
      height: 100% !important; }
  .fran-sixth__subtitle {
    margin-top: 100px;
    margin-bottom: 50px; }
  .fran-sixth__list {
    margin-bottom: -17px; }
  .fran-sixth__list-text {
    font-size: 24px;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
  .fran-sixth__list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    margin-bottom: 30px; }
    @media (max-width: 1279px) {
      .fran-sixth__list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .fran-sixth__list-item-icon {
    width: 100px;
    height: 100px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-right: 90px; }
    @media (max-width: 1279px) {
      .fran-sixth__list-item-icon {
        margin-right: 0;
        margin-bottom: 20px; } }
  .fran-sixth__list-item-text {
    width: 0;
    flex-grow: 1;
    font-size: 19px; }
    @media (max-width: 1279px) {
      .fran-sixth__list-item-text {
        width: 100%;
        text-align: center; } }
  .fran-sixth__list-item-bold {
    font-weight: 700;
    display: inline; }
  .fran-sixth__list-item-reg {
    display: inline; }
  .fran-sixth__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px; }
    @media (max-width: 1279px) {
      .fran-sixth__grid {
        grid-template-columns: 1fr; } }
  .fran-sixth__grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 20px;
    height: 183px;
    background: #ffd34c; }
  .fran-sixth__grid-item-number {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    font-family: 'intro-bold', sans-serif !important;
    font-size: 30px; }
  .fran-sixth__grid-item-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    .fran-sixth__grid-item-icon--1 {
      width: 85px;
      height: 77px; }
    .fran-sixth__grid-item-icon--2 {
      width: 60px;
      height: 81px; }
    .fran-sixth__grid-item-icon--3 {
      width: 78px;
      height: 78px; }
    .fran-sixth__grid-item-icon--4 {
      width: 68px;
      height: 88px; }
    .fran-sixth__grid-item-icon--5 {
      width: 62px;
      height: 85px; }
    .fran-sixth__grid-item-icon--6 {
      width: 76px;
      height: 76px; }
    .fran-sixth__grid-item-icon--7 {
      width: 74px;
      height: 74px; }
    .fran-sixth__grid-item-icon--8 {
      width: 54px;
      height: 79px; }
  .fran-sixth__grid-item-text {
    text-align: center;
    font-size: 18px; }
  .fran-sixth__lead {
    margin-top: 35px;
    height: 233px;
    border: 4px dashed #000000;
    background-color: #ffd34c;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    padding: 0 115px;
    justify-content: space-between; }
    @media (max-width: 1279px) {
      .fran-sixth__lead {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
        text-align: center; } }
  @media (max-width: 1279px) {
    .fran-sixth__lead-desc {
      margin-bottom: 30px; } }
  .fran-sixth__lead-desc-title {
    font-family: 'intro-reg', sans-serif !important;
    font-size: 38px;
    text-transform: uppercase; }
  .fran-sixth__lead-desc-subtitle {
    font-size: 20px; }
  .fran-sixth__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px; }
    @media (max-width: 1279px) {
      .fran-sixth__items {
        grid-template-columns: 1fr; } }
  .fran-sixth__items-item-name {
    background: #ffd34c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'intro-mid', sans-serif !important;
    font-size: 30px;
    height: 120px; }
  .fran-sixth__items-item-inner {
    font-size: 18px;
    padding: 10px 50px;
    background-color: #e6e6e6;
    text-align: center; }
  .fran-sixth__items-item-value {
    margin-bottom: 20px;
    font-weight: 700; }
