.section-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../../img/section-10/background.jpg);
  background-color: #f5f5f5;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 2575px;
  padding-left: 230px;
  z-index: 1; }
  @media (max-width: 1279px) {
    .section-10 {
      width: 100%;
      order: 8;
      padding: 70px 30px;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; } }
  .section-10__title {
    font-size: 90px;
    line-height: 123px;
    text-align: center;
    font-display: auto;
    font-family: "Noto Serif", serif;
    margin-bottom: 5vh; }
    @media (max-width: 1279px) {
      .section-10__title {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 15px; } }
  .section-10__button {
    font-size: 18px;
    height: 76px;
    width: 390px;
    background: #ff3636;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    @media (max-width: 1279px) {
      .section-10__button {
        font-size: 16px;
        height: 50px;
        width: 100%; } }
  .section-10__desc {
    font-size: 18px;
    margin-top: 50px;
    position: relative;
    margin-right: 50px;
    cursor: pointer; }
    .section-10__desc:after {
      content: '';
      position: absolute;
      display: block;
      width: 46px;
      height: 31px;
      background: #ABABAB;
      mask: url(../../../img/arrow-right.png);
      -webkit-mask: url(../../../img/arrow-right.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important;
      top: 50%;
      transform: translateY(-50%);
      right: -100px; }
      @media (max-width: 1279px) {
        .section-10__desc:after {
          right: -50px;
          width: 30px; } }
    @media (max-width: 1279px) {
      .section-10__desc {
        margin-right: 50px; } }
