@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.form {

  &__inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 16px;
    margin-bottom: 40px;

    @media #{$tablet-big-screen} {
      grid-template-columns: 1fr;
    }

    &--one-center {
      width: 370px;
      grid-template-columns: 1fr;
      @include margin-auto;
    }

    &--big-bottom {
      margin-bottom: 56px;
    }
  }

  &__input-block {
    position: relative;
  }
}


