.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .social__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 14px; }
  .social__item:hover .social__item-icon {
    transform: scale(1.1); }
