i.icon {
  display: inline-block;
}
.icon-location:before {
  content: '';
  width: 20px;
  height: 24px;
  background-image: svg-load('../img/svgSprite/location.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-location:before {
  margin-right: 10px;
  position: relative;
  top: -3px;
}
.icon-location:hover .underline-button {
  color: #ff5859;
  border-bottom: 1px solid transparent;
}
.icon-compare:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: svg-load('../img/svgSprite/compare.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-compare-in-cart:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: svg-load('../img/svgSprite/compare-in-cart.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-heart:before {
  content: '';
  width: 24px;
  height: 21px;
  background-image: svg-load('../img/svgSprite/heart.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-basket:before {
  content: '';
  width: 24px;
  height: 23px;
  background-image: svg-load('../img/svgSprite/basket.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-history:before {
  content: '';
  width: 26px;
  height: 24px;
  background-image: svg-load('../img/svgSprite/history.svg', fill=#555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-data:before {
  content: '';
  width: 28px;
  height: 28px;
  background-image: svg-load('../img/svgSprite/order-status.svg', fill=#555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-bonus:before {
  content: '';
  width: 28px;
  height: 20px;
  background-image: svg-load('../img/svgSprite/bonus.svg', fill=#555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-mail:before {
  content: '';
  width: 26px;
  height: 20px;
  background-image: svg-load('../img/svgSprite/mail.svg', fill=#555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-user:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: svg-load('../img/svgSprite/user.svg', fill=#ff5859);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-add:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: svg-load('../img/svgSprite/add.svg', fill=#ff5859);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-info:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: svg-load('../img/svgSprite/info.svg', fill=#ff5859);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-logo-mini:before {
  content: '';
  width: 48px;
  height: 42px;
  background-image: svg-load('../img/svgSprite/logo-mini.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-lock:before {
  content: '';
  width: 38px;
  height: 49px;
  background-image: svg-load('../img/svgSprite/lock.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-card:before {
  content: '';
  width: 48px;
  height: 35px;
  background-image: svg-load('../img/svgSprite/card.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-kassa:before {
  content: '';
  width: 37px;
  height: 49px;
  background-image: svg-load('../img/svgSprite/kassa.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-delivery:before {
  content: '';
  width: 48px;
  height: 37px;
  background-image: svg-load('../img/svgSprite/delivery.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.icon-checked:before {
  content: '';
  width: 42px;
  height: 42px;
  background-image: svg-load('../img/svgSprite/checked.svg', fill=#555555);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
