@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.sales-list {
  &__items {
  }
  &__item {
    margin-bottom: 10px;
    border: 8px solid #f1f1f1;
    background: #f1f1f1;
    border-radius: 5px;
    @include flex-row;
    height: 120px;

    @media #{$mobile-big-screen} {
      border-bottom: 40px solid #f1f1f1;
      height: 160px;
    }

  }
  &__item-img {
    height: 100%;
    width: 175px;
    @include background-cover-center;

    @media #{$mobile-big-screen} {
      width: 130px;
    }
  }
  &__item-desc {
    height: 100%;
    width: calc(100% - 175px);
    position: relative;
    padding: 0 15px;

    @media #{$mobile-big-screen} {
      width: calc(100% - 130px);
    }
  }

  &__item-date {
    margin-top: 10px;
    font-size: 11px;
    font-weight: 700;
    color: #fc673f;
  }

  &__item-name {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 300;

    @media #{$mobile-big-screen} {
      font-size: 15px;
    }
  }

  &__item-link-block {
    position: absolute;
    right: -8px;
    bottom: -8px;
  }

  &__item-link {
    @include button-angle;

    @media #{$mobile-big-screen} {
      bottom: -32px;
    }
  }
}