.editable-block__view {
  display: block; }
  .editable-block.edit .editable-block__view {
    display: none; }

.editable-block__edit {
  display: none; }
  .editable-block.edit .editable-block__edit {
    display: block; }
