.eleventh {
  padding-bottom: 30px !important;
  padding-top: 300px !important;
  background: url(../../../img/eleventh.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-position: bottom center !important; }
  @media (max-width: 767px) {
    .eleventh {
      background: url(../../../img/eleventh_mobile.jpg);
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      background-position: bottom center !important;
      padding-top: 100px !important;
      padding-bottom: 80px !important; } }
  .eleventh__block {
    width: 58%; }
    @media (max-width: 767px) {
      .eleventh__block {
        width: 100%; } }
  .eleventh__text {
    font-size: 16px !important; }
  .eleventh__button {
    margin: 50px 0; }
  .eleventh__subtext {
    line-height: 30px !important; }
  .eleventh__link {
    margin-top: 100px;
    color: #ffffff;
    text-transform: lowercase;
    font-size: 12px; }
    @media (max-width: 767px) {
      .eleventh__link {
        margin-top: 450px;
        text-align: center; } }
