@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

html {
  overflow-x: hidden;
}

@font-face {
  font-family: 'garamond';
  font-display: swap;
  src: url(../../../fonts/GaramondPremrPro-Disp.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  font-display: swap;
  src: url(../../../fonts/ProximaNova-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  @include font-default;
  margin: 0;
  padding: 0;
}

select {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

button, input, textarea {
  border: none;
  background: none;
}

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none;
}

.lb-details {
  opacity: 0;
}
