@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.input {
    position: relative;
    width: 100%;

    $focus: '.input.focus';

    &--icon {

        &:after {
            @include after-absolute;
            width: 23px;
            height: 23px;
            left: 0;
            top: 0;
        }

        &--info:after {
            width: 17px;
            height: 17px;
            content: '?';
            left: 11px;
            top: 50%;
            transform: translateY(-50%);
            background: $blue;
            @include flex-row-center;
            color: $white;
            border-radius: 50%;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 0.42px;
            padding-bottom: 1px;
        }

        &--date:after {
            width: 18px;
            height: 18px;
            left: 11px;
            top: 50%;
            transform: translateY(-50%);
            background: url(../../../img/icon-date.svg);
            @include background-contain-center;
        }

        &--time:after {
            background: url(../../../img/icon-time.svg);
            @include background-contain-center;
            left: 9px;
            top: 7px;
        }

        &--cost:after {
            background: url(../../../img/icon-cost.svg);
            @include background-contain-center;
        }
    }

    $icon: '.input--icon';

    &.focus .warning.active {
        opacity: 0;
        visibility: hidden;
    }

    &.focus .placeholder {
        opacity: 1;
        visibility: visible;
    }
    //Font
    @mixin font {
        @include font-default;
    }

    @mixin button-active {
        @include select-button-active;
    }
    //Button
    $button-height: $select-button-height;
    $button-width: $select-button-width;
    $button-min-width: $select-button-min-width;
    $button-border-radius: $select-button-border-radius;
    $button-padding-left: $select-button-padding-left;
    $button-padding-right: $select-button-padding-right;
    $button-border-width: $select-button-border-width;
    $button-border-color: $select-button-border-color;
    $button-background: $select-button-background;

    //Text
    $font-size: $select-font-size;
    $font-weight: $select-font-weight;
    $font-color: $select-font-color;
    $font-placeholder-color: $select-font-placeholder-color;
    $font-placeholder-active-color: $select-font-placeholder-active-color;

    //Icon
    $icon-image-url: $select-icon-image-url;
    $icon-image-width: $select-icon-image-width;
    $icon-image-height: $select-icon-image-height;
    $icon-right: $select-icon-right;

    //Menu points
    $inner-button-background: $select-inner-button-background;
    $inner-button-color: $select-inner-button-color;

    &__button {
        width: #{$button-width} !important;
        min-width: #{$button-min-width}px !important;
        height: #{$button-height}px !important;
        padding-top: 2px !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: #{$button-border-width}px solid #e7e7e7 !important;
        //border-top: none !important;
        //border-left: none !important;
        //border-right: none !important;
        border-radius: #{$button-border-radius}px !important;
        background: #{$button-background} !important;
        position: relative !important;
        @include flex-row-center;
        display: flex !important;
        justify-content: space-between;
        text-align: center;

        &:focus {
            outline: none !important;
            @include button-active;
        }

        &--open {
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }

        &--textarea {
            height: auto !important;
            align-items: stretch;
            //border: 1px solid $blue !important;
            resize: none;
        }

        &--textarea:focus {
            @include button-active;
        }

        #{$focus} & {
            @include button-active;
        }
    }

    $textarea: '.input__button--textarea';
    $textarea-big: '.input__button--textarea-big';

    &__text {
        @include font;
        float: none !important;
        border-radius: #{$button-border-radius}px !important;
        font-size: #{$font-size}px !important;
        font-weight: #{$font-weight} !important;
        color: #{$font-color} !important;
        margin: 0 !important;
        width: 0 !important;
        height: 100%;
        flex-grow: 1 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: #{$button-padding-left}px !important;
        padding-right: #{$button-padding-right}px !important;
        @include flex-row-center;
        display: flex !important;
        justify-content: flex-start;

        #{$textarea} & {
            height: auto;
            min-height: 80px;
            resize: vertical;
            padding-top: .5em !important;
        }

        #{$textarea-big} & {
            min-height: 156px;
        }

        #{$icon} & {
            padding-left: 40px !important;
        }

        &::-webkit-input-placeholder {
            color: #{$font-placeholder-color};
        }

        &::-moz-placeholder {
            color: #{$font-placeholder-color};
        }

        &:-moz-placeholder {
            color: #{$font-placeholder-color};
        }

        &:-ms-input-placeholder {
            color: #{$font-placeholder-color};
        }

        &:focus {
            outline: none !important;
            @include button-active;

            &::-webkit-input-placeholder {
                color: transparent;
            }

            &::-moz-placeholder {
                color: transparent;
            }

            &:-moz-placeholder {
                color: transparent;
            }

            &:-ms-input-placeholder {
                color: transparent;
            }
        }
    }
}
