.balance {
  width: 100%; }
  @media (max-width: 767px) {
    .balance {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      justify-content: space-between; } }
  .balance__title {
    color: #6b7582;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4px;
    text-align: center; }
    @media (max-width: 767px) {
      .balance__title {
        font-size: 14px; } }
  .balance__text {
    color: #cddaec;
    font-size: 15px;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 767px) {
      .balance__text {
        font-size: 14px;
        font-weight: 900; } }
  .balance__text-inner {
    display: inline;
    color: #05dafb; }
