.main-screen.main-screen--structure
    .main-screen__block.layout
        .main-screen__menu
            .menu
                .menu__theme-switch.menu__theme-switch--day
                    .menu__theme-switch-icons
                        .menu__theme-switch-icon.menu__theme-switch-icon--day
                        .menu__theme-switch-icon.menu__theme-switch-icon--night
                    .menu__theme-switch-buttons
                        .menu__theme-switch-button.menu__theme-switch-button--day День
                        .menu__theme-switch-button.menu__theme-switch-button--night Ночь
                .menu__items
                    a.menu__item(href='#') конституция группы
                    a.menu__item(href='#') Структура группы
                    a.menu__item(href='#') Команда
                    a.menu__item(href='#') История

        .main-screen__planets
            .main-screen__planet-big
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__orbit-rotate
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small


            .main-screen__planet-small
                .main-screen__planet-small-orbit.main-screen__orbit-rotate
                .main-screen__planet-small-orbit.main-screen__planet-small-orbit--empty
                    .main-screen__planet-small-item-big-wrapper
                        .main-screen__planet-small-item-big
            .main-screen__planet-star.main-screen__planet-star--1
            .main-screen__planet-star.main-screen__planet-star--2
            .main-screen__planet-star.main-screen__planet-star--3
            .main-screen__planet-star.main-screen__planet-star--4
            .main-screen__planet-star.main-screen__planet-star--5
        .structure
            .structure__main
                .structure__item.structure__item--1
                    .structure__item-title GOLDEN MARROW GROUP
                    .structure__item-subtitle Это созвездие направлений
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button
                .structure__item.structure__item--2
                    .structure__item-title GOLDEN MARROW WEB
                    .structure__item-subtitle Веб разработка
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button
                .structure__item.structure__item--3
                    .structure__item-title GOLDEN MARROW SMM
                    .structure__item-subtitle Продвижение брендов
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button
                .structure__item.structure__item--4
                    .structure__item-title GOLDEN MARROW BRANDING
                    .structure__item-subtitle Брендинг
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button
                .structure__item.structure__item--5
                    .structure__item-title GOLDEN MARROW MAGAZINE
                    .structure__item-subtitle Онлайн журнал о бизнесе
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button
                .structure__item.structure__item--6
                    .structure__item-title GOLDEN MARROW INNOVATION
                    .structure__item-subtitle Продвижение брендов
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button
                .structure__item.structure__item--7
                    .structure__item-title PLAY NAME
                    .structure__item-subtitle Инновации в бизнесе
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button
                .structure__item.structure__item--8
                    .structure__item-title Gmb
                    .structure__item-subtitle Инновации в бизнесе
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button
                .structure__item.structure__item--9
                    .structure__item-title Project Bureau online
                    .structure__item-subtitle Инновации в бизнесе
                    .structure__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам.
                    .structure__item-button