.twelfth {
  padding-top: 100px;
  padding-bottom: 1021px; }
  .twelfth:after {
    content: '';
    position: absolute;
    display: block;
    width: 100vw;
    background: #ffffff;
    height: 100px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 1279px) {
      .twelfth:after {
        display: none; } }
  @media (max-width: 1279px) {
    .twelfth {
      padding-top: 280px;
      padding-bottom: 150px; } }
  .twelfth__rules {
    position: absolute;
    left: 230px;
    top: 84px;
    z-index: 1; }
    @media (max-width: 1279px) {
      .twelfth__rules {
        top: 25px;
        left: 50%;
        transform: translateX(-50%); } }
  .twelfth__title {
    text-align: left !important;
    padding-left: 572px; }
    @media (max-width: 1279px) {
      .twelfth__title {
        padding-left: 0;
        text-align: center !important; } }
  .twelfth__block {
    position: absolute;
    top: 155px;
    left: -34px;
    width: 1187px;
    height: 1101px;
    background: url(../../../img/twelfth-block.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1279px) {
      .twelfth__block {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        background: none; } }
  .twelfth__block-title {
    font-size: 36px;
    font-family: 'intro-reg', sans-serif !important;
    margin-top: 225px;
    padding-left: 21px;
    text-align: center; }
    @media (max-width: 1279px) {
      .twelfth__block-title {
        margin: 30px 0;
        padding-left: 0;
        font-size: 26px; } }
  .twelfth__block-item {
    text-align: center;
    position: absolute; }
    @media (max-width: 1279px) {
      .twelfth__block-item {
        position: relative;
        left: auto !important;
        top: auto !important;
        width: 100% !important;
        margin-bottom: 20px; } }
    .twelfth__block-item--1 {
      width: 250px;
      top: 359px;
      left: 190px; }
    .twelfth__block-item--2 {
      width: 300px;
      top: 661px;
      left: 402px; }
    .twelfth__block-item--3 {
      width: 200px;
      top: 472px;
      left: 595px; }
    .twelfth__block-item--4 {
      width: 200px;
      top: 652px;
      left: 822px; }
  .twelfth__block-item-title {
    font-size: 36px;
    font-family: 'intro-reg', sans-serif !important; }
  .twelfth__block-item-text {
    font-size: 18px; }
    .twelfth__block-item--1 .twelfth__block-item-text {
      margin-top: 76px; }
      @media (max-width: 1279px) {
        .twelfth__block-item--1 .twelfth__block-item-text {
          margin-top: 0; } }
  .twelfth__img {
    position: absolute;
    width: 178px;
    height: 404px;
    background: url(../../../img/twelfth-img.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    top: 818px;
    left: 59px;
    z-index: 1; }
    @media (max-width: 1279px) {
      .twelfth__img {
        display: none; } }
