.icon-square {
  width: 62px;
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../../../img/icon-square.png);
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }
  .icon-square__img {
    width: 25%;
    height: auto; }
