.third {
  margin-bottom: 170px; }
  @media (max-width: 1023px) {
    .third {
      margin-bottom: 80px; } }
  .third__title {
    font-size: 25px;
    font-display: auto;
    font-family: 'rubik', sans-serif !important;
    font-weight: 700;
    position: relative;
    color: #3200dd;
    margin-bottom: 15px; }
  .third__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%; }
    @media (max-width: 1023px) {
      .third__text {
        width: 100%; } }
  .third__text-item {
    padding-left: 60px;
    position: relative;
    font-display: auto;
    font-family: 'rubik', sans-serif !important;
    font-size: 29px;
    color: #171616;
    margin-bottom: 30px; }
    @media (max-width: 1023px) {
      .third__text-item {
        font-size: 20px;
        padding-left: 40px; }
        .third__text-item br {
          display: none; } }
    .third__text-item:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      height: calc(100% - 20px);
      width: 3px;
      background: #171616;
      left: 0; }
  .third__button {
    margin-left: 60px;
    height: 54px;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    background: #000000;
    padding: 0 35px;
    cursor: pointer; }
    .third__button:hover {
      background: #3200dd; }
    @media (max-width: 1023px) {
      .third__button {
        font-size: 20px;
        height: 42px;
        margin-left: auto;
        margin-right: auto; } }
