.main-banner {
  background: url(../../../img/main-banner.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  padding: 60px 0; }
  @media (max-width: 1279px) {
    .main-banner {
      padding: 30px 0; } }
  .main-banner__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center; }
    @media (max-width: 1279px) {
      .main-banner__block {
        grid-template-columns: 1fr; } }
  .main-banner__desc-title {
    font-size: 41px;
    font-weight: 300;
    margin-bottom: 30px; }
    @media (max-width: 1279px) {
      .main-banner__desc-title {
        font-size: 25px;
        margin-bottom: 10px; } }
  .main-banner__desc-text {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px; }
    @media (max-width: 1279px) {
      .main-banner__desc-text {
        font-size: 16px;
        margin-bottom: 10px; } }
  .main-banner__desc-count-number {
    color: #2b97df;
    font-size: 41px;
    font-weight: 700;
    line-height: 50px; }
  .main-banner__desc-count-text {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 26px;
    font-weight: 300; }
    @media (max-width: 1279px) {
      .main-banner__desc-count-text {
        font-size: 16px;
        margin-bottom: 10px; } }
  .main-banner__desc-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 1279px) {
      .main-banner__desc-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .main-banner__desc-button {
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid #2b97df;
    background: #2b97df;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1279px) {
      .main-banner__desc-button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px; } }
    .main-banner__desc-button--invert {
      background: transparent;
      color: #2b97df; }
  .main-banner__video-inner {
    position: relative;
    padding-bottom: 56.25%; }
    .main-banner__video-inner iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100% !important;
      height: 100% !important; }
