.contacts {
  padding-top: 89px; }
  @media (max-width: 1279px) {
    .contacts {
      padding-top: 0; } }
  .contacts__block {
    display: grid;
    grid-template-columns: 1fr 640px;
    grid-gap: 90px; }
    @media (max-width: 1279px) {
      .contacts__block {
        grid-template-columns: 1fr;
        grid-gap: 40px; } }
  .contacts__title {
    font-display: fallback;
    font-family: 'druk', Arial, sans-serif !important;
    font-size: 43px;
    letter-spacing: 1px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 50px; }
    @media (max-width: 1279px) {
      .contacts__title {
        width: 100%;
        font-size: 34px;
        line-height: 30px;
        margin-top: 15px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-align: center; } }
  .contacts__list-item {
    margin-bottom: 50px; }
    @media (max-width: 1279px) {
      .contacts__list-item {
        margin-bottom: 20px; } }
  .contacts__list-item-name {
    position: relative;
    padding-left: 28px; }
  .contacts__list-item-name-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .contacts__list-item-name-text {
    font-size: 14px;
    color: #515151;
    text-transform: uppercase; }
  .contacts__list-item-value {
    padding-left: 28px;
    color: #292929;
    font-size: 22px;
    font-weight: 700; }
