.button {
  height: 76px;
  cursor: pointer;
  background: #ff3636;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1279px) {
    .button {
      width: 100% !important;
      height: 50px !important; } }
