.partnership {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 35px;
  width: 1050px;
  background: #24292d;
  padding-top: 50px;
  border-radius: 10px; }
  @media (max-width: 1023px) {
    .partnership {
      width: 95vw;
      flex-wrap: wrap;
      padding: 10px;
      padding-bottom: 20px;
      padding-top: 40px; } }
  .partnership__img {
    width: 336px;
    height: 336px;
    margin-right: 35px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-radius: 5px; }
    @media (max-width: 1023px) {
      .partnership__img {
        margin-bottom: 15px;
        margin-right: 0;
        height: 150px;
        width: 75%; } }
  .partnership__info {
    width: calc(100% - 336px - 35px);
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between; }
    @media (max-width: 1023px) {
      .partnership__info {
        width: 100%; } }
  .partnership__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between; }
    @media (max-width: 1023px) {
      .partnership__buttons {
        margin-bottom: 10px;
        flex-wrap: wrap; } }
  .partnership__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    background: #303741;
    cursor: pointer; }
    @media (max-width: 1023px) {
      .partnership__button {
        width: 100%;
        margin-bottom: 5px;
        font-size: 14px;
        padding: 5px 15px; } }
  .partnership__button-icon {
    width: 27px;
    height: 27px;
    margin-right: 10px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1023px) {
      .partnership__button-icon {
        width: 20px;
        height: 20px; } }
  .partnership__button-text {
    font-size: 17px;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    color: #616f82;
    text-transform: uppercase;
    font-weight: 300;
    display: inline;
    margin-top: 5px; }
    .partnership__button-text span {
      font-weight: 700;
      color: #cddaec;
      display: inline; }
    @media (max-width: 1023px) {
      .partnership__button-text {
        font-size: 14px; } }
  .partnership__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    font-size: 31px; }
    @media (max-width: 1023px) {
      .partnership__header {
        margin-bottom: 0px;
        font-size: 18px; } }
  .partnership__header-name {
    color: #cddaec;
    font-weight: 700; }
  .partnership__header-price-desc {
    color: #616f82;
    font-size: 15px;
    font-weight: 300;
    text-align: right; }
    @media (max-width: 1023px) {
      .partnership__header-price-desc {
        font-size: 13px; } }
  @media (max-width: 1023px) {
    .partnership__desc {
      margin-bottom: 10px; } }
  .partnership__desc-title {
    color: #cddaec;
    font-weight: 700;
    font-size: 17px; }
    @media (max-width: 1023px) {
      .partnership__desc-title {
        font-size: 15px; } }
  .partnership__desc-text {
    color: #616f82;
    font-size: 15px;
    font-weight: 300; }
    @media (max-width: 1023px) {
      .partnership__desc-text {
        font-size: 13px; } }
  .partnership__inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; }
  .partnership__input {
    width: 0;
    flex-grow: 1;
    height: 45px;
    padding-left: 15px;
    border-radius: 5px;
    background: #303741;
    margin-right: 20px; }
    @media (max-width: 1023px) {
      .partnership__input {
        margin-right: 10px; } }
