@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.chance {
  @include flex-row;
  height: 70px;
  align-items: center;
  background: #1f2123;
  border: 1px solid #2e3033;
  border-radius: 5px;
  margin-bottom: 10px;

  @media #{$tablet-small-screen} {
    flex-wrap: wrap;
    height: 140px;
  }

  @media #{$mobile-big-screen} {
    height: auto;
  }

  $hover: '.chance:hover';
  $active: '.chance.active';
  $magenta: '.chance--magenta';
  $red: '.chance--red';
  $blue: '.chance--blue';

  &__icon {
    width: 110px;
    position: relative;
    height: 100%;
    background: #2e3033;

    &:after {
      @include after-absolute;
      left: 38%;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      height: 50%;
      background: url(../../img/chance-icon.png);
      @include background-contain-center;

      @media #{$mobile-big-screen} {
        left: 10px;
      }
    }

    @media #{$tablet-small-screen} {
      height: 70px;
    }

    @media #{$mobile-big-screen} {
      width: calc(100% - 75px);
    }

  }

  &__icon-radio-button {
    height: 16px;
    width: 16px;
    border: 1px solid #aaaaac;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;

    &:after {
      @include after-absolute;
      @include absolute-center;
      width: 7px;
      height: 7px;
      border-radius: 50%;
    }

    #{$hover} &:after,
    #{$active} &:after {
      background: #cd9c28;
      border-radius: 50%;
    }
  }

  &__img {
    width: 75px;
    padding: 3px;

    @media #{$tablet-small-screen} {
      height: 70px;
      padding: 0;
      overflow: hidden;
    }
  }
  &__desc {
    width: calc(100% - 785px);
    color: #aaaaac;
    border-right: 1px solid #2e3033;
    height: 100%;
    @include flex-column;
    padding-left: 15px;
    justify-content: center;

    @media #{$desktop-big-screen} {
      width: calc(100% - 685px);
    }

    @media #{$tablet-small-screen} {
      width: calc(100% - 385px);
      height: 70px;
    }

    @media #{$mobile-big-screen} {
      width: 100%;
      border-bottom: 1px solid #2e3033;
    }
  }

  &__desc-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;

    #{$magenta} & span {
      color: #6c3e79
    }
    #{$red} & span {
      color: #9d3d37
    }
    #{$blue} & span {
      color: #1c92c5
    }
  }
  &__desc-name {
    display: inline;
  }
  &__desc-subname {
    display: inline;
    margin-left: 20px;
    position: relative;

    @media #{$desktop-big-screen} {
      margin-left: 0;
    }

    &:before {
      content: '/';
      margin-right: 20px;
      display: inline;

      @media #{$desktop-big-screen} {
        content: '';
        margin-right: 0;
      }
    }

  }
  &__desc-text {
    font-size: 11px;
  }
  &__price {
    width: 150px;
    border-right: 1px solid #2e3033;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #aaaaac;
    @include flex-row-center;

    @media #{$desktop-big-screen} {
      width: 100px;
      font-size: 15px;
    }

    @media #{$tablet-small-screen} {
      height: 70px;
    }

    @media #{$mobile-big-screen} {
      width: 50%;
    }
  }
  &__trash {
    width: 300px;
    border-right: 1px solid #2e3033;
    height: 100%;
    @include flex-row-center;
    padding: 15px;
    position: relative;

    @media #{$tablet-small-screen} {
      width: 100%;
      height: 70px;
      border-top: 1px solid #2e3033;
    }
  }
  &__trash-input {
    background: #1a1c1e;
    @include flex-row-center;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #cd9c28;
    border-radius: 3px;
  }
  &__trash-button {
    cursor: pointer;
    background: #cd9c28;
    height: 40px;
    width: 50px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;

    &:after {
      @include after-absolute;
      @include absolute-center;
      width: 45%;
      height: 45%;
      background: url(../../img/trash.png);
      @include background-contain-center;
    }
  }
}