@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.pagination {
  margin: 10px 0;
  @include flex-row;

  &__item {
    width: 25px;
    height: 25px;
    background: #000;
    color: #fff;
    @include flex-row-center;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }
}