.seventh {
  background: url(../../../img/seventh.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-position: top center !important; }
  .seventh__block {
    width: 60%;
    padding: 50px 0; }
    @media (max-width: 767px) {
      .seventh__block {
        width: 100%;
        padding: 0; } }
  .seventh__text {
    font-size: 18px !important; }
  .seventh__list {
    color: #ffffff;
    margin-top: 50px; }
  .seventh__list-title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .seventh__list-item {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center; }
    .seventh__list-item:before {
      content: '';
      display: block;
      width: 20px;
      height: 14px;
      background: url(../../../img/check-green.svg);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      margin-right: 10px; }
