@font-face {
    font-family: pt-mono;
    font-display: swap;
    src: url(../../img/portfolio-monyx/fonts/PTM55F.ttf);
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: pt-mono;
    font-display: swap;
    src: url(../../img/portfolio-monyx/fonts/PTM75F.ttf);
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: proxima;
    font-display: swap;
    src: url(../../img/portfolio-monyx/fonts/ProximaNova-Regular.ttf);
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: proxima;
    font-display: swap;
    src: url(../../img/portfolio-monyx/fonts/ProximaNova-Semibold.ttf);
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: proxima;
    font-display: swap;
    src: url(../../img/portfolio-monyx/fonts/ProximaNova-Bold.ttf);
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: museo;
    font-display: swap;
    src: url(../../img/portfolio-kofeek/fonts/Museo-300.otf);
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: museo;
    font-display: swap;
    src: url(../../img/portfolio-kofeek/fonts/Museo-500.otf);
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: museo;
    font-display: swap;
    src: url(../../img/portfolio-kofeek/fonts/Museo-700.otf);
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: etelka;
    font-display: swap;
    src: url(../../img/portfolio-dao/fonts/EtelkaNarrowLight.otf);
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: gilroy;
    font-display: swap;
    src: url(../../img/portfolio-bb/fonts/Gilroy-Medium.ttf);
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: gilroy;
    font-display: swap;
    src: url(../../img/portfolio-bb/fonts/Gilroy-Semibold.ttf);
    font-style: normal;
    font-weight: 600
}