@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

@font-face {
  font-family: 'GothaPro';
  src: url(../../fonts/GothaProLig.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GothaPro';
  src: url(../../fonts/GothaProReg.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothaPro';
  src: url(../../fonts/GothaProMed.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothaPro';
  src: url(../../fonts/GothaProBol.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothaPro';
  src: url(../../fonts/GothaProBla.otf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CharterITC';
  src: url(../../fonts/CharterITC.otf);
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'CharterITC';
  src: url(../../fonts/CharterITC_Bold.otf);
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'GothaPro', sans-serif;
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

.wrapper *,
.wrapper *:before,
.wrapper *:after {
  transition: all .2s ease-in;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.section {
  margin-bottom: 50px;
}

button, input {
  border: none;
  background: none;
}

button:focus, input:focus {
  outline: none;
}

ul {
  padding-left: 17px;
}

li {

}

.wrapper {
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 700;

  @media #{$tablet-small-screen} {
    font-size: 36px;
  }
}