.second__text {
  width: 79%; }

.second__list-title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 40px; }

.second__list-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px; }
  @media (max-width: 767px) {
    .second__list-items {
      grid-template-columns: 1fr;
      grid-gap: 40px; } }

.second__list-item {
  color: #1a1b1f; }

.second__list-item-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  margin-bottom: 25px; }

.second__list-item-header-icon {
  width: 123px;
  height: 123px;
  margin-right: 20px; }

.second__list-item-header-name {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  width: 40%; }

.second__list-item-text {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  line-height: 24px; }

.second__list-item-negative {
  background: url(../../../img/negative_background.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  border-radius: 10px;
  padding: 30px;
  padding-right: 15px;
  color: #ffffff; }

.second__list-item-negative-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px; }

.second__list-item-negative-list {
  font-size: 13px;
  padding: 0;
  padding-left: 13px;
  margin: 0;
  line-height: 21px; }

.second__list-item-negative-list-item {
  margin-bottom: 5px;
  color: #f94e4e; }

.second__list-item-negative-list-item-inner {
  color: #ffffff; }

.second__button {
  margin-top: 70px; }
