.main-screen
    .main-screen__block.layout
        .main-screen__menu
            include ../menu/menu
        .main-screen__planets
            .main-screen__planet-big
                .main-screen__planet-big-orbit.main-screen__orbit-rotate
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small


            .main-screen__planet-small
                .main-screen__planet-small-orbit.main-screen__orbit-rotate
                .main-screen__planet-small-orbit.main-screen__planet-small-orbit--empty
                    .main-screen__planet-small-item-big-wrapper
                        .main-screen__planet-small-item-big
            .main-screen__planet-free
            .main-screen__planet-star.main-screen__planet-star--1
            .main-screen__planet-star.main-screen__planet-star--2
            .main-screen__planet-star.main-screen__planet-star--3
            .main-screen__planet-star.main-screen__planet-star--4
            .main-screen__planet-star.main-screen__planet-star--5
        .main-screen__items
            .main-screen__item ДЕЛАЕМ МАРКЕТИНГ
            .main-screen__item РАЗВИВАЕМ БРЕНДИНГ
            .main-screen__item СОЗДАЕМ ВЕБ
            .main-screen__item ТОПИМ ЗА SMM
            .main-screen__item ПРИДУМЫВАЕМ ИННОВАЦИИ
            .main-screen__item РАССКАЗЫВАЕМ И ПОКАЗЫВАЕМ






