extends ../templates/main

block variables
    - var title = 'Frichelli'


block content
    include ../blocks/header/header
    .wrapper.wrapper--0
        .wrapper__cook
        .wrapper__inner.wrapper__inner--blue
        .wrapper__inner.wrapper__inner--green
        .wrapper__inner.wrapper__inner--turquoise
        include ../blocks/scroll-screen/scroll-screen
        include ../blocks/navigation/navigation