.manual__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px; }

.manual__tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px; }

.manual__tag {
  margin-right: 20px;
  margin-bottom: 5px;
  color: #2b97df;
  text-decoration: underline; }

.manual__subtitle {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px; }

.manual__text {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 25px; }
