.deal {
  background: #f8f8f8;
  border: 1px solid #e6e6e6;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 3px 2px 0 rgba(0, 0, 0, 0.2); }
  @media (max-width: 1023px) {
    .deal {
      padding-bottom: 15px; } }
  .deal__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    padding-right: 40px; }
    @media (max-width: 1023px) {
      .deal__top {
        flex-wrap: wrap;
        padding-right: 15px; } }
    @media (max-width: 767px) {
      .deal__top {
        padding: 10px; } }
  .deal__img {
    width: 250px;
    height: 160px;
    margin-right: 30px; }
    @media (max-width: 1023px) {
      .deal__img {
        margin-right: 20px; } }
    @media (max-width: 767px) {
      .deal__img {
        margin-right: 0;
        width: 100%;
        margin-bottom: 15px;
        height: auto; } }
  .deal__img-inner {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;
    display: block; }
  @media (max-width: 1023px) {
    .deal__desc {
      width: calc(100% - 270px); } }
  @media (max-width: 767px) {
    .deal__desc {
      width: 100%;
      text-align: center; } }
  .deal__desc-type {
    color: #2cb387;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px; }
  .deal__desc-name {
    font-size: 18px;
    font-weight: 500; }
  .deal__desc-address {
    font-size: 12px;
    font-weight: 300;
    color: #757575;
    margin-bottom: 25px; }
    @media (max-width: 767px) {
      .deal__desc-address {
        margin-bottom: 15px; } }
  .deal__desc-docs {
    font-size: 18px;
    font-weight: 500; }
    .deal__desc-docs span {
      color: #2cb387; }
      @media (max-width: 767px) {
        .deal__desc-docs span {
          display: block; } }
  .deal__desc-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .deal__desc-links {
        justify-content: center; } }
  .deal__desc-links-map {
    font-size: 12px;
    font-weight: 300;
    margin-right: 20px;
    color: #0a4684;
    text-decoration: underline;
    cursor: pointer; }
  .deal__desc-links-metro {
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: baseline; }
  .deal__desc-links-metro-icon {
    color: #2cb387;
    margin-right: 5px; }
  .deal__button-item {
    margin-left: 30px; }
    @media (max-width: 1023px) {
      .deal__button-item {
        width: 100%;
        margin: 0;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
  @media (max-width: 1023px) {
    .deal__button {
      width: 220px;
      margin-left: auto;
      margin-right: auto; } }
  .deal__bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-top: 1px solid #e6e6e6; }
    @media (max-width: 1023px) {
      .deal__bottom {
        flex-wrap: wrap; } }
  .deal__bottom-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: baseline;
    padding: 5px 0;
    border-right: 1px solid #e6e6e6; }
    .deal__bottom-item:nth-last-of-type(1) {
      border-right: none; }
    .deal__bottom-item--square {
      width: 210px; }
    .deal__bottom-item--district {
      width: 250px; }
    .deal__bottom-item--term {
      width: 210px; }
    .deal__bottom-item--amount {
      width: auto;
      flex-grow: 1; }
    @media (max-width: 1023px) {
      .deal__bottom-item {
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        border-right: none; } }
  .deal__bottom-item-inner {
    text-align: center;
    width: 100%;
    margin: 0 10px; }
    @media (max-width: 1023px) {
      .deal__bottom-item-inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        justify-content: center; } }
  .deal__bottom-item-name {
    font-size: 13px;
    font-weight: 300;
    color: #757575;
    margin-right: 5px; }
    .deal__bottom-item-name--big {
      font-size: 15px;
      font-weight: 700;
      color: #3b3b3b; }
  .deal__bottom-item-value {
    font-size: 15px;
    font-weight: 700;
    color: #3b3b3b; }
    .deal__bottom-item-value--big {
      font-size: 17px;
      color: #2cb387; }
