.filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .filter {
      flex-wrap: wrap; } }
  .filter__title {
    font-weight: 300;
    color: #000000;
    margin-right: 30px;
    font-size: 14px; }
    @media (max-width: 767px) {
      .filter__title {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
        text-align: center; } }
  .filter__item {
    border-bottom: 1px dashed;
    margin-right: 30px;
    font-size: 18px;
    cursor: pointer; }
    .blue-theme .filter__item {
      color: #3598db !important; }
    .blue-theme .filter__item {
      border-color: #3598db !important; }
    .filter__item:hover {
      border-bottom: 1px dotted; }
      .blue-theme .filter__item:hover {
        border-color: #3598db !important; }
    .filter__item:nth-last-of-type(1) {
      margin-right: 0; }
    .filter__item.active {
      cursor: default;
      border-bottom: 1px dotted transparent; }
    @media (max-width: 374px) {
      .filter__item {
        margin-right: 20px; } }
