.fran-fifteenth {
  padding-top: 150px; }
  @media (max-width: 1279px) {
    .fran-fifteenth {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .fran-fifteenth__title {
    font-family: 'intro-mid', sans-serif !important;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center; }
    .fran-fifteenth__title span {
      font-family: 'intro-mid', sans-serif !important;
      font-size: 36px;
      color: #f47137; }
  .fran-fifteenth__block {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 160px;
    padding-bottom: 100px; }
    @media (max-width: 1279px) {
      .fran-fifteenth__block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0; } }
    .fran-fifteenth__block:after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: 1422px;
      height: 100%;
      background: url(../../../img/fifteenth-background.jpg);
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      background-position: top center !important;
      z-index: 0; }
      @media (max-width: 1279px) {
        .fran-fifteenth__block:after {
          display: none; } }
  .fran-fifteenth__lead {
    position: relative;
    z-index: 2;
    width: 100%; }
    @media (max-width: 1279px) {
      .fran-fifteenth__lead {
        width: 100%; } }
  .fran-fifteenth__lead-title {
    color: #ffffff;
    font-family: 'intro-bold', sans-serif !important;
    font-size: 48px;
    text-align: center;
    margin-bottom: 18px; }
    @media (max-width: 1279px) {
      .fran-fifteenth__lead-title {
        font-size: 30px;
        color: #65bce9; } }
  .fran-fifteenth__lead-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px; }
    @media (max-width: 1279px) {
      .fran-fifteenth__lead-fields {
        grid-template-columns: 1fr; } }
