.menu
    .menu__theme-switch.menu__theme-switch--day
        .menu__theme-switch-icons
            .menu__theme-switch-icon.menu__theme-switch-icon--day
            .menu__theme-switch-icon.menu__theme-switch-icon--night
        .menu__theme-switch-buttons
            .menu__theme-switch-button.menu__theme-switch-button--day День
            .menu__theme-switch-button.menu__theme-switch-button--night Ночь
    .menu__items
        a.menu__item(href='#') GOLDEN MARROW INNOVATION
        a.menu__item(href='#') GOLDEN MARROW SMM
        a.menu__item(href='#') GOLDEN MARROW BRANDING
        a.menu__item(href='#') GOLDEN MARROW WEB
        a.menu__item(href='#') GOLDEN MARROW MAGAZINE
