@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.multi-select {
  width: 100%;
  height: 100%;
  position: relative;

  $open: '.multi-select.open';
  $mini: '.multi-select--mini';

  &__button {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;

    .open & {
      box-shadow: inset 0 1px 8px 0 rgba(159, 165, 174, 0.29);
    }

    #{$mini}.open & {
      box-shadow: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    #{$mini} & {
      border: solid 1px #d9e2ee;
      border-radius: 4px;
    }
  }

  &__button-value {
    width: calc(100% - 68px);
    max-width: calc(100% - 68px);
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #1d1e29;
    padding: 0 12px;
    padding-top: 27px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      transform: scaleY(1);
      opacity: 1;
    }

    #{$mini} & {
      padding-top: 18px;
      font-size: 13px;
    }

  }

  &__button-clear {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 38px;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &:after {
      @include after-absolute;
      @include absolute-center;
      width: 11px;
      height: 11px;
      background: #1d1e29;
      mask: url(../../../img/icons/clear.svg);
      -webkit-mask: url(../../../img/icons/clear.svg);
      @include mask-contain-center;
    }

    &:hover:after {
      background: #5dbafd;
    }

    #{$mini} & {
      right: -26px;
    }

    #{$mini} &:after {
      width: 12px;
      height: 12px;
    }

  }

  &__button-icon {
    width: 24px;
    height: 24px;
    background: url(../../../img/icons/arrow.svg);
    @include background-contain-center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(180deg);

    #{$open} & {
      transform: translateY(-50%) rotate(0);
    }
  }

  &__list {
    position: absolute;
    background: $white;
    width: 100%;
    left: 0;
    top: 100%;
    box-shadow: 0 2px 4px 0 rgba(217, 226, 239, 0.52);
    border-top: 1px solid #d9e2ef;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 6;

    #{$mini} & {
      border: solid 1px #d9e2ee;
      border-top: none;
      transition: none!important;
    }

    #{$open} & {
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
    }
  }

  &__list-item {
  }

  $checked: '.multi-select__list-item-input:checked + .multi-select__list-item-label';

  &__list-item-label {
    cursor: pointer;
    position: relative;
    width: 100%;
    min-height: 40px;
    @include flex-row;
    align-items: center;
    padding: 10px 10px;
    padding-right: 40px;

    &:hover {
      background: #eff3f8;
    }

    #{$mini} & {
      padding: 10px 12px;
      padding-right: 40px;
      min-height: 35px;
    }
  }

  &__list-item-text {

    #{$mini} & {
      font-size: 14px;
    }

  }

  &__list-item-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #d9e2ef;
    border-radius: 3px;
    top: 8px;
    right: 11px;

    #{$checked} & {
      border-color: #5dbafd;
      background: #5dbafd;
    }

    &:after {
      @include after-absolute;
      @include absolute-center;
      width: 15px;
      height: 15px;
      background: $white;
      mask: url(../../../img/icons/check.svg);
      -webkit-mask: url(../../../img/icons/check.svg);
      @include mask-contain-center;
      opacity: 0;
    }

    #{$checked} &:after {
      opacity: 1;
    }

  }

  &__list-item-input {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}