@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.talc {
  &__title {
    font-size: 27px;
    font-weight: 700;
    color: $black;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: -1px;

  }
  &__items {
  }

  &__item {
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    padding-right: 30px;
    margin-bottom: 30px;
  }
  &__item-author {
    @include flex-row;
    align-items: center;
    margin-bottom: 30px;

    @media #{$mobile-big-screen} {
      display: none;
    }
  }
  &__item-author-img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50%;
    @include background-cover-center;
    color: $black;


  }
  &__item-author-name {
    font-size: 14px;
    font-weight: 500;

    &:after {
      content: ',';
      margin-right: 5px;
    }
  }
  &__item-author-position {
    font-size: 14px;
    font-weight: 300;
  }
  &__item-title {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}