@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,500,400italic,500italic,700,700italic&subset=latin,cyrillic-ext,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:700,100,100italic,300,300italic,400,400italic,500,500italic,700italic,900,900italic&subset=latin,cyrillic,cyrillic-ext,latin-ext);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@font-face{font-family:'calibri-bold';src:url(../fonts/calibri-bold/calibri-bold.eot);src:url(../fonts/calibri-bold/calibri-bold.eot?#iefix) format("embedded-opentype"),url(../fonts/calibri-bold/calibri-bold.woff) format("woff"),url(../fonts/calibri-bold/calibri-bold.ttf) format("truetype"),url(../fonts/calibri-bold/calibri-bold.svg#pf_dindisplay_problack) format("svg");font-weight:400;font-style:normal}
@font-face {
    font-family: 'calibri-reg';
    src: url('../fonts/calibri-reg/calibri-reg.eot');
    src: url('../fonts/calibri-reg/calibri-reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/calibri-reg/calibri-reg.woff') format('woff'),
    url('../fonts/calibri-reg/calibri-reg.ttf') format('truetype'),
    url('../fonts/calibri-reg/calibri-reg.svg#pf_beausans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'karmina-bold';
    src: url('../fonts/karmina-bold/karmina-bold.eot');
    src: url('../fonts/karmina-bold/karmina-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/karmina-bold/karmina-bold.woff') format('woff'),
    url('../fonts/karmina-bold/karmina-bold.ttf') format('truetype'),
    url('../fonts/karmina-bold/karmina-bold.svg#pf_beausans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rotonda-bold';
    src: url('../fonts/rotonda-bold/rotonda-bold.eot');
    src: url('../fonts/rotonda-bold/rotonda-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rotonda-bold/rotonda-bold.woff') format('woff'),
    url('../fonts/rotonda-bold/rotonda-bold.ttf') format('truetype'),
    url('../fonts/rotonda-bold/rotonda-bold.svg#pf_beausans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}