.section-4 {
  height: 100%;
  width: 1460px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 270px;
  justify-content: center; }
  @media (max-width: 1279px) {
    .section-4 {
      width: 100%;
      order: 3;
      padding: 45px;
      padding-top: 70px;
      background: url(../../../img/section-4/mobile-background.jpg);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; } }
  .section-4__item {
    position: relative;
    margin-bottom: 130px; }
    .section-4__item:nth-of-type(2) {
      margin-left: 110px; }
    .section-4__item:nth-of-type(3) {
      margin-left: 220px;
      margin-bottom: 0; }
    @media (max-height: 820px) {
      .section-4__item {
        margin-bottom: 30px; } }
    @media (max-width: 1279px) {
      .section-4__item {
        margin-bottom: 30px;
        margin-left: 0 !important; } }
  .section-4__number {
    font-size: 200px;
    position: absolute;
    font-display: auto;
    font-family: "Noto Serif", serif;
    color: #ffc3c3;
    left: 0;
    top: 30px;
    transform: translate(-50%, -50%);
    z-index: -1; }
    @media (max-height: 820px) {
      .section-4__number {
        left: -50px;
        top: 40px;
        font-size: 120px; } }
    @media (max-width: 1279px) {
      .section-4__number {
        left: 5px;
        top: 10px;
        font-size: 200px;
        z-index: 1; } }
  .section-4__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: baseline;
    margin-bottom: 20px; }
    @media (max-width: 1279px) {
      .section-4__title {
        position: relative;
        z-index: 2; } }
  .section-4__title-item {
    font-display: auto;
    font-family: "Noto Serif", serif;
    font-size: 45px;
    line-height: 61px;
    font-weight: 700; }
    @media (max-width: 1279px) {
      .section-4__title-item {
        font-size: 26px;
        line-height: 30px; } }
  .section-4__title-small {
    font-size: 18px;
    line-height: 25px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 1279px) {
      .section-4__title-small {
        display: none; } }
  .section-4__title-small-inner {
    display: inline;
    position: relative; }
    .section-4__title-small-inner--underline:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      background: #ff3636;
      height: 2px;
      left: 0;
      bottom: -3px; }
  .section-4__desc-inner {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px; }
    @media (max-width: 1279px) {
      .section-4__desc-inner {
        font-size: 16px;
        line-height: 28px;
        position: relative;
        z-index: 2; } }
