{% 
	set img = "background-image:url(img/slide-top.jpg)"
%}
{% if modifier == 'banner-slider_in-catalog banner-slider_small' %}
{% 
	set img = "background-image:url(img/banner.jpg)"
%}
{% endif %}
		
<div class="banner-slider {{modifier}}">
	<div class="slider-slide slider-slide_banner">
		<a href="#" class="banner-slider__banner-link" style="{{img}}"></a>
	</div>
	<div class="slider-slide slider-slide_banner">
		<a href="#" class="banner-slider__banner-link" style="{{img}}"></a>
	</div>
	<div class="slider-slide slider-slide_banner">
		<a href="#" class="banner-slider__banner-link" style="{{img}}"></a>
	</div>
	<div class="slider-slide slider-slide_banner">
		<a href="#" class="banner-slider__banner-link" style="{{img}}"></a>
	</div>
	<div class="slider-slide slider-slide_banner">
		<a href="#" class="banner-slider__banner-link" style="{{img}}"></a>
	</div>
	<div class="slider-slide slider-slide_banner">
		<a href="#" class="banner-slider__banner-link" style="{{img}}"></a>
	</div>
</div>
		