{% if catalog == "unwrap" %}
<div class="catalog-menu catalog-menu_unwraped">
{% else %}
<div class="catalog-menu">
{% endif %}
	<div class="catalog-menu__head">
		Каталог товаров
	</div>
	<div class="catalog-menu__main-list">
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Apple
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-01"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Mac</a></li>
							<li><a href="#" class="text-link">MacBook</a></li>
							<li><a href="#" class="text-link">MacBook Air</a></li>
							<li><a href="#" class="text-link">MacBook Pro</a></li>
							<li><a href="#" class="text-link">iMac</a></li>
							<li><a href="#" class="text-link">Mac 5K</a></li>
							<li><a href="#" class="text-link">Mac Pro</a></li>
							<li><a href="#" class="text-link">Mac mini</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-02"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">iPad</a></li>
							<li><a href="#" class="text-link">iPad Pro</a></li>
							<li><a href="#" class="text-link">iPad Air 2</a></li>
							<li><a href="#" class="text-link">iPad mini</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-03"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">iPhone</a></li>
							<li><a href="#" class="text-link">iPhone 7 Plus</a></li>
							<li><a href="#" class="text-link">iPhone 7</a></li>
							<li><a href="#" class="text-link">iPhone SE</a></li>
							<li><a href="#" class="text-link">iPhone 6s Plus</a></li>
							<li><a href="#" class="text-link">iPhone 6s</a></li>
							<li><a href="#" class="text-link">iPhone</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-04"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">iPod</a></li>
							<li><a href="#" class="text-link">iPod Touch</a></li>
							<li><a href="#" class="text-link">iPod Nano</a></li>
							<li><a href="#" class="text-link">iPod Shuffle</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-05"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Аксессуары</a></li>
							<li><a href="#" class="text-link">AirPort</a></li>
							<li><a href="#" class="text-link">Apple TV</a></li>
							<li><a href="#" class="text-link">Кейсы для iPhone</a></li>
							<li><a href="#" class="text-link">Чехлы для iPad</a></li>
							<li><a href="#" class="text-link">Мыши и клавиатуры</a></li>
							<li><a href="#" class="text-link">Зарядные устройства</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Компьютеры, ноутбуки
					и планшеты
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-114"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Компьютеры и монитры</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-115"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Ноутбуки</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-116"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Планшеты и электронные книги</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>

						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-117"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Оргтехника</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-118"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Аксессуары</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Телевизоры
					и мультимедиа
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-154"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-155"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-156"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-157"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Аксессуары</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Смартфоны, телефоны
					и гаджеты
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content drop-menu__content_start-align">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-175"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-176"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-177"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-178"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-179"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Фото и видео
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-207"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-208"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-210"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-211"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Безопасность
					и видеонаблюдение
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-224"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-225"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-226"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-228"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Сетевое оборудование
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-224"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-225"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-319"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Маршрутизаторы</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-228"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Бытовая техника
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-246"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-247"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-248"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Маршрутизаторы</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-249"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-250"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Автомобильная техника
				</span>
			</a>
			<div class="cat-row__drop-menu">
				<div class="drop-menu__content">
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-359"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-247"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Пример секции</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
					<div class="drop-menu__type-colmn">
						<div class="type-colmn__preview">
							<div class="icon-menu-248"></div>
						</div>
						<ul class="type-colmn__nav-list">
							<li class="nav-list__title"><a href="#" class="text-link">Маршрутизаторы</a></li>
							<li><a href="#" class="text-link">лист ссылка 1</a></li>
							<li><a href="#" class="text-link">лист ссылка 2</a></li>
							<li><a href="#" class="text-link">лист ссылка 3</a></li>
							<li><a href="#" class="text-link">лист ссылка 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Отдых, спорт, развлечения
				</span>
			</a>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Инструменты
					и оборудование
				</span>
			</a>
		</div>
		<div class="main-list__cat-row">
			<a href="#" class="cat-row__link">
				<span class="cat-row__title">
					Аксессуары
				</span>
			</a>
		</div>
	</div>
</div>