{% if not mini %}
	<footer class="footer">
		<div class="footer__top-row">
			<div class="container">
				<a href="./" class="logo"></a>
				<div class="subs-module">
					<div class="subs-module__heading">
						<div class="subs-module__text">
							<div class="subs-module__title">Подписывайтесь на рассылку</div>
							<span>Новости, акции и спец. предложения</span>
						</div>
						
					</div>
					<form class="subs-form">
						<input type="text" name="" class="subs-form__input" placeholder="Введите свой email">
						<button class="subs-form__button">Подписаться</button>
					</form>
				</div>
			</div>
		</div>
		<div class="footer__main-content">
			<div class="container">
				<div class="quater-wrap">
					<nav class="nav-list">
						<div class="nav-list__title">Интернет-магазин</div>
						<ul class="nav-list__content">
							<li><a href="#" class="text-link">О компании</a></li>
							<li><a href="#" class="text-link">Новости</a></li>
							<li><a href="#" class="text-link">Акции</a></li>
							<li><a href="#" class="text-link">Бонусная программа</a></li>
							<li><a href="#" class="text-link">Каталог товаров</a></li>
							<li><a href="#" class="text-link">Политика конфиденциальности</a></li>
							<li><a href="#" class="text-link">Соглашение</a></li>
						</ul>
					</nav>
				</div>
				<div class="quater-wrap">
					<nav class="nav-list">
						<div class="nav-list__title">Помощь покупателю</div>
						<ul class="nav-list__content">
							<li><a href="#" class="text-link">Доставка</a></li>
							<li><a href="#" class="text-link">Оплата</a></li>
							<li><a href="#" class="text-link">Регистраиця</a></li>
							<li><a href="#" class="text-link">Как сделать заказ</a></li>
							<li><a href="#" class="text-link">Вопросы и ответы</a></li>
							<li><a href="#" class="text-link">Контакты</a></li>
							<li><a href="#" class="text-link"></a></li>
						</ul>
					</nav>
				</div>
				<div class="quater-wrap">
					<nav class="nav-list">
						<div class="nav-list__title">Информация</div>
						<ul class="nav-list__content">
							<li><a href="#" class="text-link">Гарантия</a></li>
							<li><a href="#" class="text-link">Купить оптом</a></li>
							<li><a href="#" class="text-link">Обмен и возврат</a></li>
							<li><a href="#" class="text-link">Корпоративным клиентам</a></li>
							<li><a href="#" class="text-link">Обзоры техники</a></li>
						</ul>
					</nav>
				</div>
				<div class="quater-wrap">
					<div class="nav-list">
						<div class="nav-list__title">Контакты</div>
						<div class="nav-list__content">
							<address class="address-text">
								тел.: <a href="tel:+7 (861) 205-14-38" class="text-link">+7 (861) 205-14-38</a><br> 
								09686, Россия, г.Москва, <br>
								ул. Нижняя Красносельская, 40/12
							</address>
							<div class="soc-block">
								<a href="#" class="soc-link soc-link_vk" target="_blank"></a>
								<a href="#" class="soc-link soc-link_fb" target="_blank"></a>
								<a href="#" class="soc-link soc-link_tw" target="_blank"></a>
								<a href="#" class="soc-link soc-link_gp" target="_blank"></a>
								<a href="#" class="soc-link soc-link_ok" target="_blank"></a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="footer__copyright">
				2017 © GmarketPro. Бытовая техника и электроника. Все права защищены. 
			</div>
		</div>
	</footer>
	
{% endif %}

</div> <!-- div.page - close -->
{% include "modals/modal-list.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/plugins-min.js"></script>
<script src="js/main-min.js"></script>
</body>
</html>