<div class="rate-module">
    <label for="rating-input-1" class="rate-module__rating-star-lb rating-star"></label>
    <input type="radio" class="rate-module__rating-input" id="rating-input-1" name="rating-input" value="1">
    <label for="rating-input-2" class="rate-module__rating-star-lb rating-star"></label>
    <input type="radio" class="rate-module__rating-input" id="rating-input-2" name="rating-input" value="2">
    <label for="rating-input-3" class="rate-module__rating-star-lb rating-star"></label>
    <input type="radio" class="rate-module__rating-input" id="rating-input-3" name="rating-input" value="3">
    <label for="rating-input-4" class="rate-module__rating-star-lb rating-star"></label>
    <input type="radio" class="rate-module__rating-input" id="rating-input-4" name="rating-input" value="4">
    <label for="rating-input-5" class="rate-module__rating-star-lb rating-star"></label>
    <input type="radio" class="rate-module__rating-input" id="rating-input-5" name="rating-input" value="5">         
</div>