<section class="description-text {{modifier}}">
	<div class="container">
		<div class="description-text__container">
			<p>GmarketPro – лидер по продаже электроники и бытовой техники среди розничных сетей России. Мы знаем, насколько стремительна жизнь и как важно всё успеть! Пока вы работаете и строите карьеру, воспитываете детей и воплощаете мечты в реальность, мы всегда рядом – в шаге, в клике, по звонку.</p>
			<p>Уже 24 года GmarketPro вместе с вами. Мы открыли более 400 магазинов в 165 городах России. Мы уверены: от желания до покупки – один шаг. Дома и на работе, в кафе и самолете – покупайте электронику в Интернет-магазине или бронируйте товары на GmarketPro и забирайте в любом удобном магазине сети. Огромный ассортимент бытовой техники и одинаково выгодные цены: приятно выбирать – удобно покупать.</p>
		</div>
	</div>
</section>