.footer {
  padding: 10px 0;
  background: #1a1a1a;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px; }
  @media (max-width: 767px) {
    .footer {
      font-size: 16px; } }
  .footer__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .footer__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer__text {
    color: #656565; }
  .footer__name span {
    color: #656565; }
  @media (max-width: 767px) {
    .footer__name {
      margin: 15px 0; } }
  .footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center; }
  .footer__icon {
    width: 25px;
    height: 25px;
    margin-right: 30px;
    cursor: pointer; }
    .footer__icon:nth-last-of-type(1) {
      margin-right: 0; }
    .footer__icon--vk {
      background: url(../../img/vk-icon-white.png);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
    .footer__icon--insta {
      background: url(../../img/insta-icon-white.png);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
    .footer__icon--facebook {
      background: url(../../img/fb-icon-white.png);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
