.first {
  background: url(../../../img/bl1_bg.jpg) center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  @media (max-width: 1279px) {
    .first {
      position: relative;
      height: 350px;
      background-size: 1300px auto;
      background-position: top right; } }
  @media (max-width: 767px) {
    .first {
      background-position: 55% 0%; } }
  .first--text {
    background: none;
    z-index: 10; }
    @media (max-width: 1279px) {
      .first--text {
        height: auto; } }
  .first__logo {
    position: absolute;
    width: 30%;
    bottom: 76%;
    left: 15%;
    z-index: 1; }
    @media (max-width: 1279px) {
      .first__logo {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); } }
    @media (max-width: 767px) {
      .first__logo {
        width: 58%;
        left: 33%;
        top: 29%; } }
  .first__logo-inner {
    width: 100%;
    height: auto; }
  .first__top {
    background: url(../../../img/dust.png) center no-repeat;
    width: 100%;
    height: 47vh;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-size: 150% 150%; }
    @media (max-width: 1279px) {
      .first__top {
        height: 100%; } }
  .first__content {
    position: absolute;
    top: 50%;
    left: 37%;
    right: 7%;
    margin-top: 15px; }
    @media (max-width: 1279px) {
      .first__content {
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
        position: static; } }
