@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";


.logo {
  width: 80px;
  height: 40px;
  background: url(../../../img/logo.svg);
  @include background-contain-center;
}