.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 65px;
  margin-top: 65px;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .article {
      grid-template-columns: 1fr; } }
  .article img {
    width: 100%;
    height: auto; }
  .article p:nth-of-type(1) {
    margin-top: 0; }
