@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.object {
  border-radius: 4px;
  box-shadow: 0 1px 16px 1px rgba(150, 154, 161, 0.15);
  border: solid 1px rgba(29, 81, 157, 0.17);
  padding: 32px 40px 40px 16px;
  background: $white;
  &__header{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__title{
    font-size: 24px;
    font-weight: 600;
    color: #1d1e29;
    line-height: 2;
    width: 50%;
    margin-right: 24px;
  }
  &__cost{
    font-size: 34px;
    font-weight: 600;
    color: #1d1e29;
    margin-right: 32px;
    line-height: 1.41;
    min-width: 224px;
  }
  &__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    align-items: start;
    margin-bottom: 48px;
  }
  &__place-name{
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.78;
    color: rgba(29, 30, 41, 0.7);
    width: 50%;
    margin-right: 24px;
  }
  &__place-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 50%;
  }
  &__place-visual-box{
    display: flex;
    align-items: center;
  }
  &__place-visual{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #5dbafd;
    padding-right: 16px;
    border-right: solid 1px rgba(29, 81, 157, 0.17);
    margin-right: 16px;
    &:last-child{
      margin-right: 0;
      border-right: none;
    }
    &:hover{
      color: #52a4e0;
      .object__place-visual-icon{
        background: #52a4e0;
      }
    }
  }
  &__place-visual-icon{
    width: 24px;
    height: 24px;
    @include mask-contain-center;
    background: #5dbafd;
    margin-right: 8px;
    &--tour{
      mask: url(../../../img/object/3d.svg);
      -webkit-mask: url(../../../img/object/3d.svg);
    }
    &--video{
      mask: url(../../../img/object/video.svg);
      -webkit-mask: url(../../../img/object/video.svg);
    }
    &--plan{
      mask: url(../../../img/object/plan.svg);
      -webkit-mask: url(../../../img/object/plan.svg);
    }
    &--map{
      mask: url(../../../img/object/map.svg);
      -webkit-mask: url(../../../img/object/map.svg);
    }
  }
  &__place-management{
    display: flex;
    align-items: center;
  }
  &__place-management-icon{
    width: 24px;
    height: 24px;
    background: #1d1e29;
    margin-right: 20px;
    @include mask-contain-center;
    &:last-child{
      margin-right: 0;
    }
    &--favourites{
      mask: url(../../../img/object/like.svg);
      -webkit-mask: url(../../../img/object/like.svg);
    }
    &--comparison{
      mask: url(../../../img/object/comparison.svg);
      -webkit-mask: url(../../../img/object/comparison.svg);
    }
  }
  &__image-box{
    cursor: pointer;
    position: relative;
    &:hover{
      .object__image-overlay{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__photo-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  &__photo-box{
    height: 226px;
  }
  &__photo{
    width: 100%;
    height: 100%;
  }
  &__container{
    display: flex;
  }
  &__image-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }
  &__image-enlarge{
    @include flex-row-center;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  &__all-photo{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(29, 81, 157, 0.6);
    font-size: 12px;
    font-weight: 500;
    color: #fff;
  }
  &__all-photo-value{
    margin: 0 8px;
  }
  &__report-title{
    margin-bottom: 24px;
  }
  &__report-inner{
    display: flex;
  }
  &__report-item{
    padding: 4px 13px;
    border-radius: 16px;
    background-color: rgba(#6bdaad, 0.1);
    margin-right: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #1d1e29;
    &:last-child{
      margin-right: 0;
    }
    &--red{
      background: rgba(#f6caa6, 0.2);
    }
  }
  &__report-icon{
    @include flex-row-center;
	width: 24px;
	height: 24px;
	background-color: #ffffff;
    border-radius: 100%;
    margin-right: 8px;
  }
  &__report-info{
    @include flex-row-center;
    cursor: pointer;
    margin-left: 13px;
  }
  &__title-medium{
    margin-bottom: 24px;
  }
  &__characteristics-inner{
    display: flex;
  }
  &__characteristics-col{
    width: 20%;
    margin-right: 48px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__characteristics-icon{
    margin-right: 16px;
  }
  &__characteristics-row{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__characteristics-text{
	font-size: 14px;
	font-weight: 500;
    color: #1d1e29;
  }
  &__description-text{
    font-size: 14px;
    color: #1d1e29;
    line-height: 1.71;
    width: 56%;
  }
  &__features-inner{
    display: flex;
  }
  &__features-col{
    width: 20%;
    margin-right: 48px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__features-row{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__features-icon{
    margin-right: 16px;
  }
  &__features-title{
    font-size: 14px;
    font-weight: 500;
    color: #1d1e29;
  }
  &__certificate-inner{
    display: flex;
  }
  &__certificate-class{
    font-size: 14px;
    font-weight: 500;
    color: #1d1e29;
    width: 20%;
    margin-right: 48px;
  }
  &__emissions-title{
    font-size: 14px;
    font-weight: 500;
    color: #1d1e29;
    margin-bottom: 8px;
  }
  &__emissions-item{
    display: inline-flex;
	box-shadow: 0 1px 8px 0 rgba(29, 81, 157, 0.25);
	background-color: #ffffff;
  }
  &__emissions-item-power{
    font-size: 16px;
    font-weight: 500;
	color: #1d1e29;
	width: 32px;
	height: 56px;
    @include flex-row-center;
    border-bottom: 3px solid #00954d;
    &--active{
      &.object__emissions-item-power--a{
        background: #00954d;
      }
      &.object__emissions-item-power--b{
        background: #0eb24c;
      }
      &.object__emissions-item-power--c{
        background: #98cb3d;
      }
      &.object__emissions-item-power--d{
        background: #ebe724;
      }
      &.object__emissions-item-power--e{
        background: #efb51d;
      }
      &.object__emissions-item-power--f{
        background: #e07526;
      }
      &.object__emissions-item-power--g{
        background: #e22e28;
      }
    }
    &--a{
      border-color: #00954d;
    }
    &--b{
      border-color: #0eb24c;
    }
    &--c{
      border-color: #98cb3d;
    }
    &--d{
      border-color: #ebe724;
    }
    &--e{
      border-color: #efb51d;
    }
    &--f{
      border-color: #e07526;
    }
    &--g{
      border-color: #e22e28;
    }
  }
  &__box{
    margin-bottom: 48px;
  }
  &__calculator-box{
    border-radius: 4px;
    border: solid 1px rgba(29, 81, 157, 0.17);
    padding: 24px 24px 24px 16px;
    margin-bottom: 32px;
    width: 72%;
  }
  &__location-header{
    display: flex;
    margin-bottom: 16px;
  }
  &__location-header-icon{
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background: rgba(29, 30, 41, 0.3);
    @include mask-contain-center;
    &--map{
      mask: url(../../../img/object/map.svg);
      -webkit-mask: url(../../../img/object/map.svg);
    }
    &--info{
      mask: url(../../../img/object/info-2.svg);
      -webkit-mask: url(../../../img/object/info-2.svg);
    }
  }
  &__location-header-item{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #1d1e29;
    margin-right: 24px;
    &:last-child{
      margin-right: 0;
    }
    &--grey{
      color: rgba(29, 30, 41, 0.7);
    }
    &:hover{
      color: #52a4e0;
      .object__location-header-icon{
        background: #52a4e0;
      }
    }
  }
  &__map{
    width: 72%;
    height: 360px;
    margin-bottom: 40px;
  }
  &__footer{
    display: flex;
    align-items: center;
  }
  &__footer-item{
    font-size: 14px;
    font-weight: 500;
	color: #5dbafd;
    margin-right: 24px;
    display: flex;
    align-items: center;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      color: #52a4e0;
      .object__footer-icon{
        background: #52a4e0;
      }
    }
  }
  &__footer-icon{
	width: 24px;
	height: 24px;
    @include mask-contain-center;
    margin-right: 16px;
    background: #5dbafd;
    &--printer{
      mask: url(../../../img/object/printer.svg);
      -webkit-mask: url(../../../img/object/printer.svg);
    }
    &--share{
      mask: url(../../../img/object/share.svg);
      -webkit-mask: url(../../../img/object/share.svg);
    }
    &--complain{
      mask: url(../../../img/object/complain.svg);
      -webkit-mask: url(../../../img/object/complain.svg);
    }
  }
  &__calculator-title{
    font-size: 18px;
    font-weight: 500;
    color: #1d1e29;
    margin-bottom: 24px;
  }
  &__calculator-cost{
    font-weight: 600;
  }
  &__calculator-items{
    display: flex;
  }
  &__calculator-item{
    margin-right: 80px;
    width: 15%;
    &:last-child{
      margin-right: 0;
    }
  }
  &__calculator-item-title{
    font-size: 14px;
    font-weight: 500;
    color: rgba(29, 30, 41, 0.7);
    margin-bottom: 8px;
  }
  &__calculator-item-sum{
    font-size: 24px;
    font-weight: 500;
	color: #1d1e29;
    margin-bottom: 10px;
  }
  &__calculator-item-min{
    font-size: 14px;
    font-weight: 500;
    color: rgba(29, 30, 41, 0.4);
  }
  &__carousel{
    max-width: 860px !important;
    position: relative;
    display: block !important;
    .slick-slide {
      outline: none;
    }
    .slick-list{
      border-radius: 4px;
    }
  }
  &__carousel-prev{
    cursor: pointer;
    width: 24px;
    height: 80px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    @include flex-row-center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &:after{
      content: '';
      position: absolute;
      background: url(../../../img/object/arrow-left.svg);
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 16px;
      height: 16px;
    }
  }
  &__carousel-next{
    cursor: pointer;
    width: 24px;
    height: 80px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    @include flex-row-center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &:after{
      content: '';
      position: absolute;
      background: url(../../../img/object/arrow-right.svg);
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 16px;
      height: 16px;
    }
  }
  &__history{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #1d1e29;
    display: flex;
    align-items: center;
  }
  &__history-arrow{
    margin-left: 8px;
    @include flex-row-center;
  }
}
