.button {
  border: 1px solid #dfdfdf;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  text-align: center; }
  .button:hover {
    color: #bd1d00; }
  .button--big {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 300; }
  .button--yellow {
    background: #ffdd2d;
    border: 1px solid #ffdd2d;
    color: #333; }
    .button--yellow:hover {
      background: #ffc62d;
      border: 1px solid #ffc62d;
      color: #333; }
  .button--white-border {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff; }
    .button--white-border:hover {
      background: #ffffff;
      color: #333; }
