<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ticket</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles_to_head.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
    <script src="../../Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
<header class="header">
    <div class="layout">
        <form class="header__block" id="logoutForm" method="post">
            <div class="header__logo">
                <a href="/" title="Home Page" class="header__logo__link">
                    <img src="../..../../../img/TuSerwis_logo.svg">
                </a>
            </div>

            <div class="header__profile">
                <div class="header__profile-close"></div>
                <div class="header__balance">
                    <div class="header__balance-number">862</div>
                    <div class="header__balance-icon">zł</div>
                    <div class="button-circle"></div>
                </div>
                <div class="header__notifications header__notifications--has-unread">
                    <div class="header__notifications-icon"></div>
                    <div class="header__notifications-text">Notifications</div>
                </div>

                <div class="header__profile-menu">
                    <a class="header__profile-menu-link" href="#">Account</a>
                    <a class="header__profile-menu-link" href="#">Wyloguj</a>
                </div>
            </div>

            <div class="header__profile-button" style="background: url(../..../../../img/workshop_logo.png)"></div>
        </form>
    </div>
</header>

<div class="wrapper wrapper--background">
    <div class="layout">
        <div class="ticket ticket--wide">
            <div class="ticket__menu">
                <div class="ticket__header">
                    <div class="ticket__header-item">Oferty</div>
                </div>
                <div class="ticket__menu-wrapper">
                    <div class="ticket__menu-button ticket__menu-button--oferty">
                        <div class="ticket__menu-item">
                            <div class="ticket__menu-item-name">Nadchodzące naprawy</div>
                            <div class="ticket__menu-item-count">10</div>
                        </div>
                    </div>
                    <div class="ticket__menu-items ticket__menu-items--oferty">
                        <a href="#" class="ticket__menu-item">
                            <div class="ticket__menu-item-name">Wszystkie oferty</div>
                            <div class="ticket__menu-item-count">10</div>
                        </a>
                        <a href="#" class="ticket__menu-item active">
                            <div class="ticket__menu-item-name">Nadchodzące naprawy</div>
                        </a>
                        <a href="#" class="ticket__menu-item">
                            <div class="ticket__menu-item-name">Zakończone naprawy</div>
                        </a>
                    </div>
                </div>


                <div class="ticket__header ticket__header--mobile-hide">
                    <div class="ticket__header-item">Moje samochody</div>
                </div>
                <div class="ticket__menu-wrapper">
                    <div class="ticket__menu-button ticket__menu-button--cars">
                        <div class="ticket__menu-item">
                            <div class="ticket__menu-item-name">Renault Duster</div>
                            <div class="ticket__menu-item-count">1</div>
                        </div>
                    </div>
                    <div class="ticket__menu-items ticket__menu-items--cars">
                        <a href="#" class="ticket__menu-item active">
                            <div class="ticket__menu-item-name">Renault Duster</div>
                            <div class="ticket__menu-item-count">1</div>
                        </a>
                        <a href="#" class="ticket__menu-item">
                            <div class="ticket__menu-item-name">Audi A4</div>
                        </a>
                        <a href="#" class="ticket__menu-item">
                            <div class="ticket__menu-item-name">Bentley Continental</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ticket__items-block">

                <div class="ticket__items">

                    <div class="ticket__item">
                        <div class="ticket__item-history ticket__item-history--red ticket__item-history--error">
                            <div class="ticket__item-history-text">odrzucony przez ciebie</div>
                        </div>

                        <div class="ticket__item-mobile-name">
                            Real-Auto Service Studio
                        </div>

                        <div class="ticket__item-header-natural ticket__item-header-natural--mobile">
                            <div class="ticket__item-header-natural-item ticket__item-header-natural-item--map">
                                Aleja Krakowska 7, 02-001, Warszawa
                            </div>
                            <div class="ticket__item-header-natural-item">
                                <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--black">
                                    Godzina:
                                </div>
                                <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--blue">
                                    12:30
                                </div>
                                <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--black">
                                    Data:
                                </div>
                                <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--blue">
                                    09/20/2019
                                </div>
                            </div>
                        </div>

                        <div class="ticket__item-header ticket__item-header--client ticket__item-header--main ticket__item-header--mobile-blue">
                            <div class="ticket__item-name">Real-Auto Service Studio</div>
                            <div class="ticket__item-controls">
                                <div class="ticket__item-button-chat ticket__item-toggle-hide"></div>
                            </div>
                            <div class="ticket__item-header-natural">
                                <div class="ticket__item-header-natural-item ticket__item-header-natural-item--map">
                                    Aleja Krakowska 7, 02-001, Warszawa
                                </div>
                                <div class="ticket__item-header-natural-item">
                                    <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--black">
                                        Godzina:
                                    </div>
                                    <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--blue">
                                        12:30
                                    </div>
                                    <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--black">
                                        Data:
                                    </div>
                                    <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--blue">
                                        09/20/2019
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ticket__item-desc ticket__item-desc--close">
                            <div class="workshop-list__list-item-price">300zł</div>
                            <div class="ticket__item-desc-subtitle">twoja propozycja</div>
                            <div class="ticket__item-desc-item">
                                <div class="ticket__item-desc-row">
                                    Wymiana oleju
                                </div>
                            </div>

                            <div class="ticket__item-desc-subtitle">propozycja od warsztatu</div>
                            <div class="ticket__item-desc-item">
                                <div class="ticket__item-desc-row">Zapewniamy pelna game systemów do naprawy i naprawy
                                    samochodów. alternatory). Wymiana pasów i lancuchów rozrzadu;
                                </div>
                            </div>

                            <div class="ticket__item-desc-subtitle">powód anulowania</div>
                            <div class="ticket__item-desc-item">
                                <div class="ticket__item-desc-row">
                                    Komentarz od klienta. Zapewniamy pelna game systemów do
                                    naprawy i naprawy samochodów. alternatory). Wymiana pasów i lancuchów rozrzadu;
                                </div>
                            </div>


                        </div>

                        <div class="ticket__item-hide">
                            <div class="ticket__chat">
                                <div class="ticket__chat-messages">
                                    <div class="ticket__chat-message ticket__chat-message--client">
                                        <div class="ticket__chat-message-item">Hej, pomóż z samohodem, mam 5 złotych
                                        </div>
                                        <div class="ticket__chat-message-time">1:22 am</div>
                                    </div>
                                    <div class="ticket__chat-message ticket__chat-message--workshop">
                                        <div class="ticket__chat-message-item">kurwa masz problemy z glowow co?</div>
                                        <div class="ticket__chat-message-time">1:22 am</div>
                                    </div>
                                    <div class="ticket__chat-message ticket__chat-message--client">
                                        <div class="ticket__chat-message-item">Hej, pomóż z samohodem, mam 5 złotych
                                        </div>
                                        <div class="ticket__chat-message-time">1:22 am</div>
                                    </div>
                                    <div class="ticket__chat-message ticket__chat-message--workshop">
                                        <div class="ticket__chat-message-item">kurwa masz problemy z glowow co?</div>
                                        <div class="ticket__chat-message-time">1:22 am</div>
                                    </div>
                                </div>
                                <div class="ticket__chat-footer">
                                    <input class="ticket__chat-input" placeholder="Napisz co kolwiek…">
                                    <div class="ticket__item-button ticket__item-button--invert ticket__item-button--chat">
                                        Napisz
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ticket__item">
                        <div class="ticket__item-history ticket__item-history--green ticket__item-history--success">
                            <div class="ticket__item-history-text">umowa była udana</div>
                        </div>

                        <div class="ticket__item-mobile-name">
                            Real-Auto Service Studio
                        </div>

                        <div class="ticket__item-header-natural ticket__item-header-natural--mobile">
                            <div class="ticket__item-header-natural-item ticket__item-header-natural-item--map">
                                Aleja Krakowska 7, 02-001, Warszawa
                            </div>
                            <div class="ticket__item-header-natural-item">
                                <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--black">
                                    Godzina:
                                </div>
                                <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--blue">
                                    12:30
                                </div>
                                <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--black">
                                    Data:
                                </div>
                                <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--blue">
                                    09/20/2019
                                </div>
                            </div>
                        </div>

                        <div class="ticket__item-header ticket__item-header--client ticket__item-header--main ticket__item-header--mobile-blue">
                            <div class="ticket__item-name">Real-Auto Service Studio</div>
                            <div class="ticket__item-controls">
                                <div class="ticket__item-button ticket__item-button--mobile-footer ticket__item-button--invert editable-block__switch editable-block__view open-modal"
                                     data-modal="modal_rating">
                                    Oceń naprawe
                                </div>
                                <div class="ticket__item-button-chat ticket__item-toggle-hide"></div>
                            </div>
                            <div class="ticket__item-header-natural">
                                <div class="ticket__item-header-natural-item ticket__item-header-natural-item--map">
                                    Aleja Krakowska 7, 02-001, Warszawa
                                </div>

                                <div class="ticket__item-header-natural-item">
                                    <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--black">
                                        Godzina:
                                    </div>
                                    <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--blue">
                                        12:30
                                    </div>
                                    <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--black">
                                        Data:
                                    </div>
                                    <div class="ticket__item-header-natural-item-inner ticket__item-header-natural-item-inner--blue">
                                        09/20/2019
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="ticket__item-desc ticket__item-desc--close">
                            <div class="workshop-list__list-item-price">300zł</div>
                            <div class="ticket__item-desc-subtitle">twoje zlecenie</div>
                            <div class="ticket__item-desc-item">
                                <div class="ticket__item-desc-row">
                                    <div class="ticket__item-desc-attention">Potrzebuję lawety</div>
                                    <div class="ticket__item-desc-attention">Mam swoje części</div>
                                </div>
                            </div>
                            <div class="ticket__item-desc-item">
                                <div class="ticket__item-desc-row">
                                    Wymiana oleju
                                </div>
                            </div>

                            <div class="ticket__item-desc-subtitle">propozycja od warsztatu</div>
                            <div class="ticket__item-desc-item">
                                <div class="ticket__item-desc-row">Zapewniamy pelna game systemów do naprawy i naprawy
                                    samochodów. alternatory). Wymiana pasów i lancuchów rozrzadu;
                                </div>
                            </div>

                            <div class="ticket__item-desc-subtitle">Komentarz od warsztatu</div>
                            <div class="ticket__item-desc-item">
                                <div class="ticket__item-desc-row">
                                    <div class="ticket__item-desc-row-name">Wymiana oleju:</div>
                                    <div class="ticket__item-desc-row-val">300zł</div>
                                </div>
                                <div class="ticket__item-desc-row">
                                    <div class="ticket__item-desc-row-name">Wymiana klocku:</div>
                                    <div class="ticket__item-desc-row-val">300zł</div>
                                </div>
                            </div>


                        </div>

                        <div class="ticket__item-hide">
                            <div class="ticket__chat">
                                <div class="ticket__chat-messages">
                                    <div class="ticket__chat-message ticket__chat-message--client">
                                        <div class="ticket__chat-message-item">Hej, pomóż z samohodem, mam 5 złotych
                                        </div>
                                        <div class="ticket__chat-message-time">1:22 am</div>
                                    </div>
                                    <div class="ticket__chat-message ticket__chat-message--workshop">
                                        <div class="ticket__chat-message-item">kurwa masz problemy z glowow co?</div>
                                        <div class="ticket__chat-message-time">1:22 am</div>
                                    </div>
                                    <div class="ticket__chat-message ticket__chat-message--client">
                                        <div class="ticket__chat-message-item">Hej, pomóż z samohodem, mam 5 złotych
                                        </div>
                                        <div class="ticket__chat-message-time">1:22 am</div>
                                    </div>
                                    <div class="ticket__chat-message ticket__chat-message--workshop">
                                        <div class="ticket__chat-message-item">kurwa masz problemy z glowow co?</div>
                                        <div class="ticket__chat-message-time">1:22 am</div>
                                    </div>
                                </div>
                                <div class="ticket__chat-footer">
                                    <input class="ticket__chat-input" placeholder="Napisz co kolwiek…">
                                    <div class="ticket__item-button ticket__item-button--invert ticket__item-button--chat">
                                        Napisz
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal__background close-modal active"></div>

<div class="modal__block active" data-modal-name="modal_rating">

    <div class="modal__content modal__content--short">

        <div class="modal__title">Oceń naprewę Real-Auto
            Service Studio
        </div>

        <div class="form__field">
            <div class="rating-input">
                <div class="rating-input__title">Jakość i termin naprawy</div>
                <div class="rating-input__input">
                    <div class="rating-input__input-val"></div>
                </div>
                <input class="rating-input__item" type="hidden">
            </div>
        </div>

        <div class="form__field">
            <div class="rating-input">
                <div class="rating-input__title">Ocena personelu</div>
                <div class="rating-input__input">
                    <div class="rating-input__input-val"></div>
                </div>
                <input class="rating-input__item" type="hidden">
            </div>
        </div>

        <div class="form__field">
            <div class="rating-input">
                <div class="rating-input__title">Koszt naprawy</div>
                <div class="rating-input__input">
                    <div class="rating-input__input-val"></div>
                </div>
                <input class="rating-input__item" type="hidden">
            </div>
        </div>

        <div class="form__field">
            <div class="input">
                <div class="input__button input__button--textarea">
                    <textarea class="input__text" placeholder="Napisz powód dlaczego…"></textarea>
                </div>
            </div>
        </div>
        <div class="form__footer form__footer--modal">
            <div class="form__footer-button-big">Zapisz</div>
            <div class="form__footer-button-small">Pużniej</div>
        </div>

    </div>

</div>


<div class="animation-scroll scroll-top"></div>

<footer class="footer">
    <div class="layout">
        <div class="footer__top">
            <div class="footer__links">
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Privacy Policy</a>
                    <div class="footer__links-item">© 2019 TuSerwis Inc.</div>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Contact Us</a>
                    <a href="#" class="footer__links-item">Ordering & Payment</a>
                    <a href="#" class="footer__links-item">FAQ</a>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Pracyj z nami</a>
                    <a href="#" class="footer__links-item">Regulamin</a>
                </div>
            </div>


            <div class="footer__form">
                <div class="footer__form-contacts">
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">info@tuserwis.com</a>
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">+1 800
                        123-1001</a>
                </div>

                <div class="footer__bottom-social">
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/instagram.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/twitter.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/facebook.svg" class="footer__bottom-social-link-icon">
                    </a>
                </div>
            </div>

        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-logo">TuSerwis</div>

        </div>
    </div>
</footer>

<link href="../../Scripts/timedropper/timedropper.min.css" rel="stylesheet" defer>
<script src="../../Scripts/timedropper/timedropper.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../Scripts/jquery.maskedinput.min.js" defer></script>
<script src="../../Scripts/lightbox2/js/lightbox.min.js"></script>
<script src="../../Scripts/owlcarousel2/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/lightbox2/css/lightbox.min.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/owlcarousel2/assets/owl.carousel.min.css">
<script src="../../Content/js/main.js"></script>
<script src="../../Content/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwl91tizjVH8SJLr3XnJWckLCog_TTHgQ&callback=initMap&libraries=places"
        type="text/javascript"></script>
</body>
</html>