@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.fourth {
  //background: url(../../../img/3/0.png);
  position: absolute;
  @include absolute-fill;
  background-position: left bottom;
  background-size: 85%;
  background-repeat: no-repeat;

  @media #{$tablet-big-screen} {
    position: static;
    order: -1;
  }


  &__content {
    position: absolute;
    top: 50%;
    left: 55%;
    right: 7%;
    margin-top: -210px;

    @media #{$tablet-big-screen} {
      width: calc(100% - 30px);
      @include margin-auto;
      position: static;
      margin-top: 15px;
    }
  }

}