@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.tenth {

  &__block {
    display: grid;
    grid-template-columns: 3fr 4fr;

    @media #{$mobile-big-screen} {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    @include flex-row-center;

    @media #{$mobile-big-screen} {
      height: 100px;
      margin-bottom: 30px;
    }
  }

  &__img-inner {
    @media #{$mobile-big-screen} {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__info {

  }

  &__title {
    @media #{$mobile-big-screen} {
      text-align: center;
    }
  }

  &__text {
    font-size: 18px !important;
  }

}