@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Code+Pro:wght@300&display=swap');

body {
  margin: 0;
  background: #f5feff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: all .1s ease-out;
  font-family: 'Montserrat', sans-serif;
}

.demo {
  padding: 100px 20px 0;

  &__title {
  }

  &__text {
  }

  &__text-article {
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
  }

  &__select {
    width: 300px;
    margin-bottom: 20px;
  }

  &__subtitle-h2 {
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
  }

  &__subtitle-h3 {
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
  }

  &__code-wrapper {
    padding: 0 20px;
    background: #2b2b2b;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 60px;
  }

  &__code {
    font-family: 'Source Code Pro', monospace;
    color: #bababa;
  }
}
