.cases
    .cases__block.layout
        .cases__title.title Кейсы
    .cases__slider.owl-carousel
        .cases__slide(style='background:url(src/images/uploads/case.jpg)')
            .cases__slide-item.layout
                .cases__slide-item-footer
                    .cases__slide-item-footer-work
                        .cases__slide-item-footer-work-client kupilekarstva.ru / «ОНЛАЙН ФАРМА»
                        .cases__slide-item-footer-work-type GOLDEN MARROW BRANDING
                    .cases__slide-item-footer-services
                        .cases__slide-item-footer-services-item Ребрендинг логотипа сети аптек
                        .cases__slide-item-footer-services-item разработка корпоративного стиля
        .cases__slide(style='background:url(src/images/uploads/case.jpg)')
            .cases__slide-item.layout
                .cases__slide-item-footer
                    .cases__slide-item-footer-work
                        .cases__slide-item-footer-work-client kupilekarstva.ru / «ОНЛАЙН ФАРМА»
                        .cases__slide-item-footer-work-type GOLDEN MARROW BRANDING
                    .cases__slide-item-footer-services
                        .cases__slide-item-footer-services-item Ребрендинг логотипа сети аптек
                        .cases__slide-item-footer-services-item разработка корпоративного стиля