.select-autocomplete {
  width: 100%;
  position: relative; }
  .select-autocomplete.focus .warning.active {
    opacity: 0;
    visibility: hidden; }
  .select-autocomplete.focus .placeholder {
    opacity: 1;
    visibility: visible; }
  .select-autocomplete__button {
    width: 100% !important;
    min-width: 180px !important;
    height: 28px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none !important;
    background: #fff !important;
    position: relative !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex !important;
    justify-content: space-between; }
    .select-autocomplete__button:focus {
      outline: none !important; }
  .select-autocomplete__text {
    font-family: 'San Francisco', sans-serif !important;
    float: none !important;
    border: 1px solid #bababa !important;
    border-radius: 4px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #000 !important;
    margin: 0 !important;
    width: 0 !important;
    height: 100% !important;
    flex-grow: 1 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex !important;
    justify-content: flex-start; }
    .select-autocomplete__text::-webkit-input-placeholder {
      color: #333; }
    .select-autocomplete__text::-moz-placeholder {
      color: #333; }
    .select-autocomplete__text:-moz-placeholder {
      color: #333; }
    .select-autocomplete__text:-ms-input-placeholder {
      color: #333; }
    .select-autocomplete__text:focus {
      outline: none !important;
      background: #fff !important;
      color: #000 !important; }
      .select-autocomplete__text:focus::-webkit-input-placeholder {
        color: #000; }
      .select-autocomplete__text:focus::-moz-placeholder {
        color: #000; }
      .select-autocomplete__text:focus:-moz-placeholder {
        color: #000; }
      .select-autocomplete__text:focus:-ms-input-placeholder {
        color: #000; }
    .select-autocomplete__button--open .select-autocomplete__text {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important; }
  .select-autocomplete__icon {
    width: 10px !important;
    height: 10px !important;
    background: url(../../../img/down-arrow.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: absolute !important;
    top: 50% !important;
    right: 12px !important;
    transform: translateY(-50%) !important; }
    .select-autocomplete__button--open .select-autocomplete__icon {
      transform: translateY(-50%) rotate(180deg) !important; }
  .select-autocomplete__menu {
    transition: all 0s;
    border: 1px solid #bababa !important;
    background: #fff !important;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow-y: auto;
    padding-right: 0; }
    .select-autocomplete__menu::-webkit-scrollbar-button {
      background-image: none;
      background-repeat: no-repeat;
      width: 5px;
      height: 0; }
    .select-autocomplete__menu::-webkit-scrollbar-track {
      background: #ffffff; }
    .select-autocomplete__menu::-webkit-scrollbar-thumb {
      background-color: #3e80ff;
      cursor: pointer; }
    .select-autocomplete__menu::-webkit-scrollbar-thumb:hover {
      background-color: #225ed0; }
    .select-autocomplete__menu::-webkit-resizer {
      background-image: none;
      background-repeat: no-repeat;
      width: 5px;
      height: 0; }
    .select-autocomplete__menu::-webkit-scrollbar {
      width: 5px; }
    .select-autocomplete__menu .ui-menu-item-wrapper {
      height: 28px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
      font-family: 'San Francisco', sans-serif !important;
      float: none !important;
      font-size: 15px !important;
      font-weight: 400 !important;
      color: #000 !important;
      position: relative !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: flex-start;
      display: flex !important;
      margin: 0 !important;
      border: none !important; }
      .select-autocomplete__menu .ui-menu-item-wrapper:hover, .select-autocomplete__menu .ui-menu-item-wrapper.ui-state-active, .select-autocomplete__menu .ui-menu-item-wrapper.active {
        color: #000000 !important;
        background: #eaeaea !important; }
