.animation-second-double {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }
  @media (max-width: 1279px) {
    .animation-second-double {
      display: none; } }
  .animation-second-double.hidden {
    opacity: 0; }
  .animation-second-double--final {
    opacity: 0; }
  .animation-second-double * img {
    width: 100%;
    height: auto; }
  .animation-second-double__background {
    width: 42%;
    position: absolute;
    bottom: 2%;
    left: 0; }
  .animation-second-double--1 .animation-second-double__background-img {
    opacity: 0; }
  .animation-second-double--2 .animation-second-double__background-img {
    opacity: 0; }
  .animation-second-double--3 .animation-second-double__background-img {
    opacity: 0; }
  .animation-second-double--4 .animation-second-double__background-img {
    opacity: 0; }
  .animation-second-double--5 .animation-second-double__background-img {
    opacity: 0; }
  .animation-second-double--6 .animation-second-double__background-img {
    opacity: 0; }
  .animation-second-double--7 .animation-second-double__background-img {
    opacity: 0; }
  .animation-second-double__1-line, .animation-second-double__7-line {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background: transparent; }
  .animation-second-double__el {
    position: absolute; }
    .animation-second-double__el--1 {
      width: 4.5%; }
      .animation-second-double--1 .animation-second-double__el--1 {
        top: 38%;
        left: 30.5%; }
      .animation-second-double--2 .animation-second-double__el--1 {
        top: 52%;
        left: 33.5%; }
      .animation-second-double--3 .animation-second-double__el--1 {
        top: 64%;
        left: 38.5%; }
      .animation-second-double--4 .animation-second-double__el--1 {
        top: 76%;
        left: 49.5%; }
      .animation-second-double--5 .animation-second-double__el--1 {
        top: 88%;
        left: 63.5%; }
      .animation-second-double--6 .animation-second-double__el--1 {
        top: -17%;
        left: 78.5%; }
      .animation-second-double--7 .animation-second-double__el--1 {
        top: 76%;
        left: 56.5%; }
    .animation-second-double__el--2 {
      width: 4.5%; }
      .animation-second-double--1 .animation-second-double__el--2 {
        top: 34%;
        left: 42.5%; }
      .animation-second-double--2 .animation-second-double__el--2 {
        top: 49%;
        left: 46.5%; }
      .animation-second-double--3 .animation-second-double__el--2 {
        top: 58%;
        left: 51.5%; }
      .animation-second-double--4 .animation-second-double__el--2 {
        top: 68%;
        left: 60.5%; }
      .animation-second-double--5 .animation-second-double__el--2 {
        top: 79%;
        left: 74.5%; }
      .animation-second-double--6 .animation-second-double__el--2 {
        top: -30%;
        left: 89.5%; }
      .animation-second-double--7 .animation-second-double__el--2 {
        top: 76%;
        left: 98.5%; }
    .animation-second-double__el--3 {
      width: 4%; }
      .animation-second-double--1 .animation-second-double__el--3 {
        top: 31%;
        left: 55.5%; }
      .animation-second-double--2 .animation-second-double__el--3 {
        top: 45%;
        left: 58.5%; }
      .animation-second-double--3 .animation-second-double__el--3 {
        top: 53%;
        left: 61.5%; }
      .animation-second-double--4 .animation-second-double__el--3 {
        top: 61%;
        left: 69.5%; }
      .animation-second-double--5 .animation-second-double__el--3 {
        top: 70%;
        left: 81.5%; }
      .animation-second-double--6 .animation-second-double__el--3 {
        top: -42%;
        left: 94.5%; }
      .animation-second-double--7 .animation-second-double__el--3 {
        top: 76%;
        left: 137.5%; }
    .animation-second-double__el--4 {
      width: 4%; }
      .animation-second-double--1 .animation-second-double__el--4 {
        top: 30%;
        left: 64.5%; }
      .animation-second-double--2 .animation-second-double__el--4 {
        top: 42%;
        left: 67.5%; }
      .animation-second-double--3 .animation-second-double__el--4 {
        top: 49%;
        left: 70.5%; }
      .animation-second-double--4 .animation-second-double__el--4 {
        top: 56%;
        left: 77.5%; }
      .animation-second-double--5 .animation-second-double__el--4 {
        top: 63%;
        left: 87.5%; }
      .animation-second-double--6 .animation-second-double__el--4 {
        top: -51%;
        left: 97.5%; }
      .animation-second-double--7 .animation-second-double__el--4 {
        top: 76%;
        left: 176.5%; }
