<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles_to_head.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
    <script src="../../Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
<header class="header">
    <div class="layout">
        <form class="header__block" id="logoutForm" method="post">
            <div class="header__logo">
                <a href="/" title="Home Page" class="header__logo__link">
                    <img src="../..../../../img/TuSerwis_logo.svg">
                </a>
            </div>

            <div class="header__profile">
                <div class="header__profile-close"></div>
                <div class="header__balance">
                    <div class="header__balance-number">862</div>
                    <div class="header__balance-icon">zł</div>
                    <div class="button-circle"></div>
                </div>
                <div class="header__notifications header__notifications--has-unread">
                    <div class="header__notifications-icon"></div>
                    <div class="header__notifications-text">Notifications</div>
                </div>

                <div class="header__profile-menu">
                    <a class="header__profile-menu-link" href="#">Account</a>
                    <a class="header__profile-menu-link" href="#">Wyloguj</a>
                </div>
            </div>

            <div class="header__profile-button" style="background: url(../..../../../img/workshop_logo.png)"></div>
        </form>
    </div>
</header>

<div class="wrapper wrapper--background">
    <div class="layout">

        <div class="modern-form">
            <div class="modern-form__inner form-check" id="login">
                <div class="modern-form__header">
                    <div class="modern-form__button">Login</div>
                    <div class="modern-form__button modern-form__button--not-active" onclick="showForm('#signup')">Sign up</div>
                </div>
                <div class="modern-form__block">
                    <div class="modern-form__input-block input--phone form-check__field" data-check-type="input" data-check="input-required">
                        <input class="modern-form__input" placeholder="+48-123-456-789" data-placeholder="Phone number" type="tel">
                    </div>
                    <div class="modern-form__input-block modern-form__input-block--pass form-check__field" data-check-type="input" data-check="input-required">
                        <div class="modern-form__input-pass-toggle"></div>
                        <input class="modern-form__input" type="password" placeholder="Haslo">
                    </div>
                </div>
                <div class="modern-form__footer">
                    <div class="modern-form__main-button form-check__button">Login</div>
                    <div class="modern-form__natural-button">Remember pass</div>
                </div>
            </div>

            <div class="modern-form__inner form-check" id="signup">
                <div class="modern-form__header">
                    <div class="modern-form__button modern-form__button--not-active"  onclick="showForm('#login')">Login</div>
                    <div class="modern-form__button">Sign up</div>
                </div>
                <div class="modern-form__block">
                    <div class="modern-form__input-block form-check__field" data-check-type="input" data-check="input-required">
                        <input class="modern-form__input" placeholder="Name">
                    </div>
                    <div class="modern-form__input-block input--phone form-check__field" data-check-type="input" data-check="input-required">
                        <input class="modern-form__input" placeholder="+48-123-456-789" type="tel">
                    </div>
                    <div class="modern-form__input-block form-check__field" data-check-type="input" data-check="input-required, email-correct">
                        <input class="modern-form__input" placeholder="E-mail" data-placeholder="E-mail">
                    </div>
                    <div class="modern-form__input-block form-check__field" data-check-type="input" data-check="checkbox-required">
                        <input class="modern-form__input-check-input" id="check_1" value="checkbox_1" type="checkbox"/>
                        <label class=" modern-form__input-check-label" for="check_1">I agree agree agree <a href="#">agree agree agree</a>  agree</label>
                    </div>
                    <div class="modern-form__small-title">Enter 4-digit code from sms</div>
                    <div class="modern-form__input-block">
                        <div class="modern-form__input-code-block form-check__field" data-check-type=".modern-form__input-result" data-check="sms-code">
                            <div class="modern-form__input-code-block-row">
                                <input class="modern-form__input-code" type="tel">
                                <input class="modern-form__input-code" type="tel">
                                <input class="modern-form__input-code" type="tel">
                                <input class="modern-form__input-code" type="tel">
                            </div>
                            <input class="modern-form__input-result">
                        </div>
                    </div>

                    <div class="modern-form__input-block modern-form__input-block--pass form-check__field" data-check-type="input" data-check="input-required">
                        <div class="modern-form__input-pass-toggle"></div>
                        <input class="modern-form__input" type="password" placeholder="Haslo">
                    </div>
                </div>
                <div class="modern-form__footer">
                    <div class="modern-form__main-button form-check__button">Create account</div>
                    <div class="modern-form__small-desc">Waiting for 120 sec</div>
                </div>
            </div>

            <div class="modern-form__inner active form-check" id="password">
                <div class="modern-form__header">
                    Password
                </div>
                <div class="modern-form__block">
                    <div class="modern-form__input-block input--phone form-check__field" data-check-type="input" data-check="input-required">
                        <input class="modern-form__input" placeholder="+48-123-456-789" type="tel">
                    </div>

                    <div class="modern-form__small-title">Enter 4-digit code from sms</div>
                    <div class="modern-form__input-block">
                        <div class="modern-form__input-code-block form-check__field" data-check-type=".modern-form__input-result" data-check="sms-code">
                            <div class="modern-form__input-code-block-row">
                                <input class="modern-form__input-code" type="tel">
                                <input class="modern-form__input-code" type="tel">
                                <input class="modern-form__input-code" type="tel">
                                <input class="modern-form__input-code" type="tel">
                            </div>
                            <input class="modern-form__input-result">
                        </div>
                    </div>


                    <div class="modern-form__input-block modern-form__input-block--pass compare-password form-check__field" data-check-type="input" data-check="input-required, input-pass, min-count-symbols"  data-min-count-symbols="6">
                        <div class="modern-form__input-pass-toggle"></div>
                        <input class="modern-form__input" type="password" placeholder="New password">
                    </div>

                    <div class="modern-form__input-block modern-form__input-block--pass compare-password form-check__field" data-check-type="input" data-check="input-required, input-pass, min-count-symbols"  data-min-count-symbols="6">
                        <div class="modern-form__input-pass-toggle"></div>
                        <input class="modern-form__input" type="password" placeholder="Repeat password">
                    </div>
                </div>
                <div class="modern-form__footer">
                    <div class="modern-form__main-button form-check__button">Send</div>
                </div>
            </div>

            <div class="modern-form__inner" id="error1">

                <div class="modern-form__info">
                    <div class="modern-form__info-icon modern-form__info-icon--error-red"></div>
                    <div class="modern-form__info-text">Some text some text some text some text some text some text some text</div>

                    <div class="modern-form__main-button">KONTAKT@TUSERWIS.PL</div>
                    <div class="modern-form__natural-button">Repeat</div>
                </div>



            </div>

            <div class="modern-form__inner" id="error2">

                <div class="modern-form__info">
                    <div class="modern-form__info-icon modern-form__info-icon--error-orange"></div>
                    <div class="modern-form__info-text">Some text some text some text some text some text some text some text</div>

                    <div class="modern-form__main-button">KONTAKT@TUSERWIS.PL</div>
                    <div class="modern-form__natural-button">Repeat</div>
                </div>



            </div>

            <div class="modern-form__inner" id="success">
                <div class="modern-form__info">
                    <div class="modern-form__info-icon modern-form__info-icon--success"></div>
                    <div class="modern-form__info-title">Some title</div>
                    <div class="modern-form__info-text">Some text some text some text some text some text some text some text</div>

                    <div class="modern-form__natural-button">Repeat</div>
                </div>
            </div>
        </div>

        <div class="modern-form" style="padding: 30px">
        <br>
        <br>
        Call showForm('#id') to show form
        <br>
        <br>
        <div onclick="showForm('#login')">login</div>
        <div onclick="showForm('#signup')">signup</div>
        <div onclick="showForm('#password')">password</div>
        <div onclick="showForm('#error1')">error1</div>
        <div onclick="showForm('#error2')">error2</div>
        <div onclick="showForm('#success')">success</div>
        </div>


    </div>
</div>


<div class="modal__background close-modal"></div>

<div class="modal__block layout" data-modal-name="modal_map">
    <div class="modal__content shadow-box">
        <div class="modal__map" id="map"></div>
    </div>
</div>

<div class="animation-scroll scroll-top"></div>

<footer class="footer">
    <div class="layout">
        <div class="footer__top">
            <div class="footer__links">
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Privacy Policy</a>
                    <div class="footer__links-item">© 2019 TuSerwis Inc.</div>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Contact Us</a>
                    <a href="#" class="footer__links-item">Ordering & Payment</a>
                    <a href="#" class="footer__links-item">FAQ</a>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">Pracyj z nami</a>
                    <a href="#" class="footer__links-item">Regulamin</a>
                </div>
            </div>


            <div class="footer__form">
                <div class="footer__form-contacts">
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">info@tuserwis.com</a>
                    <a href="mailto:kontakt@tuserwis.pl" class="footer__links-item footer__form-contacts-item">+1 800
                        123-1001</a>
                </div>

                <div class="footer__bottom-social">
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/instagram.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/twitter.svg" class="footer__bottom-social-link-icon">
                    </a>
                    <a href="#" class="footer__bottom-social-link">
                        <img src="../..../../../img/facebook.svg" class="footer__bottom-social-link-icon">
                    </a>
                </div>
            </div>

        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-logo">TuSerwis</div>

        </div>
    </div>
</footer>

<link href="../../Scripts/timedropper/timedropper.min.css" rel="stylesheet" defer>
<script src="../../Scripts/timedropper/timedropper.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../Scripts/jquery.maskedinput.min.js" defer></script>
<script src="../../Scripts/lightbox2/js/lightbox.min.js"></script>
<script src="../../Scripts/owlcarousel2/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/lightbox2/css/lightbox.min.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/owlcarousel2/assets/owl.carousel.min.css">
<script src="../../Content/js/main.js"></script>
<script src="../../Content/js/errors_handler.js"></script>
<script src="../../Content/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwl91tizjVH8SJLr3XnJWckLCog_TTHgQ&callback=initMap&libraries=places"
        type="text/javascript"></script>
</body>
</html>