.bill {
  font-size: 14px;
  font-weight: 400; }
  .bill__row {
    display: grid;
    grid-template-columns: 1fr min-content; }
    .bill__row--result {
      font-size: 16px;
      font-weight: 500; }
  .bill__price {
    white-space: nowrap; }
