.solutions {
  padding-bottom: 40px; }
  .solutions__title {
    padding: 40px 25px;
    padding-bottom: 30px; }
  .solutions__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; }
