.services
    .services__block.layout
        .services__items
            .services__item
                .services__item-title РАЗРАБАТЫВАЕМ ДИЗАЙН
                .services__item-list
                    .services__item-list-item Придумываем названия
                    .services__item-list-item Логотип и фирменный стиль
                    .services__item-list-item Брендбук и гайдлайн
                    .services__item-list-item Дизайн упаковки и торговой марки
                    .services__item-list-item Каталоги и буклеты
                    .services__item-list-item И еще многое другое
                .services__item-link Подробнее о Golden Marrow Branding

            .services__item
                .services__item-title Проектируем сайты
                .services__item-list
                    .services__item-list-item Проводим семантику
                    .services__item-list-item Лендинги и мультилендинги
                    .services__item-list-item Сайты визитки и Промо-сайты
                    .services__item-list-item Интернет магазины
                    .services__item-list-item Корпоративные ресурсы
                    .services__item-list-item Порталы и мобильные приложения
                .services__item-link Подробнее о Golden Marrow Web

            .services__item
                .services__item-title Продвигаем в социальных сетях
                .services__item-list
                    .services__item-list-item SMM-стратегии
                    .services__item-list-item Создание и ведение групп в соц сетях
                    .services__item-list-item Привлекаем трафик из соц сетей
                    .services__item-list-item Настраиваем таргетированную рекламу
                    .services__item-list-item Создаем и продвигаем контент
                    .services__item-list-item Работаем с блогерами
                .services__item-link Подробнее в Golden Marrow SMM

            .services__item
                .services__item-title Рассказываем и показываем маркетинг
                .services__item-list
                    .services__item-list-item Разбираем креативные кейсы
                    .services__item-list-item Пишем интересные и полезные статьи
                    .services__item-list-item Беседуем с экспертами
                    .services__item-list-item Проводим прямые эфиры с выдающимися личностями
                    .services__item-list-item Хотите к нам в эфир? Подробнее в Golden Marrow Magazine
                .services__item-link Подробнее в Golden Marrow Magazine

            .services__item
                .services__item-title Создаем космическое будущее
                .services__item-list
                    .services__item-list-item Запускаем новые стартапы
                    .services__item-list-item Придумываем инновации
                    .services__item-list-item Проводим онлайн обучение
                    .services__item-list-item Инвестируем и ищем инвестиции
                .services__item-link Если не боитесь ИИ то вам в Golden Marrow Innovations
















