.advertising__item {
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }
  .advertising__item--1220x200 {
    padding-bottom: 16.39%; }
  .advertising__item--1220x290 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
