@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.header {
  position: fixed;
  background: $black;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  height: 50px;

  &__block {
    width: 1130px;
    @include margin-auto;
    @include flex-row-center;
    justify-content: space-between;
    color: $white;
  }

  &__logo {
    height: 50px;
    width: 150px;
    background: url(../../../img/logo.svg);
    @include background-contain-center;
    background-position: left center!important;
  }

  &__mobile-button {
    display: none;
  }

  &__menu {
    @include flex-row;
  }

  &__menu-list {
    @include flex-row;
  }

  &__menu-list-item {
    text-transform: uppercase;
    margin: 0 20px;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    text-transform: uppercase;
    color: $black;
    background: $white;
    height: 38px;
    @include flex-row-center;
    padding: 0 40px;
    font-size: 18px;
    width: 150px;
    padding-bottom: 2px;
    border: 1px solid $white;

    &:hover {
      color: $white;
      background: $black;
    }
  }
}