.main-screen.main-screen--history
    .main-screen__block.layout
        .main-screen__menu
            .menu
                .menu__theme-switch.menu__theme-switch--day
                    .menu__theme-switch-icons
                        .menu__theme-switch-icon.menu__theme-switch-icon--day
                        .menu__theme-switch-icon.menu__theme-switch-icon--night
                    .menu__theme-switch-buttons
                        .menu__theme-switch-button.menu__theme-switch-button--day День
                        .menu__theme-switch-button.menu__theme-switch-button--night Ночь
                .menu__items
                    a.menu__item(href='#') конституция группы
                    a.menu__item(href='#') Структура группы
                    a.menu__item(href='#') Команда
                    a.menu__item(href='#') История

        .main-screen__planets
            .main-screen__planet-big
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__orbit-rotate
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small


            .main-screen__planet-small
                .main-screen__planet-small-orbit.main-screen__orbit-rotate
                .main-screen__planet-small-orbit.main-screen__planet-small-orbit--empty
                    .main-screen__planet-small-item-big-wrapper
                        .main-screen__planet-small-item-big
            .main-screen__planet-star.main-screen__planet-star--1
            .main-screen__planet-star.main-screen__planet-star--2
            .main-screen__planet-star.main-screen__planet-star--3
            .main-screen__planet-star.main-screen__planet-star--4
            .main-screen__planet-star.main-screen__planet-star--5
        .history
            .history__title История
            .history__rocket
            .history__wrapper
                .history__background
                    .history__background-line.history__background-line--1
                    .history__background-line.history__background-line--2
                .history__block
                    .history__item
                        .history__item-wrapper
                            .history__item-year 2020
                            .history__item-planet
                            .history__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.
                    .history__item
                        .history__item-wrapper
                            .history__item-year 2019
                            .history__item-planet
                            .history__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.
                    .history__item
                        .history__item-wrapper
                            .history__item-year 2018
                            .history__item-planet
                            .history__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.
                    .history__item
                        .history__item-wrapper
                            .history__item-year 2017
                            .history__item-planet
                            .history__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.
                    .history__item
                        .history__item-wrapper
                            .history__item-year 2016
                            .history__item-planet
                            .history__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.
                    .history__item
                        .history__item-wrapper
                            .history__item-year 2015
                            .history__item-planet
                            .history__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.
                    .history__item
                        .history__item-wrapper
                            .history__item-year 2014
                            .history__item-planet
                            .history__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.
                    .history__item
                        .history__item-wrapper
                            .history__item-year 2013
                            .history__item-planet
                            .history__item-text Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.






