@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.header {
  position: fixed;
  z-index: 10;
  @include flex-row-center;
  width: 100%;
  height: auto;
  padding: 2vw 0;

  &__logos {
    @include flex-row-center;
    padding-right: 15vw;

    @media #{$tablet-big-screen} {
      padding-right: 0;
    }
  }

  &__logos-1 {
    width: 8.6vw;
    height: 8.6vw;
    background: url(../../../images/svg-sprite/logo-label.svg);
    @include background-contain-center;
    filter: drop-shadow(8px 15px 14px rgba(0, 0, 0, .7));

    @media #{$tablet-big-screen} {
      display: none;
    }
  }

  &__logos-2 {
    width: 25vw;
    height: 8.3vw;
    background: url(../../../images/svg-sprite/logo.svg);
    @include background-contain-center;
    margin-left: 5vw;
    filter: drop-shadow(8px 15px 14px rgba(0, 0, 0, .7));

    @media #{$tablet-big-screen} {
      width: 65vw;
      height: 20vw;
      margin-left: 0;
    }
  }
}