//Размеры
$control-height: 40;
$control-small-height: 30;
$control-big-height: 50;

//Цвета
$black: #000000 !default;
$white: #ffffff;
$gray-light: #f2f2f5;
$gray: #e6e6e6;
$gray-dark: #303030;
$red:#ba121d;