.logo {
  width: 1220px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1279px) {
    .logo {
      position: fixed;
      z-index: 200;
      top: 0;
      left: 30px;
      width: 250px; } }
  @media (max-width: 767px) {
    .logo {
      left: 10px; } }
  .logo__item {
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    padding-top: 23px;
    padding-bottom: 14px; }
    @media (max-width: 1279px) {
      .logo__item {
        width: auto;
        font-size: 25px;
        padding: 0;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        align-items: center; } }
