@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.text {
  @include font-montserrat;
  font-weight: 300;
  font-size: 23px;
  line-height: 23px;
  margin-bottom: 25px;

  &--white {
    color: $white;
  }

  @media #{$mobile-big-screen} {
    font-size: 17px;
    line-height: 17px;
  }
}