.logo {
  position: relative;
  width: 244px; }
  .logo:after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 41.28%;
    background: url("/img/logo.svg");
    background: url("/img/logo.png");
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
