.last-screen
    .last-screen__title
    .last-screen__labels
        include ../labels/labels
    .last-screen__social
        .last-screen__social-title Контакты
        .last-screen__social-items
            a(href='https://mymatti.ru/').last-screen__social-item.last-screen__social-item--site mymatti.ru
            a(href='http://instagram.com/@matti_rus').last-screen__social-item.last-screen__social-item--inst @matti_rus
            a(href='mailto:info@frichelli.ru').last-screen__social-item.last-screen__social-item--mail info@frichelli.ru
            a(href='http://vk.com/mymatti').last-screen__social-item.last-screen__social-item--vk mymatti
