.section {
  padding: 250px 0;
  position: relative; }
  @media (max-width: 767px) {
    .section {
      padding: 100px 0; } }
  .section--white {
    padding: 0;
    background: url(../../../img/background.jpg); }
    .section--white:before, .section--white:after {
      content: '';
      position: absolute;
      display: block;
      z-index: 1;
      height: 250px;
      left: 0;
      width: 100%;
      background: url(../../../img/background.jpg);
      mask: url(../../../img/side_mask.png);
      -webkit-mask: url(../../../img/side_mask.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: cover !important;
      -webkit-mask-size: cover !important; }
      @media (max-width: 767px) {
        .section--white:before, .section--white:after {
          height: 100px; } }
    .section--white:before {
      top: 0;
      transform: translateY(-100%) scaleY(-1); }
    .section--white:after {
      bottom: 0;
      transform: translateY(100%); }
