.mCSB_inside > .mCSB_container {
    margin-right: 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background: #393434;
    opacity: .18;
    width: 11px;
    border-radius: 6px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #393434;
    opacity: .4;
    width: 11px;
    border-radius: 6px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    top: 100px;
    left: auto;
    bottom: 100px;
    right: 30px;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #393434;
    opacity: .6;
    filter: none;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #393434;
    opacity: .6;
    filter: none;
}