@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.lead-form {
  margin-top: 108px;
  @include flex-column-center;

  @media #{$tablet-small-screen} {
    margin-top: 50px;
  }

  &__title {
    text-align: center;
    font-size: 73px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 80px;

    @media #{$tablet-small-screen} {
      font-size: 27px;
      margin-bottom: 20px;
    }
  }
  &__items {
    width: 1520px;
    @include margin-auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px 20px;
    margin-bottom: 40px;

    @media #{$desktop-middle-screen} {
      width: calc(100% - 32px);
    }

    @media #{$tablet-big-screen} {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media #{$tablet-small-screen} {
      grid-template-columns: 1fr;
    }
  }

  &__empty-cell {
    @media #{$tablet-big-screen} {
      display: none;
    }
  }

  &__button {

    @media #{$desktop-middle-screen} {
      width: calc(100% - 32px)!important;
    }
  }
  &__text {
    width: 885px;
    color: #656565;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;

    @media #{$tablet-small-screen} {
      width: calc(100% - 32px);
    }
  }

  &__text-link {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
  }
}