.main-screen.main-screen--constitution
    .main-screen__block.layout
        .main-screen__menu
            .menu
                .menu__theme-switch.menu__theme-switch--day
                    .menu__theme-switch-icons
                        .menu__theme-switch-icon.menu__theme-switch-icon--day
                        .menu__theme-switch-icon.menu__theme-switch-icon--night
                    .menu__theme-switch-buttons
                        .menu__theme-switch-button.menu__theme-switch-button--day День
                        .menu__theme-switch-button.menu__theme-switch-button--night Ночь
                .menu__items
                    a.menu__item(href='#') конституция группы
                    a.menu__item(href='#') Структура группы
                    a.menu__item(href='#') Команда
                    a.menu__item(href='#') История

        .main-screen__planets
            .main-screen__planet-big
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__orbit-rotate
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small


            .main-screen__planet-small
                .main-screen__planet-small-orbit.main-screen__orbit-rotate
                .main-screen__planet-small-orbit.main-screen__planet-small-orbit--empty
                    .main-screen__planet-small-item-big-wrapper
                        .main-screen__planet-small-item-big
            .main-screen__planet-star.main-screen__planet-star--1
            .main-screen__planet-star.main-screen__planet-star--2
            .main-screen__planet-star.main-screen__planet-star--3
            .main-screen__planet-star.main-screen__planet-star--4
            .main-screen__planet-star.main-screen__planet-star--5
        .constitution
            .constitution__title Высшие цели компании:
            .constitution__list
                .constitution__list-item Финансовая: создать эффективную, самостоятельную и устойчивую бизнес-модель, которая постоянно увеличивает свою прибыль во времени!

                .constitution__list-item Социальная: создать бизнес-модель, обеспечивающую большим количеством престижных и желанных рабочих мест для профессионалов.

                .constitution__list-item Функциональная: создать бизнес-модель, формирующую рынок бренд-консалтинга

            .constitution__title Внешний и внутрений слоганы:
            .constitution__list
                .constitution__list-item Внешний слоган:#[br]Мы создаем успешные бренды, с нами приходит успех!
                .constitution__list-item Внутренний слоган:#[br]Развитие – это основной процесс успеха!

            .constitution__title 10 правил нашего агенства:

            .constitution__list
                .constitution__list-item 1.     Гордись тем, что ты делаешь сейчас, потому что это лучшее на что ты способен сейчас!

                .constitution__list-item 2.     Развивайся, потому что это лучше, что ты можешь делать!

                .constitution__list-item 3.    Старайся стараться!

                .constitution__list-item 4.     Все что ты делаешь, ты делаешь для себя! Поэтому пункт 3.

                .constitution__list-item 5.     Нет цели – нет пути! Не знаешь – узнай!

                .constitution__list-item 6.     Ты полностью свободен в своих решения выбирать!

                .constitution__list-item 7.     Своими действиями ты показываешь свое отношение!

                .constitution__list-item 8.     Если ты не согласен, это не значит, что ты прав!

                .constitution__list-item 9.     Думай всегда! Всегда думай!

                .constitution__list-item 10.    Знаешь, как лучше – предложи!


