@import "../../to_head/base/variables";
@import "../../to_head/base/media-queries";
@import "../../to_head/base/mixins";

.partners {
  padding: 30px 0;

  &__items {

  }

  &__item {
    @include flex-row-center;
    height: 100px;
  }
  &__item-img {
    height: 100%;
    width: auto !important;
  }
}
