.contact__contact-phone-desc {
    font-size: 15px;
}

.contact__contact-phone {
    font-size: 15px;
}

@media (max-width: 1279px) {

    .contact__contact-phone-desc {
        /*font-size: 13px;*/
    }

}

@media (max-width: 1023px) {
    .contact__contact-phone-desc {
        /*font-size: 16px;*/
    }
}

#map h3 {
    font-size: 18px;
}

#map p {
    font-size: 14px;
}

.footer__payment {
    width: 220px;
}

.goods-brand__characteristic-value {
    text-align: center;
}

.description__photo--fifth {
    width: 19%;
}

@media (max-width: 767px) {
    .description__photo--fifth {
        width: 100%;
    }
}

.banner__images {
    display: flex;
    width: calc(100% - 400px);
    padding-left: 40px;
    justify-content: space-between;
}

.banner__images-item {
    width: 30%;
    height: 300px;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 7px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
}

.services {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

.services__item {
    width: auto;
    min-width: calc(20% - 10px);
    max-width: calc(33% - 10px);
    margin-right: 10px;
    padding: 20px 10px;
    height: 380px;
}

.services__item:nth-last-of-type(1) {
    margin-right: 0;
}

@media (max-width: 1023px) {
    .banner__images-item {
        width: 100%;
    }

    .banner__images-item:nth-of-type(2) {
        display: none
    }

    .banner__images-item:nth-of-type(3) {
        display: none
    }
}

@media (max-width: 767px) {
    .banner__images-item {
        display: none;
    }
}

.img-float-right {
    float: right;
    max-width: 48%;
    margin: 4%;
    margin-right: 0;
    margin-top: 0;
}

.services__item-title {
    font-size: 23px;
}

.services__item-text {
    font-size: 17px;
}

.footer .contact__contact-block {
    width: calc(100% - 50px);
}

@media (max-width: 1023px) {
    .services__item-title {
        font-size: 16px;
    }

    .services__item-text {
        font-size: 14px;
    }

    .services__item {
        height: 310px;
    }
}

@media (max-width: 767px) {
    .services__item {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .services {
        flex-wrap: wrap;
    }
}

.footer__col-title {
    font-size: 14px;
    font-weight: 300;
}

.footer__col-link {
    font-size: 14px;
    font-weight: 300;
}

.footer .contact__contact-block {
    font-size: 14px;
    font-weight: 300;
}

.footer .contact__contact-phone {
    font-size: 14px;
    font-weight: 300;
}

.footer .contact__contact-callback {
    font-size: 14px;
    font-weight: 300;
}

.header__contact-item {
    min-width: 200px;
}

@media (max-width: 767px) {
    .contact__contact-block {
        font-size: 13px;
    }

    .contact__contact-select {
        font-size: 13px;
    }

    .contact__contact-phone {
        font-size: 13px;
    }

    .header__contact-item {
        min-width: auto;
    }
}


.section__map:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
}

.description__photo--contain {
    background-size: contain !important;
    background-repeat: no-repeat!important;
}