.layout {
  width: 1130px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  @media (max-width: 1279px) {
    .layout {
      width: calc(100% - 30px); } }
  .layout__block {
    width: 1105px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1279px) {
      .layout__block {
        width: calc(100% - 30px); } }
