.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: 0 1px 21px rgba(210, 210, 210, 0.71);
  margin-bottom: 15px; }
  .header__block {
    padding: 5px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    border-right: 1px solid #e2e2e2; }
    .header__block:nth-last-of-type(1) {
      border-right: none; }
  .header__block-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .header__logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }
  .header__inner-row {
    margin-bottom: 3px;
    font-size: 14px; }
  .header__text-name {
    font-weight: 600;
    color: #00498a;
    margin-right: 3px; }
  .header__text-value {
    font-weight: 300;
    color: #8f8e8e; }
