.first {
  margin-top: 75px;
  position: relative; }
  @media (max-width: 1023px) {
    .first {
      margin-top: 50px; } }
  .first__title {
    color: #fefefe;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
    width: 776px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1023px) {
      .first__title {
        width: 100%;
        font-size: 28px; } }
  .first__subtitle {
    margin-top: 35px;
    color: #ef2526;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px; }
    @media (max-width: 1023px) {
      .first__subtitle {
        margin-top: 25px; } }
  .first__block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 60px;
    padding-bottom: 120px; }
    @media (max-width: 1023px) {
      .first__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0; } }
  .first__img {
    position: absolute;
    width: 361px;
    height: 539px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    left: 35px;
    top: -100px;
    filter: drop-shadow(0 0px 21px rgba(169, 46, 47, 0.5)); }
    @media (max-width: 1023px) {
      .first__img {
        position: relative;
        left: auto;
        top: auto;
        order: 3;
        width: 343px;
        margin-top: 10px;
        margin-bottom: -50px; } }
  @media (max-width: 1023px) {
    .first__list {
      order: 1; } }
  .first__list-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 45px;
    font-size: 21px;
    font-weight: 400;
    color: #ffffff; }
    .first__list-item:after {
      content: '';
      position: absolute;
      display: block;
      width: 18px;
      height: 20px;
      background: url(../../../img/check.webp);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
      @media (max-width: 1023px) {
        .first__list-item:after {
          left: 15px;
          top: 0;
          transform: translateY(0); } }
    @media (max-width: 1023px) {
      .first__list-item {
        text-align: center; } }
    .first__list-item:nth-of-type(1) {
      padding-right: 50px;
      margin-left: 300px; }
      @media (max-width: 1023px) {
        .first__list-item:nth-of-type(1) {
          padding-right: 0;
          margin-left: 0; } }
    .first__list-item:nth-of-type(2) {
      padding-right: 50px;
      margin-left: 340px; }
      @media (max-width: 1023px) {
        .first__list-item:nth-of-type(2) {
          padding-right: 0;
          margin-left: 0; } }
    .first__list-item:nth-of-type(3) {
      padding-right: 25px;
      margin-left: 390px; }
      @media (max-width: 1023px) {
        .first__list-item:nth-of-type(3) {
          padding-right: 0;
          margin-left: 0; } }
  .first__form {
    width: 266px;
    min-width: 266px;
    box-shadow: 0 0 44px 2px rgba(169, 46, 47, 0.75);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 20px 11px;
    text-align: center; }
    @media (max-width: 1023px) {
      .first__form {
        order: 2; } }
  .first__form-title {
    color: #343333;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .first__form-subtitle {
    color: #873d3d;
    font-size: 15px; }
  .first__form-desc {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px; }
    .first__form-desc--small {
      font-size: 12.5px;
      margin-top: 7px; }
  .first__form-input {
    width: 180px;
    margin-left: auto;
    margin-right: auto; }
  .first__form-button {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    text-align: center;
    text-transform: uppercase; }
    .first__form-button:before {
      background: #a92e2f !important; }
