@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.column-slider {
  @include flex-row;
  position: relative;
  overflow: hidden;

  &__item {
    height: 37vw;
    color: $white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    @media #{$mobile-big-screen} {
      height: 360px;
    }
  }

  &__item--red {
    background: #eb5757;
  }

  &__item--lilac {
    background: #e4c4f0;
  }

  &__item--blue {
    background: #2d9cdb;
  }

  &__item--pink {
    background: #ffc5d6;
  }

  &__item--scarlet {
    background: #d34959;
  }

  &__item--flag {
    background: linear-gradient(to bottom, #fff 0%, #fff 33.332%, #21719e 33.333%, #21719e 66.665%, #eb5757 66.666%, #eb5757 100%);
  }

  &__item-img-block {
    @include flex-row-center;
    height: 30vw;
    padding-top: 5vw;

    @media #{$tablet-big-screen} {
      height: 28vw;
    }

    @media #{$mobile-big-screen} {
      height: 300px;
    }

  }

  &__item-img {
    max-width: 63%;
    width: 100%;
    height: auto;
  }

  &__item-img--fill {
    max-width: 100%;
  }

  &__item-title {
    font-size: 24px;
    @media #{$tablet-small-screen} {
      font-size: 16px;
    }

  }

  &__item-link {
    font-size: 18px;
    margin-top: 15px;
    text-decoration: underline;
    opacity: 0;

    @media #{$tablet-small-screen} {
      font-size: 12px;
    }

  }

  &__item:hover &__item-link {
    opacity: 1;
  }

  & .owl-next, & .owl-prev {
    position: absolute;
    top: 50%;
    left: 35px;
    width: 32px;
    height: 54px;
    transform: translateY(-50%) scaleX(-1);
    background: url(/img/arrow-white.svg) no-repeat center center !important;
    background-size: contain !important;
    cursor: pointer;

    @media #{$tablet-small-screen} {
      top: 50%;
      left: -25px;
      background: $white !important;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

  }

  & .owl-next:before, & .owl-prev:before {
    @media #{$tablet-small-screen} {
      @include after-absolute;
      width: 25px;
      height: 50px;
      background: url(/img/arrow-orange.svg) no-repeat center center !important;
      background-size: 50% 50% !important;
      top: 0;
      left: 4px;
    }
  }

  & .owl-next {
    left: auto;
    right: 25px;
    transform: translateY(-50%) scaleX(1);

    @media #{$tablet-small-screen} {
      right: -25px;
    }

  }

  & .owl-next span, & .owl-prev span {
    display: none;
  }

  & .owl-next:focus, & .owl-prev:focus {
    outline: none;
  }

}