.news__item.news__item--active(data-tag='global')
    .news__item-date 12 марта, 22:30
    .news__item-title Глобальная новость: что происходит в Росии сегодня и что будет происходить и длинный текст для проверки названия
    img.news__item-img(src='src/images/uploads/news-4.jpg')
    .news__item-text Учитывая ключевые сценарии поведения, базовый вектор развития говорит о возможностях прогресса профессионального сообщества. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации кластеризации усилий!В своём стремлении повысить качество жизни, они забывают, что убеждённость некоторых оппонентов однозначно фиксирует необходимость кластеризации усилий.
    .news__item-footer
        a.news__item-footer-link
        .news__item-footer-view 855
        .news__item-footer-comments 16
