.news
    .news__block.layout
        .news__header
            .news__header-title.title Новости
            .news__header-filter
                .news__header-filter-button.news__header-filter-button--active(data-tag-target='global') Мировые
                .news__header-filter-button(data-tag-target='golden') GOLDEN MARROW GROUP
            .news__header-planet
        .news__slider-block-wrapper
            .news__slider-block
                .news__slider-wrapper
                    .news__slider.owl-carousel
                        .news__slide
                            include news__item_global_1
                            include news__item_global_2
                            include news__item_global_3
                            include news__item_global_4
                            include news__item_global_5
                            include news__item_global_6
                            include news__item_golden_1
                            include news__item_golden_2
                            include news__item_golden_3
                            include news__item_golden_4
                            include news__item_golden_5
                            include news__item_golden_6

                            include news__item_global_6
                            include news__item_global_5
                            include news__item_global_4
                            include news__item_global_3
                            include news__item_global_2
                            include news__item_global_1
                            include news__item_golden_6
                            include news__item_golden_5
                            include news__item_golden_4
                            include news__item_golden_3
                            include news__item_golden_2
                            include news__item_golden_1

                            include news__item_global_1
                            include news__item_global_2
                            include news__item_global_3
                            include news__item_global_4
                            include news__item_global_5
                            include news__item_global_6
                            include news__item_golden_1
                            include news__item_golden_2
                            include news__item_golden_3
                            include news__item_golden_4
                            include news__item_golden_5
                            include news__item_golden_6

                            include news__item_global_6
                            include news__item_global_5
                            include news__item_global_4
                            include news__item_global_3
                            include news__item_golden_4
                            include news__item_golden_3
                            include news__item_golden_2
                            include news__item_golden_1
                    .news__slider-buttons
                        .news__slider-button.news__slider-button--prev
                            .news__slider-button-text Предыдущие новости
                        .news__slider-button.news__slider-button--next
                            .news__slider-button-text Показать еще