.about-main {
  padding-top: 90px;
  padding-bottom: 100px; }
  @media (max-width: 1279px) {
    .about-main {
      padding-top: 65px;
      padding-bottom: 60px; } }
  @media (max-width: 767px) {
    .about-main {
      padding-top: 45px;
      padding-bottom: 50px; } }
  .about-main__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 67px;
    margin-bottom: 29px; }
    @media (max-width: 1279px) {
      .about-main__block {
        grid-template-columns: 1fr;
        margin-top: 40px;
        margin-bottom: 0; } }
  .about-main__block-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 1279px) {
      .about-main__block-item {
        order: 2; } }
  .about-main__block-item-text {
    margin-top: -1em; }
    .about-main__block-item-text p {
      font-display: auto;
      font-family: "roboto", sans-serif !important;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px; }
  .about-main__block-item-button {
    margin-top: auto;
    width: 100%; }
    @media (max-width: 1279px) {
      .about-main__block-item-button {
        margin-top: calc(30px - 1em); } }
  .about-main__block-img {
    height: 389px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1279px) {
      .about-main__block-img {
        order: 1;
        height: 482px; } }
