.sixth__title {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.sixth__text {
  font-size: 20px !important; }

.sixth__list-title {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase; }

.sixth__list-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px; }
  @media (max-width: 767px) {
    .sixth__list-items {
      grid-template-columns: 1fr;
      grid-gap: 20px; } }

.sixth__list-item {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; }
  @media (max-width: 767px) {
    .sixth__list-item {
      display: grid;
      grid-template-columns: 80px 1fr;
      align-items: center;
      text-align: left; } }

.sixth__list-item-icon {
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .sixth__list-item-icon {
      margin-bottom: 0; } }
