.social__block {
  margin-top: 100px;
  padding-bottom: 33px;
  display: grid;
  grid-template-columns: 1fr 328px 1fr; }

.social__img {
  width: 100%;
  height: 150px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.social__item-title {
  font-size: 24px;
  text-align: center; }

.social__item-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0; }

.social__item-icon {
  width: 37px;
  height: 37px;
  background: #000000;
  cursor: pointer; }
  .social__item-icon:hover {
    background: #4291ca; }
  .social__item-icon--fb {
    mask: url(../../../img/icon-fb.png);
    -webkit-mask: url(../../../img/icon-fb.png);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }
  .social__item-icon--yt {
    mask: url(../../../img/icon-yt.png);
    -webkit-mask: url(../../../img/icon-yt.png);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }
  .social__item-icon--tw {
    mask: url(../../../img/icon-tw.png);
    -webkit-mask: url(../../../img/icon-tw.png);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }
  .social__item-icon--inst {
    mask: url(../../../img/icon-inst.png);
    -webkit-mask: url(../../../img/icon-inst.png);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }
  .social__item-icon--vk {
    mask: url(../../../img/icon-vk.png);
    -webkit-mask: url(../../../img/icon-vk.png);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }
  .social__item-icon--ok {
    mask: url(../../../img/icon-ok.png);
    -webkit-mask: url(../../../img/icon-ok.png);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }

.social__item-button {
  margin-left: auto;
  margin-right: auto; }
