.second {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5; }
  @media (max-width: 1279px) {
    .second {
      position: static;
      order: -1; } }
  .second__content {
    position: absolute;
    top: 52%;
    left: 46%;
    right: 6%;
    margin-top: -210px; }
    @media (max-width: 1279px) {
      .second__content {
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
        position: static;
        margin-top: 15px; } }
