.footer {
  height: 70px;
  width: 100%;
  padding: 20px 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  position: relative;
  background: #24292d;
  justify-content: space-between; }
  .footer__kassa {
    height: 100%;
    width: auto; }
  .footer__copyright {
    text-align: right;
    width: 163px;
    color: #404449;
    font-size: 15px;
    font-weight: 300; }
    @media (max-width: 767px) {
      .footer__copyright {
        text-align: center; } }
