.section {
  position: relative;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  padding: 90px 0; }
  @media (max-width: 1023px) {
    .section {
      padding: 45px 0; } }
