.banner {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 100%;
  height: 570px;
  padding: 96px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  @media (max-width: 767px) {
    .banner {
      padding: 30px 20px; } }
  .banner--small {
    height: 390px;
    padding: 75px 45px; }
    @media (max-width: 767px) {
      .banner--small {
        padding: 30px 20px; } }
  .banner--center {
    justify-content: center; }
  .banner--top {
    justify-content: flex-start; }
  .banner--bottom {
    justify-content: flex-end; }
  .banner--top-center {
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px; }
  .banner__title {
    font-size: 60px;
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .banner__title {
        font-size: 25px; } }
    .banner__title--small {
      font-size: 30px; }
      @media (max-width: 767px) {
        .banner__title--small {
          font-size: 20px; } }
  .banner--top-center .banner__title {
    margin-bottom: 0; }
  .banner__button {
    margin-top: 20px; }
