.title {
  font-size: 14px; }
  .title__small {
    margin-bottom: 3px;
    font-weight: 300;
    color: #8f8e8e; }
  .title__big {
    margin-bottom: 3px;
    font-weight: 600;
    color: #00498a; }
  .title__middle {
    font-weight: 500;
    color: #000000; }
