.icon--check {
  width: 19px;
  height: 14px;
  background: url(../../../img/yes.png);
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.icon--cancel {
  width: 15px;
  height: 15px;
  background: url(../../../img/no.png);
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }
