.video
    .video__block.layout
        .video__planet
            .video__planet-small
                .video__planet-small-orbit.video__orbit-rotate
                .video__planet-small-orbit.video__planet-small-orbit--empty
                    .video__planet-small-item-big-wrapper
                        .video__planet-small-item-big
        .video__header
            .video__header-title.title Showreel
            .video__header-planet
        .video__player
            .video__player-inner
                iframe(width="560" height="315" src="https://www.youtube.com/embed/cB2pSmIZP1I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)