.cont {
    width: 960px;
    position: relative;
    margin: 0 auto;
}

.contS {
    width: 868px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

header {
    padding-bottom: 29px;
}

header .top {
    overflow: hidden;
}

header .logo {
    float: left;
    background: url("img/logoBg.png") center no-repeat;
    width: 379px;
    padding: 20px 7px 13px;
    overflow: hidden;
}

header .logo img {
    float: left;
    max-width: 100%;
    padding-left: 22px;
    margin-top: -8px;
}

header .logo .text p:first-child {
    font: 22.02px/18px 'rotonda-bold';
    text-transform: uppercase;
    padding-top: 10px;
}

header .logo .text {
    width: 66%;
    float: left;
    padding-left: 14px;
}

header .logo .text p {
    color: #ffffff;
    font: 20px/20px 'PT Sans', sans-serif;
    font-weight: 700;
}

header .right {
    float: right;
    padding-top: 18px;
    padding-right: 18px;
}

header .right .callback {
    padding-top: 26px;
    padding-left: 46px;
    padding-bottom: 23px;
}

header .right .callback a {
    border: 1px dotted #4896e2;
    font: 15px/15px 'PT Sans', sans-serif;
    color: #000000;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 10px 4px 14px;
}

header .right .tel {
    text-align: right;
}

header .right .tel a {
    font: 33.35px/34px 'calibri-bold';
    color: #2180dd;
    text-align: right;
}

header .right .tel p {
    font: 17px/17px 'calibri-reg';
    color: rgba(62, 62, 62, 0.6);
    text-align: right;
    padding-right: 9px;
}

header .menu {
    margin-top: -20px;
    padding-left: 27px;
}

header .menu ul li {
    display: inline-block;
    padding-right: 20px;
}

header .menu ul li a {
    font: 19px/19px 'PT Sans', sans-serif;
    color: #000000;
    letter-spacing: 0.49px;
}

header .menu ul li a.active, header .menu ul li a:hover {
    color: #2180dd;
    border-bottom: 4px solid #217fdc;
    padding-bottom: 1px;
}

/*First*/
.first {
    background: url("img/firstBg.jpg") top center no-repeat;
    padding-bottom: 82px;
    height: 450px;
}

.first .cont {
    padding-left: 60px;
}

.first .title {
    padding-top: 69px;
}

.first .title h1 {
    font: 36.14px/41px 'rotonda-bold';
    color: #ffffff;
    text-transform: uppercase;
}

.first .title h2 {
    font: 36.14px/41px 'rotonda-bold';
    color: #ffffff;
    text-transform: uppercase;
}

.first .text p {
    font: 35.65px/36px 'PT Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.first .text2 {
    padding-top: 28px;
    padding-bottom: 48px;
}

.first .text2 p {
    font: 19px/23px 'PT Sans', sans-serif;
    color: #ffffff;
    letter-spacing: 0.3px;
}

.first .courses a, .local_city a, .content .button {
    font: 22.02px/22px 'rotonda-bold';
    color: #272727;
    text-transform: uppercase;
    background-color: #ffff00;
    padding: 22px 50px;
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.first .courses a:active,
.local_city a:active,
.formPart .boxes .left form button:active,
.formPart .boxes .left form input[type="submit"]:active {
    position: relative;
    top: 2px
}

.first .absolute {
    position: relative;
    padding-top: 44px;
    padding-left: 181px;
}

.first .absolute p {
    font: 19px/22px 'rotonda-bold';
    color: #ffff00;
}

.first .absolute img {
    position: absolute;
    top: 55px;
    left: 327px;
}

.first .play {
    position: absolute;
    top: 250px;
    left: 425px;
}

/*First END*/
/*Second*/
.second {
    padding-top: 19px;
    overflow: hidden;
    padding-bottom: 22px;
}

.second .left {
    float: left;
    width: 40%;
}

.second .left img {
    float: left;
    max-width: 100%;
}

.second .right {
    float: right;
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 29px;
    padding-right: 2px;
}

.second .title h2 {
    font: 44.95px/45px 'rotonda-bold';
    color: #2283dd;
    text-transform: uppercase;
}

.second .title p {
    font: 22px/22px 'PT Sans', sans-serif;
    color: #000000;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.second .boxes {
    padding-top: 38px;
}

.second .boxes .box {
    padding-bottom: 7px;
    overflow: hidden;
}

.second .boxes .box .left {
    width: 13%;
}

.second .boxes .box .left img {
    max-width: 100%;
}

.second .boxes .box .text {
    float: right;
    width: 85%;
    background-color: white;
    padding-top: 11px;
    padding-bottom: 20px;
    border-bottom: 2px dotted #c3c3c3;
}

.second .boxes .box .text p {
    font: 19px/22px 'PT Sans', sans-serif;
    color: #000000;
    letter-spacing: 0.1px;
}

.second .boxes .box:last-child .text {
    border-bottom: none;
}

/*Second END*/
/*Advantages*/
.advantages {
    background-color: #fffde2;
    text-align: center;
}

.advantages .title {
    padding-top: 72px;
    padding-bottom: 40px;
}

.advantages .title h2 {
    font: 44.95px/45px 'rotonda-bold';
    color: #fc8f37;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.advantages .title p {
    font: 22px/25px 'PT Sans', sans-serif;
    color: #000000;
    letter-spacing: 0.3px;
}

.advantages .boxes {
    padding: 0 18px 0 16px;
    text-align: justify;
    vertical-align: top;
}

.advantages .boxes:after {
    width: 100%;
    content: "";
    display: inline-block;
}

.advantages .boxes .box {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 28px 26px 0;
    height: 459px;
    margin-bottom: 36px;
}

.advantages .boxes .box img {
    max-width: 100%;
}

.advantages .boxes .box.Big {
    height: 479px;
}

.advantages .boxes .box .tit {
    padding-top: 30px;
    padding-left: 2px;
    padding-bottom: 12px;
}

.advantages .boxes .box.orange .tit p {
    font: 22px/24px 'rotonda-bold';
    text-align: left;
    color: #e9b934;
}

.advantages .boxes .box.orange {
    border: 4px solid #e9b934;
}

.advantages .boxes .box.blue .tit p {
    font: 22px/24px 'rotonda-bold';
    text-align: left;
    color: #2283dd;
}

.advantages .boxes .box.blue {
    border: 4px solid #2283dd;
}

.advantages .boxes .box.red .tit p {
    font: 22px/24px 'rotonda-bold';
    text-align: left;
    color: #c11b11;
}

.advantages .boxes .box.red {
    border: 4px solid #c11b11;
}

.advantages .boxes .box.green .tit p {
    font: 22px/24px 'rotonda-bold';
    text-align: left;
    color: #0aac0a;
}

.advantages .boxes .box.green {
    border: 4px solid #0aac0a;
}

.advantages .boxes .box.grey .tit p {
    font: 22px/24px 'rotonda-bold';
    text-align: left;
    color: #3a3a3a;
}

.advantages .boxes .box.grey {
    border: 4px solid #ceccba;
}

.advantages .boxes .box .desc p {
    font: 15px/18px 'PT Sans', sans-serif;
    color: #000000;
    text-align: left;
}

/*Advantages END*/
/*Lessons*/
.lessons {
    overflow: hidden;
    background: url("img/lessonsBg.png") top center no-repeat;
    padding-bottom: 41px;
}

.lessons .group {
    padding-left: 20px;
    overflow: hidden;
    width: 66%;
}

.lessons .group .title {
    padding-top: 64px;
}

.lessons .group .title h2 {
    font: 46.14px/47px 'rotonda-bold';
    color: #93c312;
}

.lessons .boxes {
    padding-top: 26px;
    padding-left: 3px;
    display: inline-block;
    width: 100%;
}

.lessons .boxes:after {
    display: inline-block;
    width: 100%;
    content: '';
}

.lessons .boxes .box {
    overflow: hidden;
    vertical-align: middle;
    padding-bottom: 11px;
    padding-top: 6px;
    background: url("img/dots.png") 87px 78px no-repeat;
}

.lessons .boxes .box .left {
    display: inline-block;
    vertical-align: middle;
}

.lessons .boxes .box .text {
    display: inline-block;
    vertical-align: middle;
    width: 81%;
    margin-left: 23px;
}

.lessons .boxes .box .text p {
    font: 19px/22px 'PT Sans', sans-serif;
    color: #000000;
    letter-spacing: 0.15px;
}

/*Lessons END*/
/*slidBox*/
.slidBox, .courses_block {
    background: url("img/sliderBg.jpg") top center repeat-y;
    padding-bottom: 54px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slidBox .title h2, .local_city h3 {
    color: #ffff00;
    font: 44.95px/50px 'rotonda-bold';
    text-align: center;
    text-transform: uppercase;
    padding: 64px 0 20px;
    letter-spacing: -0.4px;
}

.slidBox .slide {
    overflow: hidden;
}

.slidBox .slide .left {
    float: left;
    padding: 16px 0 0 31px;
    width: 32%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slidBox .slide .left img {
    border: 5px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 281px;
}

.slidBox .slide .right {
    float: left;
    padding-left: 15px;
    padding-top: 16px;
    overflow: hidden;
    width: 67%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slidBox .slide .right table {
    float: left;
    overflow: hidden;
    margin-right: 6px;
}

.slidBox .slide .right table th,
.slidBox .slide .right table td {
    border: 3px solid #ffffff;
    width: 115px;
}

.slidBox .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0;
    background: transparent;
}

.slidBox .slide .right table th {
    font: 19px/32px 'PT Sans', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

.slidBox .slide .right table tr + tr th {
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    background: #ffff3c;
}

.slidBox .slide .right table tr td {
    color: #FFFFFF;
    font: 17px/32px 'PT Sans', sans-serif;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0 6px 13px;
}

.slidBox .bx-wrapper .bx-prev {
    background: url("img/slideArrows.png") left center no-repeat !important;
    height: 36px;
    width: 21px;
    overflow: hidden;
    top: 30%;
    left: 0;
}

.slidBox .bx-wrapper .bx-next {
    background: url("img/slideArrows.png") right center no-repeat !important;
    height: 36px;
    width: 21px;
    overflow: hidden;
    top: 30%;
    right: 0;
}

#map {
    height: 545px;
}

#utmMap {
    display: none;
}

.map {
    position: relative;
}

.map .box {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;
}

.map .box .contS {
    padding: 20px 0 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    background: rgb(245, 250, 254); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZmFmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(245, 250, 254, 1) 0%, rgba(231, 231, 231, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(245, 250, 254, 1) 0%, rgba(231, 231, 231, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(245, 250, 254, 1) 0%, rgba(231, 231, 231, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fafe', endColorstr='#e7e7e7', GradientType=0); /* IE6-8 */
}

.map .box .contS .choose {
    float: left;
    padding: 9px 14px;
    cursor: pointer;
}

.map .box .contS .choose p {
    color: #303030;
    font: 29.33px/32px 'rotonda-bold';
}

.map .box .contS .choose p span {
    background: #e9c72b;
    padding: 3px 15px 4px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.map .box .contS .count {
    float: right;
    padding: 8px 40px 8px 45px;
    background: url("img/people.png") left center no-repeat;
}

.map .box .contS .count p {
    font: 23px/30px 'PT Sans', sans-serif;
    color: #303030;
    font-weight: 400;
}

.map .box .contS .count p span {
    color: #c84200;
    font-weight: 700;
}

.map .balCont {
    font: 20px/20px 'PT Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
}

.map .balCont2 {
    font: 20px/20px 'PT Sans', sans-serif;
    font-weight: 400;
}

.map .cityes {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;
    display: none;
}

.map .cityes .contS {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    background: rgb(245, 250, 254); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZmFmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(245, 250, 254, 1) 0%, rgba(231, 231, 231, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(245, 250, 254, 1) 0%, rgba(231, 231, 231, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(245, 250, 254, 1) 0%, rgba(231, 231, 231, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fafe', endColorstr='#e7e7e7', GradientType=0); /* IE6-8 */
}

.map .cityes .elem {
    width: 25%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 3px solid transparent;
    float: left;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.map .cityes .elem:hover {
    border-color: #c84200;
}

.map .cityes .elem p:first-child {
    font: 16px/18px 'PT Sans', sans-serif !important;
    font-weight: 700 !important;
    padding-bottom: 5px;
}

.map .cityes .elem {
    font: 14px/18px 'PT Sans', sans-serif;
    font-weight: 400;
    color: #323232;
    height: 80px;
}

.map .closeX {
    position: absolute;
    right: 15px;
    top: 5px;
    font-weight: 700;
    color: #000000;
    font: 24px/24px 'PT Sans', sans-serif;
    cursor: pointer;
    z-index: 1;
}

.map .cords {
    display: none;
}

/*formPart*/
.formPart {
    background-color: #f1f1f1;
    /*height: 800px;*/
    text-align: center;
    padding-bottom: 38px;
}

.formPart .title {
    padding-top: 69px;
    padding-bottom: 51px;
}

.formPart .title h2 {
    font: 44.95px/45px 'rotonda-bold';
    color: #2283dd;
    text-transform: uppercase;
    padding-bottom: 14px;
}

.formPart .title p {
    font: 20px/23px 'PT Sans', sans-serif;
    color: #000000;
    letter-spacing: 0.2px;
}

.formPart .boxes {
    padding-left: 46px;
    overflow: hidden;
}

.formPart .boxes .right {
    width: 54%;
    float: right;
    text-align: right;
    padding-top: 15px;
}

.formPart .boxes .right img {
    max-width: 100%;
}

.formPart .boxes .left {
    width: 45%;
    float: left;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #2283dd;
    padding: 35px 30px 20px 27px;
}

.formPart .boxes .left .tit {
    padding-bottom: 18px;
}

.formPart .boxes .left .tit h3 {
    font: 28.94px/25px 'rotonda-bold';
    color: #2283dd;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.formPart .boxes .left .tit p {
    font: 21px/25px 'PT Sans', sans-serif;
    font-weight: 700;
    color: #373737;
}

.formPart .boxes .left form input {
    width: 349px;
    height: 47px;
    margin-bottom: 13px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #2283dd;
    color: #000000;
    font: 18px/18px 'PT Sans', sans-serif;
    padding-left: 19px;
    padding-top: 5px;
    outline: none;
}

.formPart .boxes .left form button, .formPart .boxes .left form input[type="submit"] {
    outline: none;
    border: none;
    background-color: #ffff00;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 29px;
    -moz-border-radius: 29px;
    -webkit-border-radius: 29px;
    font: 26.23px/27px 'rotonda-bold';
    color: #373737;
    height: 60px;
    line-height: 60px;
    /* padding: 24px 0 16px; */
    margin-top: 9px;
    cursor: pointer;
}

/*formPart END*/
/*footer*/
footer {
    padding-bottom: 21px;
    background-color: transparent;
}

footer .top {
    overflow: hidden;
}

footer .top .left {
    float: left;
}

footer .top .left .logo {
    float: left;
    background: url("img/footLogoH.png") center no-repeat;
    width: 304px;
    padding: 23px 0 13px;
    overflow: hidden;
}

footer .top .left .logo img {
    float: left;
    max-width: 100%;
    padding-left: 22px;
    margin-top: -8px;
}

footer .top .left .logo .text {
    width: 58%;
    float: left;
    padding-left: 14px;
}

footer .top .left .logo .text p:first-child {
    font: 14.69px/10px 'rotonda-bold';
    text-transform: uppercase;
    padding-top: 17px;
}

footer .top .left .logo .text p {
    color: #ffffff;
    font: 13.34px/14px 'PT Sans', sans-serif;
    font-weight: 700;
}

footer .top .left .menu {
    padding-left: 27px;
    padding-top: 43px;
    display: inline-block;
}

footer .top .left .menu ul li {
    display: inline-block;
    padding-right: 20px;
}

footer .top .left .menu ul li a {
    font: 16px/16px 'PT Sans', sans-serif;
    color: #000000;
    letter-spacing: 0.49px;
}

footer .top .left .menu ul li a.active, footer .top .left .menu ul li a:hover {
    color: #2180dd;
    border-bottom: 4px solid #217fdc;
    padding-bottom: 1px;
}

footer .top .right {
    float: right;
}

footer .top .right .callback {
    padding-top: 31px;
    padding-right: 18px;
    padding-bottom: 15px;
}

footer .top .right .callback a {
    border: 1px dotted #4896e2;
    font: 15px/15px 'PT Sans', sans-serif;
    color: #000000;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 18px 4px 14px;
}

footer .top .right .socials {
    padding-left: 34px;
}

footer .top .right .socials a {
    padding-right: 2px;
}

footer .bottom {
    overflow: hidden;
    padding-top: 7px;
}

footer .bottom .left {
    float: left;
    padding-top: 4px;
}

footer .bottom .left p {
    font: 14px/16px 'PT Sans', sans-serif;
    color: #575757;
}

footer .bottom .right {
    float: right;
}

footer .bottom .right p {
    font: 14px/16px 'PT Sans', sans-serif;
    color: #575757;
    text-align: right;
}

footer .bottom .right .text {
    float: right;
    padding-right: 20px;
    padding-left: 17px;
    border-left: 1px solid #b8b8b8;
    padding-top: 4px;
}

footer .bottom .right .text1 {
    float: right;
    padding-right: 14px;
    padding-top: 4px;
}

/*footer END*/

.local_city {
    text-align: center;
    padding: 0 0 45px 0;
    background-image: url(img/red_block_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #ff7900
}

.local_city h3 {

}

.local_city a {
    margin: 15px 0;
    display: inline-block;
}

.local_city p {
    color: #fff;
    font-size: 27px;
    line-height: 40px;
    font-family: 'PT Sans'
}

.courses_block {
    background-color: rgb(23, 114, 221);
    background-repeat: no-repeat;
    padding: 35px 0 95px 0;
}

.courses_block .course {
    background: #fff;
    border: 7px solid red;
    border-radius: 7px;
    padding: 2%;
    margin: 15px auto;
    display: table;
    width: 93%
}

.courses_block .course .img, .courses_block .content {
    display: table-cell;
    vertical-align: top
}

.courses_block .course .img {
    width: 21%;
}

.courses_block .course .img img {
    width: 100%;
}

.courses_block .content {
    width: 77%;
    position: relative;
    padding: 0 2%
}

.courses_block .content h2 {
    font-family: "rotonda-bold";
    text-transform: uppercase;
    font-size: 50px;
    line-height: 75px;
    border-bottom: 3px solid #ffe9dc;
    width: 100%
}

.courses_block .content p {
    font-family: 'PT Sans';
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 2%;
}

.courses_block .content p span {
    display: inline-block;
    padding: 7px;
    font-weight: 800;
    background: yellow;
    border-radius: 5px;
}

.courses_block .content .button {
    position: absolute;
    bottom: 0;
    right: 2%
}

.courses_block .content .button:active {
    bottom: -2px
}

@media (max-width: 980px) {
    .contS,
    .cont, .local_city > * {
        width: 720px;
    }

    .local_city > * {
        margin: 0 auto
    }

    .first .title h2 {
        font-size: 32px;
        line-height: 34px;
    }

    .first .text p {
        font-size: 30px;
    }

    .second .boxes .box .left img {
        padding-top: 15px;
    }

    .second .boxes {
        padding-top: 15px;
    }

    .advantages .boxes .box .tit p {
        font: 16px/18px 'rotonda-bold' !important;
    }

    .slidBox .slide .right table th {
        font: 15px/24px 'PT Sans', sans-serif;
    }

    .slidBox .slide .right table tr td {
        font: 14px/24px 'PT Sans', sans-serif;
        padding: 5px;
    }

    .slidBox .slide .right table th,
    .slidBox .slide .right table td {
        width: auto;
    }

    .map .box .contS .choose p {
        font-size: 22px;
    }

    .formPart .title p {
        font: 16px/18px 'PT Sans', sans-serif;
    }

    .formPart .boxes .left .tit h3 {
        font: 20px/20px 'rotonda-bold';
    }

    .formPart .boxes .left .tit p {
        font: 16px/16px 'PT Sans', sans-serif;
    }

    .formPart .boxes .left form button,
    .formPart .boxes .left form input {
        width: 100%;
    }

    footer .top {
        padding-bottom: 5px;
    }

    footer .top .left .menu {
        display: block;
        padding-left: 0;
    }

    footer .bottom {
        text-align: center;
    }

    footer .bottom .left {
        display: block;
        float: initial;
    }

    footer .bottom .right {
        display: block;
        float: initial;
        overflow: hidden;
        padding-top: 6px;
        padding-right: 25%;
    }

    .courses_block .content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .courses_block .content p {
        font-size: 17px;
        position: absolute;
    }

    .courses_block .content .button {
        padding: 15px;
    }
}

@media (max-width: 740px) {
    .contS,
    .cont, .local_city > * {
        width: 320px;
    }

    .first {
        background: url("img/sliderBg.jpg") top center no-repeat;
    }

    header .logo {
        width: 320px;
        background-size: 300px auto;
        padding: 10px 0;
        float: none;
    }

    header .logo .text {
        width: 60%;
    }

    header .logo .text p:first-child {
        font-size: 16px;
    }

    header .logo .text p {
        font: 18px/13px 'PT Sans', sans-serif;
    }

    header .right {
        float: none;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    header .right .callback {
        padding: 10px;
    }

    header .menu {
        margin-top: 0;
        padding: 0;
    }

    header .right .tel p {
        padding: 0;
        text-align: center;
    }

    header .menu ul li {
        padding-right: 14px;
    }

    header .menu ul li:last-child {
        padding: 0;
    }

    header .menu ul li a {
        font-size: 16px;
    }

    .first .cont {
        padding: 0;
    }

    .first .title {
        padding-top: 10px;
        text-align: center;
    }

    .first .text p {
        text-align: center;
    }

    .first .text2 p {
        text-align: center;
        font-size: 18px;
        line-height: 19px;
    }

    .first .courses {
        text-align: center;
    }

    .first .play {
        position: initial;
        text-align: center;
        padding-top: 40px;
    }

    .first .play img {
        width: 50px;
        height: auto;
    }

    .first .absolute {
        padding-top: 0;
        padding-left: 0;
        text-align: center;
        padding-bottom: 20px;
    }

    .first .absolute img {
        display: none;
    }

    .second .left {
        display: none;
    }

    .second .right {
        width: 100%;
    }

    .second .right .left {
        display: block;
    }

    .second .title {
        text-align: center;
    }

    .second .right {
        padding-top: 0;
    }

    .advantages .boxes .box {
        width: 100%;
        height: auto !important;
        padding-bottom: 15px;
    }

    .lessons {
        background: transparent;
    }

    .lessons .group {
        width: 100%;
        padding-left: 0;
    }

    .lessons .group .title {
        padding-top: 15px;
        text-align: center;
    }

    .lessons .boxes .box {
        background: transparent;
    }

    .lessons .boxes .box .left {
        display: none;
    }

    .lessons .boxes .box .text {
        width: 100%;
        margin-left: 0;

    }

    .lessons .boxes .box .text p {
        font-size: 20px !important;
    }

    .slidBox .slide .left {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .slidBox .slide .right {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .slidBox .slide .right table th,
    .slidBox .slide .right table td {
        width: 90px;
    }

    .slidBox .slide .right table {
        margin: 0;
        float: none;
        display: inline-block;
    }

    .slidBox .slide .left img {
        display: inline-block;
    }

    .map .box .contS .count p span {
        display: block;
    }

    .map .box .contS {
        padding: 20px;
    }

    .map .box .contS .choose {
        float: none;
        text-align: center;
    }

    .map .cityes .elem {
        width: 100%;
    }

    .formPart .boxes {
        padding-left: 0;
    }

    .formPart .boxes .left {
        width: 100%;
    }

    .formPart .boxes .left form input,
    .formPart .boxes .left form button {
        width: 265px;
    }

    footer .top .left .menu ul li {
        padding-right: 6px;
    }

    footer .top .right {
        text-align: center;
        width: 100%;
    }

    footer .top .right .socials {
        padding-left: 0;
    }

    footer .bottom .right {
        padding-right: 0;
    }

    footer .bottom .right p {
        font: 12px/12px 'PT Sans', sans-serif;
    }

    footer .bottom .left p {
        font: 12px/12px 'PT Sans', sans-serif;
    }

    .formPart .boxes .right {
        display: none;
    }

    .courses_block .course {
        display: block !important;
        text-align: center
    }

    .courses_block .img {
        display: none !important
    }

    .courses_block .content {
        display: block !important;
        width: 100% !important
    }

    .courses_block .content h2 {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .courses_block .content p {
        font-size: 13px;
        position: relative;
        margin-bottom: 15px;
    }

    .courses_block .content .button {
        padding: 5px;
        border-radius: 2px;
        margin-top: 15px;
        position: relative;
        font-size: 15px
    }
}

/*html {*/
/*background: url("img/back.jpg") top center no-repeat;*/
/*}*/
/*body {*/
/*opacity: 0.6;*/
/*}*/

#val2, #val4 {
    display: none;
}

select {
    width: 100%;
    margin-bottom: 20px
}

.adress {
    font-size: 14px;
    text-align: right;
    font-weight: bold
}

.social img {
    width: 36px;
    height: 36px
}