.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #ffffff;
  cursor: pointer;
  flex-wrap: wrap; }
  .social__button {
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    .social__button--vk {
      background: #4c75a3; }
    .social__button--fb {
      background: #3b5998; }
    .social__button--ok {
      background: #ee8208; }
    .social__button--twitter {
      background: #5ea9dd; }
    .social__button--telegram {
      background: #2ca4d7; }
  .social__button-icon {
    position: relative; }
    .social__button-icon:after {
      background: #ffffff; }
    .social__button-icon--vk {
      width: 49px;
      height: 100%; }
      .social__button-icon--vk:after {
        content: '';
        position: absolute;
        display: block;
        width: 36px;
        height: 36px;
        top: 2px;
        left: 11px;
        -webkit-mask-image: url(../../img/icon-vk.svg);
        mask-image: url(../../img/icon-vk.svg);
        mask-repeat: no-repeat !important;
        -webkit-mask-repeat: no-repeat !important;
        mask-position: center center !important;
        -webkit-mask-position: center center !important;
        mask-size: contain !important;
        -webkit-mask-size: contain !important; }
    .social__button-icon--fb {
      width: 30px;
      height: 100%; }
      .social__button-icon--fb:after {
        content: '';
        position: absolute;
        display: block;
        width: 33px;
        height: 41px;
        bottom: -6px;
        left: 3px;
        -webkit-mask-image: url(../../img/icon-facebook.svg);
        mask-image: url(../../img/icon-facebook.svg);
        mask-repeat: no-repeat !important;
        -webkit-mask-repeat: no-repeat !important;
        mask-position: center center !important;
        -webkit-mask-position: center center !important;
        mask-size: contain !important;
        -webkit-mask-size: contain !important; }
    .social__button-icon--ok {
      width: 30px;
      height: 100%; }
      .social__button-icon--ok:after {
        content: '';
        position: absolute;
        display: block;
        width: 30px;
        height: 28px;
        top: 6px;
        left: 5px;
        -webkit-mask-image: url(../../img/icon-odnoklassniki-bold.svg);
        mask-image: url(../../img/icon-odnoklassniki-bold.svg);
        mask-repeat: no-repeat !important;
        -webkit-mask-repeat: no-repeat !important;
        mask-position: center center !important;
        -webkit-mask-position: center center !important;
        mask-size: contain !important;
        -webkit-mask-size: contain !important; }
    .social__button-icon--twitter {
      width: 45px;
      height: 100%; }
      .social__button-icon--twitter:after {
        content: '';
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        top: 6px;
        left: 10px;
        -webkit-mask-image: url(../../img/icon-twitter.svg);
        mask-image: url(../../img/icon-twitter.svg);
        mask-repeat: no-repeat !important;
        -webkit-mask-repeat: no-repeat !important;
        mask-position: center center !important;
        -webkit-mask-position: center center !important;
        mask-size: contain !important;
        -webkit-mask-size: contain !important; }
    .social__button-icon--telegram {
      width: 45px;
      height: 100%; }
      .social__button-icon--telegram:after {
        content: '';
        position: absolute;
        display: block;
        width: 26px;
        height: 21px;
        top: 8px;
        left: 8px;
        background: url(../../img/icon-telegram.png);
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center center !important; }
  .social__button-title {
    padding: 0 9px;
    font-size: 12px;
    font-weight: 300;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .social__button-count {
    padding: 0 10px;
    font-size: 23px;
    font-weight: 300;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
