/* Fonts */
@font-face {
  font-family: 'BOLDE';
  src: url("../fonts/DOLBE/BOLDE.eot.ttf");
  src: url("../fonts/DOLBE/BOLDE.eot?#iefix") format("embedded-opentype"), url("../fonts/DOLBE/BOLDE.woff2") format("woff2"), url("../fonts/DOLBE/BOLDE.woff") format("woff"), url("../fonts/DOLBE/BOLDE.ttf") format("truetype"), url("../fonts/DOLBE/BOLDE.svg#BOLDE") format("svg.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibreFont/ProzaLibre-Bold.eot.ttf");
  src: url("../fonts/ProzaLibreFont/ProzaLibre-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProzaLibreFont/ProzaLibre-Bold.woff2") format("woff2"), url("../fonts/ProzaLibreFont/ProzaLibre-Bold.woff") format("woff"), url("../fonts/ProzaLibreFont/ProzaLibre-Bold.ttf") format("truetype.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibreFont/ProzaLibre-Medium.eot.ttf");
  src: url("../fonts/ProzaLibreFont/ProzaLibre-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ProzaLibreFont/ProzaLibre-Medium.woff2") format("woff2"), url("../fonts/ProzaLibreFont/ProzaLibre-Medium.woff") format("woff"), url("../fonts/ProzaLibreFont/ProzaLibre-Medium.ttf") format("truetype.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibreFont/ProzaLibre-Regular.eot.ttf");
  src: url("../fonts/ProzaLibreFont/ProzaLibre-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProzaLibreFont/ProzaLibre-Regular.woff2") format("woff2"), url("../fonts/ProzaLibreFont/ProzaLibre-Regular.woff") format("woff"), url("../fonts/ProzaLibreFont/ProzaLibre-Regular.ttf") format("truetype.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibreFont/ProzaLibre-SemiBold.eot.ttf");
  src: url("../fonts/ProzaLibreFont/ProzaLibre-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProzaLibreFont/ProzaLibre-SemiBold.woff2") format("woff2"), url("../fonts/ProzaLibreFont/ProzaLibre-SemiBold.woff") format("woff"), url("../fonts/ProzaLibreFont/ProzaLibre-SemiBold.ttf") format("truetype.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSansFont/OpenSans-Regular.eot.ttf");
  src: url("../fonts/OpenSansFont/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansFont/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSansFont/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSansFont/OpenSans-Regular.ttf") format("truetype.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSansFont/OpenSans-Light.eot.ttf");
  src: url("../fonts/OpenSansFont/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansFont/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSansFont/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSansFont/OpenSans-Light.ttf") format("truetype.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSansFont/OpenSans-Bold.eot.ttf");
  src: url("../fonts/OpenSansFont/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansFont/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSansFont/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSansFont/OpenSans-Bold.ttf") format("truetype.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSansFont/OpenSans-ExtraBold.eot.ttf");
  src: url("../fonts/OpenSansFont/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansFont/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSansFont/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSansFont/OpenSans-ExtraBold.ttf") format("truetype.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSansFont/OpenSans-SemiBold.eot.ttf");
  src: url("../fonts/OpenSansFont/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansFont/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSansFont/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSansFont/OpenSans-SemiBold.ttf") format("truetype.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-Thin.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-Extralight.ttf");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-ExtralightItalic.ttf");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-Semibold.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-SemiboldItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-Black.ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'graphik';
  src: url("../../../fonts/graphik/Graphik-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

/* Basics */
html {
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: "Open sans", sans-serif;
  color: #202427; }
  body.body-new-index {
    font-family: 'graphik';
    background: #ffffff; }
    @media (max-width: 1279px) {
      body.body-new-index {
        background: #ffffff; } }
  @media (max-width: 1279px) {
    body {
      overflow-x: hidden; } }
  @media (max-width: 767px) {
    body {
      padding-top: 120px; } }

p {
  margin: 0; }

* {
  box-sizing: border-box; }

select {
  opacity: 0; }

/* Main style */
.wrapper {
  min-height: calc(100vh - 350px); }
  .wrapper *,
  .wrapper *:before,
  .wrapper *:after {
    transition: all .2s ease-in; }
  .wrapper--background {
    background: url("../../../img/norm_background.svg"), url("../../../img/large_background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%; }

.touch-device * {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.shadow-box {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  background-color: #ffffff; }

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer; }

button, input, textarea {
  border: none;
  background: none; }

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none; }

.scroll-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #ab47bc;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  cursor: pointer;
  bottom: 30px;
  opacity: 0;
  left: 30px;
  z-index: 5;
  visibility: hidden;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); }
  @media (max-width: 1023px) {
    .scroll-top {
      width: 50px;
      height: 50px;
      bottom: 20px;
      right: 15px; } }
  .scroll-top:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    mask: url(../../../img/arrow.svg);
    -webkit-mask: url(../../../img/arrow.svg);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important;
    transform: translate(-50%, -50%) scaleY(-1); }
  .scroll-top.active {
    visibility: visible;
    opacity: 1; }

.td-wrap {
  z-index: 10100 !important; }
  .td-wrap,
  .td-wrap *,
  .td-wrap *:after,
  .td-wrap *:before {
    transition: none; }

.fileuploader-popup,
.fileuploader-popup *,
.fileuploader-popup *:after,
.fileuploader-popup *:before {
  transition: none; }

.blog-notification {
  background: #ab47bc;
  color: #ffffff;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer; }
  @media (max-width: 767px) {
    .blog-notification {
      position: fixed;
      font-size: 14px;
      padding: 20px 30px;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 10; } }
  .blog-notification:before {
    width: 17px;
    height: 17px;
    min-width: 17px;
    display: block;
    background: url(../../../img/blog-notifications.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-right: 4px;
    content: ''; }

.gm-style-iw {
  overflow: visible !important;
  padding: 10px 20px !important;
  padding-right: 40px !important; }
  .gm-style-iw div {
    overflow: visible !important; }

.tooltip__name {
  color: #0092e8;
  font-size: 16px;
  margin-bottom: 5px; }

.tooltip__rating {
  position: relative;
  padding-left: 26px;
  font-weight: 700;
  font-size: 12px; }
  .tooltip__rating:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffdc64;
    width: 18px;
    height: 17px;
    mask: url(../../../img/star.svg);
    -webkit-mask: url(../../../img/star.svg);
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important; }

input[type="file"] {
  display: none; }

.hide {
  display: none; }
