{% include "footer-new.html" %}
		<!-- <footer class="footer">
			<div class="container footer__flex-container">
				<div class="footer__center-side">
					<div class="center-side__colmn">
						<div class="footer-list footer-list_hidden-mobile">
							<div class="footer-list__title">
								Продукция
							</div>
							<ul class="footer-list__list">
								<li><a href="#">Гибриды</a></li>
								<li><a href="#">Видеорегистраторы</a></li>
								<li><a href="#">Радар-детекторы</a></li>
								<li><a href="#">Инверторы</a></li>
								<li><a href="#">Аксессуары</a></li>
							</ul>
						</div>
					</div>
					<div class="center-side__colmn">
						<div class="footer-list">
							<div class="footer-list__title">
								Информация
							</div>
							<ul class="footer-list__list">
								<li><a href="#">О компании</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Обзоры</a></li>
							</ul>
						</div>
						<div class="footer-list">
							<div class="footer-list__title">
								Поддержка
							</div>
							<ul class="footer-list__list">
								<li><a href="#">Сервисное
								обслуживание</a></li>
								<li><a href="#">Вопросы и ответы</a></li>
							</ul>
						</div>
					</div>
					<div class="center-side__colmn">
						<div class="footer-list">
							<div class="footer-list__title">
								Покупка
							</div>
							<ul class="footer-list__list">
								<li><a href="#">Доставка и оплата</a></li>
								<li><a href="#">Гарантия</a></li>
								<li><a href="#">Купить оптом</a></li>
								<li><a href="#">Розничные магазины</a></li>
								<li><a href="#">Интернет-магазины</a></li>
								<li><a href="#">Региональные 
								дистрибуторы</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer__right-side">
					<div class="header__contacts">
						<span class="big-phone big-phone_margin">8 (800) 100-68-57</span>
						Звонки по России бесплатные
					</div>
					<div class="subscribe-block">
						<div class="subscribe-block__title">
							Подпишитесь на рассылку 
						</div>
						<p class="subscribe-block__text">Полезная информация без спама</p>
						<form class="subscribe-line">
							<input type="text" name="" class="subscribe-line__input" placeholder="Введите email">
							<input type="submit" name="" class="subscribe-line__submit button" value="Подписаться">
						</form>
					</div>
				</div>
				<div class="footer__left-side">
					<a href="#" class="logo-link">
						<svg class="i-logo i-logo_white">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#logo"></use>
						</svg>
					</a>
					<div class="copyright">
						2006-2017 ©  Компания Neoline<br> Автоэлектроника и аксессуары<br>
						Все права защищены
					</div>
					<div class="soc-block">
						<a href="#" class="soc-link">
							<i class="fa fa-vk" aria-hidden="true"></i>
						</a>
						<a href="#" class="soc-link">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a href="#" class="soc-link">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="#" class="soc-link">
							<i class="fa fa-google" aria-hidden="true"></i>
						</a>
						<a href="#" class="soc-link">
							<i class="fa fa-youtube-play" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="footer__bt-line">
				<div class="container">
					<a href="#">Политка конфденциальности</a>
					<a href="#">Пользовательское соглашение</a>
				</div>
			</div>
		</footer>
		<a href="#" class="compare-link">
			Сравнить товары
		</a>
		<div class="popup popup_order-history">
			<div class="popup__block popup__block_big">
				<div class="close-popup">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="popup__container_middle container">
					<div class="order-title">
						<div class="order-title__num">Заказ № 34872</div>
						<div class="order-title__post-date">от 08.07.2017</div>
						<div class="order-title__bage square-bage square-bage_red">Оформлен</div>
						<div class="order-title__reset-link">Отменить заказ</div>
					</div>
					<div class="product-table product-table_history-table">
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest1.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								1 шт.
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									7 990 руб.
								</div>
							</div>
						</div>
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest2.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								1 шт.
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									7 990 руб.
								</div>
							</div>
						</div>
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest3.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								1 шт.
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									<span class="price__old-price">10 990 руб.</span>
									8 990 руб.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-border form-border_grey-back form-border_no-margin">
					<div class="container form-border__container">
						<table class="result-table">
							<tbody><tr>
								<td>Товары на сумму:</td>
								<td>31 970 руб.</td>
							</tr>
							<tr>
								<td>Экономия:</td>
								<td>2000 руб.</td>
							</tr>
							<tr>
								<td>Доставка:</td>
								<td>320 руб.</td>
							</tr>
							<tr class="result-table__result-row">
								<td class="result-row__title">Итого</td>
								<td>
									3 товара на сумму
									<div class="result-table__result-price">31 970 руб.</div>
								</td>
							</tr>
						</tbody></table>
						<button class="button button_height order-button">Оформить заказ</button>
					</div>
				</div>
				<div class="popup__bottom-row regular-text">
					Остались вопросы? Напишите или позвоните нам<br>
					Тел. 8 800 100-68-57 или mail: support@neoline.ru
				</div>
			</div>
		</div>
		<div class="popup popup_cart-add">
			<div class="popup__block">
				<div class="close-popup">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="popup__content-wrap">
					<div class="check-icon">
						<div class="flex-align">
							<i class="fa fa-check" aria-hidden="true"></i>
						</div>
					</div>
					<div class="popup__title">Добавлено в корзину</div>
					<p class="popup__text" id="prod-name">Автомобильный видеорегистратор regName</p>
					<div class="popup__button-line">
						<div class="half-wrap half-wrap_separate">
							<a href="#" class="button button_height">Оформить заказ</a>
						</div>
						<div class="half-wrap half-wrap_separate">
							<div class="button button_height js-close-popup">Продолжить покупки</div>
						</div>
					</div>		
				</div>
						
			</div>
		</div>
		<div class="popup popup_info">
			<div class="popup__block">
				<div class="close-popup">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="popup__content-wrap">
					<div class="popup__title">Режим работы на новогодние праздники:</div>
					<div class="popup__text news-box">
						<h4>Прием заказов</h4>
						<ul>
							<li>С 29 декабря по 8 января колл центр не работает</li>
							<li>Все заказы принимаются только через сайт</li>
							<li>Операторы свяжутся с вами на следующий день после оформления заказа</li>
						</ul>
						
						<h4> Доставка</h4>
						<p>Москва и Санкт Петербург</p>
						<ul>
							<li>Заказы, оформленные с 28 декабря, будут доставляться с 4 января в штатном режиме</li>
						</ul>
						
						<p>Регионы</p>
						<ul>
							<li>Заказы, оформленные с 22 декабря, будут доставляться с 9 января в штатном режиме</li>
						</ul>
						
					</div>
					<div class="button button_height button_center js-close-popup">ОК</div>	
				</div>
						
			</div>
		</div>
		<div class="popup popup_registration">
			<div class="popup__block">
				<div class="close-popup">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="popup__container container">
					<div class="log-reg-title">
						<span class="blue-link">Регистрация</span> /
						<span class="js-call-popup" data-popup="popup_login">Авторизация</span> 
					</div>
					<input type="text" name="" class="regular-input" placeholder="Номер телефона или email">
					<div class="regular-text explain-text">Введите e-mail или телефон, на который будет отправлен Ваш пароль</div>
					<button class="button button_full-width button_height">Зарегистрироваться</button>
				</div>
			</div>
		</div>
		<div class="popup popup_feedback">
			<div class="popup__block">
				<div class="close-popup">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="popup__container container">
					<div class="popup__title">Форма обратной связи</div>
					<p class="popup__text">Обращаем Ваше внимание, что мы обрабатывают запросы в рабочее время с понедельника по пятницу
					с 09.00 до 18.00. Суббота и воскресенье - выходные дни. </p>
					<input type="text" name="" class="regular-input" placeholder="Ваше имя *">
					<input type="text" name="" class="regular-input" placeholder="Ваш email *">
					<input type="text" name="" class="regular-input phone-mask" placeholder="Ваш телефон">
					<input type="text" name="" class="regular-input" placeholder="Номер телефона или email">
					<textarea type="text" name="" class="regular-input" placeholder="Ваш вопрос"></textarea>
					<button class="button button_full-width button_height">Отправить</button>
				</div>
			</div>
		</div>
		<div class="popup popup_login ">
			<div class="popup__block">
				<div class="close-popup">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="popup__container container">
					<div class="log-reg-title">
						<span class="js-call-popup" data-popup="popup_registration">Регистрация</span> /
						<span class=" blue-link" >Авторизация</span> 
					</div>
					<input type="text" name="" class="regular-input" placeholder="Логин">
					<input type="password" name="" class="regular-input" placeholder="Пароль">
					<div class="order-wrap">
						<div class="half-wrap half-wrap_separate">
							<button class="button button_height">Войти</button>
						</div>
						<div class="half-wrap half-wrap_separate">
							<div class="dashed-button js-call-popup" data-popup="popup_recovery">
								<span>Востановить пароль</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup_recovery " >
			<div class="popup__block">
				<div class="close-popup">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="popup__container container">
					<div class="log-reg-title">
						<span class="js-call-popup" data-popup="popup_registration">Регистрация</span> /
						<span class=" blue-link" >Авторизация</span> 
					</div>
					<div class="regular-text explain-text">Введите e-mail или телефон. На него будет выслан пароль и дополнительная информация.</div>
					<input type="text" name="" class="regular-input" placeholder="Номер телефона или email">
					<div class="order-wrap">
						
						<div class="half-wrap half-wrap_separate">
							<div class="dashed-button">
								<span>Выслать повторно код</span>
							</div>
						</div>
						<div class="half-wrap half-wrap_separate">
							<button class="button button_height">
									Сменить пароль
								</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-menu mobile-menu_main">
			<div class="mobile-menu__top-wrap">
				<div class="mobile-menu__buttons">
					<a href="#" class="square-button account-button account-button_mobile">
						<i class="fa fa-user" aria-hidden="true"></i>
						<span class="account-button__user-name">Выход</span>
					</a> -->
					<!-- не авторизированный пользователь
					<div class="square-button account-button account-button_mobile js-call-popup" data-popup="popup_login">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div> -->
					<!-- <div class="close-button square-button js-toggle-menu">
						<i class="fa fa-times" aria-hidden="true"></i>
					</div>
				</div>
				<form class="search-line">
					<input type="text" name="" class="search-line__input" placeholder="Поиск по сайту">
					<button class="search-line__search">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Дмитрий Сергеенко
				</div>
			</a>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Каталог
				</div>
				<ul class="accordeon-menu__content">
					<li><a href="#">Гибриды</a></li>
					<li><a href="#">Видеорегистраторы</a></li>
					<li><a href="#">Радар-детекторы</a></li>
					<li><a href="#">Инверторы</a></li>
					<li><a href="#">Аксессуары</a></li>
					<li><a href="#">Оплата и доставка</a></li>
					<li><a href="#">Акции</a></li>
				</ul>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Информация 
				</div>
				<ul class="accordeon-menu__content">
					<li><a href="#">О компании</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Обзоры</a></li>
				</ul>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Поддержка
				</div>
				<ul class="accordeon-menu__content">
					<li><a href="#">Сервисное
					обслуживание</a></li>
					<li><a href="#">Вопросы и ответы</a></li>
				</ul>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Покупка
				</div>
				<ul class="accordeon-menu__content">
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Гарантия</a></li>
					<li><a href="#">Купить оптом</a></li>
					<li><a href="#">Розничные магазины</a></li>
					<li><a href="#">Интернет-магазины</a></li>
					<li><a href="#">Региональные 
					дистрибуторы</a></li>
				</ul>
			</div>
			<div class="callback-block">
				<div class="callback-block__title">Требуется консультация?</div>
				<p class="callback-block__text">Перезвоним в течении 5 минут
				и ответим на Ваши вопросы</p>
				<form>
					<input type="text" name="" class="callback-block__input phone-mask" placeholder="+7 (ххх) ххх-хх-хх">
					<button class="callback-block__button">Перезвоните мне</button>
				</form>
			</div>
		</div>
		<div class="mobile-menu mobile-menu_filter">
			<div class="close-button square-button js-toggle-menu">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
			<aside class="product-filter product-filter_mobile">
				<div class="product-filter__sort-section">
					<div class="sort-section__name">Цена (руб.)</div>
					<div class="sort-section__content">
						<div class="range-select" data-minVal="" data-maxVal="3000000">
							<div class="range-select__inputs">
								<div class="range-select__input-wrap">
									<input type="text" name="" class="value-hold value-hold_min">
								</div>
								<div class="range-select__input-wrap">	
									<input type="text" name="" class="value-hold value-hold_max">
								</div>
							</div>
							
							<div class="range-select__drag-zone"></div>
						</div>
					</div>
				</div>
				<div class="product-filter__sort-section">
					<div class="sort-section__name">Угол обзора</div>
					<div class="sort-section__content">
						<label class="checkbox-label sort-section__filter-check">
							<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
							<div class="checkbox-label__checkbox-visual">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
							<span class="checkbox-label__text">121-140 градусов (3)</span>
						</label>
						<label class="checkbox-label sort-section__filter-check">
							<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
							<div class="checkbox-label__checkbox-visual">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
							<span class="checkbox-label__text">более 140 градусов (1)</span>
						</label>
					</div>
				</div>
				<div class="product-filter__sort-section">
					<div class="sort-section__name">Емкость карты памяти</div>
					<div class="sort-section__content">
						<label class="checkbox-label sort-section__filter-check">
							<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
							<div class="checkbox-label__checkbox-visual">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
							<span class="checkbox-label__text">32 Гб (1))</span>
						</label>
						<label class="checkbox-label sort-section__filter-check">
							<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
							<div class="checkbox-label__checkbox-visual">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
							<span class="checkbox-label__text">64 Гб  (2)</span>
						</label>
						<label class="checkbox-label sort-section__filter-check">
							<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
							<div class="checkbox-label__checkbox-visual">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
							<span class="checkbox-label__text">128 Гб  (2)</span>
						</label>
					</div>
				</div>
				<div class="product-filter__sort-section">
					<div class="sort-section__name">Диагональ дисплея</div>
					<div class="sort-section__content">
						<label class="checkbox-label sort-section__filter-check">
							<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
							<div class="checkbox-label__checkbox-visual">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
							<span class="checkbox-label__text">2.1 (3)</span>
						</label>
						<label class="checkbox-label sort-section__filter-check">
							<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
							<div class="checkbox-label__checkbox-visual">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
							<span class="checkbox-label__text">2.3 (1)</span>
						</label>
					</div>
				</div>
				<div class="product-filter__bottom">
					<button class="button button_white">Показать 7 товаров</button>
					<div class="text-button js-clear-filter">
						Очистить фильтр
					</div>
				</div>
			</aside>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/plugins-min.js"></script>
<script src="js/main-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsAmCZs2dlnlJNZ92556MMFwmBxfuFpBg"></script>
</body>
</html>
 -->