<!DOCTYPE html>
<html>
<head>
	<title>Neoline</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	
</head>
<body>
	<div class="page">
		<header class="header">
			<div class="container header__small-inner">
				<a href="./" class="logo-link">
					<svg class="i-logo">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#logo"></use>
					</svg>
					<svg class="i-logo_mobile">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#logo_mobile"></use>
					</svg>
				</a>
				<div class="phone-bold">+7 (495) 369-29-30</div>
			</div>
		</header>