<section class="recommended">
	<div class="container">
		<h2 class="slider-title recommended__title">{{title}}</h2>
		<div class="prod-cards regular-slider">
			<div class="regular-slider__slide">
				<a href="#" class="card-product card-product_no-compare card-product_in-slider">
					<div class="card-product__img">
						<img src="img/samples/slide1.jpg">
					</div>
					<div class="card-product__name">
						Видеорегистратор
						Neoline X-COP 9100
					</div>
					<div class="card-product__price">16 990 руб.</div>
					<button class="button">Купить</button>
				</a>
			</div>
			<div class="regular-slider__slide">
				<a href="#" class="card-product card-product_no-compare card-product_in-slider">
					<div class="card-product__img">
						<img src="img/samples/slide2.png">
					</div>
					<div class="card-product__name">
						Видеорегистратор
						Neoline X-COP 9100
					</div>
					<div class="card-product__price">16 990 руб.</div>
					<button class="button">Купить</button>
				</a>
			</div>
			<div class="regular-slider__slide">
				<a href="#" class="card-product card-product_no-compare card-product_in-slider">
					<div class="product-bages">
						<div class="line-bage line-bage_red">НОВИНКА</div>
					</div>
					<div class="card-product__img">
						<img src="img/samples/slide3.png">
					</div>
					<div class="card-product__name">
						Видеорегистратор
						Neoline X-COP 9100
					</div>
					<div class="card-product__price">14 990 руб.</div>
					<button class="button">Купить</button>
				</a>
			</div>
			<div class="regular-slider__slide">
				<a href="#" class="card-product card-product_no-compare card-product_in-slider">
					<div class="product-bages">
						<div class="line-bage line-bage_red">НОВИНКА</div>
					</div>
					<div class="card-product__img">
						<img src="img/samples/slide3.png">
					</div>
					<div class="card-product__name">
						Видеорегистратор
						Neoline X-COP 9100
					</div>
					<div class="card-product__price">14 990 руб.</div>
					<button class="button">Купить</button>
				</a>
			</div>
			<div class="regular-slider__slide">
				<a href="#" class="card-product card-product_no-compare card-product_in-slider">
					<div class="card-product__img">
						<img src="img/samples/slide4.png">
					</div>
					<div class="card-product__name">
						Видеорегистратор
						Neoline X-COP 9100
					</div>
					<div class="card-product__price">16 990 руб.</div>
					<button class="button">Купить</button>
				</a>
			</div>
		</div>
	</div>
	
</section>