.main-slider {
  width: 100%;
  position: relative; }
  @media (max-width: 1279px) {
    .main-slider {
      padding-top: 90px; } }
  @media (max-width: 767px) {
    .main-slider {
      padding-top: 217px; } }
  .main-slider__item {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 120px;
    justify-content: center;
    position: relative; }
    @media (max-width: 1365px) {
      .main-slider__item {
        padding-left: 77px; } }
    @media (max-width: 1279px) {
      .main-slider__item {
        padding-left: 40px; } }
    @media (max-width: 1279px) {
      .main-slider__item {
        height: calc(100vh - 90px); } }
    @media (max-width: 767px) {
      .main-slider__item {
        height: 550px;
        padding: 15px; } }
  .main-slider__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1599px) {
      .main-slider__background {
        opacity: .3; } }
  .main-slider__item-title {
    font-size: 48px;
    font-weight: 200;
    position: relative;
    z-index: 10; }
    .main-slider__item-title span {
      font-weight: 700; }
    @media (max-width: 1279px) {
      .main-slider__item-title {
        font-size: 36px; } }
    @media (max-width: 767px) {
      .main-slider__item-title {
        font-size: 18px;
        text-align: center;
        width: 100%; } }
  .main-slider__item-text {
    margin: 60px 0;
    font-size: 14px;
    font-weight: 200;
    width: 700px;
    position: relative;
    z-index: 10; }
    @media (max-width: 767px) {
      .main-slider__item-text {
        margin: 30px 0;
        width: 100%;
        text-align: center; } }
  .main-slider__item-buttons {
    position: relative;
    z-index: 10; }
    @media (max-width: 767px) {
      .main-slider__item-buttons {
        height: 115px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        justify-content: space-between; } }
  .main-slider__item-button {
    margin-right: 15px; }
  .main-slider .owl-dots {
    position: absolute;
    left: 105px;
    bottom: 15vh; }
    @media (max-width: 1365px) {
      .main-slider .owl-dots {
        left: 62px;
        bottom: 5vh; } }
    @media (max-width: 1279px) {
      .main-slider .owl-dots {
        padding-left: 25px; } }
  .main-slider .owl-dot {
    background: #ffffff !important;
    width: 9px;
    margin: 15px;
    height: 9px;
    border-radius: 50%; }
    .main-slider .owl-dot:hover, .main-slider .owl-dot.active {
      background: #f9b401 !important; }
