@media (max-width: 767px) {
  .goods-filter {
    display: none;
    position: absolute;
    background: #ffffff;
    z-index: 10;
    margin-top: 0 !important;
    top: 0;
    left: 0; }
    .goods-filter.active {
      display: block; } }

@media (max-width: 767px) {
  .goods-filter__item {
    margin-bottom: 0 !important; } }

@media (max-width: 767px) {
  .goods-filter__header {
    border: none !important;
    padding: 10px 30px !important;
    font-size: 14px;
    font-weight: 600; } }

@media (max-width: 767px) {
  .goods-filter__header:before, .goods-filter__header:after {
    display: none !important; } }

@media (max-width: 767px) {
  .goods-filter__content {
    display: block !important;
    border: none !important;
    padding: 10px 30px !important; } }

.goods-filter__mobile-button {
  display: none; }
  @media (max-width: 767px) {
    .goods-filter__mobile-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      height: 20px;
      font-size: 9px;
      font-weight: 600;
      color: #ffffff;
      background: #2B6999;
      border-radius: 3px; }
      .goods-filter__mobile-button--big {
        height: 40px;
        font-size: 14px;
        width: 100%; } }

.goods-filter__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .goods-filter__buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 30px; } }

.goods-filter__button-reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #ffffff;
  border: 1px solid #2B6999;
  padding: 0 10px;
  color: #2B6999;
  border-radius: 3px; }

.goods-filter__button-apply {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #EA5E2B;
  border: 1px solid #EA5E2B;
  color: #ffffff;
  padding: 0 10px;
  border-radius: 3px; }
