.footer {
  background: #efefef;
  border-top: 1px solid #e6e6e6;
  width: 100%; }
  .footer__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0; }
    @media (max-width: 1279px) {
      .footer__block {
        display: grid;
        justify-content: center;
        grid-gap: 25px; } }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer__social-item {
    margin: 0 8px; }
  .footer__email {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #b7b7b7; }
    @media (max-width: 1279px) {
      .footer__email {
        width: fit-content;
        width: -moz-fit-content;
        margin-left: auto;
        margin-right: auto; } }
  .footer__dev-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center; }
    @media (max-width: 1279px) {
      .footer__dev-logo {
        width: fit-content;
        width: -moz-fit-content;
        margin: 0 auto; } }
  .footer__dev-logo-text {
    opacity: 0.75;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    margin-right: 8px; }
