.main-search {
  height: 100vh;
  position: relative;
  background: #1d519d;
  padding: 80px; }
  @media (max-width: 1279px) {
    .main-search {
      height: auto;
      min-height: 100vh;
      padding: 80px 0; } }
  .main-search__background {
    position: absolute;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .main-search__background:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(29, 65, 120, 0.56), rgba(20, 66, 136, 0.64)); }
  .main-search__inner {
    position: relative;
    z-index: 1; }
  .main-search__inner-title {
    color: #ffffff;
    width: 660px;
    padding: 58px 0;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 46px; }
    @media (max-width: 1279px) {
      .main-search__inner-title {
        width: 100%;
        padding: 39px 0;
        font-size: 27px;
        line-height: 31px; } }
  .main-search__inner-desc {
    padding-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px; }
    @media (max-width: 1279px) {
      .main-search__inner-desc {
        grid-template-columns: 1fr; } }
  .main-search__inner-desc-icon {
    width: 80px;
    height: 80px;
    border: solid 1px #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px; }
  .main-search__inner-desc-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px; }
  .main-search__inner-form {
    padding-top: 93px; }
    @media (max-width: 1279px) {
      .main-search__inner-form {
        padding-top: 65px; } }
  .main-search__inner-form-title {
    color: #ffffff;
    opacity: .8;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px; }
  .main-search__inner-form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 40px; }
    @media (max-width: 1279px) {
      .main-search__inner-form-inputs {
        grid-template-columns: 1fr; } }
