.event-first {
  height: 770px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }
  @media (max-width: 767px) {
    .event-first {
      height: 450px; } }
  .event-first__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%; }
  .event-first__desc {
    color: #ffffff;
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: center; }
  .event-first__breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
  .event-first__breadcrumbs-item:after {
    content: '/'; }
  .event-first__title {
    font-size: 50px;
    font-weight: 700; }
    @media (max-width: 767px) {
      .event-first__title {
        font-size: 30px; } }
  .event-first__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 35px 0; }
  .event-first__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #ffffff;
    height: 45px;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 30px;
    background: url(../../img/pattern.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    .event-first__button:hover {
      box-shadow: 0 0 15px 5px #3db837; }
