@font-face {
  font-family: 'din';
  src: url(../../../../fonts/DINPro.ttf);
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'din';
  src: url(../../../../fonts/DINPro-Light.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'din';
  src: url(../../../../fonts/DINPro-Medium.ttf);
  font-weight: 500;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  background: #343853; }

* {
  font-display: auto;
  font-family: 'din', sans-serif !important;
  box-sizing: border-box; }

.wrapper *,
.wrapper *:before,
.wrapper *:after {
  transition: all 0.1s ease-in; }

.wrapper *::-webkit-input-placeholder {
  transition: all 0.1s ease-in; }

.wrapper *::-moz-placeholder {
  transition: all 0.1s ease-in; }

.wrapper *:-moz-placeholder {
  transition: all 0.1s ease-in; }

.wrapper *:-ms-input-placeholder {
  transition: all 0.1s ease-in; }

.touch-device * {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer; }

button, input, textarea {
  border: none;
  background: none; }

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none; }

.lb-number {
  display: none !important; }

.lightboxOverlay {
  background: rgba(52, 56, 83, 0.9) !important;
  opacity: 1 !important; }
