.pattern-title {
  padding: 20px 0;
  background: url(../../img/pattern.jpg);
  background-size: 100% auto;
  background-repeat: repeat-y;
  margin: 30px 0; }
  .pattern-title__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 1279px) {
      .pattern-title__items {
        flex-wrap: wrap; } }
  .pattern-title__item {
    font-size: 26px;
    color: #ffffff;
    margin-right: 40px; }
    .pattern-title__item--link:hover {
      text-decoration: underline; }
    @media (max-width: 767px) {
      .pattern-title__item {
        font-size: 18px;
        margin-right: 20px; } }
  .pattern-title__contacts {
    margin-left: auto; }
    @media (max-width: 1279px) {
      .pattern-title__contacts {
        margin-left: 0;
        margin-top: 15px;
        width: 100%; } }
