@font-face {
    font-family: 'Proza Libre';
    src: url('ProzaLibre-Bold.eot');
    src: url('ProzaLibre-Bold.eot?#iefix') format('embedded-opentype'),
        url('ProzaLibre-Bold.woff2') format('woff2'),
        url('ProzaLibre-Bold.woff') format('woff'),
        url('ProzaLibre-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('ProzaLibre-Medium.eot');
    src: url('ProzaLibre-Medium.eot?#iefix') format('embedded-opentype'),
        url('ProzaLibre-Medium.woff2') format('woff2'),
        url('ProzaLibre-Medium.woff') format('woff'),
        url('ProzaLibre-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('ProzaLibre-Regular.eot');
    src: url('ProzaLibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProzaLibre-Regular.woff2') format('woff2'),
        url('ProzaLibre-Regular.woff') format('woff'),
        url('ProzaLibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('ProzaLibre-SemiBold.eot');
    src: url('ProzaLibre-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('ProzaLibre-SemiBold.woff2') format('woff2'),
        url('ProzaLibre-SemiBold.woff') format('woff'),
        url('ProzaLibre-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

