@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.seventh {
  padding-top: 20px !important;
  padding-bottom: 0 !important;

  &__block {
    display: grid;
    grid-template-columns: 500px 1fr;

    @media #{$tablet-small-screen} {
      grid-template-columns: 1fr;
    }
  }
  &__desc {
    padding-top: 50px;
  }
  &__title {
  }
  &__text {
    margin-top: 45px;
    color: #404040;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
  &__contacts {
  }
  &__contacts-item {
    margin-top: 15px;
    @include flex-row;
  }
  &__contacts-item-icon {
    margin-top: 8px;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    @include background-contain-center;
  }
  &__contacts-item-desc {
  }
  &__contacts-item-desc-header {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  &__contacts-item-desc-inner {
    @include flex-row;
  }
  &__contacts-item-desc-inner-item {
    color: #404040;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 15px;
  }
  &__photo {
    @include flex-row-center;

    @media #{$tablet-small-screen} {
      margin-top: 20px;
    }
  }
  &__photo-img {
    margin-top: auto;
    display: block;

    @media #{$tablet-small-screen} {
      width: 100%;
      height: auto;
    }
  }

  &__button {
    margin-top: 50px;
    position: relative;

    &:after {
      @include after-absolute;
      left: 0;
      top: -20px;
      width: 455px;
      height: 1px;
      background-color: #e6e6e6;
    }

    @media #{$tablet-small-screen} {
      @include margin-auto;
    }
  }
}