.tabs__header {
  display: grid;
  width: 100%; }
  .tabs__header--2-buttons {
    grid-template-columns: 1fr 1fr; }
  .tabs__header--3-buttons {
    grid-template-columns: 1fr 1fr; }
  .tabs__header--4-buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .tabs__header--5-buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .tabs__header--6-buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
  .tabs__header--7-buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .tabs__header--8-buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .tabs__header--9-buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .tabs__header--10-buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.tabs__header-button {
  height: 50px;
  cursor: pointer;
  background: #d8eeff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px; }
  .tabs__header-button:hover, .tabs__header-button.active {
    background: #0092E8;
    color: #ffffff; }
  .tabs__header-button.active {
    cursor: default; }

.tabs__item {
  width: 100%;
  display: none; }
  .tabs__item.active {
    display: block; }
