@charset "UTF-8";
.how-to-work {
  padding: 78px 0;
  position: relative; }
  @media (max-width: 1279px) {
    .how-to-work {
      padding: 30px 0; } }
  .how-to-work:after {
    content: '';
    position: absolute;
    display: block;
    width: 606px;
    height: 419px;
    background: url(../../../img/how-to-work-elem-2.jpg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    z-index: -1;
    right: 200px;
    top: 220px;
    transform: translateX(100%); }
  .how-to-work__title {
    margin-bottom: 75px; }
    @media (max-width: 1279px) {
      .how-to-work__title {
        margin-bottom: 30px; } }
  .how-to-work__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between; }
    @media (max-width: 1279px) {
      .how-to-work__block {
        flex-wrap: wrap; } }
  .how-to-work__slider {
    width: 370px;
    position: relative; }
    @media (max-width: 1279px) {
      .how-to-work__slider {
        width: 100%; } }
  .how-to-work__slider-number {
    font-size: 76px;
    position: absolute;
    left: -110px;
    top: 345px;
    color: #9288ba; }
    @media (max-width: 1279px) {
      .how-to-work__slider-number {
        display: none; } }
    .how-to-work__slider-number:after {
      content: '';
      position: absolute;
      display: block;
      width: 654px;
      height: 412px;
      background: url(../../../img/how-to-work-elem-1.jpg);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      z-index: -1;
      right: -170px;
      top: -180px; }
  .how-to-work__slider-number-current {
    display: inline; }
  .how-to-work__slider-number-all {
    display: inline; }
  .how-to-work__slider-title {
    font-size: 25px;
    color: #3a2f6a;
    margin-bottom: 70px; }
  .how-to-work__slider-items:after {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: calc(100% - 20px);
    background: linear-gradient(to bottom, #baeffc, #c9a5fd);
    left: 50px;
    top: -25px;
    border-radius: 30px;
    opacity: .3; }
  .how-to-work__slider-items .owl-prev,
  .how-to-work__slider-items .owl-next {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 40px;
    background: url(../../../img/slider-arrow.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    filter: drop-shadow(3px 3px 3px rgba(240, 247, 253, 0.76)); }
    .how-to-work__slider-items .owl-prev span,
    .how-to-work__slider-items .owl-next span {
      display: none; }
    .how-to-work__slider-items .owl-prev.disabled,
    .how-to-work__slider-items .owl-next.disabled {
      display: none; }
    @media (max-width: 1279px) {
      .how-to-work__slider-items .owl-prev,
      .how-to-work__slider-items .owl-next {
        right: -15px; } }
  .how-to-work__slider-items .owl-prev {
    right: auto;
    left: -15px;
    transform: translateY(-50%) scaleX(-1); }
    @media (max-width: 1279px) {
      .how-to-work__slider-items .owl-prev {
        left: -15px; } }
  .how-to-work__slider-item {
    background: linear-gradient(to bottom, #baeffc, #c9a5fd);
    border-radius: 30px;
    height: 470px;
    padding: 25px;
    font-size: 18px; }
  .how-to-work__slider-item-title {
    text-align: center;
    color: #3a2f6a;
    font-size: 24px;
    margin-bottom: 40px; }
  .how-to-work__slider-item-text {
    margin-bottom: 23px; }
  .how-to-work__slider-item-list-item {
    margin-bottom: 25px; }
    .how-to-work__slider-item-list-item:before {
      content: '— '; }
  .how-to-work__img-block {
    width: calc(100% - 440px); }
    @media (max-width: 1279px) {
      .how-to-work__img-block {
        width: 100%;
        margin-top: 30px; } }
  .how-to-work__img {
    width: 100%;
    height: auto; }
