.eighth {
  position: relative;
  padding-top: 862px;
  padding-bottom: 194px; }
  @media (max-width: 1279px) {
    .eighth {
      padding-top: 280px;
      padding-bottom: 150px; } }
  .eighth__rules {
    position: absolute;
    top: 32px;
    left: 133px; }
    @media (max-width: 1279px) {
      .eighth__rules {
        top: 25px;
        left: 50%;
        transform: translateX(-50%); } }
  .eighth__block {
    position: absolute;
    right: -83px;
    top: 0;
    width: 929px;
    height: 1024px;
    background-color: #f8f7f7;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 122px;
    padding-left: 195px; }
    @media (max-width: 1279px) {
      .eighth__block {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        height: auto;
        background-color: #f8f7f7;
        border-radius: 0;
        padding: 20px; } }
  .eighth__title {
    font-size: 48px;
    margin-bottom: 15px; }
  .eighth__title-inner {
    font-family: 'intro-bold', sans-serif !important;
    color: #65bce9; }
    .eighth__title-inner:nth-of-type(2) {
      color: #f47137; }
  .eighth__text {
    font-size: 20px;
    line-height: 31px;
    padding-right: 220px; }
    @media (max-width: 1279px) {
      .eighth__text {
        padding-right: 0; } }
  .eighth__inner-block {
    width: 728px;
    height: 176px;
    border: 8px solid #ffd34c;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 29px;
    padding-left: 50px;
    position: relative; }
    @media (max-width: 1279px) {
      .eighth__inner-block {
        width: 100%; } }
  .eighth__inner-block-text {
    font-family: 'intro-reg', sans-serif !important;
    font-size: 30px; }
  .eighth__inner-block-img {
    position: absolute;
    width: 196px;
    height: 256px;
    right: 21px;
    bottom: 0;
    background: url(../../../img/eighth-block-img.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1279px) {
      .eighth__inner-block-img {
        display: none; } }
  .eighth__text {
    font-size: 20px; }
  .eighth__subtext {
    font-family: 'intro-reg', sans-serif !important;
    font-size: 36px;
    margin-top: 30px; }
  .eighth__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    z-index: 1; }
    @media (max-width: 1279px) {
      .eighth__grid {
        grid-template-columns: 1fr;
        grid-gap: 0; } }
  .eighth__grid-item {
    background: #ffd34c;
    height: 222px;
    font-size: 25px;
    padding: 20px 40px;
    line-height: 30px;
    text-align: center;
    padding-top: 75px; }
    @media (max-width: 1279px) {
      .eighth__grid-item {
        margin-bottom: 15px;
        height: auto;
        padding: 37px 40px;
        text-align: left; } }
  .eighth__grid-item-letter {
    color: #ffffff;
    font-family: 'intro-bold', sans-serif !important;
    font-size: 100px;
    display: inline;
    letter-spacing: -5px; }
  .eighth__bottom {
    position: relative;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .eighth__bottom-title {
    font-size: 48px;
    font-family: 'intro-reg', sans-serif !important;
    color: #ffffff;
    background: #f47137;
    padding: 17px 51px;
    position: relative;
    z-index: 2; }
    @media (max-width: 1279px) {
      .eighth__bottom-title {
        font-size: 26px; } }
  .eighth__bottom-text {
    font-size: 24px;
    margin: 14px auto;
    width: 782px;
    text-align: center; }
    @media (max-width: 1279px) {
      .eighth__bottom-text {
        font-size: 20px;
        width: 100%; } }
  .eighth__bottom-img-1 {
    position: absolute;
    left: -10px;
    top: 14px;
    width: 157px;
    height: 154px;
    background: url(../../../img/eighth-bottom-1.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    z-index: 3; }
    @media (max-width: 1279px) {
      .eighth__bottom-img-1 {
        display: none; } }
  .eighth__bottom-img-2 {
    position: absolute;
    left: 132px;
    top: -357px;
    background: url(../../../img/eighth-bottom-2.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 255px;
    height: 400px;
    z-index: 1; }
    @media (max-width: 1279px) {
      .eighth__bottom-img-2 {
        display: none; } }
  .eighth__bottom-img-3 {
    position: absolute;
    right: -58px;
    top: 28px;
    background: url(../../../img/eighth-bottom-3.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 168px;
    height: 124px; }
    @media (max-width: 1279px) {
      .eighth__bottom-img-3 {
        display: none; } }
  .eighth__img {
    width: 858px;
    height: 854px;
    position: absolute;
    left: -620px;
    top: 88px;
    background: url(../../../img/eighth-img.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    z-index: 3; }
    @media (max-width: 1279px) {
      .eighth__img {
        display: none; } }
