@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.tenth {
  padding-top: 148px;
  padding-bottom: 100px;

  @media #{$tablet-big-screen} {
    padding-top: 280px;
    padding-bottom: 80px;
  }

  &__rules {
    position: absolute;
    left: 18px;
    top: 89px;

    @media #{$tablet-big-screen} {
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    text-align: left!important;
    padding-left: 300px;

    @media #{$tablet-big-screen} {
      text-align: center!important;
      padding-left: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px 20px;
    margin-top: 69px;

    @media #{$tablet-big-screen} {
      grid-template-columns: 1fr;
      grid-gap: 20px 20px;
      margin-top: 30px;
    }
  }

  &__grid-item {
    @include flex-column-center;
    text-align: center;
    justify-content: flex-start;
  }
  &__grid-item-img-block {
    width: 232px;
    height: 222px;
    @include flex-row-center;
    margin-bottom: 2px;
  }
  &__grid-item-img {
    width: 100%;
    height: auto;
  }
  &__grid-item-name {
    font-size: 24px;
    @include font-intro-reg;
  }
  &__bottom {
    height: 300px;
    border: 4px dashed #000000;
    background-color: #f8f7f7;
    text-align: center;
    margin-top: 133px;
    padding-top: 64px;



    @media #{$tablet-big-screen} {
      margin-top: 50px;
      height: auto;
    }
  }
  &__bottom-title {
    font-size: 48px;
    @include font-intro-reg;
  }
  &__bottom-number {
    font-size: 140px;
    @include font-intro-reg;
    color: $orange;
  }
}