.inner-banner {
  height: 400px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  color: #ffffff;
  margin-bottom: 65px; }
  .inner-banner--big {
    height: 600px; }
    @media (max-width: 700px) {
      .inner-banner--big {
        padding-top: 230px !important; } }
  @media (max-width: 700px) {
    .inner-banner {
      height: auto;
      padding-top: 130px;
      margin-bottom: 30px; } }
  .inner-banner__block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .inner-banner__desc {
    margin-top: auto;
    padding-bottom: 43px;
    position: relative;
    z-index: 2; }
  .inner-banner__desc-title {
    font-size: 40px;
    font-weight: 900;
    width: 60%;
    margin-bottom: 16px; }
    @media (max-width: 700px) {
      .inner-banner__desc-title {
        font-size: 30px;
        width: 100%; } }
  .inner-banner__desc-text {
    width: 60%;
    line-height: 24px; }
    @media (max-width: 700px) {
      .inner-banner__desc-text {
        width: 100%; } }
  .inner-banner__text-background {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    font-size: 340px;
    font-weight: 900;
    width: 100%;
    left: 0;
    text-align: center;
    top: 90px;
    opacity: .2; }
    @media (max-width: 700px) {
      .inner-banner__text-background {
        font-size: 150px;
        font-weight: 900;
        left: 0;
        text-align: center;
        top: -170px;
        opacity: .2; } }
