.labels
    .labels__item.labels__item--1.scroll-screen__target(data-target='1')
    .labels__item.labels__item--2.scroll-screen__target(data-target='2')
    .labels__item.labels__item--3.scroll-screen__target(data-target='3')