.button {
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f7c520;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 9px;
  padding: 10px 0;
  font-size: 31px;
  cursor: pointer;
  text-align: center; }
  .button:hover {
    transform: scale(1.05);
    opacity: .8; }
  @media (max-width: 1023px) {
    .button {
      width: 100%;
      letter-spacing: 3px;
      font-size: 21px; } }
