.fran-seventh {
  padding-top: 96px;
  padding-bottom: 250px; }
  @media (max-width: 1279px) {
    .fran-seventh {
      padding-bottom: 50px; } }
  .fran-seventh__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 35px;
    margin-top: 45px; }
    @media (max-width: 1279px) {
      .fran-seventh__list {
        grid-template-columns: 1fr;
        grid-gap: 35px; } }
  .fran-seventh__list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    padding-right: 100px; }
    @media (max-width: 1279px) {
      .fran-seventh__list-item {
        padding-right: 0; } }
  .fran-seventh__list-img {
    width: 110px; }
  .fran-seventh__list-text {
    font-size: 24px;
    width: 0;
    flex-grow: 1; }
  .fran-seventh__img {
    width: 256px;
    height: 297px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: absolute;
    top: 781px;
    right: 259px; }
    @media (max-width: 1279px) {
      .fran-seventh__img {
        display: none; } }
