<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Motocar</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles_to_head.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
    <script src="../../Scripts/modernizr-2.8.3.js"></script>
</head>

<script>
    let loaded_state = [];
</script>


<body class="body-new-index">

<header class="header">
    <div class="layout layout--main">
        <div class="header__block">
            <div class="header__logo">
                <a href="/" title="Home Page" class="header__logo__link">
                    <img src="../../Content/img/TuSerwis_logo.svg">
                </a>
            </div>

            <div class="header__menu-button"></div>
            <div class="header__menu">
                <a class="header__submenu header__menu-item link link--black link--invert" href="#">Workshops</a>
                <a class="header__submenu header__menu-item link link--black link--invert" href="#">Zaloguj się</a>
                <a class="header__submenu header__menu-item link link--black link--invert" href="#">Jesteś
                    warsztatem?</a>
            </div>

        </div>
    </div>
</header>

<div class="wrapper wrapper--new-main">

    <div class="main-form layout layout--main">

        <div class="main-form__title">Szukasz warsztatu samochodowego?</div>
        <div class="main-form__item">
            <div class="main-form__item-text">Wpisz usługę serwisową lub opisz usterkę a warsztaty z Twojej okolicy wyślą do Ciebie oferty naprawy. Ty musisz już tylko wybrać
                najlepszą!
            </div>
            <div class="main-form__item-input-block">
                <input class="main-form__item-input" placeholder="“Wymiana oleju”">
                <div class="main-form__item-button">Zgłoś</div>
            </div>
            <div class="main-form__item-hint">Zajmie ci to minutę</div>
        </div>

    </div>

    <div class="car-animation layout layout--main">

        <div class="car-animation__block">
            <div class="car-animation__message car-animation__message--1">Wymiana oleju, silnik 1.5 dci</div>
            <div class="car-animation__message car-animation__message--2">Wymiana wszystkich filtrów powietrznych</div>
            <div class="car-animation__message car-animation__message--3">Diagnostyka komputerowa silnika</div>
            <div class="car-animation__message car-animation__message--4">Czyszczenie filtra DPF</div>
            <div class="car-animation__message car-animation__message--5">Diagnostyka niesprawnego czujnika parkowania</div>
            <div class="car-animation__message car-animation__message--6">Mam problem z turbiną</div>

            <div class="car-animation__buildings">
                <div class="car-animation__build car-animation__build--1">
                    <img class="shift-element car-animation__inner-img" src="../../Content/img/new-main/build_1.svg" onload="loaded_state.push(true)">
                </div>
                <div class="car-animation__build car-animation__build--2">
                    <img class="shift-element car-animation__inner-img" src="../../Content/img/new-main/build_2.svg" onload="loaded_state.push(true)">
                </div>
                <div class="car-animation__build car-animation__build--3">
                    <img class="shift-element car-animation__inner-img" src="../../Content/img/new-main/build_3.svg" onload="loaded_state.push(true)">
                </div>
                <div class="car-animation__build car-animation__build--4">
                    <img class="shift-element car-animation__inner-img" src="../../Content/img/new-main/build_4.svg" onload="loaded_state.push(true)">
                </div>
                <div class="car-animation__build car-animation__build--5">
                    <img class="shift-element car-animation__inner-img" src="../../Content/img/new-main/build_5.svg" onload="loaded_state.push(true)">
                </div>
            </div>
            <div class="car-animation__car">
                <img class="shift-element car-animation__inner-img" src="../../Content/img/new-main/car.svg" onload="loaded_state.push(true)">
            </div>
            <div class="car-animation__man">
                <img class="shift-element car-animation__inner-img" src="../../Content/img/new-main/man.svg" onload="loaded_state.push(true)">
            </div>
        </div>
    </div>

    <div class="mouse-animation layout layout--main">
        <div class="mouse-animation__path">
            <div class="mouse-animation__mouse"></div>
        </div>
        <img class="shift-element mouse-animation__hidden" src="../../Content/img/new-main/mouse-path.svg" onload="loaded_state.push(true)">
        <img class="shift-element mouse-animation__hidden" src="../../Content/img/new-main/mouse.svg" onload="loaded_state.push(true)">
    </div>

    <div class="new-process">
        <div class="new-process__wrapper layout layout--main">
            <div class="new-process__title">
                Jak to działa
            </div>
            <div class="new-process__items">
                <div class="new-process__item">
                    <div class="new-process__item-img new-process__item-img--1">
                        <div class="new-process__item-img-back"></div>
                        <div class="new-process__item-img-elem"></div>
                    </div>
                    <div class="new-process__item-desc">
                        <div class="new-process__item-desc-title">
                            <div class="new-process__item-desc-title-number">1.</div>
                            <div class="new-process__item-desc-title-inner">Utwórz zgłoszenie</div>
                        </div>
                        <div class="new-process__item-desc-text">Opisz swoją usterkę lub zlecenie serwisowe za pomocą specjalnego formularza</div>
                    </div>
                </div>
                <div class="new-process__item">
                    <div class="new-process__item-img new-process__item-img--2">
                        <div class="new-process__item-img-back"></div>
                        <div class="new-process__item-img-elem"></div>
                    </div>
                    <div class="new-process__item-desc">
                        <div class="new-process__item-desc-title">
                            <div class="new-process__item-desc-title-number">2.</div>
                            <div class="new-process__item-desc-title-inner">Otrzymaj oferty</div>
                        </div>
                        <div class="new-process__item-desc-text">Otrzymujesz spersonalizowaną wycenę naprawy od warsztatów z okolicy</div>
                    </div>
                </div>
                <div class="new-process__item">
                    <div class="new-process__item-img new-process__item-img--3">
                        <div class="new-process__item-img-back"></div>
                        <div class="new-process__item-img-elem new-process__item-img-elem--1"></div>
                        <div class="new-process__item-img-elem new-process__item-img-elem--2"></div>
                        <div class="new-process__item-img-elem new-process__item-img-elem--3"></div>
                        <div class="new-process__item-img-elem new-process__item-img-elem--4"></div>
                        <div class="new-process__item-img-elem new-process__item-img-elem--5"></div>
                    </div>
                    <div class="new-process__item-desc">
                        <div class="new-process__item-desc-title">
                            <div class="new-process__item-desc-title-number">3.</div>
                            <div class="new-process__item-desc-title-inner">Wybierz najlepszą ofertę</div>
                        </div>
                        <div class="new-process__item-desc-text">Porównujesz ceny, odległość, opinie, terminy podstawienia auta i wybierasz najlepszą</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="advantages layout layout--main">
        <div class="advantages__title">
            Nasze zalety
        </div>

        <div class="advantages__item">
            <div class="advantages__item-img"></div>
            <div class="advantages__item-list">
                <div class="advantages__item-list-item">
                    <div class="advantages__item-list-item-title">Oszczędzaj pieniądze</div>
                    <div class="advantages__item-list-item-text">Porównaj otrzymane oferty i wybierz tą, która najbardziej Ci odpowiada</div>
                </div>

                <div class="advantages__item-list-item">
                    <div class="advantages__item-list-item-title">Oszczędzaj czas</div>
                    <div class="advantages__item-list-item-text">Nie trać czasu na warsztaty, które nie mogą rozwiązać Twojego problemu</div>
                </div>
                <div class="advantages__item-list-item">
                    <div class="advantages__item-list-item-title">Najlepsza obsługa</div>
                    <div class="advantages__item-list-item-text">Warsztaty, które dołączyły do nas, mistrzowie swojego rzemiosła</div>
                </div>
            </div>
        </div>

    </div>

    <div class="new-main-counter">
        <div class="new-main-counter__items layout layout--main">
            <div class="new-main-counter__item">
                <div class="new-main-counter__item-icon" style="background: url(../../Content/img/new-main/counter-1.svg)">
                    <div class="new-main-counter__item-number">
                        <div class="new-main-counter__item-number-inner">50</div>
                    </div>
                </div>
                <div class="new-main-counter__item-title">
                    Zarejestrowane<br>warsztatów
                </div>
            </div>

            <div class="new-main-counter__item">
                <div class="new-main-counter__item-icon" style="background: url(../../Content/img/new-main/counter-2.svg)">
                    <div class="new-main-counter__item-number">
                        <div class="new-main-counter__item-number-inner">40</div>
                    </div>
                </div>
                <div class="new-main-counter__item-title">
                    Zlecone naprawy<br>
                    i serwisy
                </div>
            </div>

            <div class="new-main-counter__item">
                <div class="new-main-counter__item-icon" style="background: url(../../Content/img/new-main/counter-3.svg)">
                    <div class="new-main-counter__item-number">
                        <div class="new-main-counter__item-number-inner">30</div>
                    </div>
                </div>
                <div class="new-main-counter__item-title">
                    Zarejestrowane<br>warsztatów
                </div>
            </div>
        </div>

    </div>

    <div class="new-main-ticket">
        <div class="new-main-ticket__title">
            Ostatnie zgłoszenia
        </div>

        <div class="new-main-ticket__items-wrapper layout layout--main">
        <div class="new-main-ticket__items">
            <div class="new-main-ticket__item">
                <div class="new-main-ticket__item-header">
                    <img class="new-main-ticket__item-header-img" src="../../Content/img/new-main/renault.png">
                    <div class="new-main-ticket__item-header-desc">
                        <div class="new-main-ticket__item-header-desc-title">Renault Megane 2011</div>
                        <div class="new-main-ticket__item-header-desc-subtitle">Maksymilian Krawczyk</div>
                    </div>
                </div>
                <div class="new-main-ticket__item-text">skrzynia automatyczna EDC, wymiana sprzęgła i koła dwumasowego</div>
                <div class="new-main-ticket__item-date">1 dzień temu</div>
            </div>
            <div class="new-main-ticket__item">
                <div class="new-main-ticket__item-header">
                    <img class="new-main-ticket__item-header-img" src="../../Content/img/new-main/renault.png">
                    <div class="new-main-ticket__item-header-desc">
                        <div class="new-main-ticket__item-header-desc-title">Renault Megane 2011 Renault Megane 2011</div>
                        <div class="new-main-ticket__item-header-desc-subtitle">Maksymilian Krawczyk Maksymilian Krawczyk</div>
                    </div>
                </div>
                <div class="new-main-ticket__item-text">skrzynia automatyczna EDC, wymiana sprzęgła i koła dwumasowego</div>
                <div class="new-main-ticket__item-date">1 dzień temu</div>
            </div>
            <div class="new-main-ticket__item">
                <div class="new-main-ticket__item-header">
                    <img class="new-main-ticket__item-header-img" src="../../Content/img/new-main/renault.png">
                    <div class="new-main-ticket__item-header-desc">
                        <div class="new-main-ticket__item-header-desc-title">Renault Megane 2011</div>
                        <div class="new-main-ticket__item-header-desc-subtitle">Maksymilian Krawczyk</div>
                    </div>
                </div>
                <div class="new-main-ticket__item-text">skrzynia automatyczna EDC, wymiana sprzęgła i koła dwumasowego</div>
                <div class="new-main-ticket__item-date">1 dzień temu</div>
            </div>
        </div>
        </div>
        <a href="#" class="new-main-ticket__link">
            Zobacz więcej
        </a>
    </div>

    <div class="new-main-review">
        <div class="new-main-review__title">
            Opinie
        </div>
        <div class="new-main-review__items layout layout--main">
            <div class="new-main-review__items-slider owl-carousel">
                <div class="new-main-review__items-slider-item-wrapper">
                    <div class="new-main-review__items-slider-item">
                        <div class="new-main-review__items-slider-item-header">
                            <div class="new-main-review__items-slider-item-header-img" style="background: url(../../Content/img/profile.jpg)"></div>
                            <div class="new-main-review__items-slider-item-header-name">
                                <div class="new-main-review__items-slider-item-header-name-item">Zuzanna Zakrzewska</div>
                                <div class="new-main-review__items-slider-item-header-name-car">Volvo XC60 2017</div>
                            </div>
                            <div class="new-main-review__items-slider-item-header-star">
                                <div class="new-main-review__items-slider-item-header-star-img"></div>
                                <div class="new-main-review__items-slider-item-header-star-text">5.0</div>
                            </div>
                        </div>
                        <div class="new-main-review__items-slider-item-desc">
                            <a href="#" class="new-main-review__items-slider-item-desc-name">Real-Auto Service Studio</a>
                            <div class="new-main-review__items-slider-item-desc-text">
                                Panowie uratowali przed wyjazdem na wakacje. Naprawili układ klimatyzacji bardzo sprawnie. Profesjonalizm i dostosowanie się do klienta na super
                                poziomie.
                            </div>
                        </div>
                        <div class="new-main-review__items-slider-item-date">
                            2 dni temu
                        </div>
                    </div>
                </div>
                <div class="new-main-review__items-slider-item-wrapper">
                    <div class="new-main-review__items-slider-item">
                        <div class="new-main-review__items-slider-item-header">
                            <div class="new-main-review__items-slider-item-header-img" style="background: url(../../Content/img/profile.jpg)"></div>
                            <div class="new-main-review__items-slider-item-header-name">
                                <div class="new-main-review__items-slider-item-header-name-item">Zuzanna Zakrzewska</div>
                                <div class="new-main-review__items-slider-item-header-name-car">Volvo XC60 2017</div>
                            </div>
                            <div class="new-main-review__items-slider-item-header-star">
                                <div class="new-main-review__items-slider-item-header-star-img"></div>
                                <div class="new-main-review__items-slider-item-header-star-text">5.0</div>
                            </div>
                        </div>
                        <div class="new-main-review__items-slider-item-desc">
                            <a href="#" class="new-main-review__items-slider-item-desc-name">Real-Auto Service Studio</a>
                            <div class="new-main-review__items-slider-item-desc-text">
                                Panowie uratowali przed wyjazdem na wakacje. Naprawili układ klimatyzacji bardzo sprawnie. Profesjonalizm i dostosowanie się do klienta na super
                                poziomie.
                            </div>
                        </div>
                        <div class="new-main-review__items-slider-item-date">
                            2 dni temu
                        </div>
                    </div>
                </div>
                <div class="new-main-review__items-slider-item-wrapper">
                    <div class="new-main-review__items-slider-item">
                        <div class="new-main-review__items-slider-item-header">
                            <div class="new-main-review__items-slider-item-header-img" style="background: url(../../Content/img/profile.jpg)"></div>
                            <div class="new-main-review__items-slider-item-header-name">
                                <div class="new-main-review__items-slider-item-header-name-item">Zuzanna Zakrzewska</div>
                                <div class="new-main-review__items-slider-item-header-name-car">Volvo XC60 2017</div>
                            </div>
                            <div class="new-main-review__items-slider-item-header-star">
                                <div class="new-main-review__items-slider-item-header-star-img"></div>
                                <div class="new-main-review__items-slider-item-header-star-text">5.0</div>
                            </div>
                        </div>
                        <div class="new-main-review__items-slider-item-desc">
                            <a href="#" class="new-main-review__items-slider-item-desc-name">Real-Auto Service Studio</a>
                            <div class="new-main-review__items-slider-item-desc-text">
                                Panowie uratowali przed wyjazdem na wakacje. Naprawili układ klimatyzacji bardzo sprawnie. Profesjonalizm i dostosowanie się do klienta na super
                                poziomie.
                            </div>
                        </div>
                        <div class="new-main-review__items-slider-item-date">
                            2 dni temu
                        </div>
                    </div>
                </div>
                <div class="new-main-review__items-slider-item-wrapper">
                    <div class="new-main-review__items-slider-item">
                        <div class="new-main-review__items-slider-item-header">
                            <div class="new-main-review__items-slider-item-header-img" style="background: url(../../Content/img/profile.jpg)"></div>
                            <div class="new-main-review__items-slider-item-header-name">
                                <div class="new-main-review__items-slider-item-header-name-item">Zuzanna Zakrzewska</div>
                                <div class="new-main-review__items-slider-item-header-name-car">Volvo XC60 2017</div>
                            </div>
                            <div class="new-main-review__items-slider-item-header-star">
                                <div class="new-main-review__items-slider-item-header-star-img"></div>
                                <div class="new-main-review__items-slider-item-header-star-text">5.0</div>
                            </div>
                        </div>
                        <div class="new-main-review__items-slider-item-desc">
                            <a href="#" class="new-main-review__items-slider-item-desc-name">Real-Auto Service Studio</a>
                            <div class="new-main-review__items-slider-item-desc-text">
                                Panowie uratowali przed wyjazdem na wakacje. Naprawili układ klimatyzacji bardzo sprawnie. Profesjonalizm i dostosowanie się do klienta na super
                                poziomie.
                            </div>
                        </div>
                        <div class="new-main-review__items-slider-item-date">
                            2 dni temu
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="new-main-img">
        <div class="new-main-img__block layout layout--main">
            <div class="new-main-img__block-img" style="background: url(../../Content/img/new-main/new-main-img.svg)"></div>
        </div>
    </div>

    <div class="main-form__bottom layout layout--main">
        <div class="main-form__bottom-title">Wpisz usługę serwisową lub usterkę i wybierz najlepszą ofertę</div>
        <div class="main-form__item main-form__item--bottom">
            <div class="main-form__item-input-block">
                <input class="main-form__item-input" placeholder="“Wymiana oleju”">
                <div class="main-form__item-button">Zgłoś</div>
            </div>
        </div>
    </div>

    <div class="new-main-footer">
        <div class="new-main-footer__logo"></div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="../../Scripts/timedropper/timedropper.min.css" rel="stylesheet">
<script src="../../Scripts/timedropper/timedropper.min.js"></script>
<script src="../../Scripts/jquery.spincrement.min.js"></script>
<script src="../../Scripts/jquery.maskedinput.min.js"></script>
<script src="../../Scripts/lightbox2/js/lightbox.min.js"></script>
<script src="../../Scripts/owlcarousel2/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/lightbox2/css/lightbox.min.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/owlcarousel2/assets/owl.carousel.min.css">
<script src="../../Content/js/main.js"></script>
<script src="../../Content/js/new-index.js"></script>
<script src="../../Content/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwl91tizjVH8SJLr3XnJWckLCog_TTHgQ&callback=initMap&libraries=places"
        type="text/javascript"></script>

</body>
