<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Motocar</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles_to_head.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
    <script src="../../Scripts/modernizr-2.8.3.js"></script>
</head>

<style>

</style>

<body>

<header class="header">
    <div class="layout">
        <div class="header__block">
            <div class="header__logo">
                <a href="/" title="Home Page" class="header__logo__link">
                    <img src="../../Content/img/TuSerwis_logo.svg">
                </a>
            </div>

            <div class="header__menu-button"></div>
            <div class="header__menu">
                <a class="header__submenu header__menu-item link link--black link--invert" href="#">Workshops</a>
                <a class="header__submenu header__menu-item link link--black link--invert" href="#">Zaloguj się</a>
                <a class="header__submenu header__menu-item link link--black link--invert" href="#">Jesteś
                    warsztatem?</a>
            </div>

        </div>
    </div>
</header>


<div class="wrapper">

    <div class="create-form">
        <div class="layout create-form__block">
            <div class="create-form__title title">
                Enter what has happened to your car and we'll help you to find the best service among all!
            </div>
            <div class="create-form__form">
                <form class="one-row-form">
                    <input class="one-row-form__input" type="text" placeholder="ex. «Oil change»">
                    <button class="one-row-form__button">Create</button>
                </form>
            </div>
            <div class="create-form__el-top"></div>
            <div class="create-form__el-right">
                <div class="create-form__el-right-inner-1"></div>
                <div class="create-form__el-right-inner-2"></div>
            </div>
            <div class="create-form__how-it-work">
                <div class="how-it-work layout">
                    <div class="how-it-work__title title">How does it work?</div>
                    <div class="how-it-work__items">
                        <div class="how-it-work__item">
                            <div class="how-it-work__item-background"></div>
                            <div class="how-it-work__item-keyword">Something</div>
                            <div class="how-it-work__item-icon">
                                <div class="how-it-work__item-icon-inner"
                                     style="background: url(../../Content/img/how-it-work-icon-1.svg)"></div>
                                <div class="how-it-work__item-icon-inner-gradient"
                                     style="background: url(../../Content/img/how-it-work-icon-1-gradient.svg)"></div>
                            </div>
                            <div class="how-it-work__item-title">Fill in the form</div>
                            <div class="how-it-work__item-text">
                                Describe your problem
                                in three simple steps
                            </div>
                        </div>

                        <div class="how-it-work__item">
                            <div class="how-it-work__item-background"></div>
                            <div class="how-it-work__item-keyword">Something some</div>
                            <div class="how-it-work__item-icon">
                                <div class="how-it-work__item-icon-inner"
                                     style="background: url(../../Content/img/how-it-work-icon-2.svg)"></div>
                                <div class="how-it-work__item-icon-inner-gradient"
                                     style="background: url(../../Content/img/how-it-work-icon-2-gradient.svg)"></div>
                            </div>
                            <div class="how-it-work__item-title">Fill in the form</div>
                            <div class="how-it-work__item-text">
                                Describe your problem
                                in three simple simple simple steps
                            </div>
                        </div>

                        <div class="how-it-work__item">
                            <div class="how-it-work__item-background"></div>
                            <div class="how-it-work__item-keyword">Something some</div>
                            <div class="how-it-work__item-icon">
                                <div class="how-it-work__item-icon-inner" style="background: url(../../Content/img/how-it-work-icon-3.svg)"></div>
                                <div class="how-it-work__item-icon-inner-gradient"
                                     style="background: url(../../Content/img/how-it-work-icon-3-gradient.svg)"></div>
                            </div>
                            <div class="how-it-work__item-title">Fill in the form</div>
                            <div class="how-it-work__item-text">
                                Describe your problem
                                in three simple steps
                                in three simple steps
                            </div>
                        </div>
                    </div>
                    <div class="how-it-work__el-top">
                        three<br>
                        simple<br>
                        steps
                    </div>
                    <div class="how-it-work__el-bottom"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner">
        <div class="layout">
            <div class="main-banner__wrapper">
                <div class="main-banner__desc">
                    <div class="main-banner__desc-title">Some title</div>
                    <div class="main-banner__desc-text">Some text some text some text some text some text some text
                    </div>
                </div>
                <div class="main-banner__cart">
                    <div class="main-banner__cart-tape main-banner__cart-tape--top"></div>
                    <div class="main-banner__cart-inner">
                        <div class="main-banner__cart-title">Abonament</div>
                        <div class="main-banner__cart-text">-50%</div>
                        <div class="main-banner__cart-desc">
                            Some text some text some text <a href="#">some link</a>
                        </div>
                    </div>
                    <div class="main-banner__cart-tape main-banner__cart-tape--bottom"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="about__block layout">
            <div class="about__title title">Tu o "TuSerwis"</div>
            <div class="about__text-wrapper">
                <div class="about__text owl-carousel">
                    <div class="about__text-item">
                        <h3>Z nami:</h3>
                        <ul class="about__text-item-list">
                            <li class="about__text-item-list-inner">
                                zlecasz usługę od razu do wszystkich zarejestrowanych warsztatów w „TuSerwis”;
                            </li>
                            <li class="about__text-item-list-inner">
                                widzisz i porównujesz ceny na konkretne usługi lub umawiasz się na diagnostykę;
                            </li>
                            <li class="about__text-item-list-inner">
                                umawiasz wizytę na dogodny dla Ciebie termin;
                            </li>
                            <li class="about__text-item-list-inner">
                                zapisujesz historię serwisowania swojego samochodu;
                            </li>
                        </ul>
                    </div>
                    <div class="about__text-item about__text-item--workshop">
                        <h3>Jesteś warsztatem?</h3>
                        <ul class="about__text-item-list">
                            <li class="about__text-item-list-inner">otrzymaj dostęp do ciągłości zleceń;</li>
                            <li class="about__text-item-list-inner">przeglądaj zapotrzebowania na usługi w twojej
                                okolicy i sam wybieraj klientów;
                            </li>
                            <li class="about__text-item-list-inner">promuj swój warsztat zbierając opinie za uczciwie
                                wykonane usługi;
                            </li>
                            <li class="about__text-item-list-inner">zarządzaj pracą swoich pracowników;</li>
                        </ul>
                    </div>
                </div>
                <div class="about__text-elements">
                    <div class="about__text-elements-item about__text-elements-item--magenta"></div>
                    <div class="about__text-elements-item about__text-elements-item--blue"></div>
                </div>
            </div>
            <div class="about__el-top">
                Mozesz<br>
                nam<br>
                fac
            </div>
        </div>
    </div>

    <div class="main-counter">

        <div class="layout">
            <div class="main-counter__wrapper">
                <div class="main-counter__items">
                    <div class="main-counter__item">
                        <div class="main-counter__item-img"
                             style="background: url(../../Content/img/main-counter-1.svg)"></div>
                        <div class="main-counter__item-desc">
                            <p class="main-counter__item-desc-number">562</p>
                            <div class="main-counter__item-desc-text">Warsztatów zostało zarejestrowano</div>
                        </div>
                    </div>

                    <div class="main-counter__item">
                        <div class="main-counter__item-img"
                             style="background: url(../../Content/img/main-counter-2.svg)"></div>
                        <div class="main-counter__item-desc">
                            <p class="main-counter__item-desc-number">2345</p>
                            <div class="main-counter__item-desc-text">Aplikacj było przyjento do realizacji</div>
                        </div>
                    </div>

                    <div class="main-counter__item">
                        <div class="main-counter__item-img"
                             style="background: url(../../Content/img/main-counter-3.svg)"></div>
                        <div class="main-counter__item-desc">
                            <p class="main-counter__item-desc-number">3</p>
                            <div class="main-counter__item-desc-text">Miastach już można korzystać się z serwisu</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="reviews reviews--orders">
        <div class="reviews__block layout">
            <div class="reviews__title title">
                Ostatni zlecenia
            </div>
            <div class="reviews__items">
                <div class="reviews__items-slider">
                    <div class="reviews__item">
                        <div class="reviews__item-header-order">
                            <div class="reviews__item-header-order-img" style="background: url(../../Content/img/examples/renault.png);"></div>
                            <div class="reviews__item-header-order-about">
                                <div class="reviews__item-header-order-about-car">Ford Fiesta 2005</div>
                                <div class="reviews__item-header-order-about-name">Hubert Kołodziejczyk</div>

                            </div>
                            <div class="reviews__item-header-order-date">9 dni temu</div>
                        </div>


                        <div class="reviews__item-desc">
                            wymiana oleju i filtrów, wymagana data wymiany najpóźniej 31.12.2019 rano
                        </div>

                    </div>
                    <div class="reviews__item">
                        <div class="reviews__item-header-order">
                            <div class="reviews__item-header-order-img" style="background: url(../../Content/img/examples/renault.png);"></div>
                            <div class="reviews__item-header-order-about">
                                <div class="reviews__item-header-order-about-car">Ford Fiesta 2005</div>
                                <div class="reviews__item-header-order-about-name">Hubert Kołodziejczyk</div>

                            </div>
                            <div class="reviews__item-header-order-date">9 dni temu</div>
                        </div>


                        <div class="reviews__item-desc">
                            wymiana oleju i filtrów, wymagana data wymiany najpóźniej 31.12.2019 rano
                        </div>

                    </div>
                    <div class="reviews__item">
                        <div class="reviews__item-header-order">
                            <div class="reviews__item-header-order-img" style="background: url(../../Content/img/examples/renault.png);"></div>
                            <div class="reviews__item-header-order-about">
                                <div class="reviews__item-header-order-about-car">Ford Fiesta 2005</div>
                                <div class="reviews__item-header-order-about-name">Hubert Kołodziejczyk</div>

                            </div>
                            <div class="reviews__item-header-order-date">9 dni temu</div>
                        </div>


                        <div class="reviews__item-desc">
                            wymiana oleju i filtrów, wymagana data wymiany najpóźniej 31.12.2019 rano
                        </div>

                    </div>
                    <div class="reviews__item">
                        <div class="reviews__item-header-order">
                            <div class="reviews__item-header-order-img" style="background: url(../../Content/img/examples/renault.png);"></div>
                            <div class="reviews__item-header-order-about">
                                <div class="reviews__item-header-order-about-car">Ford Fiesta 2005</div>
                                <div class="reviews__item-header-order-about-name">Hubert Kołodziejczyk</div>

                            </div>
                            <div class="reviews__item-header-order-date">9 dni temu</div>
                        </div>


                        <div class="reviews__item-desc">
                            wymiana oleju i filtrów, wymagana data wymiany najpóźniej 31.12.2019 rano
                        </div>

                    </div>
                </div>
                <div class="reviews__link">
                    <a href="#" class="link">zobacz więcej</a>
                </div>
                <div class="reviews__el-right">
                    <div class="reviews__el-right-inner-1"></div>
                    <div class="reviews__el-right-inner-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="reviews reviews--main">
        <div class="reviews__block layout">
            <div class="reviews__title title">
                Reviews
            </div>
            <div class="reviews__items">
                <div class="reviews__items-slider">
                    <div class="reviews__item">
                        <div class="reviews__item-header">
                            <div class="reviews__item-header-img" style="background: url(../../Content/img/profile.jpg);"></div>
                            <div class="reviews__item-header-name">Hubert Kołodziejczyk</div>
                            <div class="reviews__item-header-review">
                                <div class="reviews__item-header-review-val">5.0</div>
                                <div class="rating rating--text">
                                    <div class="rating__inner">
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__item-header-date">9 dni temu</div>
                        </div>

                        <div class="reviews__item-subheader">
                            <a href="#" class="reviews__item-subheader-workshop">Real-Auto Service Studio</a>
                            <div class="reviews__item-subheader-car">
                                <div class="reviews__item-subheader-car-logo" style="background: url(../../Content/img/examples/renault.png)"></div>
                                <div class="reviews__item-subheader-car-name">Ford Fiesta 2005</div>
                            </div>
                        </div>
                        <div class="reviews__item-desc">
                        Panowie uratowali przed wyjazdem na wakacje. Naprawili układ klimatyzacji bardzo sprawnie. Profesjonalizm i dostosowanie się do klienta na super poziomie.
                        </div>

                    </div>
                    <div class="reviews__item">
                        <div class="reviews__item-header">
                            <div class="reviews__item-header-img" style="background: url(../../Content/img/profile.jpg);"></div>
                            <div class="reviews__item-header-name">Hubert Kołodziejczyk</div>
                            <div class="reviews__item-header-review">
                                <div class="reviews__item-header-review-val">5.0</div>
                                <div class="rating rating--text">
                                    <div class="rating__inner">
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__item-header-date">9 dni temu</div>
                        </div>

                        <div class="reviews__item-subheader">
                            <a href="#" class="reviews__item-subheader-workshop">Real-Auto Service Studio</a>
                            <div class="reviews__item-subheader-car">
                                <div class="reviews__item-subheader-car-logo" style="background: url(../../Content/img/examples/renault.png)"></div>
                                <div class="reviews__item-subheader-car-name">Ford Fiesta 2005</div>
                            </div>
                        </div>
                        <div class="reviews__item-desc">
                            Panowie uratowali przed wyjazdem na wakacje. Naprawili układ klimatyzacji bardzo sprawnie. Profesjonalizm i dostosowanie się do klienta na super poziomie.
                        </div>

                    </div>
                    <div class="reviews__item">
                        <div class="reviews__item-header">
                            <div class="reviews__item-header-img" style="background: url(../../Content/img/profile.jpg);"></div>
                            <div class="reviews__item-header-name">Hubert Kołodziejczyk</div>
                            <div class="reviews__item-header-review">
                                <div class="reviews__item-header-review-val">5.0</div>
                                <div class="rating rating--text">
                                    <div class="rating__inner">
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__item-header-date">9 dni temu</div>
                        </div>

                        <div class="reviews__item-subheader">
                            <a href="#" class="reviews__item-subheader-workshop">Real-Auto Service Studio</a>
                            <div class="reviews__item-subheader-car">
                                <div class="reviews__item-subheader-car-logo" style="background: url(../../Content/img/examples/renault.png)"></div>
                                <div class="reviews__item-subheader-car-name">Ford Fiesta 2005</div>
                            </div>
                        </div>
                        <div class="reviews__item-desc">
                            Panowie uratowali przed wyjazdem na wakacje. Naprawili układ klimatyzacji bardzo sprawnie. Profesjonalizm i dostosowanie się do klienta na super poziomie.
                        </div>

                    </div>
                    <div class="reviews__item">
                        <div class="reviews__item-header">
                            <div class="reviews__item-header-img" style="background: url(../../Content/img/profile.jpg);"></div>
                            <div class="reviews__item-header-name">Hubert Kołodziejczyk</div>
                            <div class="reviews__item-header-review">
                                <div class="reviews__item-header-review-val">5.0</div>
                                <div class="rating rating--text">
                                    <div class="rating__inner">
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                        <div class="rating__row">
                                            <div class="rating__row-name">Something</div>
                                            <div class="rating rating--4-5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__item-header-date">9 dni temu</div>
                        </div>

                        <div class="reviews__item-subheader">
                            <a href="#" class="reviews__item-subheader-workshop">Real-Auto Service Studio</a>
                            <div class="reviews__item-subheader-car">
                                <div class="reviews__item-subheader-car-logo" style="background: url(../../Content/img/examples/renault.png)"></div>
                                <div class="reviews__item-subheader-car-name">Ford Fiesta 2005</div>
                            </div>
                        </div>
                        <div class="reviews__item-desc">
                            Panowie uratowali przed wyjazdem na wakacje. Naprawili układ klimatyzacji bardzo sprawnie. Profesjonalizm i dostosowanie się do klienta na super poziomie.
                        </div>

                    </div>
                </div>
                <div class="reviews__link">
                    <a href="#" class="link">More reviews</a>
                </div>
                <div class="reviews__el-top">
                    Reviews
                </div>
                <div class="reviews__el-left">
                    <div class="reviews__el-left-inner-1"></div>
                    <div class="reviews__el-left-inner-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="fill-form">
        <div class="fill-form__block layout">
            <div class="fill-form__title title">
                Fill out the form and wait<br>
                on the pile of proposals from workshops
            </div>

            <div class="fill-form__form">
                <form class="one-row-form">
                    <input class="one-row-form__input" type="text" placeholder="ex. «Oil change»">
                    <button class="one-row-form__button">Create</button>
                </form>
            </div>

            <div class="fill-form__el"></div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="layout">
        <div class="footer__top">
            <div class="footer__form">
                <div class="footer__form-title">Subscribe to via Email</div>
                <div class="footer__form-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia
                </div>
                <form class="footer__form-inputs">
                    <input class="footer__form-inputs-input" placeholder="Email Address">
                    <button class="footer__form-inputs-button button">Sub</button>
                </form>
            </div>
            <div class="footer__links">
                <div class="footer__links-col">
                    <a href="tel:+44345678903" class="footer__links-item">+44 345 678 903</a>
                    <a href="mailto:ADOBEXD@MAIL.COM" class="footer__links-item">ADOBEXD@MAIL.COM</a>
                    <a href="#" class="footer__links-item">FIND A STORE</a>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">CONTACT US</a>
                    <a href="#" class="footer__links-item">ORDERING & PAYMENT</a>
                    <a href="#" class="footer__links-item">SHIPPING</a>
                    <a href="#" class="footer__links-item">RETURNS</a>
                    <a href="#" class="footer__links-item">FAQ</a>
                </div>
                <div class="footer__links-col">
                    <a href="#" class="footer__links-item">ABOUT ADOBE XD KIT</a>
                    <a href="#" class="footer__links-item">WORK WITH US</a>
                    <a href="#" class="footer__links-item">PRIVACY POLICY</a>
                    <a href="#" class="footer__links-item">TERMS & CONDITIONS</a>
                    <a href="#" class="footer__links-item">PRESS ENQUIRIES</a>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-text">© Tmdfklbd kdflf 2019</div>
            <div class="footer__bottom-social">
                <a href="#" class="footer__bottom-social-link">
                    <img src="../../Content/img/instagram.svg" class="footer__bottom-social-link-icon">
                </a>
                <a href="#" class="footer__bottom-social-link">
                    <img src="../../Content/img/twitter.svg" class="footer__bottom-social-link-icon">
                </a>
                <a href="#" class="footer__bottom-social-link">
                    <img src="../../Content/img/facebook.svg" class="footer__bottom-social-link-icon">
                </a>
            </div>
        </div>
    </div>
</footer>

<div class="modal__background close-modal"></div>

<div class="modal__block layout" data-modal-name="modal_offer">
    <div class="modal__content shadow-box">
        <div class="modal__answer">
            <div class="modal__answer-desc">
                <div class="input" data-placeholder="Details...">
                    <div class="input__button input__button--textarea">
                        <textarea type="text" class="input__text" placeholder="Details..."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal__answer-inputs">
                <div class="input input--icon input--icon--date" data-placeholder="Offer date">
                    <div class="input__button">
                        <input type="text" class="input__text" placeholder="Offer date">
                    </div>
                </div>
                <div class="input input--icon input--icon--time" data-placeholder="Offer time">
                    <div class="input__button">
                        <input type="text" class="input__text" placeholder="Offer time">
                    </div>
                </div>
                <div class="input input--icon input--icon--cost" data-placeholder="Cost">
                    <div class="input__button">
                        <input type="text" class="input__text" placeholder="Cost">
                    </div>
                </div>
            </div>
            <div class="modal__answer-button">
                <div class="button">Offer</div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="../../Scripts/timedropper/timedropper.min.css" rel="stylesheet">
<script src="../../Scripts/timedropper/timedropper.min.js"></script>
<script src="../../Scripts/jquery.spincrement.min.js"></script>
<script src="../../Scripts/jquery.maskedinput.min.js"></script>
<script src="../../Scripts/lightbox2/js/lightbox.min.js"></script>
<script src="../../Scripts/owlcarousel2/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/lightbox2/css/lightbox.min.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/owlcarousel2/assets/owl.carousel.min.css">
<script src="../../Content/js/main.js"></script>
<script src="../../Content/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwl91tizjVH8SJLr3XnJWckLCog_TTHgQ&callback=initMap&libraries=places"
        type="text/javascript"></script>

</body>
