@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.title {

  &__big {
    font-size: 42px;
    text-align: center;
    font-weight: 700;
  }
  &__small {
    font-size: 18px;
    color: #8a8a8a;
    margin-bottom: 15px;
    text-align: center;
  }
}