@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.object-prop {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 27px 0;
  padding-top: 11px;

  &__item {
    cursor: pointer;
  }

  $active:'.object-prop__item.active';

  &__item-icon {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px rgba(29, 81, 157, 0.17);
    position: relative;

    #{$active} & {
      background-color: rgba(29, 81, 157, 0.08);
      border: solid 1px rgba(29, 81, 157, 0.08);
    }

    &:after {
      @include after-absolute;
      width: 24px;
      height: 24px;
      left: 7px;
      top: 7px;
      background: #1d1e29;

      #{$active} & {
        background: #1d519d;
      }
    }

    &--furniture:after {
      mask: url(../../../img/object-prop/furniture.svg);
      -webkit-mask: url(../../../img/object-prop/furniture.svg);
      @include mask-contain-center;
    }

    &--conditioning:after {
      mask: url(../../../img/object-prop/conditioning.svg);
      -webkit-mask: url(../../../img/object-prop/conditioning.svg);
      @include mask-contain-center;
    }

    &--pantry:after {
      mask: url(../../../img/object-prop/pantry.svg);
      -webkit-mask: url(../../../img/object-prop/pantry.svg);
      @include mask-contain-center;
    }

    &--heating:after {
      mask: url(../../../img/object-prop/heating.svg);
      -webkit-mask: url(../../../img/object-prop/heating.svg);
      @include mask-contain-center;
    }

    &--garage:after {
      mask: url(../../../img/object-prop/garage.svg);
      -webkit-mask: url(../../../img/object-prop/garage.svg);
      @include mask-contain-center;
    }

    &--terrace:after {
      mask: url(../../../img/object-prop/terrace.svg);
      -webkit-mask: url(../../../img/object-prop/terrace.svg);
      @include mask-contain-center;
    }

    &--swimming-pool:after {
      mask: url(../../../img/object-prop/swimming-pool.svg);
      -webkit-mask: url(../../../img/object-prop/swimming-pool.svg);
      @include mask-contain-center;
    }

    &--balcony:after {
      mask: url(../../../img/object-prop/balcony.svg);
      -webkit-mask: url(../../../img/object-prop/balcony.svg);
      @include mask-contain-center;
    }

    &--garden:after {
      mask: url(../../../img/object-prop/garden.svg);
      -webkit-mask: url(../../../img/object-prop/garden.svg);
      @include mask-contain-center;
    }
  }

  &__item-text {
    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #1d1e29;

    #{$active} & {
     color: #1d519d;
    }
  }

}