.main-screen.main-screen--about
    .main-screen__block.layout
        .main-screen__menu
            .menu
                .menu__theme-switch.menu__theme-switch--about.menu__theme-switch--day
                    .menu__theme-switch-icons
                        .menu__theme-switch-icon.menu__theme-switch-icon--day
                        .menu__theme-switch-icon.menu__theme-switch-icon--night
                    .menu__theme-switch-buttons
                        .menu__theme-switch-button.menu__theme-switch-button--day День
                        .menu__theme-switch-button.menu__theme-switch-button--night Ночь

                .menu__items
                    a.menu__item(href='#') конституция группы
                    a.menu__item(href='#') Структура группы
                    a.menu__item(href='#') Команда
                    a.menu__item(href='#') История

        .main-screen__planets
            .main-screen__planet-big
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__orbit-rotate
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small
                .main-screen__planet-big-orbit.main-screen__planet-big-orbit--history.main-screen__planet-big-orbit--empty
                    .main-screen__planet-big-item-big-wrapper
                        .main-screen__planet-big-item-big
                    .main-screen__planet-big-item-small-wrapper
                        .main-screen__planet-big-item-small


            .main-screen__planet-small
                .main-screen__planet-small-orbit.main-screen__orbit-rotate
                .main-screen__planet-small-orbit.main-screen__planet-small-orbit--empty
                    .main-screen__planet-small-item-big-wrapper
                        .main-screen__planet-small-item-big
            .main-screen__planet-star.main-screen__planet-star--1
            .main-screen__planet-star.main-screen__planet-star--2
            .main-screen__planet-star.main-screen__planet-star--3
            .main-screen__planet-star.main-screen__planet-star--4
            .main-screen__planet-star.main-screen__planet-star--5
        .about
            .about__structure
                .about__structure--title
                    .about__structure--title-big Golden Marrow Group
                    .about__structure--title-small это созвездие направлений:
                .about__structure-item--1.about__structure-item.about__structure-item-title GOLDEN MARROW WEB
                .about__structure-item--2.about__structure-item.about__structure-item-subtitle Веб разработка
                .about__structure-item--3.about__structure-item.about__structure-item-title GOLDEN MARROW MAGAZINE
                .about__structure-item--4.about__structure-item.about__structure-item-subtitle Онлайн журнал о бизнесе
                .about__structure-item--5.about__structure-item.about__structure-item-title GOLDEN MARROW BRANDING
                .about__structure-item--6.about__structure-item.about__structure-item-subtitle Брендинг
                .about__structure-item--7.about__structure-item.about__structure-item-title GOLDEN MARROW INNOVATION
                .about__structure-item--8.about__structure-item.about__structure-item-subtitle Инновации в бизнесе
                .about__structure-item--9.about__structure-item.about__structure-item-title GOLDEN MARROW SMM
                .about__structure-item--10.about__structure-item.about__structure-item-subtitle Продвижение брендов

            .about__content
                .about__text.about__text--background Наша основная цель, это стать для любого бизнеса настоящим, честным и надежным партнером. Помогать развивать и поддерживать все основные потребности для качественного и быстрого развития Вашего бизнеса.
                .about__text
                    span Golden Marrow Group
                    | – это не просто система направлений, это в первую очередь созвездие уникальных личностей. Личностей, которые творят историю и создают Ваши проекты. Мы убеждены, что только уникальный и персонализированный подход к команде, может создать крепкую межзвездную связь в бизнесе!

                .about__text.about__text--background Осознавая, что в современном мире на первое место среди показателей выходит скорость, мы создаем для вас удобную платформу, где вы оперативно и в любое время суток сможете получать информацию и обратную связь по вашим проектам. Мы ускоряемся вместе с вами, но при этом, нам очень важно не потерять качество исполнения, не упустить все детали. Для этого мы активно инвестируем в современные инновации, а именно развиваем как свои собственные продукты с использованием ИИ, так и всегда открыты к партнерству с другими проектами и компаниями.

                .about__text Для нас клиенты – это не цифры и показатели, наши клиенты – это наши орбиты, а все вместе мы находимся в одной системе координат и всегда движемся к поставленным целям максимально точно рассчитывая все необходимый цифры и контролируя показатели.

                .about__lead
                    .about__lead-title Добро пожаловать в наш Космос, он безграничен и очень интересен!
                    .about__lead-button Оставить заявку
                    .about__lead-planet


