@import "../../to_head/base/variables";
@import "../../to_head/base/media-queries";
@import "../../to_head/base/mixins";

.fifth {
  @include flex-column-center;
  padding-bottom: 100px;

  @media #{$tablet-small-screen} {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  &__title {
    display: inline-block;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: $red-dark;
    padding: 5px 30px;
    @include margin-auto;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__slider {
    width: 100%;
    padding: 20px 35px;

    @media #{$tablet-small-screen} {
      padding: 20px 0;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      width: 26px !important;
      height: 77px !important;
      background: url(../../../img/arrow_big.png) !important;
      @include background-contain-center;
      top: 50%;
      transform: translateY(-50%) scaleX(-1);

      &:focus,
      &:active {
        outline: none !important;
      }

    }

    .owl-next {
      left: auto;
      right: 0;
      transform: translateY(-50%) scaleX(-1);
    }

    .owl-prev {
      left: 0;
      right: auto;
      transform: translateY(-50%);
    }

    .owl-prev span,
    .owl-next span {
      display: none;
    }

    .owl-prev.disabled,
    .owl-next.disabled {
      display: none!important;
    }

    & .owl-dots {
      @include flex-row-center;
    }

    & .owl-dot {
      width: 17px;
      height: 17px;
      border: 1px solid #a92e2f!important;
      background-color: #ffffff!important;
      border-radius: 50%;
      margin: 8px;
      cursor: pointer;
      position: relative;

      &:after {
        @include after-absolute;
        @include absolute-center;
        width: 25px;
        height: 25px;
        border: 1px solid #a92e2f;
        opacity: 0;
        border-radius: 50%;
      }


      &:hover,
      &.active {
        background-color: #a92e2f!important;
      }

      &:hover:after,
      &.active:after {
        opacity: 0.3;
      }
    }

  }
  &__slider-item {
    padding: 20px;
    width: 100%;
  }

  &__slider-item-inner {
    width: 100%;
    padding: 23px 53px;
    box-shadow: 4px 4px 28px 4px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: 287px 1fr;

    @media #{$tablet-small-screen} {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 20px;
    }
  }

  &__slider-item-photo {

  }
  &__slider-item-photo-preview {
    width: 100%;
    height: 214px;
    @include background-cover-center;
  }
  &__slider-item-photo-list {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  &__slider-item-photo-list-inner {
    height: 66px;
    @include background-cover-center;
  }
  &__slider-item-info {
    padding-left: 80px;

    @media #{$tablet-small-screen} {
      padding-left: 0;
    }
  }
  &__slider-item-desc {
    padding: 20px 0;

    @media #{$tablet-small-screen} {
      @include flex-column-center;
      text-align: center;
    }
  }
  &__slider-item-desc-item {
    margin-bottom: 15px;
    @include flex-row;
    align-items: baseline;

    @media #{$tablet-small-screen} {
      display: inline;
    }
  }
  &__slider-item-desc-item-inner {
    font-weight: 700;
    margin-left: 6px;
    @media #{$tablet-small-screen} {
      display: inline;
    }
  }
  &__slider-item-button-block {
    @include flex-row-center;
  }
  &__slider-item-button {
    padding: 8px 50px;

    &:before {
      background: $red-dark !important;
    }
  }
}
