.form__input-block {
  position: relative; }
  .form__input-block--phone:after {
    content: '';
    position: absolute;
    display: block;
    width: 17px;
    height: 16px;
    left: 16px;
    background: url(../../../img/phone-input.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    top: 50%;
    transform: translateY(-50%); }

.form__input {
  border: 1px solid #d9d9d9;
  height: 100%;
  width: 100%;
  padding-left: 42px; }
