@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.fran-fifteenth {
  padding-top: 150px;

  @media #{$tablet-big-screen} {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    @include font-intro-mid;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;

    & span {
      @include font-intro-mid;
      font-size: 36px;
      color: $orange;
    }
  }

  &__block {
    position: relative;
    width: 100%;
    @include flex-row;
    justify-content: space-between;
    padding-top: 160px;
    padding-bottom: 100px;

    @media #{$tablet-big-screen} {
      @include flex-column;
      padding-top: 0;
    }

    &:after {
      @include after-absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: 1422px;
      height: 100%;
      background: url(../../../img/fifteenth-background.jpg);
      @include background-cover-center;
      background-position: top center!important;
      z-index: 0;

      @media #{$tablet-big-screen} {
        display: none;
      }
    }
  }

  &__lead {
    position: relative;
    z-index: 2;
    width: 100%;

    @media #{$tablet-big-screen} {
      width: 100%;
    }

  }
  &__lead-title {
    color: $white;
    @include font-intro-bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 18px;

    @media #{$tablet-big-screen} {
      font-size: 30px;
      color: $blue;
    }
  }

  &__lead-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

    @media #{$tablet-big-screen} {
      grid-template-columns: 1fr;
    }
  }

  &__lead-field {

  }

  &__lead-button {

  }

}