{% include "partials/header.html" %}
	<main>
		<div class="container">
			<section class="page404 form-border">
				<div class="page404__logo">
					4
					<svg class="i-404">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#logo_mobile"></use>
					</svg>
					4
				</div>
				<div class="title-block">
					<div class="section-title">Страница не найдена</div>
					<p class="page404__text">Вы перешли по неработающей ссылке<br>
					или ввели неверный адрес</p>
				</div>
				<a href="#" class="page404__button button button_blue button_height">На главную</a>
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}