{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Личный кабинет
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="cabinet">
				<div class="title-block title-block_margin">
					<h1 class="section-title">Личный кабинет</h1>
				</div>
				<div class="cabinet-cells">
					<div class="half-wrap half-wrap_separate">
						<div class="form-border form-border_padding">
							<div class="form-border__title">История заказов</div>
							<div class="history-overflow custom-scroll">
								<div class="history-table">
									<div class="history-table__row js-call-popup" data-popup="popup_order-history">
										<div class="history-table__cell history-table__cell_order">
											<div class="order-num">Заказ № 34872</div>
											<div class="post-date">от 08.07.2017</div>
										</div>
										<div class="history-table__cell history-table__cell_price">
											<div class="history-table__count">1 товар на сумму</div>
											<div class="history-table__price">4 990 руб.</div>
										</div>
										<div class="history-table__cell history-table__cell_bage">
											<div class="square-bage square-bage_red">Оформлен</div>
										</div>
									</div>
									<div class="history-table__row">
										<div class="history-table__cell history-table__cell_order">
											<div class="order-num">Заказ № 34872</div>
											<div class="post-date">от 08.07.2017</div>
										</div>
										<div class="history-table__cell history-table__cell_price">
											<div class="history-table__count">1 товар на сумму</div>
											<div class="history-table__price">4 990 руб.</div>
										</div>
										<div class="history-table__cell history-table__cell_bage">
											<div class="square-bage square-bage_blue">Оллачен</div>
										</div>
									</div>
									<div class="history-table__row">
										<div class="history-table__cell history-table__cell_order">
											<div class="order-num">Заказ № 34872</div>
											<div class="post-date">от 08.07.2017</div>
										</div>
										<div class="history-table__cell history-table__cell_price">
											<div class="history-table__count">1 товар на сумму</div>
											<div class="history-table__price">4 990 руб.</div>
										</div>
										<div class="history-table__cell history-table__cell_bage">
											<div class="square-bage square-bage_white">Исполнен</div>
										</div>
									</div>
									<div class="history-table__row">
										<div class="history-table__cell history-table__cell_order">
											<div class="order-num">Заказ № 34872</div>
											<div class="post-date">от 08.07.2017</div>
										</div>
										<div class="history-table__cell history-table__cell_price">
											<div class="history-table__count">1 товар на сумму</div>
											<div class="history-table__price">4 990 руб.</div>
										</div>
										<div class="history-table__cell history-table__cell_bage">
											<div class="square-bage square-bage_blue">Оллачен</div>
										</div>
									</div>
									<div class="history-table__row">
										<div class="history-table__cell history-table__cell_order">
											<div class="order-num">Заказ № 34872</div>
											<div class="post-date">от 08.07.2017</div>
										</div>
										<div class="history-table__cell history-table__cell_price">
											<div class="history-table__count">1 товар на сумму</div>
											<div class="history-table__price">4 990 руб.</div>
										</div>
										<div class="history-table__cell history-table__cell_bage">
											<div class="square-bage square-bage_white">Исполнен</div>
										</div>
									</div>
									<div class="history-table__row">
										<div class="history-table__cell history-table__cell_order">
											<div class="order-num">Заказ № 34872</div>
											<div class="post-date">от 08.07.2017</div>
										</div>
										<div class="history-table__cell history-table__cell_price">
											<div class="history-table__count">1 товар на сумму</div>
											<div class="history-table__price">4 990 руб.</div>
										</div>
										<div class="history-table__cell history-table__cell_bage">
											<div class="square-bage square-bage_blue">Оллачен</div>
										</div>
									</div>
									<div class="history-table__row">
										<div class="history-table__cell history-table__cell_order">
											<div class="order-num">Заказ № 34872</div>
											<div class="post-date">от 08.07.2017</div>
										</div>
										<div class="history-table__cell history-table__cell_price">
											<div class="history-table__count">1 товар на сумму</div>
											<div class="history-table__price">4 990 руб.</div>
										</div>
										<div class="history-table__cell history-table__cell_bage">
											<div class="square-bage square-bage_white">Исполнен</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="button button_white button_full-width button_height">Смотреть все заказы</div>
						</div>
					</div>
					<div class="half-wrap half-wrap_separate">
						<div class="form-border form-border_padding">
							<div class="container form-border__container">
								<div class="form-border__title">Личные данные</div>
								<div class="radio-row radio-row_margin">
									<label class="checkbox-label checkbox-label_radio">
										<input  type="radio" class="checkbox-label__checkbox-hidden switch-input" name="type-user"  value="1">
										<div class="checkbox-label__checkbox-visual checkbox-label__checkbox-visual_radio"></div>
										<span class="checkbox-label__text">Физическое лицо</span>
									</label>
									<label class="checkbox-label checkbox-label_radio">
										<input  type="radio" class="checkbox-label__checkbox-hidden switch-input" name="type-user" value="2" >
										<div class="checkbox-label__checkbox-visual checkbox-label__checkbox-visual_radio"></div>
										<span class="checkbox-label__text">Юридическое лицо</span>
									</label>
								</div>
								<input type="text" name="" class="regular-input valid-text additional-field" placeholder="ИНН" required="true">
								<input type="text" name="" class="regular-input valid-text additional-field" placeholder="КПП" required="true">
								<input type="text" name="" class="regular-input valid-text" placeholder="Имя" required="true">
								<input type="text" name="" class="regular-input valid-email" placeholder="Email" required="true">
								<input type="text" name="" class="regular-input phone-mask valid-phone" placeholder="Телефон" required="true">
								<label class="checkbox-label form-check">
									<input type="checkbox" class="checkbox-label__checkbox-hidden" name="" required="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">Соглашаюсь на обработку персональных данных</span>
								</label>
								<label class="checkbox-label form-check">
									<input type="checkbox" class="checkbox-label__checkbox-hidden" name="" required="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">
										Соглашаюсь на обработку 
										<span class="more-text">
											<span class="hidden-text">Настоящим я даю разрешение ООО «М.видео Менеджмент» (далее – «М.видео») в целях заключения и исполнения договора купли-продажи обрабатывать - собирать, записывать, систематизировать, накапливать, хранить, уточнять (обновлять, изменять), извлекать, использовать, передавать (в том числе поручать обработку другим лицам), обезличивать, блокировать, удалять, уничтожать - мои персональные данные: фамилию, имя, номера домашнего и мобильного телефонов, адрес электронной почты. Также я разрешаю М.видео в целях информирования о товарах, работах, услугах осуществлять обработку вышеперечисленных персональных данных и направлять на указанный мною адрес электронной почты и/или на номер мобильного телефона рекламу и информацию о товарах, работах, услугах М.видео и его партнеров. Согласие может быть отозвано мною в любой момент путем направления письменного уведомления по адресу М.видео.</span>
											<span class="more-text__button">
												<span class="button__state">персональных данных</span>
												<span class="button__state">Скрыть</span>
											</span>
										</span>
									</span>
								</label>
								<button class="button button_height button_full-width">Сохранить</button>
							</div>
						</div>
					</div>
				</div>
				<div class="cabinet-cells">
					<div class="half-wrap half-wrap_separate">
						<div class="form-border form-border_padding">
							<div class="container form-border__container">
								<div class="form-border__title">Данные доставки</div>
								<input type="text" name="" class="regular-input" placeholder="Улица">
								<div class="third-inputs">
									<div class="third-inputs__item">
										<input type="text" name="" class="regular-input" placeholder="Дом">
									</div>
									<div class="third-inputs__item">
										<input type="text" name="" class="regular-input" placeholder="Корпус">
									</div>
									<div class="third-inputs__item">
										<input type="text" name="" class="regular-input" placeholder="Офис">
									</div>
								</div>
								
								<input type="text" name="" class="regular-input" placeholder="Дополнительно">
								<button class="button button_height button_full-width">Сохранить</button>
							</div>
						</div>
					</div>
					<div class="half-wrap half-wrap_separate">
						<div class="form-border form-border_padding">
							<div class="container form-border__container">
								<div class="form-border__title">Изменить пароль</div>
								<input type="password" name="" class="regular-input" placeholder="Старый пароль">
								<input type="password" name="" class="regular-input" placeholder="Новый пароль">
								<input type="password" name="" class="regular-input" placeholder="Повторите новый пароль">
								<button class="button button_height button_full-width">Сохранить</button>
							</div>
						</div>
					</div>
				</div>
				
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}