{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		
	</nav>
	<main>
		<div class="container">
			<section class="cart">
				<div class="title-block title-block_margin">
					<h1 class="section-title section-title_left">Корзина</h1>
				</div>
				<div class="left-colmn">
					<div class="product-table">
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest1.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								<div class="counter" min-val="1" max-val="99">
									<div class="counter__button minus"></div>
									<input type="text" name="" value="1">
									<div class="counter__button plus"></div>
								</div>
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									7 990 руб.
								</div>
							</div>
							<div class="product-table__cell product-table__cell_remove">
								<div class="remove-button">
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest2.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								<div class="counter" min-val="1" max-val="99">
									<div class="counter__button minus"></div>
									<input type="text" name="" value="1">
									<div class="counter__button plus"></div>
								</div>
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									7 990 руб.
								</div>
							</div>
							<div class="product-table__cell product-table__cell_remove">
								<div class="remove-button">
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest3.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								<div class="counter" min-val="1" max-val="99">
									<div class="counter__button minus"></div>
									<input type="text" name="" value="1">
									<div class="counter__button plus"></div>
								</div>
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									<span class="price__old-price">10 990 руб.</span>
									8 990 руб.
								</div>
							</div>
							<div class="product-table__cell product-table__cell_remove">
								<div class="remove-button">
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-coupon">
						<div class="accordion-coupon__handle">
							<span>
								У Вас есть промокод?
							</span>
						</div>
						<div class="accordion-coupon__content">
							<form class="grey-back grey-back_coupon">
								<input type="text" name="" class="grey-back__input" placeholder="Введите купон для скидки">
								<button class="button button_white coupon-button">Применить</button>
								<table class="coupon-table">
									<tr class="coupon-line">
										<td class="coupon-line__num">123123</td>
										<td class="coupon-line__status">Купон не найден</td>
									</tr>
									<tr class="coupon-line">
										<td class="coupon-line__num">23455234</td>
										<td class="coupon-line__status">Купон принят</td>
									</tr>
								</table>
								
							</form>
						</div>
					</div>
					
				</div>
				<div class="right-colmn">
					<div class="side-block">
						<div class="cart-result">
							<div class="cart-result__title">Итого:</div>
							<div class="cart-result__count">3 товара на сумму</div>
							<div class="cart-result__price">31 970 руб.</div>
						</div>
						<a href="#" class="button button_white button_height">Оформить заказ</a>
						<div class="pay-services">
							<svg class="pay-services__icon i-master-card">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#master-card"></use>
							</svg>
							<svg class="pay-services__icon i-visa">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#visa"></use>
							</svg>
							<svg class="pay-services__icon i-paypal">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#paypal"></use>
							</svg>
						</div>
						<div class="regular-text">Напишите или позвоните нам
						тел. 8 800 100-68-57</div>
					</div>
				</div>
			</section>
			<section class="recommended">
				<h2 class="section-title recommended__title">Аксессуары</h2>
				<div class="prod-cards">
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide2.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="product-bages">
								<div class="bage bage_red">
									<svg class="i-bage-back absolute-center-img">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
									</svg>
									<span class="bage__text">
										Новинка
									</span>
								</div>
							</div>
							<div class="card-product__img">
								<img src="img/samples/slide3.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
				</div>
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}