{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Вопросы и ответы
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="cart">
				<div class="title-block title-block_margin">
					<h1 class="section-title">Корзина</h1>
				</div>
				<div class="empty-state">
					<div class="empty-state__title">Корзина пуста</div>
					<div class="empty-state__text">Вы можете выбрать подходящий товар в нашем каталоге</div>
					<a href="#" class="button button_height">Перейти в каталог</a>
				</div>
			</section>
			<section class="recommended">
				<h2 class="section-title recommended__title">Аксессуары</h2>
				<div class="prod-cards">
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide2.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="product-bages">
								<div class="bage bage_red">
									<svg class="i-bage-back absolute-center-img">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
									</svg>
									<span class="bage__text">
										Новинка
									</span>
								</div>
							</div>
							<div class="card-product__img">
								<img src="img/samples/slide3.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
				</div>
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}