{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Каталог
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="catalog-section">
				<div class="title-block">
					<h1 class="section-title">Гибриды</h1>
					<p class="title-block__text">Гибриды NEOLINE -  революционные устройства, объединяющие единым интерфейсом радар-детектор и видеорегистратор. Благодаря синергетическому эффекту от совмещения двух устройств, в гибридах NEOLINE  реализованы возможности, которые до сих пор были недоступны в каждом из устройств по отдельности.
					</p>
				</div>
				<div class="prod-cards">
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white" onclick="event.preventDefault(); console.log('test'); ">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide2.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="product-bages">
								<div class="bage bage_red">
									<svg class="i-bage-back absolute-center-img">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
									</svg>
									<span class="bage__text">
										Новинка
									</span>
								</div>
							</div>
							<div class="card-product__img">
								<img src="img/samples/slide3.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
				</div>
			</section>
			<section class="catalog-section">
				<div class="title-block">
					<h1 class="section-title">Видеорегистраторы</h1>
					<p class="title-block__text">Видеорегистраторы Neoline подходят как для профессионального использования, так и для начинающих автолюбителей. Простота установки и превосходный дизайн – вот то, что отличает видеорегистраторы Neoline
					</p>
				</div>
				<div class="prod-cards">
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide5.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide6.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide5.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide6.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
				</div>
			</section>
			<section class="catalog-section">
				<div class="title-block">
					<h1 class="section-title">Радар-детекторы</h1>
					<p class="title-block__text">Радар-детекторы Neoline X-COP разработаны с учетом специфики российского законодательства и позволяют вам не нарушать скоростной режим, соблюдая его в зависимости от загруженности движения и наличия постов полиции.
					</p>
				</div>
				<div class="prod-cards">
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide5.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide6.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
				</div>
			</section>
			<section class="catalog-section">
				<div class="title-block">
					<h1 class="section-title">Инверторы</h1>
					<p class="title-block__text">Инверторы Neoline обеспечат бесперебойное питание всей вашей техники на борту автомобиля
					</p>
				</div>
				<div class="prod-cards">
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide5.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide6.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
				</div>
			</section>
			<section class="catalog-section">
				<div class="title-block">
					<h1 class="section-title">Аксессуары</h1>
					<p class="title-block__text">Автомобильные аксессуары Neoline - полезные устройства и приспособления, которые пригодятся
					в дорогелюбому автомобилисту.
					</p>
					<!-- принцип фильтра такой же как на покете. Не забудь что ставить return false
					не нужно. Если нужно чтобы выбирался только один, а другие отклчались
					поменяй типо инпутов на радио -->
					<div class="catalog-section__filter">
						<label class="filter-elm">
							<input type="checkbox" name="sort-filter" class="filter-check">
							<div class="filter-elm__title">Все</div>
						</label>
						<label class="filter-elm">
							<input type="checkbox" name="sort-filter" class="filter-check">
							<div class="filter-elm__title">Мотонавигаторы</div>
						</label>
						<label class="filter-elm">
							<input type="checkbox" name="sort-filter" class="filter-check">
							<div class="filter-elm__title">FM-трансмиттеры</div>
						</label>
						<label class="filter-elm">
							<input type="checkbox" name="sort-filter" class="filter-check">
							<div class="filter-elm__title">Разветвители</div>
						</label>
						<label class="filter-elm">
							<input type="checkbox" name="sort-filter" class="filter-check">
							<div class="filter-elm__title">Держатели</div>
						</label>
						<label class="filter-elm">
							<input type="checkbox" name="sort-filter" class="filter-check">
							<div class="filter-elm__title">Вольтеры</div>
						</label>
						<label class="filter-elm">
							<input type="checkbox" name="sort-filter" class="filter-check">
							<div class="filter-elm__title">Прочее</div>
						</label>
					</div>
				</div>
				<div class="prod-cards">
					<div class="quad-wrap">
						<a href="#" class="card-product card-product_acc">
							<div class="card-product__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product card-product_acc">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product card-product_acc">
							<div class="card-product__img">
								<img src="img/samples/slide5.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product card-product_acc">
							<div class="card-product__img">
								<img src="img/samples/slide6.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product card-product_acc">
							<div class="card-product__img">
								<img src="img/samples/slide5.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product card-product_acc">
							<div class="card-product__img">
								<img src="img/samples/slide6.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<button class="button button_white">Купить</button>
						</a>
					</div>
				</div>
			</section>
		</div>
		
	</main>
{% include "partials/footer.html" %}