{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<a href="#" class="breadcrumbs__elm">
				<span>Каталог</span>
			</a>
			<span class="breadcrumbs__elm">
				Видеорегистраторы
			</span>
		</div>
	</nav>
	<main>
		<div class="title-block title-block_category">
			<!-- <div class="container">
				<div class="title-block__icon">
					<svg class="i-theme-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/adv-icons.svg#28"></use>
					</svg>
				</div>
				<h1 class="section-title">Видеорегистраторы</h1>
				<p class="title-block__text">Видеорегистраторы Neoline подходят как для профессионального использования, так и для начинающих автолюбителей. Простота установки и превосходный дизайн – вот то, что отличает видеорегистраторы Neoline
				</p>
				<div class="hidden-filter-button">
					<div class="button js-toggle-menu"  data-menu="mobile-menu_filter">
						Показать фильтр
					</div>
				</div>
			</div> -->
		</div>
		<div class="container">
			<div class="category-wrap">
				<aside class="product-filter product-filter_desctop">
					<div class="product-filter__sort-section">
						<div class="sort-section__name">Цена (руб.)</div>
						<div class="sort-section__content">
							<div class="range-select" data-minVal="" data-maxVal="3000000">
								<div class="range-select__inputs">
									<div class="range-select__input-wrap">
										<input type="text" name="" class="value-hold value-hold_min">
									</div>
									<div class="range-select__input-wrap">	
										<input type="text" name="" class="value-hold value-hold_max">
									</div>
								</div>
								
								<div class="range-select__drag-zone"></div>
							</div>
						</div>
					</div>
					<div class="product-filter__sort-section">
						<div class="sort-section__name">Угол обзора</div>
						<div class="sort-section__content">
							<label class="checkbox-label sort-section__filter-check">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">121-140 градусов (3)</span>
							</label>
							<label class="checkbox-label sort-section__filter-check">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">более 140 градусов (1)</span>
							</label>
						</div>
					</div>
					<div class="product-filter__sort-section">
						<div class="sort-section__name">Емкость карты памяти</div>
						<div class="sort-section__content">
							<label class="checkbox-label sort-section__filter-check">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">32 Гб (1))</span>
							</label>
							<label class="checkbox-label sort-section__filter-check">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">64 Гб  (2)</span>
							</label>
							<label class="checkbox-label sort-section__filter-check">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">128 Гб  (2)</span>
							</label>
						</div>
					</div>
					<div class="product-filter__sort-section">
						<div class="sort-section__name">Диагональ дисплея</div>
						<div class="sort-section__content">
							<label class="checkbox-label sort-section__filter-check">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">2.1 (3)</span>
							</label>
							<label class="checkbox-label sort-section__filter-check">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">2.3 (1)</span>
							</label>
						</div>
					</div>
					<div class="product-filter__bottom">
						<button class="button button_white">Показать 7 товаров</button>
						<div class="text-button js-clear-filter">
							Очистить фильтр
						</div>
					</div>
				</aside>
				<section class="catalog-section catalog-section_category">
					<div class="filter-line">
						<div class="filter-line__count">
							<h1>Видеорегистраторы:</h1> 
							<span class="grey-text-5">
								8 товаров
							</span> 
						</div>
						<div class="filter-line__filter-select">
							Сортировать по:
							<div class="regular-select">
								<div class="regular-select__val">
									наименованию
								</div>
								<div class="regular-select__option-list">
									<div class="option-list__item">
										цене &#8593;
									</div>
									<div class="option-list__item">
										цене &#8595;
									</div>
									<div class="option-list__item">
										наименованию
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prod-cards">
						<div class="third-wrap">
							<a href="#" class="card-product">
								<div class="card-product__img">
									<img src="img/samples/slide1.jpg">
								</div>
								<div class="card-product__name">
									Видеорегистратор
									Neoline X-COP 9100
								</div>
								<div class="card-product__price">
									<span class="preorder-text">
										Скоро в продаже
									</span>
								</div>
								<label class="checkbox-label card-product__add-compare">
									<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">к сравнению</span>
								</label>
								<button class="button button_blue-border" data-popup="popup_preorder" data-add-info="my-product-id">Уведомить о поступлении</button>
							</a>
						</div>
						
						<div class="third-wrap">
							<a href="#" class="card-product">
								<div class="product-bages">
									<div class="bage bage_red">
										<svg class="i-bage-back absolute-center-img">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
										</svg>
										<span class="bage__text">
											Новинка
										</span>
									</div>
								</div>
								<div class="card-product__img">
									<img src="img/samples/slide3.png">
								</div>
								<div class="card-product__name">
									Видеорегистратор
									Neoline X-COP 9100
								</div>
								<div class="card-product__price">14 990 руб.</div>
								<label class="checkbox-label card-product__add-compare">
									<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">к сравнению</span>
								</label>
								<button class="button button_blue-border" data-popup="popup_preorder">Предзаказ</button>
							</a>
						</div>
						<div class="third-wrap">
							<a href="#" class="card-product">
								<div class="card-product__img">
									<img src="img/samples/slide4.png">
								</div>
								<div class="card-product__name">
									Видеорегистратор
									Neoline X-COP 9100
								</div>
								<div class="card-product__price">16 990 руб.</div>
								<label class="checkbox-label card-product__add-compare">
									<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">к сравнению</span>
								</label>
								<button class="button button_white" data-popup="popup_preorder">Предзаказ</button>
							</a>
						</div>
						<div class="third-wrap">
								<a href="#" class="card-product">
									<div class="card-product__img">
										<img src="img/samples/slide2.png">
									</div>
									<div class="card-product__name">
										Видеорегистратор
										Neoline X-COP 9100
									</div>
									<div class="card-product__price">16 990 руб.</div>
									<label class="checkbox-label card-product__add-compare">
										<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
										<div class="checkbox-label__checkbox-visual">
											<i class="fa fa-check" aria-hidden="true"></i>
										</div>
										<span class="checkbox-label__text">к сравнению</span>
									</label>
									<button class="button " disabled="true">Нет в наличии</button>
								</a>
							</div>
						<div class="third-wrap">
							<a href="#" class="card-product">
								<div class="card-product__img">
									<img src="img/samples/slide2.png">
								</div>
								<div class="card-product__name">
									Видеорегистратор
									Neoline X-COP 9100
								</div>
								<div class="card-product__price">16 990 руб.</div>
								<label class="checkbox-label card-product__add-compare">
									<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">к сравнению</span>
								</label>
								<button class="button ">Купить</button>
							</a>
						</div>
						<div class="third-wrap">
							<a href="#" class="card-product">
								<div class="product-bages">
								<div class="bage bage_red">
									<svg class="i-bage-back absolute-center-img">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
									</svg>
									<span class="bage__text">
										Новинка
									</span>
								</div>
							</div>
								<div class="card-product__img">
									<img src="img/samples/slide3.png">
								</div>
								<div class="card-product__name">
									Видеорегистратор
									Neoline X-COP 9100
								</div>
								<div class="card-product__price">14 990 руб.</div>
								<label class="checkbox-label card-product__add-compare">
									<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">к сравнению</span>
								</label>
								<button class="button ">Купить</button>
							</a>
						</div>
						<div class="third-wrap">
							<a href="#" class="card-product">
								<div class="card-product__img">
									<img src="img/samples/slide4.png">
								</div>
								<div class="card-product__name">
									Видеорегистратор
									Neoline X-COP 9100
								</div>
								<div class="card-product__price">16 990 руб.</div>
								<label class="checkbox-label card-product__add-compare">
									<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">к сравнению</span>
								</label>
								<button class="button ">Купить</button>
							</a>
						</div>
						<div class="third-wrap">
							<a href="#" class="card-product">
								<div class="card-product__img">
									<img src="img/samples/slide2.png">
								</div>
								<div class="card-product__name">
									Видеорегистратор
									Neoline X-COP 9100
								</div>
								<div class="card-product__price">16 990 руб.</div>
								<label class="checkbox-label card-product__add-compare">
									<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">к сравнению</span>
								</label>
								<button class="button ">Купить</button>
							</a>
						</div>
						<div class="third-wrap">
							<a href="#" class="card-product">
								<div class="product-bages">
								<div class="bage bage_red">
									<svg class="i-bage-back absolute-center-img">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
									</svg>
									<span class="bage__text">
										Новинка
									</span>
								</div>
							</div>
								<div class="card-product__img">
									<img src="img/samples/slide3.png">
								</div>
								<div class="card-product__name">
									Видеорегистратор
									Neoline X-COP 9100
								</div>
								<div class="card-product__price">14 990 руб.</div>
								<label class="checkbox-label card-product__add-compare">
									<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
									<div class="checkbox-label__checkbox-visual">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
									<span class="checkbox-label__text">к сравнению</span>
								</label>
								<button class="button ">Купить</button>
							</a>
						</div>
					</div>
					<nav class="page-pagination">
						<a href="#" class="page-pagination__item ">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
						</a>
						<a href="#" class="page-pagination__item page-pagination__item_active">
							1
						</a>
						<a href="#" class="page-pagination__item">
							2
						</a>
						<a href="#" class="page-pagination__item">
							3
						</a>
						<a href="#" class="page-pagination__item">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</nav>
				</section>
			</div>
			<article class="bottom-text text-overflow" >
				<div class="text-overflow__wrap" data-rows="3">
					<p>Neoline X-COP R700 – видеорегистратор нового поколения с GPS базой полицейских радаров и камер. Сенсорный дисплей, управление с помощью WiFi соединения со смарт фоном, безупречное качество видео, расширенная комплектация, возможность подключения радарного блока отличает этот видеорегистратор от всех видеорегистраторов на рынке. </p>
					<p>В видеорегистратор Neoline X-COP R700 встроен самый мощный на сегодняшний день процессор Ambarella и высокотехнологичный сенсор от Sony. Угол обзора 135 градусов и оптическая система из 6 стеклянныхлинз создают безупречное качество съемки, в том числе ночью. Карта памяти 32 Гб 10 класса позволяет беспрерывно записывать видео в разрешении FULL HD в течение 5 часов.</p>
					
				</div>
				<span class="text-overflow__button js-unwrap-overflow">
					Читать полностью
				</span>
			</article>
			<section class="news-box text-overflow" >
				<div class="text-overflow__wrap" data-rows="2">
					Гибриды NEOLINE - революционные устройства, объединяющие единым интерфейсом радар-детектор и видеорегистратор. Благодаря синергетическому эффекту от совмещения двух устройств, в гибридах NEOLINE реализованы возможности, которые до сих пор были недоступны в каждом из устройств по отдельности.
					
				</div>
				<span class="text-overflow__button js-unwrap-overflow">
					Читать полностью
				</span>
			</section>
		</div>
		
	</main>
{% include "partials/footer.html" %}