{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Личный кабинет
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="compare">
				<div class="title-block title-block_margin">
					<h1 class="section-title">Сравнение товаров</h1>
				</div>
				<div class="compare-items">
					<div class="compare-items__fix-overlay">
						<div class="container">
							<div class="compare-controls">
								<a href="#" class="add-link">
									<div class="plus-icon">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</div>
									Добавить<br>
									товар
								</a>
								<a href="main.php" class="clear-list text-button">Очистить список</a>
							</div>
							<div class="compare-items__slider">
								<div class="card-product compare-product">
									<div class="compare-product__delete">
										<i class="fa fa-times" aria-hidden="true"></i>
									</div>
									<div class="compare-product__container">
										<div class="compare-product__info">
											<div class="card-product__img">
												<img src="img/samples/slide1.jpg">
											</div>
											<div class="card-product__name">
												Видеорегистратор
												Neoline X-COP 9100
											</div>
											<div class="card-product__price">16 990 руб.</div>
										</div>
										<button class="button button_blue-border" data-popup="popup_preorder" data-add-info="my-product-id">Уведомить о поступлении</button>
									</div>
								</div>
								<div class="card-product compare-product">
									<div class="compare-product__delete">
										<i class="fa fa-times" aria-hidden="true"></i>
									</div>
									<div class="product-bages">
										<div class="bage bage_red">
											<svg class="i-bage-back absolute-center-img">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
											</svg>
											<span class="bage__text">
												Новинка
											</span>
										</div>
									</div>
									<div class="compare-product__container">
										<div class="compare-product__info">
											<div class="card-product__img">
												<img src="img/samples/slide1.jpg">
											</div>
											<div class="card-product__name">
												Видеорегистратор
												Neoline X-COP 9100
											</div>
											<div class="card-product__price">16 990 руб.</div>
										</div>
										<button class="button button_white">Купить</button>
									</div>
								</div>
								<div class="card-product compare-product">
									<div class="compare-product__delete">
										<i class="fa fa-times" aria-hidden="true"></i>
									</div>
									<div class="compare-product__container">
										<div class="compare-product__info">
											<div class="card-product__img">
												<img src="img/samples/slide1.jpg">
											</div>
											<div class="card-product__name">
												Видеорегистратор
												Neoline X-COP 9100
											</div>
											<div class="card-product__price">16 990 руб.</div>
										</div>
										<button class="button button_white">Купить</button>
									</div>
								</div>
								<div class="card-product compare-product">
									<div class="compare-product__delete">
										<i class="fa fa-times" aria-hidden="true"></i>
									</div>
									<div class="compare-product__container">
										<div class="compare-product__info">
											<div class="card-product__img">
												<img src="img/samples/slide1.jpg">
											</div>
											<div class="card-product__name">
												Видеорегистратор
												Neoline X-COP 9100
											</div>
											<div class="card-product__price">16 990 руб.</div>
										</div>
										<button class="button button_white">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="compare-table">
					<div class="compare-table__row ">
						<div class="row__name">
								Дисплей
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">1 год</div>
							<div class="comare-data__cell"></div>
							<div class="comare-data__cell">5" 800 × 600</div>
							<div class="comare-data__cell">8" E Ink®Pearl™ 1600 × 1200</div>

						</div>
					</div>
					<div class="compare-table__row">
						<div class="row__name">
								Подсветка
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">Есть</div>
							<div class="comare-data__cell">Есть</div>
							<div class="comare-data__cell">Нет</div>
							<div class="comare-data__cell">Есть</div>
						</div>
					</div>
					<div class="compare-table__row">
						<div class="row__name">
								Сенсорный экран
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">Емкостный мультисенсорный</div>
							<div class="comare-data__cell"></div>
							<div class="comare-data__cell">Нет</div>
							<div class="comare-data__cell">Емкостный мультисенсорный</div>
						</div>
					</div>
					<div class="compare-table__row">
						<div class="row__name">
								Габариты
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">114,6 х 174,4 х 8,3 мм</div>
							<div class="comare-data__cell">114,6 х 174,4 х 8,3 мм</div>
							<div class="comare-data__cell">100 х 142,3 х 7,20 мм</div>
							<div class="comare-data__cell">195,5 х 162,8 х 7,3 мм</div>
						</div>
					</div>
					<div class="compare-table__row">
						<div class="row__name">
								Материал экрана
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">Стекло</div>
							<div class="comare-data__cell">Стекло</div>
							<div class="comare-data__cell">Стекло</div>
							<div class="comare-data__cell">Стекло</div>
						</div>
					</div>
					<div class="compare-table__row">
						<div class="row__name">
								Количество градаций серого
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">16</div>
							<div class="comare-data__cell">16</div>
							<div class="comare-data__cell">16</div>
							<div class="comare-data__cell">16</div>
						</div>
					</div>
					<div class="compare-table__row">
						<div class="row__name">
								Батарея	
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">Li-Ion, 3,7 В, 1500 мАч, до 8000 страниц без подсветки</div>
							<div class="comare-data__cell">Li-Ion, 3,7 В, 1500 мАч, до 8000 страниц без подсветки</div>
							<div class="comare-data__cell">Li-Ion, 3,7 В, 1000 мАч, до месяца без подзарядки</div>
							<div class="comare-data__cell">Li-Pol, 2500 мАч (до 8000 страниц без подсветки)</div>
						</div>
					</div>
					<div class="compare-table__row">
						<div class="row__name">
								Форматы книг
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">PDF, PDF (DRM), EPUB, EPUB(DRM), DJVU, FB2, FB2.ZIP, DOC, DOCX, RTF, PRC, TCR, TXT, CHM, HTML</div>
							<div class="comare-data__cell">PDF, PDF (DRM), EPUB, EPUB(DRM), DJVU, FB2, FB2.ZIP, DOC, DOCX, RTF, PRC, TCR, TXT, CHM, HTML</div>
							<div class="comare-data__cell">PDF, PDF (DRM), EPUB, EPUB(DRM), DJVU, FB2, FB2.ZIP, DOC, DOCX, RTF, PRC, TCR, TXT, CHM, HTML</div>
							<div class="comare-data__cell">PDF, PDF (DRM), EPUB, EPUB(DRM), DJVU, FB2, FB2.ZIP, DOC, DOCX, RTF, PRC, TCR, TXT, CHM, HTML</div>
						</div>
					</div>
					<div class="compare-table__row ">
						<div class="row__name">
							Форматы аудио
						</div>
						<div class="row__compare-data">
							<div class="comare-data__cell">Нет</div>
							<div class="comare-data__cell">Нет</div>
							<div class="comare-data__cell">Нет</div>
							<div class="comare-data__cell">Нет</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}