{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Личный кабинет
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="compare">
				<div class="title-block title-block_margin">
					<h1 class="section-title">Сравнение товаров</h1>
				</div>
				<div class="empty-state">
					<div class="empty-state__title">Список сравниваемых элементов пуст</div>
					<div class="empty-state__text">Вы можете выбрать подходящее устройство для сравнения в нашем каталоге</div>
					<a href="#" class="button button_height">Перейти в каталог</a>
				</div>
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}