{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Вопросы и ответы
			</span>
		</div>
	</nav>
	<main>
		<div class="container container_small">
			<section class="faq">
				<div class="title-block title-block_margin">
					<h1 class="section-title">Вопросы и ответы</h1>
				</div>
				<div class="grey-back faq__search">
					<form class="search-line">
						<input type="text" name="" class="search-line__input" placeholder="Поиск готового ответа">
						<button class="search-line__search">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</form>
				</div>
				<div class="quest-wrap">
					<div class="quest-accordeon">
						<div class="quest-accordeon__handle">Как часто обновляется ассортимент Вашей продукции? Интересуют горячие новинки</div>
						<div class="quest-accordeon__text regular-text">
							<p>Neoline X-COP R700 – видеорегистратор нового поколения с GPS базой полицейских радаров и камер. Сенсорный дисплей, управление с помощью WiFi соединения со смарт фоном, безупречное качество видео, расширенная комплектация, возможность подключения радарного блока отличает этот видеорегистратор от всех видеорегистраторов на рынке. </p>
							<p>В видеорегистратор Neoline X-COP R700 встроен самый мощный на сегодняшний день процессор Ambarella и высокотехнологичный сенсор от Sony. Угол обзора 135 градусов и оптическая система из 6 стеклянныхлинз создают безупречное качество съемки, в том числе ночью. Карта памяти 32 Гб 10 класса позволяет беспрерывно записывать видео в разрешении FULL HD в течение 5 часов.</p>
						</div>
					</div>
					<div class="quest-accordeon">
						<div class="quest-accordeon__handle">Гибриды и видеорегистраторы поставляется с дополнительные аксессуарами или их нужно докупать?</div>
						<div class="quest-accordeon__text regular-text">
							<p>Neoline X-COP R700 – видеорегистратор нового поколения с GPS базой полицейских радаров и камер. Сенсорный дисплей, управление с помощью WiFi соединения со смарт фоном, безупречное качество видео, расширенная комплектация, возможность подключения радарного блока отличает этот видеорегистратор от всех видеорегистраторов на рынке. </p>
							<p>В видеорегистратор Neoline X-COP R700 встроен самый мощный на сегодняшний день процессор Ambarella и высокотехнологичный сенсор от Sony. Угол обзора 135 градусов и оптическая система из 6 стеклянныхлинз создают безупречное качество съемки, в том числе ночью. Карта памяти 32 Гб 10 класса позволяет беспрерывно записывать видео в разрешении FULL HD в течение 5 часов.</p>
						</div>
					</div>
					<div class="quest-accordeon">
						<div class="quest-accordeon__handle">Как часто обновляется ассортимент Вашей продукции? Интересуют горячие новинки</div>
						<div class="quest-accordeon__text regular-text">
							<p>Neoline X-COP R700 – видеорегистратор нового поколения с GPS базой полицейских радаров и камер. Сенсорный дисплей, управление с помощью WiFi соединения со смарт фоном, безупречное качество видео, расширенная комплектация, возможность подключения радарного блока отличает этот видеорегистратор от всех видеорегистраторов на рынке. </p>
							<p>В видеорегистратор Neoline X-COP R700 встроен самый мощный на сегодняшний день процессор Ambarella и высокотехнологичный сенсор от Sony. Угол обзора 135 градусов и оптическая система из 6 стеклянныхлинз создают безупречное качество съемки, в том числе ночью. Карта памяти 32 Гб 10 класса позволяет беспрерывно записывать видео в разрешении FULL HD в течение 5 часов.</p>
						</div>
					</div>
					<div class="quest-accordeon">
						<div class="quest-accordeon__handle">Гибриды и видеорегистраторы поставляется с дополнительные аксессуарами или их нужно докупать?</div>
						<div class="quest-accordeon__text regular-text">
							<p>Neoline X-COP R700 – видеорегистратор нового поколения с GPS базой полицейских радаров и камер. Сенсорный дисплей, управление с помощью WiFi соединения со смарт фоном, безупречное качество видео, расширенная комплектация, возможность подключения радарного блока отличает этот видеорегистратор от всех видеорегистраторов на рынке. </p>
							<p>В видеорегистратор Neoline X-COP R700 встроен самый мощный на сегодняшний день процессор Ambarella и высокотехнологичный сенсор от Sony. Угол обзора 135 градусов и оптическая система из 6 стеклянныхлинз создают безупречное качество съемки, в том числе ночью. Карта памяти 32 Гб 10 класса позволяет беспрерывно записывать видео в разрешении FULL HD в течение 5 часов.</p>
						</div>
					</div>
					<div class="quest-accordeon">
						<div class="quest-accordeon__handle">Как часто обновляется ассортимент Вашей продукции? Интересуют горячие новинки</div>
						<div class="quest-accordeon__text regular-text">
							<p>Neoline X-COP R700 – видеорегистратор нового поколения с GPS базой полицейских радаров и камер. Сенсорный дисплей, управление с помощью WiFi соединения со смарт фоном, безупречное качество видео, расширенная комплектация, возможность подключения радарного блока отличает этот видеорегистратор от всех видеорегистраторов на рынке. </p>
							<p>В видеорегистратор Neoline X-COP R700 встроен самый мощный на сегодняшний день процессор Ambarella и высокотехнологичный сенсор от Sony. Угол обзора 135 градусов и оптическая система из 6 стеклянныхлинз создают безупречное качество съемки, в том числе ночью. Карта памяти 32 Гб 10 класса позволяет беспрерывно записывать видео в разрешении FULL HD в течение 5 часов.</p>
						</div>
					</div>
					<div class="quest-accordeon">
						<div class="quest-accordeon__handle">Гибриды и видеорегистраторы поставляется с дополнительные аксессуарами или их нужно докупать?</div>
						<div class="quest-accordeon__text regular-text">
							<p>Neoline X-COP R700 – видеорегистратор нового поколения с GPS базой полицейских радаров и камер. Сенсорный дисплей, управление с помощью WiFi соединения со смарт фоном, безупречное качество видео, расширенная комплектация, возможность подключения радарного блока отличает этот видеорегистратор от всех видеорегистраторов на рынке. </p>
							<p>В видеорегистратор Neoline X-COP R700 встроен самый мощный на сегодняшний день процессор Ambarella и высокотехнологичный сенсор от Sony. Угол обзора 135 градусов и оптическая система из 6 стеклянныхлинз создают безупречное качество съемки, в том числе ночью. Карта памяти 32 Гб 10 класса позволяет беспрерывно записывать видео в разрешении FULL HD в течение 5 часов.</p>
						</div>
					</div>
				</div>
				<nav class="page-pagination">
					<a href="#" class="page-pagination__item ">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</a>
					<a href="#" class="page-pagination__item page-pagination__item_active">
						1
					</a>
					<a href="#" class="page-pagination__item">
						2
					</a>
					<a href="#" class="page-pagination__item">
						3
					</a>
					<a href="#" class="page-pagination__item">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</a>
				</nav>
			</section>
		</div>
		
	</main>{% include "partials/footer.html" %}