{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Личный кабинет
			</span>
		</div>
	</nav>
	<main>
		<div class="container container_small">
			<section class="cabinet">
					<div class="order-title">
						<div class="order-title__num">Заказ № 34872</div>
						<div class="order-title__post-date">от 08.07.2017</div>
						<div class="order-title__bage square-bage square-bage_red">Оформлен</div>
					</div>
					<div class="product-table product-table_history-table">
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest1.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								1 шт.
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									7 990 руб.
								</div>
							</div>
						</div>
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest2.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								1 шт.
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									7 990 руб.
								</div>
							</div>
						</div>
						<div class="product-table__row">
							<div class="product-table__cell product-table__cell_img">
								<img src="img/samples/suggest3.png" class="product-table__img">
							</div>
							<div class="product-table__cell product-table__cell_name">
								<div class="regular-text product-table__product-name">
									Видеорегистратор <br>
									Neoline X-COP 9100
								</div>
							</div>
							<div class="product-table__cell product-table__cell_counter">
								1 шт.
							</div>
							<div class="product-table__cell product-table__cell_price">
								<div class="product-table__price">
									<span class="price__old-price">10 990 руб.</span>
									8 990 руб.
								</div>
							</div>
						</div>
					</div>
					<div class="form-border form-border_grey-back form-border_no-margin">
						<div class="container form-border__container">
							<table class="result-table">
								<tbody><tr>
									<td>Товары на сумму:</td>
									<td>31 970 руб.</td>
								</tr>
								<tr>
									<td>Экономия:</td>
									<td>2000 руб.</td>
								</tr>
								<tr>
									<td>Доставка:</td>
									<td>320 руб.</td>
								</tr>
								<tr class="result-table__result-row">
									<td class="result-row__title">Итого</td>
									<td>
										3 товара на сумму
										<div class="result-table__result-price">31 970 руб.</div>
									</td>
								</tr>
							</tbody></table>
							<button class="button button_height order-button">Оформить заказ</button>
						</div>
					</div>
					<div class="popup__bottom-row regular-text">
						Остались вопросы? Напишите или позвоните нам<br>
						Тел. 8 800 100-68-57 или mail: support@neoline.ru
					</div>
				</div>
				
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}