{% include "partials/header.html" %}
	<main>
		<section class="main-banner">
			<div class="banner-slider">
				<div class="banner-slider__slide">
					<img src="img/main-banner.jpg" class="banner-slider__img">
					<img src="img/main-banner_mobile2.jpg" class="banner-slider__img banner-slider__img_mobile">
				</div>
				<div class="banner-slider__slide">
					<img src="img/main-banner.jpg" class="banner-slider__img">
					<img src="img/main-banner_mobile2.jpg" class="banner-slider__img banner-slider__img_mobile">
				</div>
				<div class="banner-slider__slide">
					<img src="img/main-banner.jpg" class="banner-slider__img">
					<img src="img/main-banner_mobile2.jpg" class="banner-slider__img banner-slider__img_mobile">
				</div>
			</div>
		</section>
		<section class="mobile-accordeons">
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Гибриды
				</div>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Видеорегистраторы
				</div>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Радар-детекторы
				</div>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Инверторы
				</div>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Аксессуары
				</div>
				<ul class="accordeon-menu__content">
					<li><a href="#">Мотонавигаторы</a></li>
					<li><a href="#">FM-трансмиттеры</a></li>
					<li><a href="#">Разветвители</a></li>
					<li><a href="#">Держатели</a></li>
					<li><a href="#">Вольтеры</a></li>
					<li><a href="#">Прочее</a></li>
				</ul>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Оплата и доставка
				</div>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Акции
				</div>
			</div>
			<div class="accordeon-menu">
				<div class="accordeon-menu__title">
					Контакты
				</div>
			</div>
		</section>
		<section class="main-news">
			<h2 class="slider-title">Новости и акции</h2>
			<div class="container main-news__container">
				<div class="news-slider">
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide1.jpg">
								</div>
							</div>
							<div class="post-date">24.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на сайте Лайфхакер
							</div>
							<p class="news-card__text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card news-card_product-new">
							<div class="new-bage">Новинка!</div>
							<div class="news-card__title">
								Super гибрид NEOLINE с сенсорным управлением
							</div>
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide2.png">
								</div>
							</div>
							<div class="button news-card_button">Подробнее</div>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide3.png">
								</div>
							</div>
							<div class="post-date">17.12.2017</div>
							<div class="news-card__title">
								NEOLINE G-Tech X37 в обзоре на Яндекс Маркет
							</div>
							<p class="news-card__text">Качество изображения у Neoline G-Tech X37 замечательное — WDR...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide4.png">
								</div>
							</div>
							<div class="post-date">05.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на портале DigitalMedia
							</div>
							<p class="news-card__text">Если вы собрались в отпуск или на эксурсию на собственном автомобиле...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide1.jpg">
								</div>
							</div>
							<div class="post-date">24.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на сайте Лайфхакер
							</div>
							<p class="news-card__text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card news-card_product-new">
							<div class="new-bage">Новинка!</div>
							<div class="news-card__title">
								Super гибрид NEOLINE с сенсорным управлением
							</div>
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide2.png">
								</div>
							</div>
							<div class="button news-card_button">Подробнее</div>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide3.png">
								</div>
							</div>
							<div class="post-date">17.12.2017</div>
							<div class="news-card__title">
								NEOLINE G-Tech X37 в обзоре на Яндекс Маркет
							</div>
							<p class="news-card__text">Качество изображения у Neoline G-Tech X37 замечательное — WDR...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide4.png">
								</div>
							</div>
							<div class="post-date">05.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на портале DigitalMedia
							</div>
							<p class="news-card__text">Если вы собрались в отпуск или на эксурсию на собственном автомобиле...</p>
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>
{% include "partials/footer.html" %}