{% include "partials/header-new.html" %}
	<main>
		<section class="main-banner">
			<div class="banner-slider">
				<div class="banner-slider__slide">
					<img src="img/main-banner.jpg" class="banner-slider__img">
					<img src="img/main-banner_mobile2.jpg" class="banner-slider__img banner-slider__img_mobile">
				</div>
				<div class="banner-slider__slide">
					<img src="img/main-banner.jpg" class="banner-slider__img">
					<img src="img/main-banner_mobile2.jpg" class="banner-slider__img banner-slider__img_mobile">
				</div>
				<div class="banner-slider__slide">
					<img src="img/main-banner.jpg" class="banner-slider__img">
					<img src="img/main-banner_mobile2.jpg" class="banner-slider__img banner-slider__img_mobile">
				</div>
			</div>
		</section>
		<section class="mobile-accordeons">
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Гибриды
				</div>
			</a>
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Видеорегистраторы
				</div>
			</a>
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Радар-детекторы
				</div>
			</a>
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Инверторы
				</div>
			</a>
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Аксессуары
				</div>
			</a>
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Оплата и доставка
				</div>
			</a>
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Акции
				</div>
			</a>
			<a href="#" class="accordeon-menu">
				<div class="accordeon-menu__title">
					Контакты
				</div>
			</a>
		</section>
		<section class="advantages">
			<div class="container">
				<div class="advantage">
					<div class="advantage__icon-circle advantage__icon-circle_neoline-icon"></div>
					<div class="advantage__title">
						Официальный интеренет-магазин Neoline
					</div>
					<div class="advantage__pop-text">
						Чтобы обновить прошивку вашего устройства или скачать свежую GPS базу радаров, перейдите по <a href="#"> этой ссылке </a> и выберите нужное устройство.
					</div>
				</div>
				<div class="advantage">
					<div class="advantage__icon-circle advantage__icon-circle_delivery-icon"></div>
					<div class="advantage__title">
						Доставка
						по всей России
					</div>
					<div class="advantage__pop-text">
						Чтобы обновить прошивку вашего устройства или скачать свежую GPS базу радаров, перейдите по <a href="#"> этой ссылке </a> и выберите нужное устройство.
					</div>
				</div>
				<div class="advantage">
					<div class="advantage__icon-circle advantage__icon-circle_guarantee-icon"></div>
					<div class="advantage__title">
						Гарантия
						от производителя
					</div>
					<div class="advantage__pop-text">
						Чтобы обновить прошивку вашего устройства или скачать свежую GPS базу радаров, перейдите по <a href="#"> этой ссылке </a> и выберите нужное устройство.
					</div>
				</div>
				<div class="advantage">
					<div class="advantage__icon-circle advantage__icon-circle_update-icon"></div>
					<div class="advantage__title">
						Обновляемая база GPS и прошивок устройств
					</div>
					<div class="advantage__pop-text">
						Чтобы обновить прошивку вашего устройства или скачать свежую GPS базу радаров, перейдите по <a href="#"> этой ссылке </a> и выберите нужное устройство.
					</div>
				</div>
				<div class="advantage">
					<div class="advantage__icon-circle advantage__icon-circle_support-icon"></div>
					<div class="advantage__title">
						Служба поддержки
						и сервис
					</div>
					<div class="advantage__pop-text">
						Чтобы обновить прошивку вашего устройства или скачать свежую GPS базу радаров, перейдите по <a href="#"> этой ссылке </a> и выберите нужное устройство.
					</div>
				</div>
			</div>
		</section>
		<section class="catalog-grid">
			<div class="container">
				<div class="half-wrap half-wrap_padding">
					<a href="#" class="catalog-cell" style="background-image: url(img/main-catalog/cat-1.jpg);">
						<div class="catalog-cell__title">Гибриды</div>
					</a>
				</div>
				<div class="half-wrap half-wrap_padding">
					<a href="#" class="catalog-cell" style="background-image: url(img/main-catalog/cat-2.jpg);">
						<div class="catalog-cell__title">Видеорегистраторы</div>
					</a>
				</div>
				<div class="half-wrap half-wrap_padding">
					<a href="#" class="catalog-cell" style="background-image: url(img/main-catalog/cat-3.jpg);">
						<div class="catalog-cell__title">Радар-детекторы</div>
					</a>
				</div>
				<div class="half-wrap half-wrap_padding">
					<a href="#" class="catalog-cell" style="background-image: url(img/main-catalog/cat-4.jpg);">
						<div class="catalog-cell__title">PRO-устройства</div>
					</a>
				</div>
				<div class="half-wrap half-wrap_padding">
					<a href="#" class="catalog-cell" style="background-image: url(img/main-catalog/cat-5.jpg);">
						<div class="catalog-cell__title">Пуско-зарядные устройства</div>
					</a>
				</div>
				<div class="half-wrap half-wrap_padding">
					<a href="#" class="catalog-cell" style="background-image: url(img/main-catalog/cat-6.jpg);">
						<div class="catalog-cell__title">Аксессуары</div>
					</a>
				</div>
				
			</div>
		</section>
		{% include "partials/related-slider.html" with {
				title: "Вас может заинтересовать"
			}
		%}
		{% include "partials/related-slider.html" with {
				title: "Хиты продаж"
			}
		%}
		<section class="main-news">
			<h2 class="slider-title">Новости и акции</h2>
			<div class="container main-news__container">
				<div class="news-slider">
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide1.jpg">
								</div>
							</div>
							<div class="post-date">24.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на сайте Лайфхакер
							</div>
							<p class="news-card__text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card news-card_product-new">
							<div class="new-bage">Новинка!</div>
							<div class="news-card__title">
								Super гибрид NEOLINE с сенсорным управлением
							</div>
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide2.png">
								</div>
							</div>
							<div class="button news-card_button">Подробнее</div>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide3.png">
								</div>
							</div>
							<div class="post-date">17.12.2017</div>
							<div class="news-card__title">
								NEOLINE G-Tech X37 в обзоре на Яндекс Маркет
							</div>
							<p class="news-card__text">Качество изображения у Neoline G-Tech X37 замечательное — WDR...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide4.png">
								</div>
							</div>
							<div class="post-date">05.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на портале DigitalMedia
							</div>
							<p class="news-card__text">Если вы собрались в отпуск или на эксурсию на собственном автомобиле...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide1.jpg">
								</div>
							</div>
							<div class="post-date">24.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на сайте Лайфхакер
							</div>
							<p class="news-card__text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card news-card_product-new">
							<div class="new-bage">Новинка!</div>
							<div class="news-card__title">
								Super гибрид NEOLINE с сенсорным управлением
							</div>
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide2.png">
								</div>
							</div>
							<div class="button news-card_button">Подробнее</div>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide3.png">
								</div>
							</div>
							<div class="post-date">17.12.2017</div>
							<div class="news-card__title">
								NEOLINE G-Tech X37 в обзоре на Яндекс Маркет
							</div>
							<p class="news-card__text">Качество изображения у Neoline G-Tech X37 замечательное — WDR...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide4.png">
								</div>
							</div>
							<div class="post-date">05.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на портале DigitalMedia
							</div>
							<p class="news-card__text">Если вы собрались в отпуск или на эксурсию на собственном автомобиле...</p>
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>
{% include "partials/footer-new.html" %}