{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Вопросы и ответы
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="news">
				<div class="title-block title-block_margin">
					<h1 class="section-title">Новости</h1>
				</div>
				<div class="news-tile">
					<div class="half-wrap half-wrap_separate">
						<a href="#" class="news-item">
							<div class="news-item__img">
								<img src="img/samples/slide2.png">
							</div>
							<div class="news-item__text">
								<div class="post-date">24.12.2017</div>
								<div class="news-item__title">NEOLINE X-COP 4100 на сайте Лайфхакер</div>
								<div class="news-item__description regular-text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</div>
							</div>
						</a>
					</div>
					<div class="half-wrap half-wrap_separate">
						<a href="#" class="news-item">
							<div class="news-item__img">
								<img src="img/samples/slide3.png">
							</div>
							<div class="news-item__text">
								<div class="post-date">24.12.2017</div>
								<div class="news-item__title">NEOLINE X-COP 4100 на сайте Лайфхакер</div>
								<div class="news-item__description regular-text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</div>
							</div>
						</a>
					</div>
					<div class="half-wrap half-wrap_separate">
						<a href="#" class="news-item">
							<div class="news-item__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="news-item__text">
								<div class="post-date">24.12.2017</div>
								<div class="news-item__title">NEOLINE X-COP 4100 на сайте Лайфхакер</div>
								<div class="news-item__description regular-text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</div>
							</div>
						</a>
					</div>
					<div class="half-wrap half-wrap_separate">
						<a href="#" class="news-item">
							<div class="news-item__img">
								<img src="img/samples/slide5.png">
							</div>
							<div class="news-item__text">
								<div class="post-date">24.12.2017</div>
								<div class="news-item__title">NEOLINE X-COP 4100 на сайте Лайфхакер</div>
								<div class="news-item__description regular-text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</div>
							</div>
						</a>
					</div>
					<div class="half-wrap half-wrap_separate">
						<a href="#" class="news-item">
							<div class="news-item__img">
								<img src="img/samples/slide2.png">
							</div>
							<div class="news-item__text">
								<div class="post-date">24.12.2017</div>
								<div class="news-item__title">NEOLINE X-COP 4100 на сайте Лайфхакер</div>
								<div class="news-item__description regular-text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</div>
							</div>
						</a>
					</div>
					<div class="half-wrap half-wrap_separate">
						<a href="#" class="news-item">
							<div class="news-item__img">
								<img src="img/samples/slide3.png">
							</div>
							<div class="news-item__text">
								<div class="post-date">24.12.2017</div>
								<div class="news-item__title">NEOLINE X-COP 4100 на сайте Лайфхакер</div>
								<div class="news-item__description regular-text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</div>
							</div>
						</a>
					</div>
					<div class="half-wrap half-wrap_separate">
						<a href="#" class="news-item">
							<div class="news-item__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="news-item__text">
								<div class="post-date">24.12.2017</div>
								<div class="news-item__title">NEOLINE X-COP 4100 на сайте Лайфхакер</div>
								<div class="news-item__description regular-text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</div>
							</div>
						</a>
					</div>
					<div class="half-wrap half-wrap_separate">
						<a href="#" class="news-item">
							<div class="news-item__img">
								<img src="img/samples/slide5.png">
							</div>
							<div class="news-item__text">
								<div class="post-date">24.12.2017</div>
								<div class="news-item__title">NEOLINE X-COP 4100 на сайте Лайфхакер</div>
								<div class="news-item__description regular-text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</div>
							</div>
						</a>
					</div>
				</div>
				<nav class="page-pagination">
					<a href="#" class="page-pagination__item ">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</a>
					<a href="#" class="page-pagination__item page-pagination__item_active">
						1
					</a>
					<a href="#" class="page-pagination__item">
						2
					</a>
					<a href="#" class="page-pagination__item">
						3
					</a>
					<a href="#" class="page-pagination__item">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</a>
				</nav>
			</section>
		</div>
		
	</main>
{% include "partials/footer.html" %}