{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Вопросы и ответы
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="news-box">
				<h1>NEOLINE X-COP 4100 на сайте Лайфхакер</h1>
				<p>Neoline X-COP 9100 – гибридное устройство, в котором сочетаются функции видеорегистратора и радар-детектора. Оно легко устанавливается в автомобиле и обеспечит водителя необходимой информацией.</p>
				<p>В устройстве установлена оптическая система из 6 стеклянных линз, мощный сенсор, высококачественная матрица, позволяющие записывать разборчивое видео как днём, так и в сумерках и даже ночью. Интеллектуальный режим подавления бликов и солнечных лучей (WDR) делает запись ещё более чёткой.</p>
				<img src="img/samples/news-sample.jpg" style="float: left; margin: 6px 30px 25px 0px;">

				<!-- картинка справа
				<img src="img/samples/news-sample.jpg" style="float: right; margin: 6px 0px 25px 30px;"> -->

				<!-- картинка по центру 
				<img src="img/samples/news-sample.jpg" style="float: none; margin: 6px auto 25px; display: block;">-->

				<p><b>Укомплектован Neoline X-COP 7500S только самым необходимым. </b>К примеру, креплений в наборе могло быть и побольше, но производитель ограничился лишь кронштейном-присоской для лобового стекла. Зато кабель питания для прикуривателя снабжен кнопкой быстрого включения или отключения устройства. В комплект поставки включены USB-кабель и набор документации.</p>
				<p>Радар-детектор выполнен в темно серых тонах и лишен каких-либо цветных элементов. Такой подход делает внешний вид прибора немного скучным, но в то же время он впишется в интерьер любого стандартного автомобиля. Управляется устройство тремя кнопками на верхней части корпуса.</p>
				<h2>Внешний вид и качество сборки</h2>
				<blockquote>В приборе установлен фильтр Z-сигнатур, который отсеивает все посторонние сигналы, кроме сигналов радаров. Новая технология дает возможность радар-детектору считывать электронные подписи радиоизлучателей. В базу также внесены датчики «мертвых зон», поэтому прибор умеет отличать «обманки» от реальных полицейских </blockquote>
				<ol>
					<li>В режиме «Турбо» Neoline X-COP 7500S более «дальнозоркое» — производитель заявляет, что чувствительность улучшена на 30% даже при определении радара, стреляющего «в спину» автомобилю.</li>
					<li>GPS-модуль определяет стационарные комплексы «Автодория» и «Контроль проезда светофора и перекрестка», фиксирующие нарушение правил дорожного движения. Полицейские камеры фиксируют выезд на обочину и полосу для общественного транспорта.</li>
				</ol>
				<h2>Тестирование и резюме</h2>
				<p>- Современные города напичканы различными датчиками и сканерами, из-за которых использование обычного радар-детектора лишено всякого смысла. </p>
				<p>- Фильтр Z-сигнатур, применяемый в X-COP 7500S, на программном уровне отсеивает все ненужные сигналы и информирует водителя только о полицейских радарах. Во время испытаний новинка неплохо показала себя, как в городе, так и на трассе.</p>
				<p><b>Производитель своевременно выкладывает обновления на официальном сайте, а база данных со стационарными комплексами постоянно пополняется. Любители быстро перемещаться между населенными пунктами на трассе отдельно оценят наличие модуля EXD и «Турбо» режима.</b></p>
			</section>
			<section class="related-news">
				<h2 class="slider-title">Похожие новости</h2>
				<div class="news-slider">
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide1.jpg">
								</div>
							</div>
							<div class="post-date">24.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на сайте Лайфхакер
							</div>
							<p class="news-card__text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card news-card_product-new">
							<div class="new-bage">Новинка!</div>
							<div class="news-card__title">
								Super гибрид NEOLINE с сенсорным управлением
							</div>
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide2.png">
								</div>
							</div>
							<div class="button news-card_button">Подробнее</div>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide3.png">
								</div>
							</div>
							<div class="post-date">17.12.2017</div>
							<div class="news-card__title">
								NEOLINE G-Tech X37 в обзоре на Яндекс Маркет
							</div>
							<p class="news-card__text">Качество изображения у Neoline G-Tech X37 замечательное — WDR...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide4.png">
								</div>
							</div>
							<div class="post-date">05.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на портале DigitalMedia
							</div>
							<p class="news-card__text">Если вы собрались в отпуск или на эксурсию на собственном автомобиле...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide1.jpg">
								</div>
							</div>
							<div class="post-date">24.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на сайте Лайфхакер
							</div>
							<p class="news-card__text">Neoline X-COP 4100 настраивается, чтобы водитель всегда был...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card news-card_product-new">
							<div class="new-bage">Новинка!</div>
							<div class="news-card__title">
								Super гибрид NEOLINE с сенсорным управлением
							</div>
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide2.png">
								</div>
							</div>
							<div class="button news-card_button">Подробнее</div>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide3.png">
								</div>
							</div>
							<div class="post-date">17.12.2017</div>
							<div class="news-card__title">
								NEOLINE G-Tech X37 в обзоре на Яндекс Маркет
							</div>
							<p class="news-card__text">Качество изображения у Neoline G-Tech X37 замечательное — WDR...</p>
						</a>
					</div>
					<div class="news-slider__slide">
						<a href="#" class="news-card">
							<div class="news-card__img-wrap">
								<div class="vertical-align-cell">
									<img src="img/samples/slide4.png">
								</div>
							</div>
							<div class="post-date">05.12.2017</div>
							<div class="news-card__title">
								NEOLINE X-COP 4100 на портале DigitalMedia
							</div>
							<p class="news-card__text">Если вы собрались в отпуск или на эксурсию на собственном автомобиле...</p>
						</a>
					</div>
				</div>
			</section>
		</div>
		
		
		
	</main>
{% include "partials/footer.html" %}