{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<a href="#" class="breadcrumbs__elm">
				<span>Оформление заказа</span>
			</a>
			<span class="breadcrumbs__elm">
				Ваш заказ № N3421 успешно оформлен
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="success-order form-border">
				<div class="success-order__content">
					<h1 class="section-title">Ваш заказ № N3421<br>
					успешно оформлен</h1>
					<div class="regular-text">Спасибо за Ваш заказ! Наши менеджеры в течении дня свяжутся с Вами.<br>
					Заказы сделанные в нерабочее время обрабатываются на следующий день.</div>
					
					<a href="#" class="grey-back review-req">
						<div class="review-req__info">
							<div class="review-req__title">
								Нравится наш магазин?
							</div>
							<div class="review-req__text">
								Оставьте отзыв и получите скидку <b>500 ₽!</b>  
							</div>
							<div class="button button_height review-req__button">
								Оставить отзыв
							</div>
                        </div>
                        <div class="yd-discount">
                            <div class="yd-discount__bage">
                                <div class="yd-discount__summ">
                                    <i class="icon icon-rub500"></i>
                                </div>
                            </div>
                            <div class="yd-discount__inner">
                                <i class="icon icon-yd-color"></i>
                            <div class="five-stars"></div>
                            </div>
                        </div>
					</a>
					<div class="hints-text">
                        * Минимальная сумма товаров в корзине для применения скидки - 1500 руб.<br>
                        ** Скидка по промокоду не суммируется с другими скидками, действующими на товары.       
                    </div>
				</div>
				<div class="success-order__block-footer">
					<div class="vertical-align-cell block-footer__text regular-text">
						Остались вопросы? Напишите или позвоните нам<br>
						Тел. 8 800 100-68-57 или mail: <a href="mailto:support@neoline.ru">support@neoline.ru</a>
					</div>
				</div>
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}