{% include "partials/header.html" %}
	
	<main>
		<div class="container">
			<section class="success-order form-border form-border_top-space">
				<div class="success-order__content">
					<h1 class="section-title">Заказ зарегистрирован, но не оплачен</h1>
					<div class="regular-text">Спасибо за Ваш заказ! Наши менеджеры в течении дня свяжутся с Вами.<br>
					Заказы сделанные в нерабочее время обрабатываются на следующий день.</div>
				</div>
				<div class="success-order__block-footer">
					<div class="vertical-align-cell block-footer__text regular-text">
						Остались вопросы? Напишите или позвоните нам<br>
						Тел. 8 800 100-68-57 или mail: <a href="mailto:support@neoline.ru">support@neoline.ru</a>
					</div>
				</div>
			</section>
		</div>
	</main>
{% include "partials/footer.html" %}