{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<a href="#" class="breadcrumbs__elm">
				<span>Гибриды</span>
			</a>
			<span class="breadcrumbs__elm">
				Neoline X-COP R750
			</span>
		</div>
	</nav>
	<main>
		<div class="container product-page">
			<section class="product-top">
				<div class="half-wrap product-top__side product-top__slider-wrap">
					<div class="slider-module">
						<div class="product-bages product-bages_big-card">
							<div class="bage bage_big bage_red">
								<svg class="i-bage-back absolute-center-img">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
								</svg>
								<span class="bage__text">
									Новинка
								</span>
							</div>
							<div class="bage bage_big bage_blue">
								<svg class="i-bage-back absolute-center-img">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
								</svg>
								<span class="bage__text">
									акция
								</span>
							</div>
						</div>
						<div class="product-slider">
							<div class="product-slider__slide">
								<img src="img/samples/prod1.jpg" class="absolute-center-img">
							</div>
							<div class="product-slider__slide">
								<img src="img/samples/prod2.jpg" class="absolute-center-img">
							</div>
							<div class="product-slider__slide">
								<img src="img/samples/prod3.jpg" class="absolute-center-img">
							</div>
							<div class="product-slider__slide">
								<div class="video-item" data-video="rcKRAWKHAfM"></div>
							</div>
						</div>
						<div class="controls-slider">
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod1.jpg" class="absolute-center-img">
								</div>
							</div>
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod2.jpg" class="absolute-center-img">
								</div>
							</div>
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod3.jpg" class="absolute-center-img">
								</div>
							</div>
							<div class="controls-slider__slide">
								<div class="slide-border">
									<div class="video-item video-item_preview-only" data-video="rcKRAWKHAfM"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="half-wrap product-top__side half-wrap__padding">
						<h1 class="section-title product-title">Neoline X-COP R750</h1> 
						<div class="video-item" data-video="rcKRAWKHAfM"></div>
						<p class="product-description">Neoline X-COP R750 – уникальный гибрид с беспроводным подключением внешнего радарного блока, с дальнобойным сверхчувствительным модулем EXD и уникальным фильтром Z сигнатур. Оно легко устанавливается в автомобиле и обеспечит водителя необходимой информацией.</p>
						<div class="half-wrap">
							<div class="price">
								<div class="price__old">13 590 руб.</div>
								12 990 руб.
							</div>
							<label class="checkbox-label sort-section__filter-check">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
						</div>
						<div class="half-wrap half-wrap__padding">
							<a href="#" class="button button_white button_height">Купить</a>
						</div>
					</div>
			</section>
			<section class="product-advantages">
				<div class="product-advantages__advantage">
					<div class="advantage__icon">
						<svg class="i-advantage absolute-center-img">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/adv-icons.svg#1"></use>
						</svg>
					</div>
					<div class="advantage__text">
						Описание
						иконки
					</div>
				</div>
				<div class="product-advantages__advantage">
					<div class="advantage__icon">
						<svg class="i-advantage absolute-center-img">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/adv-icons.svg#2"></use>
						</svg>
					</div>
					<div class="advantage__text">
						Более длинное описание иконки
					</div>
				</div>
				<div class="product-advantages__advantage">
					<div class="advantage__icon">
						<svg class="i-advantage absolute-center-img">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/adv-icons.svg#3"></use>
						</svg>
					</div>
					<div class="advantage__text">
						Описание
						иконки
					</div>
				</div>
				<div class="product-advantages__advantage">
					<div class="advantage__icon">
						<svg class="i-advantage absolute-center-img">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/adv-icons.svg#4"></use>
						</svg>
					</div>
					<div class="advantage__text">
						Более длинное описание иконки
					</div>
				</div>
				<div class="product-advantages__advantage">
					<div class="advantage__icon">
						<svg class="i-advantage absolute-center-img">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/adv-icons.svg#5"></use>
						</svg>
					</div>
					<div class="advantage__text">
						Описание
						иконки
					</div>
				</div>
				<div class="product-advantages__advantage">
					<div class="advantage__icon">
						<svg class="i-advantage absolute-center-img">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/adv-icons.svg#6"></use>
						</svg>
					</div>
					<div class="advantage__text">
						Более длинное описание иконки
					</div>
				</div>
			</section>
			<section class="product-characteristics">

				<div class="table-overflow">
					<table class="characteristics-table">
						<tr>
							<td>Гарантия</td>
							<td>1 год</td>
						</tr>
						<tr>
							<td>Страна</td>
							<td>Корея</td>
						</tr>
						<tr>
							<td>Тип матрицы</td>
							<td>CMOS</td>
						</tr>
						<tr>
							<td>Качество видеосъемки</td>
							<td>Full HD (1920x1080 Пикс)</td>
						</tr>
						<tr>
							<td>Макс. частота кадров</td>
							<td>30 кадр/сек</td>
						</tr>
						<tr>
							<td>Угол обзора (основная камера)</td>
							<td>135*</td>
						</tr>
						<tr>
							<td>Макс. разреш. фотосъемки</td>
							<td>2560x1920 Пикс</td>
						</tr>
						<tr>
							<td>Поддержка GPS</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Запись координат съемки</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Скрытое значение</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Скрытое значение</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Скрытое значение</td>
							<td>Да</td>
						</tr>
					</table>
				</div>
				<!-- Кнопка будет показана в том случае если таблица выше чем 450пх, то
				есть в ней слишком много строк и мы ее скрывам -->
				<div class="button button_white js-wrap-table">
					<span class="state-text">Показать все</span>
					<span class="state-text">Скрыть</span>
				</div>
			</section>
			<section class="recommended">
				<h2 class="section-title recommended__title">Рекомендуем аксессуары</h2>
				<div class="prod-cards">
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide1.jpg">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide2.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="product-bages">
								<div class="bage bage_red">
									<svg class="i-bage-back absolute-center-img">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#bage-back"></use>
									</svg>
									<span class="bage__text">
										Новинка
									</span>
								</div>
							</div>
							<div class="card-product__img">
								<img src="img/samples/slide3.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">14 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
					<div class="quad-wrap">
						<a href="#" class="card-product">
							<div class="card-product__img">
								<img src="img/samples/slide4.png">
							</div>
							<div class="card-product__name">
								Видеорегистратор
								Neoline X-COP 9100
							</div>
							<div class="card-product__price">16 990 руб.</div>
							<label class="checkbox-label card-product__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">к сравнению</span>
							</label>
							<button class="button button_white">Купить</button>
						</a>
					</div>
				</div>
			</section>
		</div>
		
	</main>
{% include "partials/footer.html" %}