{% include "partials/header-new.html" %}

	<!-- почему-то в дизайне в мобильной версии хлебных крошек нет, так что тут висит класс модификатор только для этой страницы -->
	<nav class="breadcrumbs breadcrumbs_no-mobile">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<a href="#" class="breadcrumbs__elm">
				<span>Гибриды</span>
			</a>
			<span class="breadcrumbs__elm">
				Neoline X-COP R750
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="product-page">
				<div class="product-page__title-block">
					<h1 class="product-title">Кабель питания Neoline X-COP Power Cord Hybrid для видеорегистраторов с радаром</h1>
					<div class="info-line">
						<div class="info-line__rate">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star fa-star_empty"></i>
							<i class="fa fa-star fa-star_empty"></i>
							<span class="rate__text">10 отзывов</span>
						</div>
						<div class="line-bage line-bage_blue">Скидка до 20% на установку
							<div class="line-bage__info">
								Скидка до 20% на установку
								<a href="#" class="text-link">подробнее</a>
							</div>
						</div>
						<div class="line-bage line-bage_red">НОВИНКА</div>
					</div>
				</div>
				
				<div class="left-side">
					<div class="slider-module">
						<div class="slider-module__main-img">
							<div class="slider-module__video-container">
								<div class="video-item" data-video="rcKRAWKHAfM"></div>
							</div>
						
							<div class="product-slider slider-new">
								<div class="product-slider__slide">
									<img src="img/samples/prod1.jpg">
								</div>
								<div class="product-slider__slide">
									<img src="img/samples/prod2.jpg">
								</div>
								<div class="product-slider__slide">
									<img src="img/samples/prod3.jpg">
								</div>
								<div class="product-slider__slide">
									<img src="img/samples/prod1.jpg">
								</div>
								<div class="product-slider__slide">
									<img src="img/samples/prod2.jpg">
								</div>
								<div class="product-slider__slide">
									<img src="img/samples/prod3.jpg">
								</div>
							</div>
						</div>
						
						<div class="controls-slider slider-new">
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod1.jpg">
								</div>
							</div>
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod2.jpg">
								</div>
							</div>
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod3.jpg">
								</div>
							</div>
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod1.jpg">
								</div>
							</div>
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod2.jpg">
								</div>
							</div>
							<div class="controls-slider__slide">
								<div class="slide-border">
									<img src="img/samples/prod3.jpg">
								</div>
							</div>
						</div>
						
						<div class="slider-module__video-button">
							<div class="video-item video-item_preview-only " data-video="rcKRAWKHAfM"></div>
						</div>
						
					</div>
				</div>
				<div class="right-side">
					<div class="product__main-info">
						<div class="product-page__buy-block">
							<div class="price-num">
								<span class="price-num__current">
									<span class="preorder-text">
										Скоро в продаже
									</span>
								</span>
								<!-- <span class="price-num__old">30 000 Р</span> -->
							</div>
							<button class="button button_full-width button_height60" data-popup="popup_preorder">
								<i class="fas fa-envelope fa-shopping-basket_in-button"></i>
								уведомить о поступлении
							</button>
							<label class="checkbox-label product-page__add-compare">
								<input  type="checkbox" class="checkbox-label__checkbox-hidden" name="">
								<div class="checkbox-label__checkbox-visual">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								<span class="checkbox-label__text">Добавить к сравнению</span>
							</label>
						</div>
						<div class="product-page__delivery-info preloader">
							<div class="delivery-info__row">
								
								<div class="modal-city-pick">
									<div class="modal-city-pick__value fa">
										<span class="js-city-place">Москва</span>
									</div>
									<div class="modal-city-pick__drop-menu">
										
										<div class="city-search">
											<i class="fas fa-search"></i>
											<input type="text" name="" class="city-search__input" placeholder="Поиск">
										</div>
										<div class="modal-city-pick__suggest">
											<div class="modal-city-pick__suggest-item">
												Москва
											</div>
											<div class="modal-city-pick__suggest-item">
												Екатеринбург
											</div>
											<div class="modal-city-pick__suggest-item">
												Абакан
											</div>
										</div>
										<ul class="city-list city-list_block">
											<li>Москва</li>
											<li>Санкт-Петербург</li>
											<li>Екатеринбург</li>
											<li>Новосибирск</li>
											<li>Ростов-на-Дону</li>
											<li>Абакан</li>
											<li>Азов</li>
											<li>Александров</li>
											<li>Алексин</li>
											<li>Альметьевск</li>
											<li>Анапа</li>
											<li>Ангарск</li>
											<li>Анжеро-Судженск</li>
											<li>Апатиты</li>
											<li>Арзамас</li>
											<li>Армавир</li>
											<li>Арсеньев</li>
											<li>Архангельск</li>
											<li>Асбест</li>
											<li>Астрахань</li>
											<li>Москва</li>
											<li>Санкт-Петербург</li>
											<li>Москва</li>
											<li>Санкт-Петербург</li>
											<li>Екатеринбург</li>
											<li>Новосибирск</li>
											<li>Ростов-на-Дону</li>
											<li>Абакан</li>
											<li>Азов</li>
											<li>Александров</li>
											<li>Алексин</li>
											<li>Альметьевск</li>
											<li>Анапа</li>
											<li>Ангарск</li>
											<li>Анжеро-Судженск</li>
											<li>Апатиты</li>
											<li>Арзамас</li>
											<li>Армавир</li>
											<li>Арсеньев</li>
											<li>Архангельск</li>
											<li>Асбест</li>
											<li>Астрахань</li>
											<li>Москва</li>
											<li>Санкт-Петербург</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="delivery-info__row">
								Доставка: <b>с 25.01, 310 Р</b>
							</div>
							<div class="delivery-info__row">
								Самовывоз: <b>завтра, бесплатно</b>
							</div>
						</div>
					</div>
					
				</div>
				<div class="left-side">
					<div class="tabs-data js-tab-module">
						<div class="tabs-data__controls js-tab-controls">
							<div class="tabs-data__button js-tab-switch">Описание</div>
							<div class="tabs-data__button js-tab-switch">Характеристики</div>
							<div class="tabs-data__button js-tab-switch">Отзывы / вопросы (5)</div>
						</div>
						<div class="tabs-data__container js-tab-container">
							<div class="tabs-data__tab js-tab-item">
								<div class="text-overflow">
									<div class="text-overflow__wrap">
										<div class="editable-text">
											<p>Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа соответствующий условий активизации. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
											<h2>Только качественное изображение</h2>
											<p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки форм развития. Товарищи! консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. </p>
											<!-- <h2>Беспроводные коммуникации</h2>
											<p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки форм развития. Товарищи! консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. </p>
											<h2>Функции безопасности</h2>
											<p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки форм развития. Товарищи! консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. </p> -->
										</div>
									</div>
									<div class="text-overflow__button js-unwrap-overflow">
										Читать полностью
									</div>
								</div>
								
								
							</div>
							<div class="tabs-data__tab js-tab-item">
								<div class="text-overflow">
									<div class="text-overflow__wrap">
										<div class="props-table">
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Угол обзора</span>
												</div>
												<div class="props-table__cell">137°</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Дисплей</span>
												</div>
												<div class="props-table__cell">2,8"</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Процессор</span>
												</div>
												<div class="props-table__cell">Ambarella A7</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Матрица</span>
												</div>
												<div class="props-table__cell">SONY EXMOR IMX 322 LQJ</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Разрешение</span>
												</div>
												<div class="props-table__cell">1920х1080 (30 к/с), 1280х720 (30 к/с)
												</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>GPS</span>
												</div>
												<div class="props-table__cell">Есть</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Сенсорный дисплей	</span>
												</div>
												<div class="props-table__cell">Есть</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>G-сенсор</span>
												</div>
												<div class="props-table__cell">Есть</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Циклическая запись</span>
												</div>
												<div class="props-table__cell">Есть</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Дисплей</span>
												</div>
												<div class="props-table__cell">Есть</div>
											</div>
											<div class="props-table__row">
												<div class="props-table__cell">
													<span>Поддержка карт памяти</span>
												</div>
												<div class="props-table__cell">MicroSD (2Гб -32 Гб) SDHC Class 10,
												MicroSD (64 Гб) SDXC Class 10
												</div>
											</div>
											
										</div>
									</div>
									<div class="text-overflow__button js-unwrap-overflow">
										Читать полностью
									</div>
								</div>
								
								
								
							</div>
							<div class="tabs-data__tab js-tab-item">
								<div class="reviews-module js-tab-module">
									<div class="reviews-module__controls js-tab-controls">
										<div class="button button_white reviews-module__button js-tab-switch">Отзывы (3)</div>
										<div class="button button_white reviews-module__button js-tab-switch">Вопросы (2)</div>
									</div>
									<div class="reviews-module__container js-tab-container">
										<div class="reviews-module__tab js-tab-item">
											
											<div class="review-item">
												<div class="review-item__title-row">
													<div class="review-item__name">Иван Иванов</div>
													<div class="review-item__rating">
														<span>Оценка</span>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small fa-star_empty"></i>
														<i class="fa fa-star fa-star_small fa-star_empty"></i>
													</div>
													<div class="review-item__date">18.01.2017</div>
												</div>
												<div class="review-item__content">
													Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа соответствующий условий активизации. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
												</div>
											</div>
											<div class="review-item">
												<div class="review-item__title-row">
													<div class="review-item__name">Иван Иванов</div>
													<div class="review-item__rating">
														<span>Оценка</span>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small fa-star_empty"></i>
														<i class="fa fa-star fa-star_small fa-star_empty"></i>
													</div>
													<div class="review-item__date">18.01.2017</div>
												</div>
												<div class="review-item__content">
													Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
												</div>
											</div>
											<div class="review-item">
												<div class="review-item__title-row">
													<div class="review-item__name">Иван Иванов</div>
													<div class="review-item__rating">
														<span>Оценка</span>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small"></i>
														<i class="fa fa-star fa-star_small fa-star_empty"></i>
														<i class="fa fa-star fa-star_small fa-star_empty"></i>
													</div>
													<div class="review-item__date">18.01.2017</div>
												</div>
												<div class="review-item__content">
													Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
												</div>
											</div>
											<form class="comment-form" id="test">
												<div class="comment-form__title">Написать отзыв</div>
												<div class="comment-form__require-info">
													* — поля обязательные для заполнения.
												</div>
												<div class="comment-form__line">
													<div class="half-wrap half-wrap_padding">
														<input type="text" name="" class="regular-input" placeholder="Ваше имя *">
													</div>
													<div class="half-wrap half-wrap_padding">
														<input type="text" name="" class="regular-input" placeholder="E-mail">
													</div>
												</div>
												<div class="comment-form__rate-line">
													<span class="rate-line__title">Оценка *</span>
													<!-- модуль оценки сделанн полностью на html + css без скриптов
													чекаются инпуты с нужной оценкой, получается что в сериалайзе формы
													будет валью зачеканного инпута от 1 до 5 что соответствует поставленной оценке
													либо можно спарсить через js - $('.rate-module__rating-input:checked').val() -->
													<div class="rate-module">
														<label for="rating-input-1" class="rate-module__rating-star-lb">
													    	<i class="fa fa-star"></i>
													    </label>
														<input type="radio" class="rate-module__rating-input"
													           id="rating-input-1" name="rating-input" value="1">
													    <label for="rating-input-2" class="rate-module__rating-star-lb">
													    	<i class="fa fa-star"></i>
													    </label>
													    <input type="radio" class="rate-module__rating-input"
													           id="rating-input-2" name="rating-input" value="2">
													   	 <label for="rating-input-3" class="rate-module__rating-star-lb">
													    	<i class="fa fa-star"></i>
													    </label>
													    <input type="radio" class="rate-module__rating-input"
													           id="rating-input-3" name="rating-input" value="3">
													    <label for="rating-input-4" class="rate-module__rating-star-lb">
													    	<i class="fa fa-star"></i>
													    </label>
													    <input type="radio" class="rate-module__rating-input"
													           id="rating-input-4" name="rating-input" value="4">
													   	<label for="rating-input-5" class="rate-module__rating-star-lb">
													    	<i class="fa fa-star"></i>
													    </label>
													    <input type="radio" class="rate-module__rating-input"
													           id="rating-input-5" name="rating-input" value="5">
													    
														
													</div>
												</div>
												<textarea class="regular-input comment-form__textarea" placeholder="Отзыв *"></textarea>
												<button class="button button_height comment-form__button">Отправить</button>
											</form>
										</div>
										<div class="reviews-module__tab js-tab-item">
											<div class="review-item">
												<div class="review-item__title-row">
													<div class="review-item__name">Иван Иванов</div>
													
													<div class="review-item__date">18.01.2017</div>
												</div>
												<div class="review-item__content">
													Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа соответствующих условий активизации?
												</div>
												<div class="review-item__answer">
													<div class="review-item__title-row">
														<div class="review-item__answer-mark">Ответ</div>
														<div class="review-item__name">Александр Разумов</div>
														<div class="review-item__date">18.01.2017</div>
													</div>
													<div class="review-item__content">
														Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа соответствующих.
													</div>
												</div>
											</div>
											<div class="review-item">
												<div class="review-item__title-row">
													<div class="review-item__name">Иван Иванов</div>
													
													<div class="review-item__date">18.01.2017</div>
												</div>
												<div class="review-item__content">
													Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа соответствующих условий активизации?
												</div>
												<div class="review-item__answer">
													<div class="review-item__title-row">
														<div class="review-item__answer-mark">Ответ</div>
														<div class="review-item__name">Александр Разумов</div>
														<div class="review-item__date">18.01.2017</div>
													</div>
													<div class="review-item__content">
														Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа соответствующих.
													</div>
												</div>
											</div>
											
											<form class="comment-form">
												<div class="comment-form__title">Задать вопрос</div>
												<div class="comment-form__require-info">
													* — поля обязательные для заполнения.
												</div>
												<div class="comment-form__line">
													<div class="half-wrap half-wrap_padding">
														<input type="text" name="" class="regular-input" placeholder="Ваше имя *">
													</div>
													<div class="half-wrap half-wrap_padding">
														<input type="text" name="" class="regular-input" placeholder="E-mail">
													</div>
												</div>
												<textarea class="regular-input comment-form__textarea" placeholder="Отзыв *"></textarea>
												<button class="button button_height comment-form__button">Отправить</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="right-side side-slider">
					<h2 class="md-title">С этим товаром покупают</h2>
					<div class="related-slider slider-new">
						<div class="related-slider__slide">
							<a href="#" class="card-product card-product_mini card-product_in-slider">
	                            
	                            <div class="card-product__text">
									<div class="card-product__img">
		                                <img src="img/samples/slide3.png">
		                            </div>
		                            <div class="card-product__name">
		                                Кабель питания Neoline X-COP Power Cord Hybrid для видеорегистров с радаром
		                            </div>
		                            <div class="card-product__price">14 990 руб.</div>
								</div>
	                            
	                            <button class="button button_wide">Купить</button>
	                        </a>
						</div>
						<div class="related-slider__slide">
							<a href="#" class="card-product card-product_mini card-product_in-slider">
								<div class="card-product__text">
									<div class="card-product__img">
		                                <img src="img/samples/slide3.png">
		                            </div>
		                            <div class="card-product__name">
		                                Видеорегистратор Neoline X-COP 9100
		                            </div>
		                            <div class="card-product__price">14 990 руб.</div>
								</div>
	                            
	                            <button class="button button_wide">Купить</button>
	                        </a>
						</div>
						<!-- <div class="related-slider__slide">
							<a href="#" class="card-product card-product_mini card-product_in-slider">
	                            <div class="card-product__text">
									 <div class="card-product__img">
		                                <img src="img/samples/slide3.png">
		                            </div>
		                            <div class="card-product__name">
		                                Видеорегистратор Neoline X-COP 9100
		                            </div>
		                            <div class="card-product__price">14 990 руб.</div>
								</div>
	                            
	                            <button class="button button_wide">Купить</button>
	                        </a>
						</div> -->
						<!-- <div class="related-slider__slide">
							<a href="#" class="card-product card-product_mini card-product_in-slider">
								<div class="card-product__text">
									<div class="card-product__img">
		                                <img src="img/samples/slide3.png">
		                            </div>
		                            <div class="card-product__name">
		                                Видеорегистратор Neoline X-COP 9100
		                            </div>
		                            <div class="card-product__price">14 990 руб.</div>
								</div>
	                            
	                            <button class="button button_wide">Купить</button>
	                        </a>
						</div>
						<div class="related-slider__slide">
							<a href="#" class="card-product card-product_mini card-product_in-slider">
	                            <div class="card-product__text">
									 <div class="card-product__img">
		                                <img src="img/samples/slide3.png">
		                            </div>
		                            <div class="card-product__name">
		                                Видеорегистратор Neoline X-COP 9100
		                            </div>
		                            <div class="card-product__price">14 990 руб.</div>
								</div>
	                            
	                            <button class="button button_wide">Купить</button>
	                        </a>
						</div> -->
					</div>
				</div>
			</section>
			{% include "partials/related-slider.html" with {
					title: "Вас может заинтересовать"
				}
			%}
			
		</div>
		
	</main>
{% include "partials/footer-new.html" %}