{% include "partials/header-new.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Вопросы и ответы
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="return-page">
				<h1>Возврат</h1>
				<p>Согласно ст. 26.1 Закона «О защите прав потребителей», вы в праве вернуть товар, приобретенный в онлайн-магазине, в течение 7 дней после получения товара.</p>
				<div class="return-page__box">
					<div class="return-page__title">
						<h2>Инструкция</h2>
					</div>
					<p>Согласно ст. 26.1 Закона «О защите прав потребителей», вы в праве вернуть товар, приобретенный в онлайн-магазине, в течение 7 дней после получения товара.</p>
					<p><b>Чтобы оформить возврат:</b></p>
					<ol>
						<li>
							Вы должны связаться с нами по телефону +7 (495) 369-29-30 или по e-mail:
							<a href="mailto:shop@neoline.ru">shop@neoline.ru</a> 
							
						</li>
						<li>
							Передать товар и все документы курьеру, когда он приедет.
						</li>
					</ol>
					<p><b>Чтобы оформить возврат:</b></p>
					<ol>
						<li>Товар, сохранивший потребительские свойства.</li>
						<li>Оригинальную упаковку.</li>
						<li>Бланк заказа или кассовый чек.</li>
						<li>Копию паспорта.</li>
						<li>Заполненное заявление на возврат.</li>
						<li>Заполненное заявление в транспортную компанию.</li>
					</ol>
					<p>Деньги будут перечислены после того, как заказ придет на склад транспортной компании. Деньги будут возвращены за вычетом стоимости доставки и возврата.</p>
					<a href="#" class="button button_blue button_small">
						Начать заново
					</a>
				</div>
			</section>			
		</div>
	</main>
{% include "partials/footer-new.html" %}