{% include "partials/header.html" %}
	<nav class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__elm">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__elm">
				Вопросы и ответы
			</span>
		</div>
	</nav>
	<main>
		<div class="container">
			<section class="news-box">
				<h1>Доставка и оплата</h1>
				<p>В зависимости от Вашего региона Вы можете выбрать: </p>
				<h3>Заголовок h3</h3>
				<h4>Заголовок h4</h4>
				<ul>
					<li>Доставка курьерской службой СПСР-Экспресс (бесплатная доставка при заказе от 5 000 &#8381;)</li>
					<li>Быструю доставку курьерской службой СПСР-Экспресс (всегда платная доставка) </li>
					<li>Доставка в пункты выдачи заказов (клиентский офис) СПСР-Экспресс (бесплатная доставка при заказе от 5 000 &#8381;)</li>
					<li>Доставку в Постамат PickPoint (бесплатная доставка при заказе от 5 000 &#8381;)</li>
				</ul>
			</section>
			
		</div>
	</main>
{% include "partials/footer.html" %}