.button-gradient {
  border-radius: 100px;
  position: relative;
  display: inline-block;
  color: #9d9d9d;
  padding: 5px 20px;
  font-size: 13px;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid #9d9d9d; }
  .button-gradient:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #554ae8, #de92c2);
    background-size: 200% 100%;
    animation: poster-button 5s ease infinite paused;
    z-index: -2;
    opacity: 0; }

@keyframes poster-button {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .button-gradient:hover:before {
    animation-play-state: running;
    opacity: 1; }
  .button-gradient:hover {
    border-color: transparent;
    color: #ffffff; }
