html {
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  color: #383838; }

@font-face {
  font-family: 'proxima';
  src: url(../../../fonts/ProximaNova-Regular.otf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'proxima';
  src: url(../../../fonts/ProximaNova-Medium.otf);
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'proxima';
  src: url(../../../fonts/ProximaNova-Bold.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'intro-bold';
  src: url(../../../fonts/Intro-Black-Caps.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'intro-reg';
  src: url(../../../fonts/IntroHeadB-Base.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'intro-mid';
  src: url(../../../fonts/IntroHeadH-Base.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'intro';
  src: url(../../../fonts/Intro.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'bad';
  src: url(../../../fonts/bad.ttf);
  font-weight: 300;
  font-style: normal; }

* {
  font-display: auto;
  font-family: 'proxima', sans-serif !important;
  box-sizing: border-box; }

.wrapper *,
.wrapper *:before,
.wrapper *:after {
  transition: all 0.1s ease-in; }

.wrapper *::-webkit-input-placeholder {
  transition: all 0.1s ease-in; }

.wrapper *::-moz-placeholder {
  transition: all 0.1s ease-in; }

.wrapper *:-moz-placeholder {
  transition: all 0.1s ease-in; }

.wrapper *:-ms-input-placeholder {
  transition: all 0.1s ease-in; }

.touch-device * {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer; }

button, input, textarea {
  border: none;
  background: none; }

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none; }

.scroll-top {
  position: fixed;
  width: 56px;
  height: 56px;
  background: url(../../../img/scroll-top.webp);
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  cursor: pointer;
  bottom: 50px;
  opacity: 0;
  left: 50%;
  transform: translateX(550px);
  visibility: hidden; }
  .scroll-top.active {
    visibility: visible;
    opacity: 1; }

.orange {
  color: #f47137; }
