.new-main-footer {
  height: 500px;
  width: 100%;
  background: #0F4C81;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1023px) {
    .new-main-footer {
      height: 300px; } }
  .new-main-footer__logo {
    width: 218px;
    height: 56px;
    background: url(../../../img/new-main/logo.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
