.button {
  border: 1px solid #000;
  background: #000;
  display: inline-block;
  padding: 15px 55px;
  border-radius: 1px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-align: center; }
  .button:hover {
    border: 1px solid #2cb387;
    background: #2cb387; }
  .button--green {
    border: 1px solid #2cb387;
    background: #2cb387; }
    .button--green:hover {
      background: #262626; }
