@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

@font-face {
  font-family: 'gil';
  font-display: swap;
  src: url(../../../fonts/Gilroy-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gil';
  font-display: swap;
  src: url(../../../fonts/Gilroy-SemiBold.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gil';
  font-display: swap;
  src: url(../../../fonts/Gilroy-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'gil', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

select {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

button, input, textarea {
  border: none;
  background: none;
}

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none;
}