.article-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px; }
  .article-author__date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 5px;
    margin-right: 5px;
    opacity: .3;
    font-size: 12px; }
    .article-author__date:after {
      content: '';
      display: block;
      width: 1px;
      height: 14px;
      background: #000000;
      margin-left: 10px;
      margin-top: 3px; }
  .article-author__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
  .article-author__item-photo {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-radius: 50%; }
  .article-author__item-text {
    opacity: .3;
    font-size: 12px; }
