.case-create-inputs {
  background: rgba(26, 28, 30, 0.7);
  margin: 20px -80px;
  padding: 20px 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  @media (max-width: 1365px) {
    .case-create-inputs {
      margin: 20px -60px;
      padding: 20px 60px; } }
  @media (max-width: 1023px) {
    .case-create-inputs {
      margin: 20px -10px;
      padding: 20px 10px; } }
  @media (max-width: 767px) {
    .case-create-inputs {
      flex-wrap: wrap; } }
  .case-create-inputs__block {
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 40%; }
    @media (max-width: 1023px) {
      .case-create-inputs__block {
        margin-right: 10px; } }
    @media (max-width: 767px) {
      .case-create-inputs__block {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px; } }
  .case-create-inputs__block-title {
    background: #3d4145;
    color: #fff;
    width: 190px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700; }
  .case-create-inputs__item {
    background: #212325;
    color: #fff;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px; }
  .case-create-inputs__button {
    height: 40px;
    background: linear-gradient(to bottom, #81bb2c, #6fa91a);
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 35px;
    margin-left: 10px;
    cursor: pointer; }
    .case-create-inputs__button:hover {
      filter: brightness(1.5) saturate(2); }
    @media (max-width: 1599px) {
      .case-create-inputs__button {
        padding: 0 10px;
        text-align: center; } }
    @media (max-width: 767px) {
      .case-create-inputs__button {
        height: 30px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto; } }
