.modal * {
  transition: none !important; }

.modal__background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  opacity: 0;
  visibility: hidden; }
  .modal__background.active {
    opacity: 1;
    visibility: visible; }

.modal__block {
  position: absolute;
  height: auto;
  top: 0;
  width: 730px;
  left: calc(50% - 390px);
  z-index: 10001;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden; }
  @media (max-width: 1279px) {
    .modal__block {
      width: 90vw;
      left: calc(50% - 45vw); } }
  .modal__block.active {
    opacity: 1;
    visibility: visible; }

.modal__close {
  position: absolute;
  top: 0;
  right: -30px;
  width: 20px;
  height: 20px;
  mask: url(../../../img/close.svg);
  -webkit-mask: url(../../../img/close.svg);
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-position: center center !important;
  -webkit-mask-position: center center !important;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
  background: #ffffff;
  cursor: pointer; }
  .modal__close:hover {
    background: #c99700; }
  @media (max-width: 1279px) {
    .modal__close {
      top: -30px;
      right: 0; } }

.modal__content {
  background-color: #ffffff;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  @media (max-width: 767px) {
    .modal__content {
      padding: 15px; } }

.modal__content-title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
  text-align: left; }
  .modal__content-title--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  @media (max-width: 1279px) {
    .modal__content-title {
      font-size: 30px;
      line-height: 33px;
      margin-bottom: 20px; } }

.modal__content-subtitle {
  font-size: 36px;
  line-height: 43px;
  color: #C99700;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: left; }
  @media (max-width: 1279px) {
    .modal__content-subtitle {
      font-size: 24px;
      line-height: 30px; } }

.modal__content-text {
  font-display: auto;
  font-family: "proxima", sans-serif !important;
  color: #888;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: left;
  width: 80%; }
  .modal__content-text--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

.modal__list {
  margin-bottom: 30px; }
  @media (max-width: 1279px) {
    .modal__list {
      margin-bottom: 20px; } }

.modal__content-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: flex-end;
  width: 100%; }
  @media (max-width: 1279px) {
    .modal__content-form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; } }

@media (max-width: 1279px) {
  .modal__content-form-inputs {
    width: 100%; } }

.modal__content-form-input {
  margin-bottom: 15px;
  position: relative;
  width: 350px; }
  @media (max-width: 1279px) {
    .modal__content-form-input {
      width: 100%; } }

.modal__content-form-input-inner {
  width: 100%;
  background: #ffffff;
  font-display: auto;
  font-family: "proxima", sans-serif !important;
  height: 43px;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #888; }

.modal__content-form-button {
  margin-bottom: 15px;
  margin-left: 30px; }
  @media (max-width: 1279px) {
    .modal__content-form-button {
      margin-left: 0; } }

.modal__collapse {
  height: 200px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px; }
  .modal__collapse:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0)); }
  .modal__collapse.active {
    height: auto; }
  .modal__collapse.active:after {
    display: none; }
  @media (max-width: 1279px) {
    .modal__collapse {
      height: 100px; } }
