.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 16px 0;
  z-index: 10;
  transition: all .1s linear, padding 0s !important;
  height: 72px; }
  .header--authorized {
    padding: 25px 0;
    height: 90px;
    background: #ffffff; }
  .header--not-authorized {
    background: #1d519d; }
  .header.scroll {
    transform: translateY(0); }
  .header.hidden {
    transform: translateY(-100%); }
  .header__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    margin-right: auto; }
  .header__login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .header__login-icon {
    width: 40px;
    height: 40px;
    background: #3a67a9;
    position: relative;
    border-radius: 50%; }
    .header__login-icon:after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      background: url(../../../img/icons/user.svg);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
  .header__login-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px; }
    @media (max-width: 1279px) {
      .header__login-text {
        display: none; } }
  .header__interface-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-left: 25px; }
    @media (max-width: 1279px) {
      .header__interface-settings {
        margin-left: 15px; }
        .header--authorized .header__interface-settings {
          margin-left: auto; } }
    .header__interface-settings:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      width: 1px;
      height: 24px;
      background: #a4b9d7;
      transform: translateY(-50%); }
      @media (max-width: 1279px) {
        .header--authorized .header__interface-settings:after {
          display: none; } }
  .header__interface-settings-item {
    margin-left: 30px; }
    @media (max-width: 1279px) {
      .header__interface-settings-item {
        margin-left: 15px; } }
  .header__switch {
    margin-right: auto; }
    @media (max-width: 1279px) {
      .header__switch--desktop {
        display: none; } }
  @media (max-width: 1279px) {
    .header__count--desktop {
      display: none; } }
  .header__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-left: 25px;
    padding-left: 30px; }
    @media (max-width: 1279px) {
      .header__profile {
        margin-left: 15px;
        order: 10; } }
    .header__profile:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      width: 1px;
      height: 24px;
      background: #a4b9d7;
      transform: translateY(-50%); }
      @media (max-width: 1279px) {
        .header__profile:after {
          display: none; } }
  .header__profile-about {
    margin-right: 10px; }
    @media (max-width: 1279px) {
      .header__profile-about--desktop {
        display: none; } }
  .header__profile-about-name {
    width: 128px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    color: rgba(29, 30, 41, 0.5); }
  .header__profile-about-id {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: #1d1e29; }
  .header__profile-menu-button {
    width: 40px;
    height: 40px;
    background-color: rgba(29, 81, 157, 0.08);
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .header__profile-menu-button:after {
      content: '';
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      background: #5dbafd;
      mask: url(../../../img/icons/arrow.svg);
      -webkit-mask: url(../../../img/icons/arrow.svg);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important;
      background-position: center right !important;
      content: '';
      position: absolute;
      display: block;
      top: 8px;
      left: 100%;
      transform: scaleY(-1); }
      @media (max-width: 1279px) {
        .header__profile-menu-button:after {
          display: none; } }
    .header__profile-menu-button.active:after {
      transform: scaleY(1); }
    .header.active .header__profile-menu-button:after {
      transform: scaleY(1); }
  .header__profile-menu {
    right: 0;
    position: absolute;
    top: calc(100% + 9px);
    width: 207px;
    padding: 22px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 rgba(189, 204, 223, 0.52);
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top; }
    .header__profile-menu.active {
      opacity: 1;
      visibility: visible;
      transform: scaleY(1); }
  .header__profile-menu-link {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    color: #5dbafd;
    cursor: pointer; }
  .header__profile-menu-logout {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #1d1e29;
    width: fit-content;
    position: relative;
    padding-right: 35px; }
    .header__profile-menu-logout:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background: #1d1e29;
      mask: url(../../../img/icons/exit.svg);
      -webkit-mask: url(../../../img/icons/exit.svg);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
