.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px; }
  .breadcrumbs__link {
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    margin-right: 5px; }
    .breadcrumbs__link:after {
      content: '>';
      margin: 0 10px;
      color: #32b58b; }
    .breadcrumbs__link:hover {
      color: #2cb387; }
  .breadcrumbs__current {
    font-size: 12px;
    font-weight: 300; }
