.main-offers {
  background-color: rgba(29, 81, 157, 0.05);
  padding-top: 50px;
  padding-bottom: 45px; }
  .main-offers__title {
    margin-bottom: 50px; }
    @media (max-width: 1279px) {
      .main-offers__title {
        margin-bottom: 30px; } }
  .main-offers__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px; }
    @media (max-width: 1279px) {
      .main-offers__block {
        grid-template-columns: 1fr; } }
  .main-offers__item {
    margin-bottom: 15px;
    background: #ffffff;
    padding: 24px;
    display: grid;
    grid-template-columns: 128px 1fr;
    grid-gap: 25px;
    border-radius: 4px; }
    @media (max-width: 1279px) {
      .main-offers__item {
        grid-template-columns: 1fr;
        grid-gap: 10px; } }
  .main-offers__item-img-block {
    width: 128px;
    height: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1279px) {
      .main-offers__item-img-block {
        width: 60px;
        height: 60px; } }
  .main-offers__item-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    object-fit: contain; }
  .main-offers__item-list-title {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #222332;
    margin-bottom: 10px; }
  .main-offers__item-list-items {
    margin-bottom: 26px; }
  .main-offers__item-list-item {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #5dbafd;
    margin-bottom: 8px; }
    .main-offers__item-list-item:hover {
      text-decoration: underline; }
  .main-offers__item-list-item-count {
    color: rgba(34, 35, 50, 0.3);
    margin-left: 10px;
    font-size: 13px;
    line-height: 20px; }
  .main-offers__item-list-link {
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5dbafd;
    border: 1px solid #5dbafd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 26px;
    cursor: pointer;
    border-radius: 4px; }
    .main-offers__item-list-link:hover {
      background: #5dbafd;
      color: #ffffff; }
