@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.section-5 {
  height: 100%;
  width: 310px;
  position: relative;

  @media #{$tablet-big-screen} {
    display: none;
  }
}