.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 60px;
  border-radius: 3px;
  background: #EA5E2B;
  width: 210px;
  cursor: pointer;
  color: #ffffff;
  transform: scale(1);
  transition: scale .3s ease-in-out; }
  .button:hover {
    transform: scale(1.03);
    transition: scale .3s ease-in-out; }
