.top-logos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 130px;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1279px) {
    .top-logos {
      height: 100px; } }
  @media (max-width: 1023px) {
    .top-logos {
      height: auto;
      order: 1000;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; } }
  .top-logos__partners {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0 35px;
    justify-content: center; }
    .top-logos__partners:after {
      content: '';
      position: absolute;
      display: block;
      height: 70px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      background: #313234; }
    @media (max-width: 1900px) {
      .top-logos__partners {
        padding: 0 10px; } }
    @media (max-width: 1023px) {
      .top-logos__partners {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px; } }
  .top-logos__partners-link {
    font-size: 13px;
    font-weight: 400;
    color: #aaaaac;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 5px; }
    .top-logos__partners-link:nth-last-of-type(1) {
      margin-bottom: 0; }
    @media (max-width: 1023px) {
      .top-logos__partners-link {
        margin: 10px 20px; } }
  .top-logos__numbers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0 35px;
    flex-grow: 1;
    justify-content: space-between; }
    .top-logos__numbers:after {
      content: '';
      position: absolute;
      display: block;
      height: 70px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      background: #313234; }
    @media (max-width: 1900px) {
      .top-logos__numbers {
        padding: 0 10px; } }
    @media (max-width: 1023px) {
      .top-logos__numbers {
        width: 100%; } }
    @media (max-width: 767px) {
      .top-logos__numbers {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; } }
  .top-logos__numbers-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    cursor: pointer; }
    @media (max-width: 767px) {
      .top-logos__numbers-item {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 40px;
        position: relative; } }
    .top-logos__numbers-item:hover {
      filter: brightness(1.5) saturate(2); }
  .top-logos__numbers-img {
    width: 45px;
    height: 45px;
    background: linear-gradient(to bottom, #ffd513, #ff700a);
    margin-right: 5px; }
    .pattern--3 .top-logos__numbers-img {
      background: #ff0000; }
    @media (max-width: 1599px) {
      .top-logos__numbers-img {
        width: 25px;
        height: 25px; } }
    @media (max-width: 767px) {
      .top-logos__numbers-img {
        width: 30px;
        height: 30px; } }
    .top-logos__numbers-img--open {
      mask: url(../../img/top-logos__numbers-1.png);
      -webkit-mask: url(../../img/top-logos__numbers-1.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .top-logos__numbers-img--contacts {
      mask: url(../../img/top-logos__numbers-2.png);
      -webkit-mask: url(../../img/top-logos__numbers-2.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .top-logos__numbers-img--games {
      mask: url(../../img/top-logos__numbers-3.png);
      -webkit-mask: url(../../img/top-logos__numbers-3.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .top-logos__numbers-img--users {
      mask: url(../../img/top-logos__numbers-4.png);
      -webkit-mask: url(../../img/top-logos__numbers-4.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
    .top-logos__numbers-img--users-online {
      mask: url(../../img/top-logos__numbers-5.png);
      -webkit-mask: url(../../img/top-logos__numbers-5.png);
      mask-repeat: no-repeat !important;
      -webkit-mask-repeat: no-repeat !important;
      mask-position: center center !important;
      -webkit-mask-position: center center !important;
      mask-size: contain !important;
      -webkit-mask-size: contain !important; }
  .top-logos__numbers-count {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px #000; }
    @media (max-width: 1365px) {
      .top-logos__numbers-count {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .top-logos__numbers-count {
        font-size: 19px; } }
  .top-logos__numbers-text {
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
    color: #66686f;
    text-shadow: 1px 1px 2px #000; }
    @media (max-width: 1365px) {
      .top-logos__numbers-text {
        font-size: 11px; } }
    @media (max-width: 767px) {
      .top-logos__numbers-text {
        font-size: 17px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
        width: 300px;
        text-align: center; } }
  .top-logos__games {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative; }
    .top-logos__games:after {
      content: '';
      position: absolute;
      display: block;
      height: 70px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      background: #313234; }
    @media (max-width: 1599px) {
      .top-logos__games {
        width: 200px; } }
    @media (max-width: 1023px) {
      .top-logos__games {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px; } }
  .top-logos__games-item {
    margin: 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .top-logos__games-item:hover {
      filter: brightness(1.5) saturate(2); }
    @media (max-width: 1900px) {
      .top-logos__games-item {
        margin: 0 10px; } }
  .top-logos__games-img {
    width: 100%; }
