.lead {
  padding: 60px;
  width: 650px;
  margin-left: auto;
  text-align: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .lead--small-right {
    width: 550px;
    margin-left: 0;
    margin-right: auto;
    padding: 60px; }
  @media (max-width: 1279px) {
    .lead {
      width: 100%;
      padding: 20px 10px; } }
  .lead--img {
    display: grid;
    grid-template-columns: 420px 1fr;
    grid-gap: 100px;
    width: 100%;
    align-items: stretch;
    padding: 60px; }
    @media (max-width: 1279px) {
      .lead--img {
        grid-template-columns: 1fr;
        padding: 20px 10px; } }
  .lead__text {
    width: 420px; }
    @media (max-width: 1279px) {
      .lead__text {
        width: 100%; } }
  .lead__img {
    background: url(../../img/book.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-position: left center !important; }
    @media (max-width: 1279px) {
      .lead__img {
        height: 320px; } }
  .lead__title {
    font-size: 32px !important;
    font-weight: 700 !important; }
    @media (max-width: 1279px) {
      .lead__title {
        font-size: 21px !important; } }
  .lead__input {
    text-align: center;
    margin-bottom: 20px; }
