.footer {
  padding-top: 37px; }
  .footer__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between; }
    @media (max-width: 1279px) {
      .footer__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer__logo {
    width: 378px;
    height: 63px;
    background: url(../../../img/logo.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    @media (max-width: 1279px) {
      .footer__logo {
        width: 100%; } }
  .footer__fb {
    margin-top: 28px; }
    @media (max-width: 1279px) {
      .footer__fb img {
        width: 100%;
        height: auto; } }
  .footer__social-button {
    margin: 5px 0; }
  .footer__right {
    text-align: right; }
    @media (max-width: 1279px) {
      .footer__right {
        text-align: center; } }
  .footer__phone {
    font-family: 'intro', sans-serif !important;
    font-size: 24px;
    font-weight: 700;
    color: #f47137;
    margin-top: 12px; }
  .footer__mail {
    font-size: 20px;
    font-weight: 700; }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 50px; }
    @media (max-width: 1279px) {
      .footer__social {
        justify-content: center; } }
  .footer__social-link {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: flex-end; }
  .footer__bottom {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer__bottom-link {
    font-size: 20px; }
