.articles__title--center {
  text-align: center; }

.articles--margin-bottom {
  margin-bottom: 65px; }
  @media (max-width: 700px) {
    .articles--margin-bottom {
      margin-bottom: 30px; } }

.articles__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  .articles__items--two-col {
    grid-template-columns: 1fr 1fr; }
  @media (max-width: 1279px) {
    .articles__items {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 700px) {
    .articles__items {
      grid-template-columns: 1fr; } }

.articles__button {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 700px) {
    .articles__button {
      margin-top: 30px;
      width: 100% !important; } }

.articles__pagination {
  margin-top: 30px; }
