//Размеры
$control-height: 40;
$control-small-height: 30;
$control-big-height: 50;

//Цвета
$blue: #32436E;
$blue-light: #2B6999;
$black: #000000 !default;
$white: #ffffff;
$gray: #C4C4C4;
$orange: #EA5E2B;



