.slider-dots .owl-dots {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }

.slider-dots .owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid #000000 !important;
  border-radius: 50%;
  margin: 0 6px; }
  .slider-dots .owl-dot.active, .slider-dots .owl-dot:hover {
    background: #000000; }
