.input {
  position: relative; }
  .input.focus .warning.active {
    opacity: 0;
    visibility: hidden; }
  .input.focus .placeholder {
    opacity: 1;
    visibility: visible; }
  .input__button {
    width: 100% !important;
    min-width: 58px !important;
    height: 67px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 1px solid #dddddd !important;
    border-radius: 0px !important;
    background: #fff !important;
    position: relative !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex !important;
    justify-content: space-between; }
    .input__button:focus {
      outline: none !important;
      background: #fff !important;
      color: #000 !important; }
    .input__button--open {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important; }
    .input__button--textarea {
      height: auto !important;
      align-items: stretch; }
  .input__text {
    font-display: auto;
    font-family: "proxima", sans-serif!important;
    float: none !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #000 !important;
    margin: 0 !important;
    width: 0 !important;
    height: 100%;
    flex-grow: 1 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex !important;
    justify-content: flex-start; }
    .input__button--textarea .input__text {
      height: auto;
      min-height: 139px;
      resize: vertical;
      padding-top: 0.5em !important; }
    .input__text::-webkit-input-placeholder {
      color: #000; }
    .input__text::-moz-placeholder {
      color: #000; }
    .input__text:-moz-placeholder {
      color: #000; }
    .input__text:-ms-input-placeholder {
      color: #000; }
    .input__text:focus {
      outline: none !important;
      background: #fff !important;
      color: #000 !important; }
      .input__text:focus::-webkit-input-placeholder {
        color: #000; }
      .input__text:focus::-moz-placeholder {
        color: #000; }
      .input__text:focus:-moz-placeholder {
        color: #000; }
      .input__text:focus:-ms-input-placeholder {
        color: #000; }
