@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.pagination {
  @include flex-row-center;
  width: 100%;
  padding: 20px 0;

  &__item {
    font-size: 30px;
    padding: 10px;

    @media #{$mobile-big-screen} {
      font-size: 13px;
      padding: 5px;
    }

    &:hover,
    &.active {
      background: $orange;
      color: $white;

    }

    &--arrow-prev {

    }

    &--arrow-next {

    }
  }
}