.basket__items {
  margin-top: 60px; }

.basket__item {
  background: #f7f7f7;
  display: grid;
  grid-template-columns: 190px 1fr 190px 190px;
  grid-gap: 70px;
  align-items: center;
  margin-bottom: 80px; }
  @media (max-width: 1023px) {
    .basket__item {
      grid-template-columns: 190px 1fr 1fr 1fr;
      grid-gap: 20px; } }
  @media (max-width: 767px) {
    .basket__item {
      grid-template-columns: 1fr;
      grid-gap: 10px;
      justify-content: center;
      padding: 10px;
      text-align: center; } }

.basket__item-img {
  position: relative; }
  @media (max-width: 767px) {
    .basket__item-img {
      width: 100%;
      height: 170px; } }

.basket__item-img-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 150px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.basket__item-name-type {
  font-size: 16px; }

.basket__item-name-item {
  font-size: 30px; }

.basket__item-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.basket__item-counter-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative; }
  .basket__item-counter-button:before, .basket__item-counter-button:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .basket__item-counter-button--minus:before {
    background: url(../../../img/check-minus.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    opacity: 1; }
  .basket__item-counter-button--minus:after {
    background: url(../../../img/check-minus-blue.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    opacity: 0; }
  .basket__item-counter-button--minus:hover:after {
    opacity: 1; }
  .basket__item-counter-button--plus:before {
    background: url(../../../img/check-plus-gray.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    opacity: 1; }
  .basket__item-counter-button--plus:after {
    background: url(../../../img/check-plus.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    opacity: 0; }
  .basket__item-counter-button--plus:hover:after {
    opacity: 1; }

.basket__item-counter-inner {
  font-size: 60px;
  margin: 0 20px; }

.basket__item-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: baseline; }

.basket__item-price-inner {
  font-size: 30px; }

.basket__item-price-currency {
  font-size: 16px;
  margin-left: 5px; }

.basket__result-price {
  color: #34293b;
  width: fit-content;
  margin-left: auto; }

.basket__result-title {
  font-size: 17px; }

.basket__result-price-inner {
  font-size: 63px; }

.basket__result-currency {
  font-size: 17px;
  width: 100%;
  text-align: right; }

.basket__result-button {
  margin-top: 30px;
  margin-left: auto; }
