extends ../templates/main

block variables
    - var title = 'Главная страница'

block content
    include ../blocks/main-screen/main-screen
    include ../blocks/news/news
    include ../blocks/video/video
    include ../blocks/reviews/reviews
    include ../blocks/services/services
    include ../blocks/cases/cases
    include ../blocks/feedback/feedback
    include ../blocks/map/map
