* {
    margin: 0;
    padding: 0;
}

html, body {
    -webkit-overflow-scrolling: touch !important;
    height: 100% !important;
}

body {
    font-family: 'Museo Sans', sans-serif;
}

.form-col a {
    color: #000;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.raw:before, .raw:after {
    content: '';
    display: block;
}

.raw:after {
    clear: both;
}

a,
submit {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: background .2s ease-out, color .2s ease-out;
    outline: none;
}

::-webkit-input-placeholder {
    color: #888;
    transition: color .2s ease-out;
}

:-moz-placeholder {
    color: #888;
    opacity: 1;
    transition: color .2s ease-out;
}

::-moz-placeholder {
    color: #888;
    opacity: 1;
    transition: color .2s ease-out;
}

:-ms-input-placeholder {
    color: #888;
    transition: color .2s ease-out;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

.topline {
    background: #fff;
    padding: 16px 0 18px;
    font-size: 0;
}

.logo:active,
.logo:hover,
.logo:visited,
.logo {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 60%;
    margin-left: -30px;
}

.logo-img {
    display: block;
    width: 100%;
    max-width: 524px;
}

.phone-col {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 40%;
    text-align: right;
    font-weight: bold;
    color: #006a94;
    font-size: 42px;
    padding-top: 10px;
}

.phone-col a {
    color: #006a94;
    text-decoration: none;
}

.phone-text {
    font-size: 19px;
    color: #ff5025;
    font-weight: bold;
    font-family: 'Myriad Pro', 'Museo Sans', sans-serif;
}

.main-head {
    background: url(../img/pic/pic_head_main.png) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 75px 0;
    min-height: 620px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.main-head .wrapper {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.h1 {
    font-size: 67px;
    line-height: 74px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 60px;
    margin-top: 0;
}

.h-span {
    display: block;
}

.under-1 {
    position: relative;
    padding-bottom: 5px;
}

.under-1:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: url(../img/pic/pic_under_1.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}

.under-2 {
    position: relative;
    padding-bottom: 5px;
}

.under-2:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: url(../img/pic/pic_under_2.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}

.head-text {
    font-size: 35px;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

.color-1 {
    color: #ff0;
}

.b-span {
    font-weight: 900;
}

.garant {
    border-radius: 30px;
    border: 2px dotted #fff;
    max-width: 375px;
    box-sizing: border-box;
    padding: 26px 20px 23px 110px;
    position: relative;
    min-height: 105px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

.garant:after {
    position: absolute;
    display: block;
    content: '';
    width: 74px;
    height: 90px;
    top: 10px;
    left: 20px;
    background: url(../img/icon/spritesheet.png) no-repeat -45px -735px;
}

.form-cont {
    position: relative;
    background: url(../img/pic/pic_form_bg.jpg);
    box-sizing: border-box;
    padding-left: 53%;
}

.form-cont:after {
    display: block;
    content: '';
    position: absolute;
    width: 53%;
    height: 100%;
    top: 0;
    left: 0;
}

.form-cont:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 10px;
    left: 0;
    background: #ff5025;
    z-index: 2;
}

.form-1:after {
    background: url(../img/pic/pic_form_1.jpg) no-repeat right top;
    background-size: cover;
}

.form-2:after {
    background: url(../img/pic/pic_form_2.jpg) no-repeat right top;
    background-size: cover;
}

.form-1 {
    margin-top: -55px;
    padding-top: 60px;
    z-index: 1;
}

.form-col {
    padding: 35px 0px 50px 20px;
    text-align: center;
    width: 100%;
    max-width: 440px;
    font-size: 12px;
    box-sizing: border-box;
}

.form-col p {
    margin: 0 auto;
    max-width: 320px;
}

.form-title {
    font-weight: 900;
    font-size: 29px;
    color: #000;
    margin-bottom: 28px;
}

.input {
    display: block;
    max-width: 350px;
    margin: 0 auto 8px;
    border-radius: 4px;
    background: #fff;
    padding: 15px 20px;
    box-sizing: border-box;
    line-height: 27px;
    font-size: 22px;
    color: #888;
    border: none;
    width: 100%;
    outline: none;
}

.submit {
    display: block;
    max-width: 350px;
    margin: 13px auto 35px;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    color: #fff;
    border: none;
    width: 100%;
    font-weight: 900;
    outline: none;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
    padding: 13px 0 11px;
    border-radius: 5px;
    background: #ff5130;
    background: -moz-linear-gradient(top, #ff5130 0%, #ea0306 100%);
    background: -webkit-linear-gradient(top, #ff5130 0%, #ea0306 100%);
    background: linear-gradient(to bottom, #ff5130 0%, #ea0306 100%);
    box-shadow: 0 3px 0 0 transparent, 0 2px 0 0 #ff2a3d, 0 7px 0 0 #a50000;
    transition: transform .1s ease-out, opacity .2s ease-out, background .3s ease-out, filter .2s ease-out, box-shadow .2s ease-out;
    text-transform: uppercase;
}

.submit:hover {
    box-shadow: 0 3px 0 0 #ea0306, 0 2px 0 0 #ff2a3d, 0 7px 0 0 #a50000;
    background: #ff4221;
    background: -moz-linear-gradient(top, #ff4221 0%, #e80000 100%);
    background: -webkit-linear-gradient(top, #ff4221 0%, #e80000 100%);
    background: linear-gradient(to bottom, #ff4221 0%, #e80000 100%);
}

.submit:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.why-cont {
    background: #fff;
    padding: 50px 0 5px;
    text-align: center;
}

.bg-title {
    display: inline-block;
    color: #fff;
    background: url(../img/pic/pic_title_bg.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: contain;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 55px;
    padding: 25px 30px 28px;
    font-family: 'Calibri';
}

.why-list {
    width: 100%;
    margin: 0 auto;
    max-width: 815px;
    text-align: left;
    padding-left: 160px;
    box-sizing: border-box;
}

.why-li {
    padding-bottom: 35px;
    border-bottom: 2px solid #eceff1;
    font-size: 25px;
    color: #000;
    font-weight: 300;
    margin-bottom: 37px;
    position: relative;
}

.why-itog {
    padding-bottom: 35px;
    font-size: 25px;
    color: #000;
    font-weight: 300;
    margin-bottom: 37px;
}

.why-li:after {
    display: block;
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 200px;
    top: -5px;
    left: -150px;
    background: #06f;
    z-index: 3;
}

.why-li:before {
    display: block;
    content: '';
    position: absolute;
    width: 107px;
    height: 107px;
    border-radius: 90%;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border: 4px dotted #ffd802;
    z-index: 2;
    top: -5px;
    left: -150px;
}

.why-li:nth-child(1):after {
    background: #06f url(../img/icon/spritesheet.png) no-repeat -17px -1152px;
}

.why-li:nth-child(2):after {
    background: #06f url(../img/icon/spritesheet.png) no-repeat -11px -1291px;
}

.why-li:nth-child(3):after {
    background: #06f url(../img/icon/spritesheet.png) no-repeat -10px -1427px;
}

.why-li:nth-child(4):after {
    background: #06f url(../img/icon/spritesheet.png) no-repeat -10px -1560px;
}

.why-li:last-child {
    border: none;
}

.why-list-in {
    list-style: none;
    padding-top: 23px;
}

.why-list-in li {
    box-sizing: border-box;
    padding-left: 40px;
    position: relative;
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 500;
}

.why-list-in li:after {
    display: block;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    top: 6px;
    left: 0;
    background: #06f;
}

.add-cont {
    position: relative;
    background: url(../img/pic/pic_add_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 54px 0;
    font-size: 0;
}

.result-cont:before,
.add-cont:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background: #ff5025;
    z-index: 2;
}

.add-img-cont {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 27%;
    border-radius: 500px;
    position: relative;
}

.add-img-cont:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 70%;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    border: 4px dotted #ffd802;
    z-index: 2;
    top: -2px;
    left: -4px;
}

.add-img {
    display: block;
    width: 100%;
    border-radius: 500px;
    position: relative;
    z-index: 3;
}

.add-text {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 73%;
    padding-left: 35px;
    padding-top: 25px;
    box-sizing: border-box;
}

.add-text p {
    margin-bottom: 30px;
}

.result-cont {
    position: relative;
    padding: 45px 0 20px;
}

.author-head {
    text-align: center;
    padding: 70px 0 55px;
}

.author-title {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 25px;
}

.author-cont {
    position: relative;
    background: #fff;
    box-sizing: border-box;
    padding-left: 35%;
}

.author-cont:after {
    display: block;
    content: '';
    position: absolute;
    width: 31%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/pic/pic_author_1.jpg) no-repeat right top;
    background-size: cover;
}

.h2 {
    color: #fff;
    font-size: 47px;
    font-weight: 900;
}

.author-head .h2 {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 20px;
}

.bg-span-1 {
    padding: 6px 12px;
    margin-bottom: 3px;
    background: #fdfa00;
    display: inline-block;
}

.bg-span-2 {
    padding: 12px 18px;
    margin-bottom: 3px;
    background: #06f;
    display: inline-block;
}

.h-text {
    font-size: 38px;
    font-weight: 900;
}

.author-list {
    list-style: none;
    width: 100%;
    max-width: 770px;
    padding-bottom: 1px;
}

.author-list li {
    position: relative;
    font-size: 22px;
    padding-left: 20px;
    margin-bottom: 35px;
}

.author-list li:first-child {
    margin-bottom: 50px;
}

.author-list li:after {
    display: block;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    top: 7px;
    left: 0;
    background: #06f;
}

.author-img {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 30px auto 0 0;
}

.author-foot {
    background: url(../img/pic/pic_author_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 40px 0 35px;
}

.author-foot-title {
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 20px;
}

.vid-cont {
    position: relative;
    padding-bottom: 21%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 625px;
    margin: 0 auto;
}

.vid-cont iframe,
.vid-cont object,
.vid-cont embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.feat-cont {
    position: relative;
    background: #fff;
    box-sizing: border-box;
    padding-left: 37%;
    background: url(../img/pic/pic_feat_bg.jpg);
    min-height: 550px;
}

.feat-cont:after {
    display: block;
    content: '';
    position: absolute;
    width: 34%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/pic/pic_feat_img.jpg) no-repeat right top;
    background-size: cover;
}

.feat-title {
    font-size: 43px;
    max-width: 710px;
    font-weight: 900;
    margin: 0 0 40px;
    padding: 65px 0 0 6px;
}

.feat-list {
    list-style: none;
    padding-bottom: 40px;
}

.feat-list li {
    padding-top: 0;
    font-size: 29px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
    padding-left: 105px;
    min-height: 85px;
}

.feat-list li:after {
    display: block;
    content: '';
    position: absolute;
    width: 85px;
    height: 85px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.feat-list li:nth-child(1) {
    margin-bottom: 40px;
}

.feat-list li:nth-child(2) {
    margin-bottom: 25px;
}

.feat-list li:nth-child(3),
.feat-list li:nth-child(4) {
    line-height: 85px;
}

.feat-list li:nth-child(1):after {
    background: url(../img/icon/spritesheet.png) no-repeat -44px -45px;
}

.feat-list li:nth-child(2):after {
    background: url(../img/icon/spritesheet.png) no-repeat -44px -219px;
}

.feat-list li:nth-child(3):after {
    background: url(../img/icon/spritesheet.png) no-repeat -44px -391px;
}

.feat-list li:nth-child(4):after {
    background: url(../img/icon/spritesheet.png) no-repeat -44px -563px;
}

.result-cont .bg-title {
    background: url(../img/pic/pic_title_bg_2.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    margin-bottom: 40px;
}

.result-cont {
    text-align: center;
}

.result-cont .wrapper {
    max-width: 1100px;
}

.result-list {
    list-style: none;
    font-size: 0;
}

.result-li {
    margin-bottom: 42px;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 700;
}

.res-li-title {
    margin-bottom: 28px;
}

.result-link:active,
.result-link:hover,
.result-link:visited,
.result-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 49%;
    margin-right: 1%;
    box-shadow: 0 0 30px 5px #ccc;
    transition: box-shadow .2s ease-out;
    position: relative;
}

.result-link:hover {
    box-shadow: 0 0 10px 2px #ccc;
}

.result-link:nth-child(odd) {
    margin-right: 0;
}

.result-img {
    display: block;
    width: 100%;
    max-width: 531px;
    margin: 0 auto;
}

.result-link:nth-child(1n):after {
    display: block;
    content: 'После';
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: 70px;
    height: 48px;
    line-height: 48px;
    right: 15px;
    top: -3px;
    z-index: 3;
    background: url(../img/icon/spritesheet.png) no-repeat -45px -1044px;
}

.result-link:nth-child(2n):after {
    display: block;
    content: 'ДО';
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    width: 38px;
    height: 48px;
    line-height: 48px;
    right: 15px;
    top: -3px;
    text-transform: uppercase;
    z-index: 3;
    background: url(../img/icon/spritesheet.png) no-repeat -45px -906px;
}

footer {
    background: #1d1d1d;
    color: #fff;
    padding-bottom: 30px;
}

/*footer{background-color:#839500;padding-bottom:30px;}*/
footer .first {
    overflow: hidden;
    padding-bottom: 13px;
    border-bottom: 1px solid #ffffff;
}

footer .first .left {
    float: left;
    padding-top: 25px;
}

footer .first .left p {
    font: 17.21px/17.21px 'PT Sans', sans-serif;
    font-weight: 700;
    padding-top: 8px;
    color: #ffffff;
    text-align: center;
}

footer .first .left p span {
    color: #fff000;
}

footer .first .right {
    float: right;
    text-align: right;
    padding-top: 32px;
    padding-right: 24px;
}

footer .first .right a {
    font: 33.55px/33.55px 'Calibri';
    font-weight: bold;
    color: #ffffff;
}

footer .first .right h3 {
    font: 17.78px/17.78px 'PT Sans', sans-serif;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 4px;
    color: #fff000;
    text-decoration: underline;
}

footer .first .right p {
    font: 17.78px/17.78px 'PT Sans', sans-serif;
    font-weight: 400;
    color: #fff000;
}

footer .second {
    overflow: hidden;
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 8px;
}

footer .second .left {
    float: left;
    width: 48%;
}

footer .second .left p {
    font: 12.7px/14.7px 'PT Sans', sans-serif;
    font-weight: 400;
    word-spacing: 1px;
    color: #ffffff;
}

footer .second .right p {
    font: 12.7px/14.7px 'PT Sans', sans-serif;
    font-weight: 400;
    word-spacing: 2px;
    color: #ffffff;
}

footer .second .right .code {
    padding-left: 22px;
    display: inline-block;
    border-left: 1px solid #ffffff;
}

footer .second .right .code:first-child {
    border: none;
}

footer .second .right .code:first-child p {
    padding-right: 14px;
}

footer .second .right {
    float: right;
    text-align: right;
}

.foot-top {
    padding: 25px 0 14px 5px;
    border-bottom: 1px solid #fff;
}

.foot-logo:active,
.foot-logo:hover,
.foot-logo:visited,
.foot-logo {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 60%;
    min-width: 310px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 19px;
    margin-left: -55px;
}

.foot-logo-img {
    display: block;
    float: left;
    margin-right: 16px;
}

.f-logo-p {
    text-decoration: none;
    font-family: 'Rotonda';
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
}

.f-logo-p:last-child {
    font-size: 13px;
    margin-bottom: -3px;
}

.foot-phone {
    display: block;
    text-align: right;
    float: right;
    font-weight: bold;
    font-size: 33px;
    line-height: 55px;
    font-family: 'PT Sans';
}

.foot-phone a {
    color: #fff;
    text-decoration: none;
}

.foot-btm {
    padding: 16px 0 18px 5px;
    font-family: 'PT Sans';
    font-size: 13px;
}

.copyright {
    display: inline-block;
    width: 100%;
    max-width: 400px;
}

.f-btm-col {
    display: block;
    width: 100%;
    max-width: 430px;
    float: right;
    font-size: 0;
    text-align: right;
}

.btm-col-text {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 47.5%;
    font-size: 12px;
    padding-right: 17px;
    box-sizing: border-box;
    text-align: left;
    width: 200px;
    text-align: right;
}

.btm-col-text:last-child {
    max-width: 55%;
    width: 184px;
    padding-right: 0;
    padding-left: 25px;
    border-left: 1px solid #fff;
    text-align: right;
    min-height: 37px;
}

.foot-link:active,
.foot-link:hover,
.foot-link:visited,
.foot-link {
    display: block;
    font-size: 13px;
    color: #9e9e9e;
    margin-top: 5px;
}

.foot-link:hover {
    color: #fff;
}

.foot-link:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

footer .phone-text {
    font-size: 18px;
    color: #fff;
    line-height: 20px;
}

@media screen and (max-width: 1200px) {
    .form-cont {
        padding-left: 43%;
    }

    .form-cont:after {
        width: 43%;
    }
}

@media screen and (max-width: 1024px) {
    .foot-logo:active,
    .foot-logo:hover,
    .foot-logo:visited,
    .foot-logo {
        margin-left: 0;
    }

    .logo:active,
    .logo:hover,
    .logo:visited,
    .logo {
        margin-left: 0;
    }

    .phone-col {
        font-size: 38px;
    }

    .author-cont {
        padding-top: 500px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 770px;
        margin: 0 auto;
    }

    .author-cont:after {
        height: 460px;
        width: 230px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0;
        background: url(../img/pic/pic_author_1.jpg) no-repeat left bottom;
        background-size: 103%;
    }

    .feat-cont {
        padding-left: 10px;
        padding-right: 10px;
    }

    .feat-cont:after {
        display: none;
    }

    .feat-list {
        max-width: 720px;
        margin: 0 auto;
    }

    .feat-title {
        margin: 0 auto 40px;
    }

    footer .first .right {
        padding-right: 0;
    }

    footer .first .left {
        width: 60%;
    }
}

@media screen and (max-width: 990px) {
    .wrapper {
        max-width: 725px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .phone-col {
        display: block;
        max-width: 100%;
        text-align: center;
    }

    .logo:active, .logo:hover, .logo:visited, .logo {
        display: block;
        max-width: 430px;
        margin: 0 auto;
    }

    .vid-cont {
        padding-bottom: 35%;
    }

    .h1 {
        font-size: 47px;
        line-height: 54px;
    }

    .main-head {
        background: url(../img/pic/pic_head_main_d.jpg) no-repeat center top;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 55px 0 70px;
        min-height: 0;
    }

    .head-text {
        font-size: 29px;
        line-height: 36px;
    }

    .garant {
        max-width: 355px;
        padding: 26px 10px 23px 110px;
    }

    .form-cont:after {
        display: none;
    }

    .form-cont {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-col {
        margin: 0 auto;
    }

    .h2 {
        font-size: 35px;
    }

    .bg-span-2 {
        padding: 7px 15px;
    }

    .h-text {
        font-size: 26px;
    }

    .author-img {
        max-width: 540px;
        margin: 30px auto 0;
    }

    .author-foot-title {
        font-size: 28px;
    }

    .feat-title {
        font-size: 32px;
        text-align: center;
    }

    .feat-list li {
        font-size: 27px;
    }

    .bg-title,
    .result-cont .bg-title {
        background: #ff5025;
        font-size: 30px;
        padding: 11px 30px;
    }

    .result-link:active, .result-link:hover, .result-link:visited, .result-link {
        max-width: 46%;
    }

    .copyright {
        display: block;
        max-width: 450px;
        text-align: center;
        margin: 0 auto 10px;
    }

    .f-btm-col,
    .btm-col-text:nth-child(n) {
        float: none;
        display: block;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        border: none;
    }

    .foot-phone {
        font-size: 30px;
    }

    .result-link:active, .result-link:hover, .result-link:visited, .result-link {
        max-width: 48%;
    }

    .foot-logo-img {
        width: 100%;
    }

    .author-foot {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 740px) {
    .topline {
        padding: 7px 0 10px;
    }

    .phone-col {
        box-sizing: border-box;
    }

    .main-head {
        text-align: center;
    }

    .h1 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 40px;
    }

    .head-text {
        font-size: 25px;
        line-height: 32px;
    }

    .garant {
        max-width: 285px;
        margin: 0 auto;
        padding: 14px 5px 14px 80px;
        font-size: 18px;
        text-align: left;
        min-height: 75px;
    }

    .garant:after {
        -webkit-transform: scale(0.7) translateY(-50%);
        -ms-transform: scale(0.7) translateY(-50%);
        transform: scale(0.7) translateY(-50%);
        left: 0;
        top: 50%;
        margin-top: -10px;
    }

    .form-title {
        font-weight: 900;
        font-size: 26px;
    }

    .input {
        padding: 11px 15px;
        line-height: 25px;
        font-size: 20px;
    }

    .submit {
        line-height: 23px;
    }

    .why-list {
        padding-left: 0;
    }

    .why-li:after,
    .why-li:before {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        top: -30px;
        left: -25px;
    }

    .why-li {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 0 0 20px 73px;
    }

    .why-itog {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 0 0 20px 73px;
    }

    .why-list-in li {
        padding-left: 20px;
        font-size: 17px;
        margin-bottom: 10px;
        font-weight: 300;
    }

    .why-list-in li:after {
        width: 8px;
        height: 8px;
    }

    .add-cont {
        padding: 45px 0;
    }

    .add-img-cont {
        display: block;
        max-width: 200px;
        margin: 0 auto 10px;
    }

    .add-text {
        font-size: 18px;
        max-width: 100%;
        padding-left: 0;
    }

    .author-head {
        padding: 50px 0 55px;
    }

    .h2 {
        font-size: 30px;
    }

    .author-title {
        text-align: center;
        font-size: 22px;
    }

    .author-list li {
        font-size: 18px;
        line-height: 24px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .author-list li:after {
        width: 8px;
        height: 8px;
    }

    .feat-title {
        font-size: 28px;
    }

    .feat-list {
        max-width: 520px;
    }

    .feat-list li {
        font-size: 23px;
        min-height: 60px;
    }

    .bg-title, .result-cont .bg-title {
        font-size: 27px;
        padding: 8px 20px;
    }

    .result-li {
        margin-bottom: 35px;
        font-size: 25px;
    }

    .res-li-title {
        margin-bottom: 20px;
    }

    .foot-top {
        padding-left: 0;
    }

    .foot-logo:active, .foot-logo:hover, .foot-logo:visited, .foot-logo {
        display: block;
        width: 100%;
        max-width: 450px;
        text-align: center;
        min-width: 0;
        margin: 0 auto;
    }

    .foot-logo-img {
        display: block;
        float: none;
        margin: 0 auto 10px;
    }

    .foot-phone {
        font-size: 26px;
        margin-top: 10px;
        max-width: 100%;
        text-align: center;
        float: none;
    }

    footer .first .left {
        float: initial;
        width: 100%;
    }

    footer .first .right {
        float: initial;
        text-align: center;
    }

    footer .second {
        padding-left: 0;
        padding-right: 0;
    }

    footer .second .right .code {
        padding-left: 7px;
    }

    footer .second .left {
        float: initial;
        width: 100%;
    }

    .form-col {
        padding: 35px 0 50px;
    }
}

@media screen and (max-width: 480px) {
    .phone-col {
        font-size: 28px;
        padding-left: 10px;
        padding-right: 10px;
    }

    header .wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }

    .author-img {
        max-width: 380px;
    }

    .form-title {
        font-size: 24px;
    }

    .why-li:after, .why-li:before {
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
        top: -40px;
        left: -35px;
    }

    .why-li {
        margin-bottom: 20px;
        padding: 0 0 20px 45px;
    }

    .why-itog {
        margin-bottom: 20px;
        padding: 0 0 20px 45px;
    }

    .h-text {
        font-size: 24px;
    }

    .author-foot-title {
        font-size: 22px;
    }

    .feat-cont {
        padding-top: 40px;
    }

    .feat-title {
        font-size: 20px;
    }

    .bg-span-1 {
        padding: 0;
        display: inline;
    }

    .feat-title {
        font-size: 20px;
        line-height: 31px;
        background: #ff0;
        padding: 5px 5px;
    }

    .feat-list li {
        margin-bottom: 20px;
        font-size: 20px;
        min-height: 0;
        padding: 10px 0 10px 55px;
    }

    .feat-list li:after {
        -webkit-transform: translateY(-50%) scale(0.5);
        -ms-transform: translateY(-50%) scale(0.5);
        transform: translateY(-50%) scale(0.5);
        left: -20px;
    }

    .result-link:active, .result-link:hover, .result-link:visited, .result-link {
        max-width: 100%;
        display: block;
        margin: 0 auto 5px;
    }

    .result-list {
        max-width: 380px;
        margin: 0 auto;
    }

    .result-li {
        font-size: 20px;
    }

    .vid-cont {
        padding-bottom: 49%;
    }

    .h2 {
        font-size: 20px;
    }

    .head-text .h-span {
        display: inline;
    }
}

@media screen and (max-width: 425px) {
    .vid-cont {
        padding-bottom: 48%;
    }
}

@media screen and (max-width: 375px) {
    .vid-cont {
        padding-bottom: 46%;
    }

    .form-title {
        font-size: 21px;
    }

    .bg-span-2 {
        padding: 7px 11px;
    }
}

@media screen and (max-width: 355px) {
}

@media screen and (max-width: 325px) {
    .vid-cont {
        padding-bottom: 45%;
    }
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museo_sans_cyrl_500.eot');
    src: local('☺'), url('../fonts/museo_sans_cyrl_500.woff') format('woff'), url('../fonts/museo_sans_cyrl_500.woff2') format('woff2'), url('../fonts/museo_sans_cyrl_500.ttf') format('truetype'), url('../fonts/museo_sans_cyrl_500.svg.xml') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museo_sans_cyrl_300.eot');
    src: local('☺'), url('../fonts/museo_sans_cyrl_300.woff') format('woff'), url('../fonts/museo_sans_cyrl_300.woff2') format('woff2'), url('../fonts/museo_sans_cyrl_300.ttf') format('truetype'), url('../fonts/museo_sans_cyrl_300.svg.xml') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museo_sans_cyrl_700.eot');
    src: local('☺'), url('../fonts/museo_sans_cyrl_700.woff') format('woff'), url('../fonts/museo_sans_cyrl_700.woff2') format('woff2'), url('../fonts/museo_sans_cyrl_700.ttf') format('truetype'), url('../fonts/museo_sans_cyrl_700.svg.xml') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museo_sans_cyrl_900.eot');
    src: local('☺'), url('../fonts/museo_sans_cyrl_900.woff') format('woff'), url('../fonts/museo_sans_cyrl_900.woff2') format('woff2'), url('../fonts/museo_sans_cyrl_900.ttf') format('truetype'), url('../fonts/museo_sans_cyrl_900.svg.xml') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt_sans_bold.eot');
    src: local('☺'), url('../fonts/pt_sans_bold.woff') format('woff'), url('../fonts/pt_sans_bold.ttf') format('truetype'), url('../fonts/pt_sans_bold.svg.xml') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt_sans_regular.eot');
    src: local('☺'), url('../fonts/pt_sans_regular.woff') format('woff'), url('../fonts/pt_sans_regular.ttf') format('truetype'), url('../fonts/pt_sans_regular.svg.xml') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri.eot');
    src: local('☺'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg.xml') format('svg');
    font-weight: normal;
    font-style: normal;
}

.youtube-video-block {
    width: 853px;
    padding-bottom: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.youtube-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.youtube-video iframe {
    width: 100% !important;
    height: 100% !important;
}

.cont {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

@media (max-width: 980px) {
    .cont {
        width: 720px;
    }

    .youtube-video-block {
        width: 100%;
    }
}

@media (max-width: 740px) {
    .cont {
        padding-left: 5px;
        padding-right: 5px;
        width: 320px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .feat-list li:nth-child(3), .feat-list li:nth-child(4) {
        line-height: normal;
    }


}

footer .social img {
    width: 36px;
    height: 36px;
}

footer .social {
    margin-top: 10px;
}

footer .social a {
    display: inline;
}