@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.section {
  position: relative;
  width: 100%;
  @include background-cover-center;

  &--circle-top {
    margin-top: -115px;
    mask: url(../../../img/mask.svg);
    -webkit-mask: url(../../../img/mask.svg);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: top center;
    -webkit-mask-position: top center;
    mask-size: 2000px 5000px;
    -webkit-mask-size: 2000px 5000px;
  }

}