.faq-form {
  margin-bottom: 50px; }
  .faq-form__item {
    background: #f8f8f8;
    border: 1px solid #e6e6e6;
    padding: 30px 90px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3); }
    @media (max-width: 1023px) {
      .faq-form__item {
        padding: 30px 30px; } }
    @media (max-width: 767px) {
      .faq-form__item {
        padding: 30px 10px; } }
  .faq-form__title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #2cb387;
    margin-bottom: 10px; }
  .faq-form__subtitle {
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px; }
  .faq-form__question-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px; }
  .faq-form__question-form {
    background: #fff;
    height: 150px;
    width: 100%;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid #e6e6e6; }
  .faq-form__download {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    margin-top: 12px; }
    @media (max-width: 767px) {
      .faq-form__download {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; } }
  .faq-form__download-input {
    display: none; }
  .faq-form__download-label {
    height: 40px;
    padding: 0;
    width: 135px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 5px; }
    @media (max-width: 767px) {
      .faq-form__download-label {
        width: 220px;
        margin-left: auto;
        margin-right: auto; } }
  .faq-form__download-name {
    font-size: 12px;
    font-weight: 300;
    width: 300px; }
    @media (max-width: 767px) {
      .faq-form__download-name {
        width: 100%;
        margin-top: 5px;
        text-align: center; } }
  .faq-form__topic-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px; }
  .faq-form__topic-form {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid #e6e6e6;
    background: #fff; }
  .faq-form__topic-desc {
    font-size: 12px;
    font-weight: 300;
    color: #808080;
    margin-top: 10px;
    margin-bottom: 30px; }
  .faq-form__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .faq-form__contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; } }
  .faq-form__contact-inputs {
    width: calc(100% - 190px); }
    @media (max-width: 767px) {
      .faq-form__contact-inputs {
        width: 100%; } }
  .faq-form__contact-input-block {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center; }
    .faq-form__contact-input-block:nth-last-of-type(1) {
      margin-bottom: 0; }
    @media (max-width: 767px) {
      .faq-form__contact-input-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; } }
  .faq-form__contact-input-title {
    width: 125px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 700; }
    @media (max-width: 767px) {
      .faq-form__contact-input-title {
        width: 100%;
        margin-bottom: 5px; } }
  .faq-form__contact-input-input {
    width: calc(100% - 125px);
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid #e6e6e6;
    background: #fff; }
    @media (max-width: 767px) {
      .faq-form__contact-input-input {
        width: 100%; } }
  .faq-form__contact-desc {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    width: 190px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #2cb387; }
    @media (max-width: 767px) {
      .faq-form__contact-desc {
        width: 100%;
        margin-top: 15px; } }
  .faq-form__desc {
    color: #5e5e5e;
    font-size: 12px;
    padding: 15px 30px; }
    @media (max-width: 767px) {
      .faq-form__desc {
        padding: 15px 0; } }
  .faq-form__desc-text {
    font-size: 12px;
    font-weight: 500;
    color: #5e5e5e; }
  .faq-form__desc-links {
    font-size: 12px;
    font-weight: 300;
    color: #5e5e5e; }
  .faq-form__desc-link {
    font-size: 12px;
    font-weight: 300;
    color: #002fb6;
    text-decoration: underline;
    display: inline; }
    .faq-form__desc-link:hover {
      color: #262626; }
