@import "../../to_head/base/variables";
@import "../../to_head/base/media-queries";
@import "../../to_head/base/mixins";

.fourth {
  color: $white;
  text-align: center;
  padding-bottom: 120px;

  @media #{$tablet-small-screen} {
    padding-bottom: 0;
  }

  &__block {
    position: relative;
    @include flex-column-center;
  }

  &__img {
    position: absolute;
    width: 292px;
    height: 413px;
    background: url(../../../img/chair_2.webp);
    @include background-contain-center;
    right: 13px;
    bottom: -105px;
    filter: drop-shadow(0 0px 21px rgba(169, 46, 47, 0.5));

    @media #{$tablet-small-screen} {
      position: relative;
      right: 0;
      bottom: 0;
      order: 5;
      margin-top: 40px;
      margin-bottom: -80px;
    }
  }
  &__title {
    width: 494px;
    color: $white;
    font-size: 18px;
    margin-bottom: 20px;

    @media #{$tablet-small-screen} {
      width: 100%;
      order: 1;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
    color: $red;

    @media #{$tablet-small-screen} {
      width: 100%;
      order: 2;
    }
  }
  &__button {
    padding: 10px 25px;
    margin-bottom: 20px;

    @media #{$tablet-small-screen} {
      order: 3;
    }
  }
  &__desc {

    @media #{$tablet-small-screen} {
      width: 70%;
      font-size: 18px;
      order: 4;
    }
  }
}