.menu-natural {
  width: 300px;
  margin-right: 50px; }
  @media (max-width: 1599px) {
    .menu-natural {
      width: 250px;
      margin-right: 30px; } }
  @media (max-width: 1023px) {
    .menu-natural {
      width: 100%;
      margin-right: 0;
      order: 2;
      margin-top: 30px; } }
  .menu-natural__item {
    margin-bottom: 70px; }
  .menu-natural__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 22px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    color: #878787; }
  .menu-natural__item--has-inner .menu-natural__header:before,
  .menu-natural__item--has-inner .menu-natural__header:after {
    content: '';
    position: absolute;
    display: block;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 1px;
    background: #000000; }
  .menu-natural__item--has-inner .menu-natural__header:before {
    transform: translateY(-50%) rotate(90deg);
    transition: all .3s ease-in-out; }
  .menu-natural__item--has-inner .menu-natural__header.active:before {
    transform: translateY(-50%) rotate(180deg);
    transition: all .3s ease-in-out; }
  .menu-natural__item--has-inner .menu-natural__header + .menu-natural__content {
    display: none; }
  .menu-natural__item--has-inner .menu-natural__header.active + .menu-natural__content {
    display: block; }
