.navigation
    .navigation__item.navigation__item--active.scroll-screen__target(data-target='0')
    .navigation__item.scroll-screen__target(data-target='1')
    .navigation__item.scroll-screen__target(data-target='2')
    .navigation__item.scroll-screen__target(data-target='3')
    .navigation__item.scroll-screen__target(data-target='4')