.content {
  margin-bottom: 30px; }
  .content:nth-last-of-type(1) {
    margin-bottom: 0; }
  .content a:hover {
    color: #2e6e9d; }
  .content h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    width: 100%; }
    @media (max-width: 700px) {
      .content h2 {
        font-size: 20px; } }
  .content h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 11px;
    width: 100%; }
    @media (max-width: 700px) {
      .content h3 {
        font-size: 17px; } }
  .content h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    width: 100%;
    color: #3b3b3b; }
  .content a:hover h2,
  .content a:hover h3,
  .content a:hover h4 {
    color: #2e6e9d;
    text-decoration: none; }
  .content a {
    color: #2e6e9d;
    font-weight: 500;
    text-decoration: underline; }
    .content a:hover {
      text-decoration: none; }
  .content p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 21px;
    font-weight: 400;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
    .content p.short {
      width: 70%; }
      @media (max-width: 700px) {
        .content p.short {
          width: 100%; } }
