{% include "partials/header.html" %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__item">
				<span>Личный кабинет</span>
			</span>
		</div>
	</div>
	<main>
		
		<div class="container">
			
			<section class="cabinet-history">
				<div class="md-title md-title_flex md-title_page-title">
					История заказов
					<select class="cabinet-history__select" id="test">
						<option data-code="1">В работе</option>
						<option data-code="2">Передан в СПСР</option>
						<option data-code="3">Оформлен</option>
						<option data-code="4">Доставлен</option>
						<option data-code="5">Передан на доставку</option>
					</select>
				</div>
				<div class="history-table history-table_big mobile-stretch">
					<div class="history-table__head history-table__row">
						<div class="history-table__cell">
							Заказ №
						</div>
						<div class="history-table__cell">
							Статус
						</div>
						<div class="history-table__cell">
							Сумма
						</div>
						<div class="history-table__cell">
							Бонусные рубли
						</div>
					</div>
					<a href="#" class="history-table__row">
						<i class="history-table__icon history-table__icon_clock"></i>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Заказ №:</div>
							GM-2389
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Статус:</div>
							Передан на доставку
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Сумма</div>
							230 000 руб.
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Бонуc</div>
							5400
						</div>
					</a>
					<a href="#" class="history-table__row">
						<i class="history-table__icon history-table__icon_clock"></i>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Заказ №:</div>
							GM-2389
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Статус:</div>
							Передан на доставку
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Сумма</div>
							230 000 руб.
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Бонуc</div>
							5400
						</div>
					</a>
					<a href="#" class="history-table__row">
						<i class="history-table__icon history-table__icon_clock"></i>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Заказ №:</div>
							GM-2389
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Статус:</div>
							Передан на доставку
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Сумма</div>
							230 000 руб.
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Бонуc</div>
							5400
						</div>
					</a>
					<a href="#" class="history-table__row">
						<i class="history-table__icon history-table__icon_clock"></i>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Заказ №:</div>
							GM-2389
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Статус:</div>
							Передан на доставку
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Сумма</div>
							230 000 руб.
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Бонуc</div>
							5400
						</div>
					</a>
					<a href="#" class="history-table__row">
						<i class="history-table__icon history-table__icon_check"></i>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Заказ №:</div>
							GM-2389
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Статус:</div>
							Передан на доставку
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Сумма</div>
							230 000 руб.
						</div>
						<div class="history-table__cell">
							<div class="history-table__title history-table__title_hidden">Бонуc</div>
							5400
						</div>
					</a>
				</div>
				<a href="#" class="button button_grey cabinet-history__button button_auto-width">Назад</a>
			</section>
			
		</div>
		
		
	</main>
{% include "partials/footer.html" %}