{% include "partials/header.html" %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<a href="#" class="breadcrumbs__item">
				<span>Личный кабинет</span>
			</a>
			<span class="breadcrumbs__item">
				<span>Изменение личных данных</span>
			</span>
		</div>
	</div>
	<main>
		<div class="container">
			<div class="frame-block mobile-stretch">
				<div class="frame-block__head">
					<div class="frame-block__container container">
						<i class="icon icon-data frame-block__head-icon"></i>
						<b>Изменение личных данных</b>
					</div>
					
				</div>
				<div class="frame-block__container container">
					<div class="input-row">
						<label class="input-row__name required-mark">Имя</label>
						<div class="regular-input">
							<input type="text" name="" class="regular-input__input" required>
						</div>
					</div>
					<div class="input-row">
						<label class="input-row__name required-mark">E-mail</label>
						<div class="regular-input">
							<input type="text" name="" class="regular-input__input" required>
						</div>
					</div>
					<div class="input-row">
						<label class="input-row__name required-mark">Телефон</label>
						<div class="regular-input">
							<input type="text" name="" class="regular-input__input" required>
						</div>
					</div>
					<label class="checkbox  checkbox_multi-row">
						<input type="checkbox" name="" class="checkbox__hidden-input">
						<div class="checkbox__visual"></div>
						<span class="checkbox__text">Настоящим подтверждаю, что я ознакомлен и согласен с условиями политики конфиденциальности, оплаты и доставки. 
						<span class="toggle-text">
							<span class="toggle-text__hidden">
								Настоящим я даю разрешение ООО «М.видео Менеджмент» (далее – «М.видео») в целях заключения и исполнения договора купли-продажи обрабатывать - собирать, записывать, систематизировать, накапливать, хранить, уточнять (обновлять, изменять), извлекать, использовать, передавать (в том числе поручать обработку другим лицам), обезличивать, блокировать, удалять, уничтожать - мои персональные данные: фамилию, имя, номера домашнего и мобильного телефонов, адрес электронной почты. Также я разрешаю М.видео в целях информирования о товарах, работах, услугах осуществлять обработку вышеперечисленных персональных данных и направлять на указанный мною адрес электронной почты и/или на номер мобильного телефона рекламу и информацию о товарах, работах, услугах М.видео и его партнеров. Согласие может быть отозвано мною в любой момент путем направления письменного уведомления по адресу М.видео.
							</span>
							<span class="toggle-text__handle">
								<span class="toggle-text__state">Узнать больше</span>
								<span class="toggle-text__state">Скрыть</span>
							</span>
						</span>
							
						</span>
					</label>
					<div class="button-row">
						<button class="button button_auto-width">
							Сохранить
						</button>
					</div>
					
				</div>
			</div>
			
		</div>
		
		
	</main>
{% include "partials/footer.html" %}