{% include "partials/header.html" %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<a href="#" class="breadcrumbs__item">
				<span>Личный кабинет</span>
			</a>
			<span class="breadcrumbs__item">
				<span>Изменение личных данных</span>
			</span>
		</div>
	</div>
	<main>
		<div class="container container_mobile-full">
			
			<section class="order-detail cabinet-page">
				<div class="md-title md-title_page-title md-title_flex md-title_buttons-wrap">
					<div class="md-title__part">
						<h1 class="order-detail__title">Заказ №GM288</h1>
						<div class="bage bage_big">
							Оплачен
						</div>
					</div>
					<div class="md-title__buttons">
						<a href="#" class="button button_space-min button_mobile-center">
							Оплатить заказ
						</a>
						<div class="button button_grey button_desktop-only" data-popup="popup_cancel">
							Отменить заказ
						</div>
					</div>
				</div>
				<div class="order-wrap">
					<div class="half-wrap half-wrap_space half-wrap_mobile-full ">
						<div class="sm-title">
							Информация по заказу
						</div>
						<table class="info-table info-table_big">
							<tr>
								<td>Создан</td>
								<td>23.10.17</td>
							</tr>
							<tr>
								<td>Статус заказа</td>
								<td>Передан в СПСР</td>
							</tr>
							<tr>
								<td>Покупатель</td>
								<td>Баранов Владислав</td>
							</tr>
							<tr>
								<td>Тип плательщика</td>
								<td>Физическое лицо</td>
							</tr>
							<tr>
								<td>Телефон</td>
								<td>+7 (926) 234-22-12</td>
							</tr>
							<tr>
								<td>E-mail</td>
								<td>office@gazprom.ru</td>
							</tr>
							<tr class="font-reg">
								<td>Общая стоимость товаров</td>
								<td>239 990 руб.</td>
							</tr>
						</table>
						<div class="sm-title">
							Информация по доставке
						</div>
						<table class="info-table info-table_big">
							<tr>
								<td>Способ доставки</td>
								<td>Курьером СПСР</td>
							</tr>
							<tr>
								<td>Статус доставки</td>
								<td>Собран</td>
							</tr>
							<tr>
								<td>Город</td>
								<td>Россия, Московская обл., Москва</td>
							</tr>
							<tr class="font-reg">
								<td>Стоимость доставки</td>
								<td>1 200 руб.</td>
							</tr>
						</table>
						<div class="sm-title">
							Информация об оплате
						</div>
						<table class="info-table info-table_big">
							<tr>
								<td>Способ оплаты</td>
								<td>Оплата банковской картойР</td>
							</tr>
							<tr>
								<td>2 товара на сумму</td>
								<td>619 000 руб.</td>
							</tr>
							<tr>
								<td>Экономия</td>
								<td>12 000 руб.</td>
							</tr>
							<tr class="font-reg">
								<td>Доставка</td>
								<td>Доставка</td>
							</tr>
							<tr class="font-reg">
								<td>Итого к оплате</td>
								<td>619 890 руб.</td>
							</tr>
						</table>
						
					</div>
					<div class="half-wrap half-wrap_space half-wrap_mobile-full">
						<div class="sm-title">
							Товары в заказе
						</div>
						<div class="cart-prods">
							<div class="cart-item cart-item_static">
								<a href="#" class="cart-item__row">
									<div class="cart-item__pic">
										<img src="img/samples/cart/cart1.jpg">
									</div>
									<div href="#" class="cart-item__name cart-item__name_no-margin">
										Планшет Apple iPad Pro 12.9 128GB Wi-Fi+Cell.Space Gray Refubrished 
									</div>
								</a>
								<div class="cart-item__row cart-item__order-count">
									1 х <span> 89 990 руб.</span>
								</div>
							</div>
							<div class="cart-item cart-item_static">
								<a href="#" class="cart-item__row">
									<div href="#" class="cart-item__pic">
										<img src="img/samples/cart/cart3.jpg">
									</div>
									<div href="#" class="cart-item__name cart-item__name_no-margin">
										Планшет Apple iPad Pro 12.9 128GB Wi-Fi+Cell.Space Gray Refubrished 
									</div>
								</a>
								<div class="cart-item__row cart-item__order-count">
									1 х <span> 12 990 руб.</span>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="order-detail__buttons">
					<div class="button button_grey button_no-desktop button_space-min button_mobile-center" data-popup="popup_cancel">
						Отменить заказ
					</div>
					<a href="#" class="button button_grey button_mobile-center">
						Назад
					</a>
				</div>
			</section>
			
		</div>
		
		
	</main>
{% include "partials/footer.html" %}