{% include "partials/header.html" %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<a href="#" class="breadcrumbs__item">
				<span>Личный кабинет</span>
			</a>
			<span class="breadcrumbs__item">
				<span>Изменение личных данных</span>
			</span>
		</div>
	</div>
	<main>
		<div class="container">
			<div class="frame-block mobile-stretch">
				<div class="frame-block__head">
					<div class="frame-block__container container">
						<i class="icon icon-mail frame-block__head-icon"></i>
						<b>Управление подпиской</b>
					</div>
					
				</div>
				<div class="frame-block__container container frame-block__section">
					<b class="frame-block__section-title">Выберите интересующие вас темы подписки</b>
					<label class="checkbox input-row">
						<input type="checkbox" name="" class="checkbox__hidden-input">
						<div class="checkbox__visual"></div>
						<span class="checkbox__text">
							Новости GmarketPro
						</span>
					</label>
					<label class="checkbox input-row">
						<input type="checkbox" name="" class="checkbox__hidden-input">
						<div class="checkbox__visual"></div>
						<span class="checkbox__text">
							Товар дня и другие акции
						</span>
					</label>
				</div>
				<div class="frame-block__container container frame-block__section">
					<b class="frame-block__section-title">Получать SMS уведомления</b>
					<label class="checkbox input-row">
						<input type="radio" name="sub1" class="checkbox__hidden-input">
						<div class="checkbox__visual"></div>
						<span class="checkbox__text">
							Состояние бонусного счета
						</span>
					</label>
					<label class="checkbox input-row">
						<input type="radio" name="sub1" class="checkbox__hidden-input">
						<div class="checkbox__visual"></div>
						<span class="checkbox__text">
							Новости и рекламные акции
						</span>
					</label>
					<label class="checkbox input-row">
						<input type="radio" name="sub1" class="checkbox__hidden-input">
						<div class="checkbox__visual"></div>
						<span class="checkbox__text">
							Не хочу получать уведомления
						</span>
					</label>
					<div class="button-row">
						<button class="button button_auto-width button_grey">
							Вернуться назад
						</button>
						<button class="button button_auto-width button_long">
							Сохранить
						</button>
					</div>
				</div>
			</div>
			
		</div>
		
		
	</main>
{% include "partials/footer.html" %}