{% include "partials/header.html" %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__item">
				<span>Каталог товаров</span>
			</span>
		</div>
	</div>
	<main>
		<section>
			<div class="container container_mobile-full">
				<div class="md-title md-title_page-title">Каталог товаров</div>
				<div class="general-catalog order-wrap">
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m1.png">
							</div>
							<a class="general-section__title" href="#">
								Apple
							</a>
							<a href="#" class="general-section__link">
								Mac
							</a>
							<a href="#" class="general-section__link">
								iPad
							</a>
							<a href="#" class="general-section__link">
								iPhone
							</a>
							<a href="#" class="general-section__link">
								iPod
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m2.png">
							</div>
							<a class="general-section__title" href="#">
								Компьютеры, ноутбуки и планшеты
							</a>
							<a href="#" class="general-section__link">
								Моноблоки, компьютеры и мониторы
							</a>
							<a href="#" class="general-section__link">
								Ноутбуки
							</a>
							<a href="#" class="general-section__link">
								Планшеты и электронные книги
							</a>
							<a href="#" class="general-section__link">
								Огртехника
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m1.png">
							</div>
							<a class="general-section__title" href="#">
								Телевизоры и мультимедиа
							</a>
							<a href="#" class="general-section__link">
								Телевизоры
							</a>
							<a href="#" class="general-section__link">
								Спутниковое и цифровое TV
							</a>
							<a href="#" class="general-section__link">
								Мультимедиа
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m3.png">
							</div>
							<a class="general-section__title" href="#">
								Смартфоны и телефоны
							</a>
							<a href="#" class="general-section__link">
								Смартфоны и телефоны
							</a>
							<a href="#" class="general-section__link">
								Гаджеты
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m3.png">
							</div>
							<a class="general-section__title" href="#">
								Фото и видео аппаратура
							</a>
							<a href="#" class="general-section__link">
								Фотокамеры
							</a>
							<a href="#" class="general-section__link">
								Видеокамеры
							</a>
							<a href="#" class="general-section__link">
								Экшн-видеокамеры
							</a>
							<a href="#" class="general-section__link">
								Цифровая фотопечать
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m1.png">
							</div>
							<a class="general-section__title" href="#">
								Безопасность и видеонаблюдение
							</a>
							<a href="#" class="general-section__link">
								Видеонаблюдение Ivideon
							</a>
							<a href="#" class="general-section__link">
								Камеры видеонаблюдения
							</a>
							<a href="#" class="general-section__link">
								Видеорегистраторы
							</a>
							<a href="#" class="general-section__link">
								Электромеханические замки
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m5.png">
							</div>
							<a class="general-section__title" href="#">
								Сетевое оборудование
							</a>
							<a href="#" class="general-section__link">
								Коммутаторы
							</a>
							<a href="#" class="general-section__link">
								Беспроводное оборудование
							</a>
							<a href="#" class="general-section__link">
								Модемы
							</a>
							<a href="#" class="general-section__link">
								Принт-серверы
							</a>
							<a href="#" class="general-section__link">
								Сетевые карты
							</a>
							<a href="#" class="general-section__link">
								IP телефония
							</a>
							<a href="#" class="general-section__link">
								Монтажное оборудование, расходные материалы
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m0.png">
							</div>
							<a class="general-section__title" href="#">
								Бытовая техника
							</a>
							<a href="#" class="general-section__link">
								Крупная техника для кухни
							</a>
							<a href="#" class="general-section__link">
								Мелкая техника для кухни
							</a>
							<a href="#" class="general-section__link">
								Встраиваемая техника
							</a>
							<a href="#" class="general-section__link">
								Техника для дома
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m1.png">
							</div>
							<a class="general-section__title" href="#">
								Apple
							</a>
							<a href="#" class="general-section__link">
								Mac
							</a>
							<a href="#" class="general-section__link">
								iPad
							</a>
							<a href="#" class="general-section__link">
								iPhone
							</a>
							<a href="#" class="general-section__link">
								iPod
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m2.png">
							</div>
							<a class="general-section__title" href="#">
								Компьютеры, ноутбуки и планшеты
							</a>
							<a href="#" class="general-section__link">
								Моноблоки, компьютеры и мониторы
							</a>
							<a href="#" class="general-section__link">
								Ноутбуки
							</a>
							<a href="#" class="general-section__link">
								Планшеты и электронные книги
							</a>
							<a href="#" class="general-section__link">
								Огртехника
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m1.png">
							</div>
							<a class="general-section__title" href="#">
								Телевизоры и мультимедиа
							</a>
							<a href="#" class="general-section__link">
								Телевизоры
							</a>
							<a href="#" class="general-section__link">
								Спутниковое и цифровое TV
							</a>
							<a href="#" class="general-section__link">
								Мультимедиа
							</a>
						</div>
					</div>
					<div class="quater-wrap">
						<div class="general-section">
							<div class="general-section__pic">
								<img src="img/samples/menu/m3.png">
							</div>
							<a class="general-section__title" href="#">
								Смартфоны и телефоны
							</a>
							<a href="#" class="general-section__link">
								Смартфоны и телефоны
							</a>
							<a href="#" class="general-section__link">
								Аксессуары для дома
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include "partials/seo-text.html" with {
			modifier: "description-text_space-top"
		} %}
	</main>
{% include "partials/footer.html" %}