{% include "partials/header.html" %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__item">
				<span>Избранное</span>
			</span>
		</div>
	</div>
	<main>
		<section>
			<div class="container container_mobile-full compare-list">
				<div class="md-title md-title_page-title">Избранное</div>
				<div class="order-wrap"> 
					{% for i in 0..4 %}
					<div class="quater-wrap"> 
						{% 
							include "partials/product-card.html" with {
								name: "Смартфон Apple iPhone 7 32Gb Black (MN8X2RU/A)",
								img: "img/samples/catalog/c" ~ i ~ ".jpg",
								extended: true,
								deletable: true
							}
						 %}

					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
{% include "partials/footer.html" %}