{% include "partials/header.html" %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<a href="#" class="breadcrumbs__item">
				<span>Компьютеры, ноутбуки и планшеты</span>
			</a>
			<a href="#" class="breadcrumbs__item">
				<span>Планшеты</span>
			</a>
			<span class="breadcrumbs__item"> 
				<span>Планшет Apple iPad Pro 12.9 128GB Wi-Fi+Cell.Space Gray</span>
			</span>
		</div>
	</div>
	<main>
		<div class="container">
			<section class="frame-block product-top">
                <div class="half-wrap product-top__slider-wrap">
                    <div class="product-slider">
                        <div class="product-top__bages">
                            <div class="bage bage_red bage_long">Акция</div>
                            <div class="bage bage_blue bage_long">Новинка</div>
                        </div>
                       
                        <div class="product-slider__main-block">
                            <div class="main-block__slide">
                                <img src="img/samples/product/product1.jpg">
                            </div>
                            <div class="main-block__slide">
                                <img src="img/samples/product/product1.jpg">
                            </div>
                            <div class="main-block__slide">
                                <img src="img/samples/product/product3_big.jpg">
                            </div>
                            <div class="main-block__slide">
                                <img src="img/samples/product/product1.jpg">
                            </div>
                            <div class="main-block__slide">
                                <img src="img/samples/product/product1.jpg">
                            </div>
                            <div class="main-block__slide">
                                <img src="img/samples/product/product3_big.jpg">
                            </div>
                        </div>
                        <div class="product-slider__controls-slider">
                            <div class="product-slider__preview-block">
                                <div class="preview-frame">
                                    <img src="img/samples/product/product1.jpg">
                                </div>
                            </div>
                            <div class="product-slider__preview-block">
                                <div class="preview-frame">
                                    <img src="img/samples/product/product1.jpg">
                                </div>
                            </div>
                            <div class="product-slider__preview-block">
                                <div class="preview-frame">
                                    <img src="img/samples/product/product3_min.jpg">
                                </div>
                            </div>
                            <div class="product-slider__preview-block">
                                <div class="preview-frame">
                                    <img src="img/samples/product/product1.jpg">
                                </div>
                            </div>
                            <div class="product-slider__preview-block">
                                <div class="preview-frame">
                                    <img src="img/samples/product/product1.jpg">
                                </div>
                            </div>
                            <div class="product-slider__preview-block">
                                <div class="preview-frame">
                                    <img src="img/samples/product/product3_min.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="half-wrap main-info product-top__title-wrap">
                    <h1 class="big-title">Ноутбук Apple MacBook Pro 15 Touch Bar i7 2.9/16/512</h1>
                </div>
                <div class="half-wrap main-info product-top__info-wrap">
                   
                    <div class="main-info__row">
                        <span class="product-id">ID: 30023721</span>
                        <div class="main-info__rating">
                            <i class="rating-star"></i>
                            <i class="rating-star"></i>
                            <i class="rating-star"></i>
                            <i class="rating-star"></i>
                            <i class="rating-star rating-star_empty"></i>
                            <span class="rating__count">(5)</span>
                        </div>
                    </div>
                    <div class="main-info__row main-info__row_center-align">
                        <div class="price-row price-row_big">
                            <span class="price-row__old-price">48 400 руб.</span>
                            <span class="price-row__current-price">197 990 руб.</span>
                            <span class="price-row__saving-diff">Экономия: 500 руб.</span>
                        </div>
                        <button class="buy-button buy-button_with-text product-page-button">
							<span class="buy-button__text">Купить</span>
						</button>
                    </div>

                    <div class="product-compare-line main-info__compare-line">
                        <label class="checkbox checkbox_small-text">
							<input type="checkbox" name="" class="checkbox__hidden-input">
							<div class="checkbox__visual"></div>
							<span class="checkbox__text">к сравнению</span>
						</label>
                        <label class="checkbox checkbox_small-text">
							<input type="checkbox" name="" class="checkbox__hidden-input">
							<div class="checkbox__visual"></div>
							<span class="checkbox__text">добавить в избранное</span>
						</label>
                    </div>
                    <div class="product-info">
                        <span>Доставка возможна с 14.08.2017</span>
                        <span>2500 бонусных балов</span>
                    </div>
                </div>
            </section>
			<section class="frame-block product-description mobile-stretch">
				<nav class="tab-nav frame-block__head frame-block__head_dark">
					<div class="tab-nav__button">Описание товара</div>
					<div class="tab-nav__button">Технические характеристики</div>
					<div class="tab-nav__button">Отзывы (5)</div>
				</nav>
				<div class="frame-block__inner">
					<div class="tab-item">
						<div class="sm-title">О товаре</div>
						<div class="editable-text">
							<p>Apple Inc. — американская корпорация, производитель персональных и планшетных компьютеров, аудиоплееров, телефонов, программного обеспечения. Один из пионеров в области персональных компьютеров и современных многозадачных операционных систем с графическим интерфейсом. Штаб-квартира — в Купертино, штат Калифорния.</p>
							<p>Благодаря инновационным технологиям и эстетичному дизайну, корпорация Apple создала уникальную репутацию, сравнимую с культом, в индустрии потребительской электроники. Компания занимает первое место в мире по рыночной капитализации, размер которой по состоянию на 11 января 2016 года составляет 537 млрд долларов США.</p>
						</div>
						<div class="order-wrap description-bottom">
							<div class="half-wrap half-wrap_space">
								<div class="sm-title">Основные характеристики</div>
								<div class="mobile-stretch">
									<table class="info-table">
										<tr>
											<td>Макс. такт. частота</td>
											<td>3.9 ГГц</td>
										</tr>
										<tr>
											<td>Количество ядер процессора </td>
											<td>4</td>
										</tr>
										<tr>
											<td>Производитель процессора</td>
											<td>Intel</td>
										</tr>
										<tr>
											<td>Кэш-память</td>
											<td>8 МБ</td>
										</tr>
										<tr>
											<td>Тип процессора</td>
											<td>Core i7 2.9ГГц</td>
										</tr>
									</table>
								</div>
								
							</div>
							<div class="half-wrap half-wrap_space">
								<div class="sm-title">Инструкции и сертификаты</div>
								<a href="#" download class="download-link">
									<div class="download-link__type">PDF</div>
									Инструкция использования Apple iPad Pro (4.5 Mb)
								</a>
								<a href="#" download class="download-link">
									<div class="download-link__type">PDF</div>
									Скачать сертификат соответствия (2.2 Mb) 
								</a>
							</div>
						</div>
					</div>
					<div class="tab-item">
						<div class="order-wrap">
							<div class="half-wrap half-wrap_space">
								<div class="sm-title">Основные характеристики</div>
								<div class="mobile-stretch">
									<table class="info-table">
										<tr>
											<td>Ширина</td>
											<td>350 мм</td>
										</tr>
										<tr>
											<td>Глубина</td>
											<td>240 мм</td>
										</tr>
										<tr>
											<td>Высота</td>
											<td>Intel</td>
										</tr>
										<tr>
											<td>Гарантия</td>
											<td>1 год</td>
										</tr>
										<tr>
											<td>Страна</td>
											<td>КНР</td>
										</tr>
									</table>
								</div>
								<div class="sm-title">Интерфейсы</div>
								<div class="mobile-stretch">
									<table class="info-table">
										<tr>
											<td>Порт USB 3.1 тип C / Thunderbolt 3</td>
											<td>4 шт</td>
										</tr>
										<tr>
											<td>Разъем для наушников 3.5 мм</td>
											<td></td>
										</tr>
									</table>
								</div>
								<div class="sm-title">Процессор</div>
								<div class="mobile-stretch">
									<table class="info-table">
										<tr>
											<td>Макс. такт. частота</td>
											<td>3.9 ГГц</td>
										</tr>
										<tr>
											<td>Количество ядер процессора</td>
											<td>4</td>
										</tr>
										<tr>
											<td>Производитель процессора</td>
											<td>Intel</td>
										</tr>
										<tr>
											<td>Кэш-память</td>
											<td>8 МБ</td>
										</tr>
										<tr>
											<td>Тип процессора</td>
											<td>Core i7 2.9ГГц</td>
										</tr>
									</table>
								</div>
								<div class="sm-title">Оперативная память</div>
								<div class="mobile-stretch">
									<table class="info-table">
										<tr>
											<td>Частота памяти</td>
											<td>3.9 ГГц</td>
										</tr>
										<tr>
											<td>Тип памяти</td>
											<td>LPDDR3 SDRAM</td>
										</tr>
										<tr>
											<td>Оперативная память (RAM)</td>
											<td>Intel</td>
										</tr>
										<tr>
											<td>Кэш-память</td>
											<td>16 ГБ</td>
										</tr>
									</table>
								</div>
								<div class="sm-title">Видеокарта</div>
								<div class="mobile-stretch">
									<table class="info-table">
										<tr>
											<td>Производитель видеопроцессора</td>
											<td>AMD</td>
										</tr>
										<tr>
											<td>Графический контроллер</td>
											<td>Intel</td>
										</tr>
									</table>
								</div>
								<div class="sm-title">Цвет, размеры и вес</div>
								<div class="mobile-stretch">
									<table class="info-table">
										<tr>
											<td>Габаритные размеры (В*Ш*Г)</td>
											<td>16*350*240 мм</td>
										</tr>
										<tr>
											<td>Цвет</td>
											<td>серый космос</td>
										</tr>
										<tr>
											<td>Вес</td>
											<td>1.83 кг</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="half-wrap half-wrap_space">
								<div class="sm-title">Инструкции и сертификаты</div>
								<a href="#" download class="download-link">
									<div class="download-link__type">PDF</div>
									Инструкция использования Apple iPad Pro (4.5 Mb)
								</a>
								<a href="#" download class="download-link">
									<div class="download-link__type">PDF</div>
									Скачать сертификат соответствия (2.2 Mb) 
								</a>
							</div>
						</div>
					</div>
					<div class="tab-item">
						<div class="review">
							<div class="user-icon review__user-icon">Д</div>
							<div class="review__inner-wrap">
								<div class="review__title-row">
									<div class="review__user-name">Дмитрий Николаенко</div>
									<div class="review__post-date">17.07.2017</div>
									<div class="review__rating">
										<i class="rating-star"></i>
			                            <i class="rating-star"></i>
			                            <i class="rating-star"></i>
			                            <i class="rating-star"></i>
			                            <i class="rating-star"></i>
									</div>
								</div>
								<div class="review__part">
									<div class="font-reg">Преимущества</div>
									
									<p>Классный дизайн, отличный дисплей</p>
								</div>
								<div class="review__part">
									<div class="font-reg">Недостатки</div>
									
									<p>Цена, начинка</p>
								</div>
								<div class="review__part">
									<div class="font-reg">Отзыв</div>
									<p>Взял данный ноутбук для работы , ожидал за такие деньги полной выкладки , на деле оказалось что такое железо столько не стоит! А отдавать за дизайн и экран я думаю это не совсем правильно! Советую обратиться внимание на ноутбуки</p>
								</div>
								<div class="review__answers">
									<div class="review__answer-item">
										<div class="review__title-row review__title-row_answer">
											<div class="review__user-name">Никита</div>
											<div class="review__post-date">17.07.2017</div>
										</div>
										<p>1. Для какой именно работы ты его брал? 2. Каковы были твои ожидания? 3. Чего не может выполнить такой ноутбук?</p>
									</div>
								</div>
								<div class="comment-block">
									<div class="comment-block__button">
										<span>Комментировать</span>
									</div>
									<div class="review review_comment-form">
										<div class="md-title md-title_mid-mrg">Добавить комментарий</div>
										<form class="form-container" action="">
											<div class="input-row">
												<label class="input-row__name required-mark">Комментарий</label>
												<div class="regular-input">
													<textarea type="text" name="" class="regular-input__input" required></textarea>
												</div>
											</div>
											<div class="input-row">
												<label class="input-row__name required-mark">Имя</label>
												<div class="regular-input">
													<input type="text" name="" class="regular-input__input" required>
												</div>
											</div>
											<div class="input-row">
												<label class="input-row__name required-mark">E-mail</label>
												<div class="regular-input">
													<input type="text" name="" class="regular-input__input" required>
												</div>
											</div>
											<div class="button-line">
												<button class="button button_in-form" type="submit">Добавить</button>
												<button class="button button_grey button_in-form js-cancel-comment" type="reset">Отменить</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="review">
							<div class="user-icon review__user-icon">В</div>
							<div class="review__inner-wrap">
								<div class="review__title-row">
									<div class="review__user-name">Виталий Шевченко</div>
									<div class="review__post-date">24.07.2017</div>
									<div class="review__rating">
										<i class="rating-star"></i>
			                            <i class="rating-star"></i>
			                            <i class="rating-star"></i>
			                            <i class="rating-star"></i>
			                            <i class="rating-star"></i>
									</div>
								</div>
								<div class="review__part">
									<div class="font-reg">Преимущества</div>
									
									<p>Все отлично</p>
								</div>
								<div class="review__part">
									<div class="font-reg">Недостатки</div>
									
									<p>Их просто нет</p>
								</div>
								<div class="review__part">
									<div class="font-reg">Отзыв</div>
									<p>Взял данный ноутбук для работы , ожидал за такие деньги полной выкладки , на деле оказалось что такое железо столько не стоит! А отдавать за дизайн и экран я думаю это не совсем правильно!</p>
								</div>
								<div class="comment-block">
									<div class="comment-block__button">
										<span>Комментировать</span>
									</div>
									<div class="review review_comment-form">
										<div class="md-title md-title_mid-mrg">Добавить комментарий</div>
										<form class="form-container" action="">
											<div class="input-row">
												<label class="input-row__name required-mark">Комментарий</label>
												<div class="regular-input">
													<textarea type="text" name="" class="regular-input__input" required></textarea>
												</div>
											</div>
											<div class="input-row">
												<label class="input-row__name required-mark">Имя</label>
												<div class="regular-input">
													<input type="text" name="" class="regular-input__input" required>
												</div>
											</div>
											<div class="input-row">
												<label class="input-row__name required-mark">E-mail</label>
												<div class="regular-input">
													<input type="text" name="" class="regular-input__input" required>
												</div>
											</div>
											<div class="button-line">
												<button class="button button_in-form" type="submit">Добавить</button>
												<button class="button button_grey button_in-form js-cancel-comment" type="reset">Отменить</button>
											</div>
											
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="review review_add-form">
							<div class="md-title md-title_mid-mrg">Оставить отзыв</div>
							<form class="form-container" action="">
								<div class="half-wrap half-wrap_space">
									<div class="input-row">
										<label class="input-row__name required-mark">Имя</label>
										<div class="regular-input">
											<input type="text" name="" class="regular-input__input" required>
										</div>
									</div>
								</div>
								<div class="half-wrap half-wrap_space">
									<div class="input-row">
										<label class="input-row__name required-mark">E-mail</label>
										<div class="regular-input">
											<input type="text" name="" class="regular-input__input" required>
										</div>
									</div>
								</div>
								<div class="input-row input-row_flex-line">
									<label class="input-row__name required-mark input-row__name_left-align">Ваша оценка</label>
									{% include "partials/rate-module.html"%}
								</div>
								<div class="input-row">
									<label class="input-row__name required-mark">Плюсы</label>
									<div class="regular-input">
										<input type="text" name="" class="regular-input__input" required>
									</div>
								</div>
								<div class="input-row">
									<label class="input-row__name required-mark">Минусы</label>
									<div class="regular-input">
										<input type="text" name="" class="regular-input__input" required>
									</div>
								</div>
								<div class="input-row">
									<label class="input-row__name required-mark">Ваш отзыв</label>
									<div class="regular-input">
										<textarea type="text" name="" class="regular-input__input" required></textarea>
									</div>
								</div>
								<button class="button button_in-form">Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</section>
			<section class="cont-section">
				<h2 class="md-title">С этим товаром покупают</h2>
				<div class="related-slider">
					{% for i in 1..8 %}
						<div class="slider-slide slider-slide_multiple">
							{% 
								include "partials/related-card.html" with {
									name: "Кейс для MacBook Acme Made Smart Laptop Sleeve, MB Pro",
									img: "img/samples/related/r" ~ i ~ ".jpg"
								}
							%}
						</div>
						
					{% endfor %}
				</div>
			</section>
			{% include "partials/banner_wide.html"%}
		</div>
		
	</main>
{% include "partials/footer.html" %}