{% include "partials/header.html" %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__item">
				<span>Новости</span>
			</span>
		</div>
	</div>
	<main>
		
		<div class="container">
			<section class="qna">
				<div class="md-title md-title_page-title">Вопросы и ответы</div>
				<p class="single-text">Самые популярные вопросы и ответы на них. Здесь вы найдете ответы на самые частые вопросы: о товарах на сайте и в магазинах, доставке, оплате, акциях и специальных программах, о сервисе и ремонте, а также о многом другом.</p>
				
				<div class="qna__title">Наличие и характеристики товара</div>
				<div class="acordeon" data-connected="false" id="acc1">
					<div class="acordeon__handle">
						Как зарезервировать товар?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>
				<div class="acordeon" data-connected="false" id="acc2">
					<div class="acordeon__handle">
						Товара нет в магазине, однако срок доставки «Завтра». Что это означает?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>
				<div class="acordeon" data-connected="false" id="acc3">
					<div class="acordeon__handle">
						Где можно посмотреть характеристики товара?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>

				<div class="qna__title">Акции. Стоимость товара</div>
				<div class="acordeon" data-connected="false" id="acc4"> 
					<div class="acordeon__handle">
						Как зарезервировать товар?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>
				<div class="acordeon" data-connected="false" id="acc5">
					<div class="acordeon__handle">
						Товара нет в магазине, однако срок доставки «Завтра». Что это означает?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>
				<div class="acordeon" data-connected="false" id="acc6">
					<div class="acordeon__handle">
						Где можно посмотреть характеристики товара?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>
				<div class="acordeon" data-connected="false" id="acc7">
					<div class="acordeon__handle">
						Где найти инструкцию к товару?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>

				<div class="qna__title">Ремонт и консультации по работе техники</div>
				<div class="acordeon" data-connected="false" id="acc8">
					<div class="acordeon__handle">
						Товара нет в магазине, однако срок доставки «Завтра». Что это означает?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>
				<div class="acordeon" data-connected="false" id="acc9">
					<div class="acordeon__handle">
						Где можно посмотреть характеристики товара?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>
				<div class="acordeon" data-connected="false" id="acc10">
					<div class="acordeon__handle">
						Где найти инструкцию к товару?
					</div>
					<div class="acordeon__content">
						Мы не перевозим товары из магазина в магазин, однако если они есть на складе, вы можете оформить на сайте доставку в удобный вам магазин GmarketPro. Информация о доступности заказа и сроках получения указаны в описании товара, вкладка «Наличие в магазинах».
					</div>
				</div>

			</section>
			{% include "partials/seo-text.html" %}
		</div>
		
		
	</main>
{% include "partials/footer.html" %}