{% include "partials/header.html" with {
	auth: true
} %}
	<div class="breadcrumbs">
		<div class="container">
			<a href="#" class="breadcrumbs__item">
				<span>Главная</span>
			</a>
			<span class="breadcrumbs__item">
				<span>Личный кабинет</span>
			</span>
		</div>
	</div>
	<main>
		
		<div class="container">
			<article class="text-block">
				<h1>Как снять крутое кино на iPhone</h1>
				<div class="text-block__under-title">
					Компьютерная техника Apple – это хорошо, а её расширенные конфигурации – ещё лучше!<br>
					Познакомимся с ними поближе в этом обзоре.
				</div>
				<img src="img/samples/reviews/wide.jpg">
				<p>Современные модели iPhone уже снимают видео в 4K с частотой 60 кадров в секунду — еще несколько лет назад такое нельзя было представить. Но даже съемка максимум в 1080p не мешает владельцам смартфонов Apple прошлых поколений создавать ролики, которые иногда сложно отличить от фестивальных короткометражек и профессиональных видео.</p>
				<div class="text-block__center">
					<div class="video-block" data-video="6aZjeTZIzi8"></div>
					<i>Этот ролик был полностью снят на iPhone (!) 4s</i>
				</div>
				<p>Мобильное кино — самостоятельный вид творчества: его не стоит воспринимать как короткую версию полноценного фильма. Режиссеры полнометражных картин обычно используют iPhone только для конкретных небольших сцен, а большая часть фильма все равно снимается на профессиональное оборудование.</p>
				<div class="text-block__center">
					<img src="img/samples/reviews/pic2.jpg">
					<i>Создатель «Одиннадцати друзей Оушена» снимает<br> полнометражный фильм только на iPhone и камеру RED</i>
				</div>
				<h2>Чем хорош iPhone для съемки кино</h2>
				<h3>Универсальный размер</h3>
				<p>За счет своих размеров смартфон не мешает окружающим — прохожие часто смущаются, когда рядом с ними что-то снимают со штатива и камеры размером с 21-дюймовый монитор. В этом плане iPhone универсальнее: можно в любой момент достать его из кармана и начать съемку — иногда даже там, где она запрещена (только мы вам этого не говорили).</p>
				<h3>Не требует большой съемочной группы</h3>
				<p>При съемке на iPhone не нужна большая команда операторов, гримеров, сценаристов и костюмеров — вы сами легко заменяете всю группу и режиссируете свой фильм.</p>
				<h3>Съемка в труднодоступных точках</h3>
				<p>Но главное преимущество — со смартфона легко снять кадры с неожиданных ракурсов и труднодоступных точек. Если вы проводите съемки возле обрыва и едва держитесь на ногах при каждом порыве ветра, с большой камерой будет не очень удобно — а на iPhone легко снимать даже одной рукой.</p>
				<h2>С чего начать съемку</h2>
				<img src="img/samples/reviews/pic3.jpg" class="text-block__float-right">
				<p>Если iPhone у вас уже есть (на что мы надеемся), дело остается за идеей и необходимым оборудованием. Что касается первого, эту проблему просто решить, если снимать видео о каком-либо событии — отпуске, свадьбе, дне рождения или дне города. Полнометражное кино снимать не нужно, достаточно ролика на 3-4 минуты. И да, пожалуйста, всегда держите iPhone при записи видео горизонтально.</p>
				<p>Для съемки первого короткого видео будет достаточного смартфона с хорошей камерой. Но если вы хотите совершенствоваться в этом деле, парочка аксессуаров не помешает. Так, объективы от Olloclip помогут добиться более детализированной картинки и интересных кадров, а стабилизаторы и штативы избавят от эффекта тряски. Главное — не забудьте взять с собой парочку внешних аккумуляторов, iPhone очень быстро разряжается в режиме записи видео.</p>
				<p>Отснятый материал можно перенести на компьютер, чтобы работать с ним уже в Final Cut Pro, но для небольших проектов запросто подойдет и iMovie. Это простой, удобный и функциональный инструмент для монтажа, в котором разберется даже новичок.</p>
				<h2>Полезные советы</h2>
				<p>Мы решили не ограничивать одной теорией и узнали несколько практических тонкостей о съемке видео на iPhone у Кори Штаудахера — профессионального фотографа, который в своем Instagram с сотнями тысяч подписчиков публикует материалы, отснятые только с iPhone.</p>
				<h3>Не забывайте о дистанции</h3>
				<p>Всегда захватывайте кадр так, чтобы в него не попадали лишние элементы. Вырезать объекты с видео гораздо сложнее, чем с фото, поэтому в первую очередь вы облегчите работу себе же. Подходите дальше или ближе — в зависимости от объекта съемки.</p>
				<img src="img/samples/reviews/pic4.jpg">
				<h2>Slow motion хорош в меру</h2>
				<p>Не стоит сильно увлекаться возможностью медленной съемки. Задействуйте ее там, где это действительно уместно, и лучше не больше одного раза за 5-минутный ролик. То же самое касается таймлапсов.</p>
				<h2>Помните о фокусировке</h2>
				<p>Да, правильно сфокусироваться на объекте важно не только при съемке фото. Качественно выбранный фокус сделает картинку более детальной. А чтобы ничего не сбилось, лучше использовать штатив.</p>
				<h2>Не переусердствуйте с эффектами</h2>
				<p>Чтобы не пришлось долгие часы проводить за монтажом и удалением пересветов, следите за солнцем и другими источниками света. Когда в ролике слишком много эффектов, это не очень красиво (если только вы не Роберт Родригес).</p>
				<h2>Вставайте пораньше!</h2>
				<p>Утром можно отснять особенно интересные ролики — от необычайно красивого рассвета до холодного туманного утра. Останется только выбрать подходящее музыкальное сопровождение.</p>
				<img src="img/samples/reviews/wide2.jpg">
				<h2>Совет от редакции: почаще ходите в кино</h2>
				<p>Чтобы не сидеть ночами в ожидании вдохновения и быстрее начать работу над своим фильмом, ходите в кино как можно чаще на фильмы разных жанров — отмечайте все приемы и детали, которые вам хотелось бы использовать. Кстати, ноябрь — отличный месяц для этого, столько долгожданных мировых премьер выходит: «Тор: Рагнарёк», «Пила 8», «Лига справедливости», «Убийство в Восточном экспрессе», «Дело храбрых», «24 часа на жизнь», «Субурбикон».</p>
			</article>
			<section >
				<div class="md-title md-title_mid-mrg">
					Облако тегов
				</div>
				<nav class="tags-cloud">
					<a href="#" class="underline-button tags-cloud__tag">Apple</a>
					<a href="#" class="underline-button tags-cloud__tag">iPhone</a>
					<a href="#" class="underline-button tags-cloud__tag">Домашняя студия</a>
					<a href="#" class="underline-button tags-cloud__tag">Кино</a>
				</nav>
			</section>
			{% include "partials/banner_wide.html"%}
			{% include "partials/news-block.html" %}
		</div>
		
		
	</main>
{% include "partials/footer.html" %}