{% include "partials/header.html" with {
		mini : true
	}
%}
	<main>
		<div class="full-height">
			<section class="success-order">
				<div class="success-order__title">
					<i class="icon icon-checked"></i>
					Заказ № GM-2034 успешно оформлен
				</div>
				<p class="success-order__text">
					Спасибо за Ваш заказ. Наши менеджеры свяжуться с вами в ближайщее время
					Заказы сделанные в выходные дни - обрабатываються на следующий день
					<span class="success-order__tel font-reg">тел.: 8 800 204-15-89</span>
				</p>
				<div class="success-order__summ">
					Сумма к оплате: <span class="order-summ">69 990 руб.</span>
				</div>
				<a href="#" class="button button_mobile-center">Оплатить</a>
				<div class="success-order__hint">
					Вы будете перенаправлены на страницу оплаты. <br>
					Услугу предоставляет сервис онлайн платежей "Яндекс.Касса"
				</div>
			</section>
			

		</div>
	</main> 
{% include "partials/footer.html" with {
		mini : true
	} 
%} 