{% include "partials/header.html" with {
		mini : true
	}
%}
	<main>
		<div class="full-height">
			<section class="construction-alert">
				<a href="./" class="logo"></a>
				<div class="construction-alert__title">
					Ведутся технические работы
				</div>
				<p class="construction-alert__text">
					Приносим свои извенения за доставленные неудобства, в ближайшее время все заработает
				</p>

				<a href="tel:88001001438" class="construction-alert__phone">8 800 100-14-38</a>
			</section>
			

		</div>
	</main> 
{% include "partials/footer.html" with {
		mini : true
	} 
%} 