.article-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  .article-detail__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 110px; }
    @media (max-width: 700px) {
      .article-detail__item {
        margin-right: 30px; } }
  .article-detail__item-icon {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 7px; }
